[2016-12-16 13:26] lukejagodzinski commented on #562
Are you sure that you're not trying to run futures on the client? I've tested your code with some modifications and it worked but it had to be defined only on the server as fibers are not allowed on the client. I've added the following `meteorMethod` to the `User` class from Astronomy example.

[code]

[code]

[2016-12-16 15:26] frankapimenta commented on #562
aren't the methods defined in <class>.extend({meteorMethods: ...}) only server methods? then you call it from the client and it is ok...right? am I confusing something here?

without your if in the beginning what I do is basically that....

then i do call the following on the client (in a form event):

[code]

[2016-12-16 15:55] lukejagodzinski commented on #562
@frankapimenta no, methods are defined both on the client and server the same as `Meteor.methods`. It's developer's responsibility to limit method definition to only one desired environment.

[2016-12-16 16:03] lukejagodzinski commented on #562
@frankapimenta I also don't understand why you're using fibers/future when you can just use try catch blocks:

[code]

It's much more readable and you avoid callbacks hell.

[2016-12-16 16:04] frankapimenta commented on #562
I looked at you docs and this time I notice this comment: // server.js in
[code]

So the file has to be defined in server side folder (one of the ways) as my meteor methods are (in a server folder).
I thought you did that limitation yourself in the library. It was what made sense to me.

I know now how to solve it, I just move it to a server folder file.

Said this: yes fibers were being called in

[2016-12-16 16:08] frankapimenta commented on #562
regarding the callback hell I'm with you. you are totally right.
I thought of using try catch blocks but I was very interested in finding out why the thing with the futures was not working.

does it make sense to somehow have a way to make your meteorMethods in extending class only server methods?

[2016-12-16 16:08] lukejagodzinski commented on #562
Because you may want to have both client & server methods the same way as it's possible in Meteor. You can also define client side only methods.

[2016-12-16 16:11] frankapimenta commented on #562
ok. why not to have a option such:

[code]

?

[2016-12-16 16:12] lukejagodzinski commented on #562
Everything is described in documentation in, I think, security section. You will have to define meteorMethods server only if you want to hide some logic from the user and if you want to perform some permissions check on the server. "Never trust the client" - is the commonly known philosophy. You always have to secure your application server side. Client side methods are only for latency compensati

[2016-12-16 16:16] lukejagodzinski commented on #562
@frankapimenta because it would be ugly API. MDG not without reason introduced `Meteor.isClient` and `Meteor.isServer` properties. You can also put your code in the server only files. Meteor and Astronomy is very flexible in that manner. You can do it in many ways:

[code]

[code]

[code]

[2016-12-16 16:17] lukejagodzinski commented on #562
However if you want to hide application logic it's always the best to put your code in the server only files.

[2016-12-16 16:28] frankapimenta commented on #562
first of all thank you for the fast and current feedback. it is very nice of you.

What I do is to define all methods to create documents as server side methods.
So if I want to create profiles I have a 'profiles/create' server side method only and I call it on the client.
If I want to change the rating of the profile I would use

[code]

  when

[code]

[2016-12-16 16:38] frankapimenta commented on #562
back to the

[code]

if we would have this we would not have to split code of astronomy class in different files.

[2016-12-16 17:18] lukejagodzinski commented on #562
As I said it's bad API design. As you can't that way hide your server side code from the user. Methods you've showed here are actually safe for being called on the client too. There is nothing special about them. However, security should be implemented as well.

[2016-12-16 17:31] frankapimenta commented on #562
Yes. True. The code would be available in the client...this would then make no sense at all.
I am sorry about insisting in this suggestion...

[2016-12-16 17:35] lukejagodzinski commented on #562
No problem. I'm going to create video tutorials next week about Astronomy and security will be a separate video. Video is IMHO better than documentation and it will be a good source of knowledge.

[2016-12-16 18:01] frankapimenta commented on #562
That is great. Looking forward to it!
You documentation is very good. But I think that one can notice that it is very based on the knowledge you have of your lib and people from outside need to get into ("your mind") and this makes it a bit less fast to follow thru.

Keep up with the good work. Your library is great!

[2016-12-17 09:58] lukejagodzinski commented on #562
Yes I know it. It's very common thing when author of documentation is the same person as creator of library. I've seen this problem in many documentation for other libraries. I hope video will explain better my point of view on how to do some stuff.

[2016-12-17 18:58] skynightz93 commented on #235
Hi, do this feature already in v2?

[2016-12-18 07:12] arggh opened #566 "Rate limiting"
There is no mention in the docs about rate limiting. Has this been taken into consideration in Astronomy in any way, or is there a recommended way of settings it up with Astronomy?

[2016-12-18 12:25] arggh commented on #564
Great, thanks!

[2016-12-18 21:48] lukejagodzinski commented on #566
What do you mean by "rate limiting"?

[2016-12-18 21:48] lukejagodzinski commented on #235
@nizulzaim no this feature is not yet implemented

[2016-12-19 07:41] arggh commented on #566
https://guide.meteor.com/security.html#rate-limiting

So in essence, I can open up my console in Chrome and do this:

[code]

There's no mention in Astronomy documentation on how to use rate limiting with Astronomy, so I thought I'd ask, if you have any thoughts.

[2016-12-19 08:23] arggh opened #567 "Possibly bad practice in documentation"
In the documentation, part ["Building with Astronomy"](http://jagi.github.io/meteor-astronomy/#building-with-astronomy), there's this:

[code]

So basically, a malicious user could add new conversations to other users simply by defining the `ownerId`. The default value never gets asked in that case. Would it be better to just create an event hook, `beforeInsert`, that would populate this field wit

[2016-12-19 09:57] lukejagodzinski commented on #566
Astronomy registers several methods to allow certain operations:

- `/Astronomy/execute`
- `/Astronomy/insert`
- `/Astronomy/remove`
- `/Astronomy/update`
- `/Astronomy/upsert`
- `/Astronomy/validate`

and:

- `/Astronomy/softRemove`
- `/Astronomy/softRestore`

for the `softremove` behavior. They're global methods for all classes. So if you want to limit rate of method calls you should use them. I

[2016-12-19 10:00] lukejagodzinski commented on #567
That section was not written by me and I didn't review it in details but yes you're right about security problems in this example. And I agree that security should be defined in the `meteorMetods`. Default values shouldn't be used in such an important case as saving user ID. I will probably remove this section as I will be creating video tutorials for Astronomy this or the next week.

[2016-12-19 10:02] arggh opened #568 "Sync issue when tampering with local collections in MiniMongo"
Sometimes a developer might wish to update the local MiniMongo collection, for example with a high frequency user interaction such as dragging and updating coordinates.

[code]

and then, once this high frequency user interaction is complete, update the final value to database.

At this point, calling `document.save()` does nothing, and I presume it is because Astronomy thinks the value hasn't cha

[2016-12-19 10:07] arggh commented on #567
What do you think about using the `beforeInsert` hook for setting the owner field?

So, a Class definition would be like this in the essential parts:

[code]

[2016-12-19 10:19] arggh commented on #567
Also, I do find it very beneficial to a have a complete "all bells and whistles" example of using Astronomy and all it's features. It really helps to understand the whole picture.

[2016-12-19 10:36] lukejagodzinski commented on #567
You can authenticate and put all security code in before events as well as `meteorMethods`. It depends on if you're set `secured` property to `true` or `false`.

[2016-12-19 10:37] lukejagodzinski commented on #568
For now the best way of doing it is reloading a document `doc.reload()` and later saving `doc.save()`. I may add the `force` option in some of the future releases.

[2016-12-19 15:18] arggh opened #569 "Old values in afterUpdate -hook"
Say I have a Class `group`, which can be referenced from Class `person` to indicate that the person is part of that group.

When I move persons from one group to another, I would like to check if the previous group has any persons left, and if it doesn't, remove that group.

How is this achieved with Astronomy events? Basically I would need to know the old group in the `afterUpdate` event hook and

[2016-12-19 15:22] lukejagodzinski commented on #569
You don't have access to the old value of a field in the `afterUpdate` event. You have to use `meteorMethods` instead.

[2016-12-19 15:22] #569 closed, assigned to nobody

[2016-12-19 15:35] arggh commented on #569
Understood :)

[2016-12-19 22:19] ffxsam commented on #560
So I have 2.3.10 now, and the following code on the server end:

[code]

This results in the following:

![image](https://cloud.githubusercontent.com/assets/12532733/21331128/c723ecb6-c5f5-11e6-908e-03cde0911263.png)

If I change the code to this:

[code]

The result in Kadira is:

![image](https://cloud.githubusercontent.com/assets/12532733/21331150/df76def4-c5f5-11e6-959c-d14867549a7e.png)

I un

[2016-12-20 00:25] lukejagodzinski commented on #560
Every extra layer influence performance. Of course Astronomy is not perfect for all use cases. I remember reading a programming book years ago about using already made components vs. creating them by hand. It was compared to making an airplane not from already made components but designing everything from scratch: belts, sits, lights, handles etc. Of course it wouldn't be worth an effort. You can

[2016-12-20 01:00] ffxsam commented on #560
Totally understandable - it's hard to find free time to contribute to open source projects, I (as well as many others) appreciate what you've built!

Cheers!

[2016-12-20 09:00] s7dhansh opened #570 "[Urgent] _isNew is a public property for all nested classes as well"
It is causing failures when ever `for key in obj` loops are there.

[2016-12-20 09:21] lukejagodzinski commented on #570
Ehh I have to make test for it, I probably forgot do limit this properly only for classes with collection attached. I will fix it today.

[2016-12-20 09:51] lukejagodzinski commented on #570
Fixed in 2.3.11

[2016-12-20 09:51] #570 closed, assigned to nobody

[2016-12-21 16:52] arggh opened #571 "Accidental removal of document's data"
Astronomy either has a defect in implementation or a big missing gap in the documentation regarding saving documents when subscribed to only a subset of the fields. There is a high chance of losing data.

Repro: https://github.com/arggh/astronomy-removal-issue

It's a best practice recommended by MDG and Meteor Guide to publish/subscribe only to the fields you need and keep most of them "secret",

[2016-12-21 17:12] arggh commented on #571
Also, I realize there is the option to declare which fields to update when calling `save`, but I still consider current behavior quite dangerous?

[2016-12-21 17:33] arggh commented on #571
Also, seems like setting the particular field as `optional` might prevent the overwrite.

[2016-12-21 17:36] arggh commented on #571
It doesn't matter if the field is set as `optional` or not, it gets overwritten by a default value.

[2016-12-21 22:06] lukejagodzinski commented on #571
Hmmm yes in deed it's a big problem. The way how I'v implemented default values was wrong. Default values should only be used on insert not on update. However, changing that right now would break compatibility. I'm aware of this problem, it was discussed many times already. That's why I've introduced `defaults` option to the `find()` method. You could solve this problem in your code by changing th

[2016-12-21 22:39] lukejagodzinski commented on #571
http://jagi.github.io/meteor-astronomy/v2#setting-and-getting-values
http://jagi.github.io/meteor-astronomy/v2#fetching-documents

[2016-12-21 22:39] #571 closed, assigned to nobody

[2016-12-21 22:51] arggh commented on #571
How about including this as a global setting for Astronomy, instead of passing it around as a parameter to method calls?

Then it would not break backwards compatibility, but would allow the "correct behavior" to be set as the default.

I'm also having a hard time understanding why anybody would want it the other way round, but it's late and that's just me.

[2016-12-21 23:03] lukejagodzinski commented on #571
Yes I may include it as a global setting.

As I said it's a bad design from the early versions of Astronomy and I couldn't just change it because I realized that it's a bad behavior. I've already made one compatibility breaking change and I said it's the last one but then it was more serious issue.

[2016-12-21 23:27] arggh commented on #571
I still don't understand how it's a breaking change, if calling `save` on a document would update only the fields that have been changed?

I mean, this is literally the first thing one sees when opening Astronomy docs:

[code]

when it in fact does something like overwrites document's fields that haven't changed (as far as I'm being asked, since I didn't change them between `find` and `save`), I'd

[2016-12-21 23:54] lukejagodzinski commented on #571
Because it's not only about the `save()` method. You don't have a whole picture of problems that may occur. Original reasoning was that when you migrate data and introduce a new field with a default value then all old documents will have this field filled with a default value on `find()`. That way calling `doc.save()` later would update old document to new state. It's similar to GraphQL's resolve

[2016-12-22 07:18] arggh commented on #571
I trust your experience on the plethora of ways people use Astronomy, no doubt about that :)

My reasoning was more in line of these two thought chains:

1. Current implementation acts differently from what's said in the docs, so it's a bug that should be fixed

or..

2. Why couldn't a Document just keep track of the fields that changed after initialization. Then it wouldn't matter that the defaul

[2016-12-22 10:48] lukejagodzinski commented on #571
1. I will just add a disclaimer in docs
2. It was working that way in v1 and it caused even more problems. Documents should be as dumb as it's possible. All the magic should only happen when you perform operation like save or validation.

Yes I will introduce global setting.

I encourage you to use `meteorMethods` feature in Astronomy, if you haven't used it  before. It's like Meteor methods but f

[2016-12-22 10:51] arggh commented on #571
`I encourage you to use meteorMethods feature in Astronomy, if you haven't used it before.`

I didn't quite grasp what are the main benefits over using normal Meteor methods, except that you can call `doc.methodName(params)` instead of `method.call(params)` ?

[2016-12-22 11:11] lukejagodzinski commented on #571
Benefit is just cleaner code and that you keep your methods next to the model. I don't actually understand why you don't like regular Meteor methods and you've switched to using Astronomy events. Astronomy events are great for small apps or models where you only update entire documents. It's similar to allow/deny in Meteor. However for bigger apps and more complicated models it's more reliable to

[2016-12-22 11:22] arggh commented on #571
I had a few reasons, but I might still have to eat it up and change direction.

Reasoning:

My Classes are very similar in certain ways, so that I can very easily authenticate and authorize operations with events.

[code]

I also have lots of different places where updates occur, sometimes on all fields, sometimes on just one field, sometimes two fields. And there can be over 15 fields per Class.

[2016-12-22 11:24] arggh commented on #571
If you have any suggestions how I could prevent writing so much boilerplate and repetitive code with Meteor methods or Astronomy's meteorMethods, I'm all ears. It's becoming quite complex to evaluate the benefits of different approaches, not to mention mixing them up!

[2016-12-22 11:37] lukejagodzinski commented on #571
Ok in your situation in deed it's very handy to use events, so I would stick to it. So I will just introduce global setting for `defaults` and you're good to go.

[2016-12-22 11:57] arggh commented on #571
I can see that using Astronomy's `meteorMethods`, I can indeed skip some hoops compared to regular methods or validated methods:

[code]

Versus:

[code]

I haven't yet figured out how to implement authentication/authorization when using `meteorMethod`s as easily as with events. When mixing in the need to do updates from server code (for example, creating documents for a new user, triggered by acc

[2016-12-22 14:14] lukejagodzinski commented on #571
You know both events and methods have its pros and cons. I will be preparing video tutorials soon and I hope to provide as much information about Astronomy as possible. I will try to explain all the use cases.

For now, it's just developer's responsibility to find his/her own way of doing it the best way. Everyone has different style of programming and Astronomy does not force developer to use my

[2016-12-22 15:51] arggh commented on #571
I think for now I'll settle in a hybrid solution, keeping the more complicated operations in methods and use Astronomy's events and client-side-save's for most of the bulk stuff.

I'd be interested to hear those ideas on method authorization when your thoughts progress and contribute if I can.

My initial thought was to include a similar flow to `meteorMethods` as what can be found in `validated-m

[2016-12-22 16:54] arggh commented on #566
Here you go: https://github.com/jagi/meteor-astronomy/pull/572

[2016-12-22 21:48] luzlab opened #573 "Need to disable errors when I prevent remove or save operations in Astronomy"
Hi,

I'm writing a behavior that commits all `save` and `remove` operations to a broker (kafka in our case). When those methods are called, the behavior does a Meteor.call to generate the appropriate message. A separate consumer process listens for those messages and modifies Mongo appropriately.

When I `preventDefault` in beforeSave or beforeRemove, Astronomy throws an error. There's 'cancelable

[2016-12-22 22:08] lukejagodzinski commented on #573
Hi,

`preventDefault` just throws an error that an event was prevented. You can just catch this error.

[code]

Or if you're using callback function:

[code]

[2016-12-22 22:23] luzlab commented on #573
Thanks for the quick response!

So I've used both of these methods during development, but they require the app developer to change the way they use Astronomy. We have some code already written on top of Astronomy, and none of it has either try/catch blocks wrapping saves and removes or passes in an empty callback.

What I'm asking for is a way to write my behavior in a way that's backwards compat

[2016-12-23 15:18] lukejagodzinski commented on #573
In fact actually most developers use try/catch block or callbacks as it's the only way how you can use Astronomy. It's well documented. You can probably try/catch in behavior and expose some API that will just return appropriate value. Everything depends on how behavior works. And you're description without code doesn't tell me much.

[2016-12-24 13:08] lukejagodzinski commented on #566
Thanks! :)

[2016-12-24 13:08] #566 closed, assigned to nobody

[2016-12-24 13:10] lukejagodzinski commented on #571
I like this idea, I will probably implement something like that. I will get back to it after Christmas :)

Thanks and best Christmas wishes for you too :)

[2016-12-26 18:53] manuelro opened #574 "Working with nested documents"
I have been using Astronomy for Meteor and I'm loving it so far. But I'm also having some issues while working with nested documents. Consider the code below:

**The Model**
[code]

**The Meteor Method**
[code]

If I treat the nested array as a plain-old JS array everything works just fine, but I was wondering if there is an API to treat it as a MongoDB documents collection (with filtering, etc.),

[2016-12-27 13:45] skynightz93 opened #575 "Cannot recognize Floating point as Number"
Hi, i dont know if it is related to MongoDB or your package, but as far as i know, your package cannot recognize float number as Number type although actually in javascript, float is recognize as Number. Right now, my float number such as sell price, currency are being saved as String because everytime i want to do price.save() (or this.save() in meteorMethods), it will give error price.sellPrice

[2016-12-28 05:51] lukejagodzinski commented on #575
Post the code but you're probably not casting values coming from the form.

[code]

[2016-12-28 05:56] lukejagodzinski commented on #574
In Astronomy there is no API/feature that would allow treating nested documents as documents stored in external collection. Maybe in the future there will be a module for relations. For now if you want to have such a relation and filtering you have to implement it by yourself or externalise slides to separate collection and store only slides ids in the `Model`.

[2016-12-28 06:00] manuelro commented on #574
Yes. I noticed that already. The native array API (or custom filters) is the way to go. Thank you for replying.

[2016-12-28 06:01] #574 closed, assigned to nobody

[2016-12-28 06:16] skynightz93 commented on #575
i use cast in Class create as your example

[code]

I already delete the code but basically this is what im doing. And then, when im still cannot cast the value, i did like your recommendation, but still the value cannot being save. i will try to post my code after office. Thanks.

[2016-12-29 07:11] lukejagodzinski commented on #575
You're cast code doesn't do anything, it just passes value instead casting it. Nowhere in docs I gave such an example.  Cast function for a field is a way of manually cast values. In your situation you don't need custom casting function so yours field's definition should be:

[code]

and when setting fields value you should:

[code]

[2016-12-29 13:36] RemyLespagnol opened #576 "Publish with composite - Weird behavior"
Hi @jagi,

I found a strange bug with the publish-composite package.
https://github.com/englue/meteor-publish-composite/issues/94

I find a solution, if I use the default collection :
`const _artworks = new Mongo.Collection('artworks');`
`_artworkFavorites = new Mongo.Collection('artwork_favorites');`

So the code is :

[code]

The bug disappear.

Why ? Have you got some idea ?

Thanks :+1:

[2016-12-29 14:47] lukejagodzinski commented on #576
How does it relate to Astronomy?

[2016-12-29 14:54] RemyLespagnol commented on #576
Hi @jagi,

Because when I use my variables I have :

[code]

With Astronomy, we need to use the Collection Artworks and not _artworks in our publication, don't we ?

But when I use "your collection" in my publish-composite, it doesn't work well.
Use the "meteor/mongo collection" works well.

So I suppose it's related to your package. The workaround is to use the meteor collection in the publish wi

[2016-12-29 15:40] lukejagodzinski commented on #576
Ok, so you can use pure Mongo collections for that purpose. I would rather say that it's a bug in publish with composite because itsit's probably doesn't take transformation function into account. If you're not using behaviors like soft delete that are modifying query then you're good to go with pure Mongo collections.

[2016-12-29 15:40] #576 closed, assigned to nobody

[2016-12-29 15:42] RemyLespagnol commented on #576
OK thanks for your help @jagi.
The repo of publish-composite sleep during many month, so I thought it was a good idea to open an issue here.

And thanks for Astronomy !

[2016-12-29 16:28] lukejagodzinski commented on #576
No problem :-)

[2017-01-01 04:24] skynightz93 commented on #575
Hi i try to done it again and it is working.

[2017-01-01 04:36] skynightz93 opened #577 "Error when using Meteor.userId() in 'fields.[someField].default'"
Hi, Actually i follow this example to do something like this one.

[code]

This is my code that run on server:

[code]

The reason i do like this on server but not in client because i am not going to load all of transactions to the client because it will take time just to load for displaying the total of transaction. Actually i can get the dummy data means that it will not give any problem to use

[2017-01-01 07:24] skynightz93 commented on #577
Nevermind, i found the right solution for this one. Just invoke extend code in publish function so that i can use `this.userId` although this solution is a little bit hacky

[2017-01-02 09:12] #575 closed, assigned to nobody

[2017-01-02 09:13] lukejagodzinski commented on #577
There was an issue on GH in this repository about Meteor.userId and possible solutions. Just search for it

[2017-01-02 09:13] #577 closed, assigned to nobody

[2017-01-03 09:08] skynightz93 opened #578 "Need to have custom label for error rendering"
Hi, I try to look for custom label function for error reason will look human read text. For now, when i do not input required input, the error receive will look like this

`"firstname" is required`

It is pretty cool if we can print like this:

`First name is required`

Or do you have any recommendation? Maybe, what I actually mean is we can create Class like this

[code]

[2017-01-03 15:18] jhuenges commented on #578
Have you tried this: http://jagi.github.io/meteor-astronomy/#generating-errors

Follow-up question for @jagi
Do validators like `required` also allow a `resolveError`-function?

[2017-01-03 16:55] lukejagodzinski commented on #578
@nizulzaim @jhuenges in both cases you have to use class level `resolveError` function, which I forgot to describe in docs. Here is an example how to use it:

[code]

I will add proper section to the documentation. However, this problem was already discussed on this GH page, so always remember to check out closed issues :)

[2017-01-03 16:55] #578 closed, assigned to nobody

[2017-01-04 09:21] skynightz93 commented on #578
There are a lot of close issue (500++) to look and not all of title will be the same as what is in my mind. Yeah. This is actually i wanted where we can get the custom label. However, it is not become more easy if we can set label for each field that we create so that we can just print out like i said before? Also can you link to me where is the closed issue so that i can read your discussion?

My

[2017-01-04 10:55] smooth-operator opened #579 "Deprecation warning breaks meteor app in IE11 and Edge"
Hello,
After updating astronomy i got a deprecation warning that methods have been renamed to helpers. I ignored it for a while, but i found out that the the meteor app won't load in IE11 and Edge with the following error: SCRIPT65535: Invalid calling object, jagi_astronomy.js (1099,3) which is this call warn('Deprecation warning: ' + message); If i have the dev tools open, everything works ok, so

[2017-01-04 21:18] lukejagodzinski commented on #578
I'm currently not able to check closed issues, you have to do it by yourself. The reason why I didn't introduce labels is that labels are not part of schema, it's more part of the forms library. And we have to distinguish that. Maybe if someone would create forms package for astronomy then it would use labels. However, I'm not going to introduce labels.

No problem, suggestions are always welcome.

[2017-01-04 21:20] lukejagodzinski commented on #579
Thanks for informing about that. I will have to introduce the console variable check.

[2017-01-07 15:48] Lukasvo opened #580 "TypeError: Cannot read property 'prototype' of undefined"
Hi all,

First of all, jagi, I would like to congratulate you with this fantastic package! I've been replacing a couple of packages I used before with Astronomy and my code is a lot cleaner ever since.

I've come across a TypeError of which I can't seem to find the cause though.
Does anyone have an idea where I should be looking?

[code]

[2017-01-08 11:10] tmpg commented on #410
I have a question about this also. I have a bunch of server methods, do I need to use a client method_stub as shown in:
[https://github.com/mantrajs/mantra-sample-blog-app/blob/master/client/modules/core/configs/method_stubs/posts.js](url)
To get latency compensation with Astronomy?
What are best practices to achieve latency compensation? Are there examples?

[2017-01-08 22:37] PolGuixe commented on #410
@tmpg yes, you have to define a method stub or a define the methods in `/both` or `/lib` folder

[2017-01-09 00:35] tmpg commented on #410
If I define the methods in the /lib folder is there anything specific I need to do like add context (on client) or will it detect it?

@PolGuixe I appreciate the help, are there any examples of this?

[2017-01-09 09:40] PolGuixe commented on #410
@tmpg your methods should be agnostic from the client context I would say. As if they where only in the server. If you really need to use the client context it should be passed as a variable.

If your client methods is really different from your server method, then the best thing would be to define them separately.

(sorry I've written really quick from my phone, let me know if it's not clear)

[2017-01-09 15:35] tmpg commented on #410
I think I understand. Let me just reiterate:

If I want latency compensation I must define the methods in /lib but to the client, it will seem as if it was only on the server.

Sounds correct?

[2017-01-09 17:59] lukejagodzinski commented on #580
Hi, thanks.

Without code it's hard to tell what's wrong. Post some code that is causing this error. But you're probably using a type that does not exist or you haven't imported.

[2017-01-10 09:49] PolGuixe commented on #410
@tmpg I don't understand your approach 😅 . I'll put an example:

This method:
[code]
Will be executed in the server and in the client, i.e. it will work as an optimistic UI, as it will also be executed on the client.

In you separate them as in the case above:
[code]
You obtain the "same" result as if they are declared in `lib`. But these way give you the flexibility to have different methods in t

[2017-01-10 09:58] tmpg commented on #410
@PolGuixe,
My primary question is will this work with astronomy. You did not use astronomy here. Here is an example method of mine:

[code]

Which is found in the `/server` directory and in `/lib` I defined an astronomy class Post.

With this kind of setup, what will I have to do to allow for latency compensation?
Move the methods out of `/server` into` /lib` or define astronomy classes in `client

[2017-01-10 10:22] PolGuixe commented on #410
@tmpg you can just put this method in `/lib` or define the method stubs in `/client`, without declaring new astronomy classes. If you declared your classes in `/lib` they are already in client.

[2017-01-10 10:23] tmpg commented on #410
@PolGuixe thank you very much for explaining.

[2017-01-11 03:52] tmpg commented on #410
@PolGuixe,
I still declare my methods in `server/main.js`. Is this correct?

[code]

[2017-01-11 10:31] Lukasvo commented on #580
Thanks for your response, jagi!

You were right: it was an import issue. I wasn't aware that you don't have to use curly braces when importing a default export..

So
`import {Participant} from "./participants.js";`
didn't work, but the following did:
`import Participant from "./participants";`

Sorry for bothering you with this, I'm only just getting to know Javascript better :-)

[2017-01-11 10:31] #580 closed, assigned to nobody

[2017-01-11 15:46] #558 closed, assigned to nobody

[2017-01-11 15:46] #573 closed, assigned to nobody

[2017-01-11 15:47] #567 closed, assigned to nobody

[2017-01-11 15:47] #533 closed, assigned to nobody

[2017-01-11 17:28] lukejagodzinski commented on #579
Fixed! Fix will appear in the next bug fix version, later today.

[2017-01-11 17:28] #579 closed, assigned to nobody

[2017-01-11 19:00] lukejagodzinski commented on #563
I've been playing around with IE10 for a while and supporting it is very hard to do at this point. There are babel plugins that may solve some problems but it's not perfect. I think it's not worth doing. I would have to spend a lot of time to support browser that should be killed many time ago, like Android 2.2 :P. We just have to wait until people will stop using IE at all... Closing this issue f

[2017-01-11 19:00] #563 closed, assigned to nobody

[2017-01-12 10:12] PolGuixe commented on #410
@tmpg yes.

I do it this way. I split some methods between `/lib` and `/server` and I declare all of them in `/server`.

[2017-01-12 12:44] lukejagodzinski commented on #547
Feature implemented and will appear in the next release

[2017-01-12 12:44] #547 closed, assigned to nobody

[2017-01-12 13:51] tmpg commented on #410
@PolGuixe

Why do you split them between `/lib` and `/server`? What are the disadvantages of keeping them all in `/lib`?

I assume it would be a security risk as it is seen by the client?

[2017-01-12 19:48] nunof07 opened #582 "User.find() is empty on client but Meteor.users.find() returns results"
Hi,

Thank you for this great package. It's very useful and saves me a lot of time.

I have a `User` wrapper class around `Meteor.users` and it works fine to find documents on the server side.

I have a publication on the server to publish all users. On the client I am subscribing to that publication.

If I do `Meteor.users.find()` it will return all results as expected, but if I do `User.find()`

[2017-01-12 19:58] nunof07 commented on #582
Uhhh... can't believe I found out the issue so quickly after typing this, while I had looked into it for so long before :)

My issue was that I am using inheritance and I wasn't publishing the type field!

Thank you again for the great package :)

[2017-01-12 19:58] #582 closed, assigned to nobody

[2017-01-13 11:15] PolGuixe commented on #410
More than disadvantages, are the advantages. A bit of optimisation and security. 

Separating them I can control what methods stubs are in the client, because I don’t what all the methods in the client. e.g. I have a method to generate dummy data for testing and I am not interested in having this method in the client. 

On Thu, 12 Jan 2017 at 14:51 tmpg

<
mailto:tmpg <notifications@github.com>

a

[2017-01-16 10:08] Lukasvo opened #583 "Question: how to access parent in nested class helper"
Can I access the parent doc from a helper of a nested class?

Example
[code]
[code]

I need to perform a database query, but only in some children classes, so adding price as a transient field is not really an option for performance reasons. I could add the reservationTypeId to the Invoice class as a transient field, but is there also a better way?

Thank you!

[2017-01-16 10:19] lukejagodzinski commented on #583
No you can't access parent class from children. You have to implement it yourself in a way that fits your needs best.

[2017-01-16 10:24] Lukasvo commented on #583
Ok, I'll add a transient field to the child classes with events then, since accessing the parent object is possible there. Other suggestions are welcome. Thanks!

[2017-01-16 10:24] #583 closed, assigned to nobody

[2017-01-17 13:03] dnish opened #584 "No reactivity if I call .set()?"
Hey,
I'm just wondering if this is a missing feature since we moved over to React and using createContainer of Meteor.

I have the following component:

[code]

In this case I set all changes to the Astronomy object, hoping that it will reflect those changes (reactivity). But there is no rerender, so I guess calling ".set()" isn't reactive within Tracker?

[2017-01-18 19:55] ffxsam opened #585 "map without losing class props/methods?"
When mapping in this manner:

[code]

The helpers of `Item` are lost. Is there a way to preserve them somehow?

[2017-01-18 20:03] ffxsam commented on #585
The only workaround I've found is to explicitly re-create the methods:

[code]

[2017-01-18 22:45] lukejagodzinski commented on #584
No astronomy objects are not reactive. You have to store astronomy object inside `ReactiveVar` and any changes to it will be reflected in React.

[2017-01-18 22:45] #584 closed, assigned to nobody

[2017-01-18 22:52] lukejagodzinski commented on #585
You're destructuring astronomy object and constructing plain JS object so that's normal behavior. You can't do that if you want to preserve astronomy functionality. However if you really want to do that and construct JS object with all Item's methods, you can also do something like this:

[code]

or

[code]

[2017-01-18 22:52] #585 closed, assigned to nobody

[2017-01-19 00:25] ffxsam commented on #585
Ahh, perfect! That's even better than my messy solution, thanks! 👍

[2017-01-22 20:33] dvjeshka opened #586 "the cast function doesn't work for the enclosed class"
[code]

[2017-01-24 09:02] lukejagodzinski commented on #586
It works, you're probably just doing something wrong. Show your code where you setting values.

[2017-01-27 09:57] frankapimenta opened #587 "tests"
What about stubbing methods and callbacks (for example: afterInsert) in meteorMethods?

[2017-01-29 22:06] lukejagodzinski commented on #587
Some example?

[2017-01-30 20:19] zorrobyte opened #588 "Post versioning support?"
It was commented here:
https://github.com/meteor-blog/meteor-blog/issues/130#issuecomment-112955746

That Astronomy will have post versioning (reversioning) support back in 2015. Did this ever make it into the package?

[2017-01-31 08:17] lukejagodzinski commented on #588
No, there was an idea for a behavior that would implement that. But I've never had time to implement it and demand for that is not huge.

[2017-02-02 02:33] manuelro opened #589 "The "type" keyword shouldn't be reserved"
The server is returning an error while using ENUMS. When I try to access `MyEnum.FOO` it just throws an `undefined` error. I `console.log` the class and it was printed out, the importing is also fine.

**The ENUM**
[code]

**The implementation** (with the imported class)
[code]

**The error**
[code]

Any help would be much appreciated.

[2017-02-02 09:01] lukejagodzinski commented on #589
Maybe it's has something to do with the field name which is `type`. I don't think that I reserved this keyword but it might be a bug. Please check out if changing field's name helped. If not please create simple reproduction with what you've posted here and I will take a look at it.

[2017-02-02 15:13] manuelro commented on #589
Hey, Jagi. You were right. The `type: {...}` keyword was reserved (or at least not processed nicely). This would be a nice-to-have feature if we can use type as a field name in future releases. Thank you for taking the time to look into it.

[2017-02-02 20:14] lukejagodzinski commented on #589
Ok, so I will probably have to fix it because it shouldn't be reserved. In fact the `type` field used for inheritance is only a default value and any field can be used for inheritance. So there is no need for making it reserved. So I will fix it in the next bugfix version.

[2017-02-03 15:24] DavidSichau opened #590 "Meteor method callback not called if Astronomy class is returned"
I have the following method, which works fine if I directly use the Collection.

[code]
If I change the method like that:
[code]
The callback on the client is never called.

Is something missing in my code or what does causes this problem?

Here my Schema
[code]

[2017-02-03 16:25] lukejagodzinski commented on #590
What callback? I don't see any callback in your examples

[2017-02-06 08:40] DavidSichau commented on #590
@jagi Sorry the callback on the client call method:

[code]
Here the callback is only called if I use findOne on the Collection but not if I call findOne direct on the Astronomy class.

[2017-02-06 09:38] lukejagodzinski commented on #590
Ok, so please create reproduction repository co I can clone it and test. It's rather problem with your code because this feature worked. However let's just create reproduction and I will check it out.

[2017-02-06 13:56] DavidSichau commented on #590
Here is the repo:

https://github.com/DavidSichau/AstronomyProblem

The problem is in the file https://github.com/DavidSichau/AstronomyProblem/blob/master/server/methods/resume_pos.js
If one there inserts the comment one gets undefined in the callback in the file
https://github.com/DavidSichau/AstronomyProblem/blob/master/client/modules/core/containers/resume_pos.js

Hope this helps.

[2017-02-06 19:56] lukejagodzinski commented on #590
It does not look like proper reproduction. Reproduction should be minimal. And there is a lot of unnecessary complexity. However, I've managed to find what's wrong with your code. Please, check your code several times before posting issue here on GH. In the server console there is an error, so your code can't work. You're importing `import {ResumePos} from '/lib/collections';` and later using `Res

[2017-02-06 19:56] #590 closed, assigned to nobody

[2017-02-06 21:25] DavidSichau commented on #590
@jagi Sorry for the bad reproduction and sorry for your trouble.

[2017-02-06 21:31] lukejagodzinski commented on #590
That's ok :) I get a lot of issues like that because most people don't check their code carefully enough but I can understand that :) If something does not work, the first thing that comes to your mind is that's a problem with a tool I'm using :). I've made this mistake several times :). So don't worry :)

[2017-02-07 10:29] samicemalone opened #591 "Email Address Validation (Apostrophes)"
Hi,

It looks like the email address regex being used for validation, doesn't accept an apostrophe which is a valid character.

Thanks,

Sam

[2017-02-08 21:10] lukejagodzinski commented on #591
Hmm you're right. I've checked and many other characters are valid in email address. Do you have any good regular expression that would validate email address correctly?

[2017-02-08 21:12] lukejagodzinski commented on #591
Ok I think that this one will solve most of the problems `/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/` I will make a fix.

[2017-02-08 21:15] lukejagodzinski commented on #591
Fix will appear in the next bug fix release

[2017-02-08 21:15] #591 closed, assigned to nobody

[2017-02-11 21:57] manuelro opened #592 "Multiple-level inheritance"
I was trying to create a multiple-level inheritance using the `[Class].inherit` method but just came to realize it is not currently possible. Let me elaborate with the following scenario:

Let's say we have a car, this car can be of a certain type, and subtype.

- `CarOfTypeThree` inherits from `CarOfTypeTwo`
- `CarOfTypeTwo` inherits from `CarOfTypeOne`

Based on the previous example, `CarOfTypeT

[2017-02-11 23:58] lukejagodzinski commented on #592
Post your code with classes definition. Probably you're doing something wrong.

[2017-02-12 00:15] manuelro commented on #592
Here it goes:
[code]

The inheritance chain should be like this:
`Content < Image < HostedImage`

As far as I know I might be able to create a `new HostedImage({ ... })` and it should automatically set the type to `Image` and the subtype to `HostedImage`, but I get the `"type" is required [validation-error]` when trying to create a new `HostedImage`, which means that the first `fieldType` on the `

[2017-02-13 11:19] lukejagodzinski commented on #592
I can't ignore it as it's a place where the `typeField` property should be defined. Also, you shouldn't change the `typeField` property in child classes. In the example in docs you can clearly see that the `typeField` property is defined in parent. If you store instances of all classes in the same collection than there is no need to redefining the `typeField` property.

[2017-02-14 13:56] #588 closed, assigned to nobody

[2017-02-14 14:02] lukejagodzinski commented on #589
I've been trying to solve the problem and I've noticed that the `type` keyword is not reserved. Actually you have a bug in your code in type exports. It should be:

[code]

and later in the class definition:

[code]

[2017-02-14 14:02] #589 closed, assigned to nobody

[2017-02-14 14:04] #587 closed, assigned to nobody

[2017-02-14 14:04] #586 closed, assigned to nobody

[2017-02-16 13:57] talha-asad commented on #427
It would be awesome to have this feature sometime soon, the workaround for this is really ugly. Do you have a proposed way of declaring unions?

[2017-02-20 08:36] DarthRumata opened #593 "Unique validator in v2"
Hello. Is it possible to create something like Validators.unique in API v1?
Now I can't call findOne for current class

[code]

[2017-02-20 22:13] lukejagodzinski commented on #427
Hey, I will work on that as the next feature. I will probably find some time next week. API will probably be sth like this:

[code]

Btw. I've abandoned the idea of integrating Astronomy with GraphQL. I've been testing this and didn't find any proper solution. So Astronomy will be in its current shape for a while.

[2017-02-20 22:20] lukejagodzinski commented on #593
Document (`doc`) does not have `findOne` method. Try this:

[code]

and if it does not work then this:

[code]

[2017-02-21 13:14] #350 closed, assigned to nobody

[2017-02-21 13:18] DarthRumata commented on #593
Thanks!
The second approach works fine)

[2017-02-21 13:18] #593 closed, assigned to nobody

[2017-02-21 13:25] talha-asad commented on #427
Will this also support something like this:

[code]

So an array of Strings or Numbers.

[2017-02-21 13:43] lukejagodzinski commented on #427
It will work but not the way you wrote:

[code]

[2017-02-21 13:53] lukejagodzinski commented on #427
Feature implemented in v2.4.0

[2017-02-21 13:53] #427 closed, assigned to nobody

[2017-02-21 14:14] talha-asad commented on #427
Sorry I didn't see it was not a class. Yup that works well.

How well does this work with auto casting?

[2017-02-21 15:36] lukejagodzinski commented on #427
It's described in docs. It can't be done automatically. You have to provide your own casting function.

[2017-02-22 04:52] PolGuixe opened #594 "Encryption of certain fields"
Is it possible to encrypt certain fields with Astronomy? Is there any behaviour available?

[2017-02-22 05:33] lukejagodzinski commented on #594
Provide an example of what you want to achieve

[2017-02-22 15:26] PolGuixe commented on #594
Something like this:

[code]

[2017-02-22 17:46] lukejagodzinski commented on #594
If you don't want some fields to be visible on the client than just don't publish them, that's it. If you want to achieve something else than describe your problem in more details.

[2017-02-22 18:28] PolGuixe commented on #594
Imagine it is a bank account number:
- I want to encrypt it in the DB.
- I want the user -which holds the right permissions- to view it.

This is what I am trying to achieve. It is more clear now? 😉

[2017-02-22 20:58] lukejagodzinski commented on #594
This example does not make sense. You still don't want to publish account number without logging in by the user that has permissions to view this account number. So subs/pubs schema works here. I don't see any need to publish encrypted data to the client. Moreover encrypting account number is pointless.

Imagine accounts system in Meteor. Passwords are encrypted and not published to the client. Th

[2017-02-22 21:20] PolGuixe commented on #594
If someone has access to the DB they can read the sensitive fields if they are not encrypted.
The idea is not to hide it against other users -here pub/sub will work-. The goal is to protect the stored data in the DB, without having to encrypt the whole DB.

[2017-02-22 21:40] lukejagodzinski commented on #594
So do it the way Meteor accounts system does it. There is no universal way of doing it.

[2017-02-25 16:45] spiral2k opened #595 "TypeError: Cannot call a class as a function"
what im missing?

this is the model file

[code]

[2017-02-26 11:43] lukejagodzinski commented on #595
You should write `export default Class.create({`. Btw. here is the first video tutorial I've made https://www.youtube.com/watch?v=fM11TSiELNE. I will be creating more videos like this. I hope it will be a good source of knowledge about Astronomy.

[2017-02-26 11:43] #595 closed, assigned to nobody

[2017-02-26 18:34] manuelro opened #596 "Propagate Meteor method down the inheritance tree even when no collection provided"
I'm using `astronomy@2.3.12` and tried to use the `meteorMethods` property. Everything works well on the client-side if I use the `[entity].callMethod` but when I try to access the method directly on server-side tests the method is `undefined`.

This happens only if I have class `B` inheriting from class `A` (the class that has the `meteorMethods` attached to it), which I think the child class sho

[2017-02-26 19:21] manuelro commented on #596
By the way, how would you test that a certain record belongs to a certain user using `userId`? I mean, passing the context to check whether `this.userId` is equal to Meteor's current `userId`.

[2017-02-26 20:30] lukejagodzinski commented on #596
Meteor methods are only applied to classes that have assigned collection, so that's why it does not work. It's a limitation that can't be solved in any way. As you may know meteor methods are assigned to connection object. Even when you use `Meteor.methods()` it still assigns methods to the `Meteor.connection` object which is global connection object. But I can't make assumption that this connecti

[2017-02-26 22:18] manuelro commented on #596
Makes sense from the current state of Astronomy. However, I'll take a look into the source code for the entity invocation (for creation, reading and destruction). I'm thinking that it may be possible to propagate the parent's `meteorMethods` to the child, at execution time. If I come up with something I'll make a PR for consideration. Thank you for taking the time to answer this, as usual.

[2017-02-26 22:30] spiral2k commented on #595
Thank bro.

[2017-02-27 11:09] lukejagodzinski commented on #596
Yes I probably should propagate `meteorMethods` even if there is no collection defined. If you want to handle that I can give you some tips on where to look for it.

[2017-02-27 19:31] manuelro commented on #596
Sure, I'm working on a side project right now but I'll be taking a look into this again during next week. Any advice will be welcome.

[2017-03-02 15:27] peXed opened #597 "Is Astronomy not using normal database operations and therefore is not working with ongoworks:security?"
Hello!

I'm currently developming a new project and I want to use Astronomy again. Now my question, is astronomy not using the normal database operations?
It seems rules, implemented by the package ongoworks:security are not going to get taken into account.

For example, I have the following rule:
Meteor.users.permit(['update', 'remove']).ifHasRole(['admin', 'edit-users']).allowInClientCode();

So

[2017-03-02 20:58] lukejagodzinski commented on #597
It won't work with it because the `ongoworks:security` package works on allow/deny rules and those only apply to code being executed from the client and Astronomy uses its own validation mechanism.

Moreover it's not recommended to use allow/deny rules. You should use Meteor methods everywhere it is possible

[2017-03-03 12:14] peXed commented on #597
Ah, that was what I thought.

I will secure the app as you did it in the docs.

Thank you very much!

[2017-03-03 12:14] #597 closed, assigned to nobody

[2017-03-08 12:08] JulianKingman commented on #443
I'm curious, what are the Meteor dependencies? I might be able to help with migrating, I would find this useful in my react-native projects, for which I currently have to use simple schema.

[2017-03-08 12:26] lukejagodzinski commented on #443
Astronomy is heavily dependent on meteor collections and any save/remove operation goes through the meteor method. I was thinking about creating separate package that can be used in any JS project, which would be stripped of the storage functionality. It would allow defining schemas, validation, values casting etc. But I have several projects going on and I lack of the time to develop it :)

[2017-03-11 09:24] martineboh commented on #594
Thanks @jagi for the wonderful astronomy! Here's my question: Can werl define fields with a TTL? I am creating an app and I want some fields to auto delete after sometime from mongo automatically.

[2017-03-11 10:28] martineboh opened #598 "Adding TTL to select fields"
Adding TTL via fields in a Class, so Mongo knows when to auto delete them after sometime?! Just a suggestion...

[2017-03-12 18:42] lukejagodzinski commented on #598
You should be able to create such an index. Try this:

[code]

[2017-03-13 09:24] gantu commented on #580
I am facing exactly same issue, here is the code:
[code]
`
Entry in /lib/collection.js :

`export const surveys = new Mongo.Collection('surveys');`

What can be the cause of the error:

`W20170313-15:22:07.121(6)? (STDERR) TypeError: Cannot read property 'prototype' of undefined
W20170313-15:22:07.121(6)? (STDERR)     at packages/jagi:astronomy/lib/modules/fields/type.js:55:39
W20170313-15:22:07.1

[2017-03-13 10:22] gantu commented on #580
Issue is resolved, by defining classes in correct order.

[2017-03-14 15:18] martineboh commented on #598
Thanks! You rock!

On Mar 12, 2017 7:42 PM, "jagi" <notifications@github.com> wrote:

You should be able to create such an index. Try this:

import { Class } from 'meteor/jagi:astronomy';
const Item = Class.create({
  name: 'Item',
  collection: Items
  fields: {
    lastModifiedDate: Date
  },
  indexes: {
    lastModifiedDate: { // Index name.
      fields: { // List of fields.
        lastModif

[2017-03-14 17:28] #596 closed, assigned to nobody

[2017-03-14 17:30] lukejagodzinski commented on #596
Ok I've fixed it. It wasn't so easy as I thought, so it would be hard for you to make that fix. That's why I did it by my self. This fix will appear in the next bug fix version of Astronomy

[2017-03-14 18:00] manuelro commented on #596
Awesome! Thanks!

[2017-03-16 18:47] JulianKingman opened #599 "Keys with dots"
I'm getting this error:
[code]

I think it's related to this recent change: https://github.com/meteor/meteor/issues/3786

[2017-03-16 19:11] JulianKingman commented on #599
OK, I think this is actually because I'm trying to add a nested field in a behavior, ideas for that? It looks like this right now:
[code]
In my test case, I want the field to be `profile.Leagues`

[2017-03-16 19:49] JulianKingman commented on #599
The short answer will be to skip this. I can create a nested object like this:
[code]
But I get an error about reading prototype of undefined (something to do with `types`).

[2017-03-16 23:13] JulianKingman commented on #444
I think my situation is similar: I'm creating a `relationship` behavior, initialized like so:
[code]
What's happening is the same keyStore value is being used for both behavior instances. I'm not quite sure how the lines are getting crossed, but I'm ending up with the `_id` of both `Leagues` and `Teams` only in the `Teams` field.

[2017-03-17 07:28] lukejagodzinski commented on #444
Relations is rather to be module not behavior. It can be created as a behavior but it's less flexible then. I can understand that not making copy of options may be a problem and I will probably fix that but creating a copy of all options in all possible scenarios for behaviors may be very performance intensive operation and may not be the best solution.

[2017-03-17 07:33] lukejagodzinski commented on #599
For setting nested fields you have `doc.set` method which works similarly to `_.set` but it has more features like ability to cast values, set default values etc. I can't help you with you problem as I have to little information. Moreover as I said in another issue, you should rather create module not behavior if you want to implement relations.

[2017-03-17 12:02] JulianKingman commented on #444
The problem I'm running into is actually because I have a helper which calls a method, but it doesn't know which instance of the behavior to use.The helper needs to know based on the parameter (in this case `className === behavior.options.foreignClass`), so I'll just use Class.getBehavior and filter for the correct one in the method.

[2017-03-17 13:58] JulianKingman commented on #444
Is there an easier way to get a behavior by it's option value?

[2017-03-17 14:55] lukejagodzinski commented on #444
You know I would have to check it out because to be honest I don't remember :). But I would encourage you to create a module for that because behaviors are limited. How to create module? Everything in Astronomy is a module. Storing documents is a module, fields is a module, events is a module. Here is a code for `storage` module https://github.com/jagi/meteor-astronomy/tree/v2/lib/modules/storage

[2017-03-17 21:16] JulianKingman commented on #444
Thanks, I'll look into that. In either case, in behaviors there should be a way to get the correct instance of the behavior. I'm not sure what's the right way to do that, the more I think about it the tricker it is. Maybe something like this?
[code]

[2017-03-18 13:11] Zyets opened #600 "beforeRemove / afterRemove event and softremove behavior"
Those events are never triggered while softremove behavior is on.
Is it a bug or am i doing something wrong?

[2017-03-18 13:27] lukejagodzinski commented on #600
It's because soft removed documents are not being removed but "soft removed", so `beforeSoftRemove` and `afterSoftRemove` events are triggered. Moreover `before(after)Save` and `before(after)Update` events are triggered where you can also detect if the `removed` field is set or not.

[2017-03-18 13:27] #600 closed, assigned to nobody

[2017-03-18 13:35] Zyets commented on #600
Oh, thanks for such a quick reply))
But that didn't helped me..
Neither beforeSoftRemove nor before Save are not triggered when I do softRemove()

[2017-03-18 13:37] lukejagodzinski commented on #600
Show code of your class. Maybe you're doing something wrong

[2017-03-18 13:49] lukejagodzinski commented on #444
I've checked and the `this.options` property in each behavior has different values so you're probably doing something wrong.

[2017-03-18 13:49] Zyets commented on #600
ok, i get it! It works only on server-side...
is there any way to get it work on client?

[2017-03-18 13:53] lukejagodzinski commented on #600
It should work on the client too, so as I said you're probably doing something wrong.

[2017-03-18 14:01] Zyets commented on #600
omg... i DID something wrong..
i call softRemove through Meteor.methods....
i didnt work on that project for a few weeks, so i simply forgot that moment... sorry for taking your time.

[2017-03-18 15:44] lukejagodzinski commented on #600
Ok no problem, good that you found it

[2017-03-19 01:30] JulianKingman commented on #444
True, but that doesn't always work. For example my `relateTo` helper takes a parameter that determines which options should be used, so there's no way to tell which options it should use until it runs.
It's not so hard to get the options from `Class.getBehavior`, but it would be nice to be able to easily get all behavior options from `this`.

[2017-03-20 12:04] lukejagodzinski commented on #444
You know the `relateTo` helper can operate with all relation behaviors attached to the given class, so you have to find your own mechanism of checking which option to use. There is no other way of doing it automatically.

[2017-03-22 14:24] lukejagodzinski commented on #596
Feature released with a new version

[2017-03-28 22:25] JulianKingman opened #601 "Events not firing"
For some reason, the only events I can get to fire are the init events. Here's what my code looks like:
[code]

The only one that fires is init. Any idea why? The collection is a scorpius collection with simple-schema attached (overkill I know), so perhaps that's related? I'm having a tough time implementing a calculated field.

[2017-03-28 22:59] JulianKingman commented on #601
Ah, nevermind. I think you have some clever `dif` checker in there somewhere, save doesn't actually get called unless the document has changed. Is this a bug or a feature?

[2017-03-29 11:58] lukejagodzinski commented on #601
It's a feature, you shouldn't invoke operation if it's not needed. So if there are no modifications then operation won't be executed. Btw. I see some bugs in your example code but I assume that you just made some typos pasting code.

[2017-03-30 14:27] JulianKingman commented on #601
What did I miss?

[2017-03-30 18:25] lukejagodzinski commented on #601
For example you're importing `Team` instead `Teams` collection:

[code]

Later you create class `Teams` instead of `Team`:

[code]

and you passed `Teams` to the `collection` property which is `undefined` in this example.

[2017-04-04 20:30] manuelro opened #602 "When querying do not override the "type" property if already defined in selector"
In Astronomy, as far as I know every class that inherits from another one creates or uses a `type` field. This works as expected, but when I try to find all the documents using the `parent` class and the `type` field, the query is not applied at all.

**For instance:**
[code]

The previous publish should not return any document, but it does return all the documents whose parents type is `content`.

[2017-04-05 06:48] talha-asad opened #603 "ENUM import/export bug"
Say we have a file that has a campaign class and a Enum that is used within that class. This file exports the ENUM too. Now we have another file that imports the ENUM from that file and then reuses it in one of its own class, this doesn't work and I keep getting this error on the server console:

[code]

Below is a basic level copy of files:

campaigns.js
[code]

express_campaigns.js
[code]

[2017-04-05 08:43] lukejagodzinski commented on #602
Hmm that's because Astronomy is overriding the type property in selector. Probably I shouldn't do that if developer already provided the type property. Of course you will lose ability to pass inheritance option to the find method but as you said it does not matter in this case. I think I can implement such an option. When developer overrides the type property than I can assume that he/she knows wh

[2017-04-05 08:53] lukejagodzinski commented on #603
The problem is probably in not importing all the classes on the server. Remember that you have to import classes not only on the client but also on the server, even when you're not using them directly. Problem is similar to the one I've talked about in this tutorial https://www.youtube.com/watch?v=fM11TSiELNE&feature=youtu.be&t=550 with the exception that you're dealing with ENUM and not class sto

[2017-04-05 09:42] lukejagodzinski commented on #602
Ok it's fixed in version 2.4.3

[2017-04-05 09:50] talha-asad commented on #603
The classes are available globally, do I still need to export them? In that case the error is still very misleading. Doing a simple console.log on the ENUM shows that it is infact defined and fully functional.

[2017-04-05 10:53] lukejagodzinski commented on #603
But `CampaignStatusEnum` is not global, so you have to import it in both client and server. Let's imagine this situation. All classes are global on both client and server and you're trying to create instance of the `Campaign` class. This class has the `state` property which is of the `CampaignStatusEnum` type and has default value. When you perform the `save` operation then it will try to create i

[2017-04-05 11:50] talha-asad commented on #603
Makes sense and I made all ENUMs global and the error remains. The error isn't because it's not defined, I specifically imported it and it was available and the error was on the server side, where I did check it to be available. So something else is definitely amiss.

[2017-04-05 12:35] lukejagodzinski commented on #603
OK so please create minimal reproduction repository so I will be able to tell if you're missing something or it's a problem with Astronomy. But first let's check what is in the `Astro.Type.types` object.

[code]

Log it on the server just before the place where it's used and it's missing.

[2017-04-05 13:01] talha-asad commented on #603
The ENUM in question, shows up in the log:

[code]

For a reproduction, the two above files I gave in the first post should suffice. You should name one as `campaigns.js` and the other one as `express_campaign.js` and put them in the same dir.

[2017-04-05 16:10] manuelro commented on #602
I knew it had to do with the `type` property. Thank you for fixing this.

[2017-04-05 16:52] lukejagodzinski commented on #603
Code works properly, so the problem is on your side. One thing you're doing wrong is mixing imports and globals. You should decide which way of programming you choose. I would encourage you to use imports as you can control import order. And your problem may be related with the order, that you're using ENUM before it's defined. You should also put ENUM in the separate file and import it into these

[2017-04-05 17:14] talha-asad commented on #603
Deeply sorry jagi, when I created a reproduction the error indeed stopped coming up. I'll dig into why this is happening in my main project. Will submit reproductions next time. I was pretty sure this is a standalone issue, aah well.

[2017-04-05 17:32] lukejagodzinski commented on #603
No problem :) As I said I think the problem may be in load order, so use imports instead of globals. That's much more reliable.

[2017-04-05 17:37] talha-asad commented on #603
The problem was that the same ENUM was being defined twice, on which btw Astronomy gave no error, and I think the other one was being declared later and when the previous (imported) one was being used, it wasn't strictly matching with the new one and Astro was throwing that error. Perhaps the error message can be improved in this case?

Don't allow same ENUM name to be declared twice, period.
Or
T

[2017-04-05 20:43] lukejagodzinski commented on #603
Hmm right, now it's possible to redeclare ENUM which should not be possible. I will make a fix for that. Thanks for noticing it!

[2017-04-06 05:05] manuelro commented on #602
I have another question, that perhaps is not exactly related to this one. Is the `type` property treated as a MongoDB index? It would be nice to be able to use something like this:

[code]

I tried this with the type, but it seems it was not seeing it as an index. The `$text` operator is a very powerful way to search strings, but it only iterates over the document's indexes.

[2017-04-06 06:59] lukejagodzinski commented on #602
Currently index is not created but you can easily create index by yourself. However, text indexes is not much useful for the `type` property as you're mostly searching for whole phrases and not parts of the type name. For the `type` property you should use standard index. I will add that one in the next release.

[2017-04-09 16:38] JulianKingman commented on #153
I had this issue after installing `mikowals:batch-insert`. The solution was to place it before the astronomy package in the packages file, I suspect the same might be true of other packages that modify collections..

[2017-04-15 16:45] RWizard opened #604 "Uncaught TypeError: Class is not a constructor"
Would you like help me with the problem?
In old project, no problem, but in new project, the line on Client with error:
  var doc = new Class(); // Trigger the "fromJSONValue" event handlers.

![2017-04-15 19 39 08](https://cloud.githubusercontent.com/assets/190453/25065188/88b3203a-2213-11e7-88dc-f3dc11b37e5d.JPG)

In new project I can`t install pkg as classic: meteor add ...
I copy astronomy cod

[2017-04-15 21:36] lukejagodzinski commented on #604
Show your code. Without it it's hard to tell

[2017-04-21 13:20] talha-asad opened #605 "Index inheritance should not work if the field is a transient field"
Currently Astronomy will ensureIndex on a field if it uses a type of another Class and is marked as transient, this shouldn't be the case as the field is transient. I remember when we implemented this feature, we missed this edge-case.

cc @jagi

[2017-04-22 10:17] lukejagodzinski commented on #605
Could you give some example? Because from this description I can say for sure that Astronomy by itself does not add indexes to transient fields and classes that are not stored in collections. So you probably used class as a nested field which is not intended to be used in that way.

[2017-04-22 10:55] talha-asad commented on #605
If that's the case then we don't need this. I was recalling this from memory, closing.

[2017-04-22 10:55] #605 closed, assigned to nobody

[2017-04-28 09:59] fahadAziz44 opened #606 "Inheritance bug"
Say we have 2 classes: `Animals` and another class `Cats` extending it. We have 2 objects, one of type `Animal` and the other of type `Cat`.

If we fetch objects through Animal Class, with `{children: true}`, which is the default anyway. It returns objects of both classes, which is as expected. However the `type` field is incorrectly set for the `Cat` Object. It is set exactly like the `Animal` ob

[2017-04-28 19:12] PolGuixe opened #607 "Validate a document in React Native"
Has anybody found a way of using the validation defined in AstroClass in the React Native?

[2017-04-29 17:59] bryantbiggs opened #608 "Class Inheritence Import/Export"
Hello Jagi - many thanks for the great library!

I am trying to break up my classes into individual modules but running into some issues. If I place all of my classes that inherit from their parent class(es) in one file, there are no issues. However, if I take my parent and child classes and move them to their own individual files then I am getting an error stating ```TypeError: [childClass].inher

[2017-04-30 17:26] skynightz93 commented on #608
see my pull request

[2017-04-30 18:30] bryantbiggs commented on #608
Thank you @nizulzaim  for catching that! I discovered I had to import the classes on the server as well to make it finally work.

[2017-04-30 18:30] #608 closed, assigned to nobody

[2017-04-30 18:34] bryantbiggs commented on #606
I had a similar question but I was using inheritance instead of extension. However, you can see the outcome here [#540](https://github.com/jagi/meteor-astronomy/issues/540)

Basically start with your base class and then later on down the line you can update the type field to be the child class type: `Animals ==> Cat`

[2017-05-02 05:46] fahadAziz44 commented on #606
Thanks @bryantbiggs

[2017-05-02 08:24] DarthRumata opened #609 "Class method 'validate' doesn't return callback if no errors in model"
[code]

Meteor throwing error to browser console: "Received error from server:  Parse error".

[2017-05-02 09:08] lukejagodzinski commented on #606
In deed it should populate the type property with proper value. I thought that I've fixed it. Are you using the newest version? I will check if this bug still appears, and if it do then I'll fix it.

[2017-05-02 09:21] lukejagodzinski commented on #607
Astronomy is tightly integrated with Meteor. So it might be quite difficult to use only validation. However, it's heavily modularized so in theory it's possible to strip it of the modules dependent on Meteor. In near future I will probably prepare npm Astronomy version to work with GraphQL. But it's a plan for now.

[2017-05-02 13:27] lukejagodzinski commented on #606
@fahadAziz44 it's working properly, what Astronomy version are you using? Please create reproduction repository if you still have this problem.

[2017-05-02 13:27] #606 closed, assigned to lukejagodzinski

[2017-05-02 13:37] lukejagodzinski commented on #609
I've tested it and it's working properly. You're probably doing something wrong. I see that you're using some `callback` function which is not provided here, so it's hard to tell where a bug is.
When you do something like this it should work:

[code]

If you still having this problem, please create reproduction repository. It always helps find a bug.

[2017-05-02 13:37] #609 closed, assigned to nobody

[2017-05-03 07:15] fahadAziz44 commented on #606
@jagi I am working on v2.4.3. Actually it was a mistake by my side, I was setting the same `name` field for both Classes.

[2017-05-03 14:08] lukejagodzinski commented on #606
@fahadAziz44 ok good to hear that you solved that

[2017-05-09 13:55] james1293 commented on #447
@emilianosantucci , thanks for creating this! And of course thanks to @jagi for creating astronomy!!

[2017-05-12 20:15] manuelro opened #611 "IE 10 (and prior) and Class.getName break the entire app"
Long time no talk, Jagi. I hope you're doing well.

I have some bad news regarding compatibility issues with IE's recent version (up to IE10). It seems you're using a `Class.getName` and IE is for some reason not supporting it. The offending code is at `/lib/core/class.js`, line 42 inside a `forEach` block.

**The error:**
`El objeto no acepta la propiedad o el método 'getName'`

Which translates

[2017-05-13 12:54] dnish opened #612 "React-Native-Meteor doesn't work with user object"
Hey @jagi ,
we're using Astronomy within our new Meteor project, which also requires a React Native application. Here we have a problem with the structure of our user object. The problem is, that we don't receive the user object when we publish by the Astronomy class:

    const User = Class.create({
    name: 'User',
    collection: Meteor.users,
    fields: {
        username: {
            type

[2017-05-13 13:03] dnish commented on #612
Currently I found this workaround, I'm just wondering if there is a better alternative?

    events: {
        afterInit(e) {
            const doc = e.target;
            const packageDoc = Packages.findOne({_id:doc.details.packageDetails.packageId});

            if(packageDoc) {
                doc.details.packageDetails.packageDoc = packageDoc;
            }

            doc.details = doc.deta

[2017-05-15 07:32] lukejagodzinski commented on #611
From what I remember it's a limitation of IE to inherit static properties of function/class. It's closely related with Babel transpilation. And I'm using static methods heavily because it's very handy. There is some workaround for that http://babeljs.io/docs/usage/caveats/#internet-explorer-classes-10-and-below- but it would have to be enabled and used not only in Astronomy but also in the develop

[2017-05-15 07:36] lukejagodzinski commented on #612
Yes there is a better way of doing it. You can pass `transform: null` option to the `find` method and it will not transform document into astronomy class instances.

[code]

[2017-05-15 10:33] dnish opened #613 "No error while saving if validations fails"
Hey,
I'm having an issue when I try to save a document where the validation fails. If I do the following:

    newDoc.save((err) => console.log(err));

the error object is empty, but the document wasn't saved to the database. I just remember that Astronomy also shows the error there if the validations fails. If I do the following, I get the validation error:

    newDoc.validate((err) => console.l

[2017-05-15 14:42] dnish commented on #613
@jagi I've also noticed that when I'm saving an object on server side without callback, and an error occurs, my code below the save method wouldn't be executed. Also there are no error logs in console, so f.e.:

[code]

[2017-05-15 14:44] lukejagodzinski commented on #613
Hmmm that would be weird if really happened. Could you create reproduction repository? Without that it's hard to tell.

From validation error I see that you store an array of objects in `metaData.albumId` so validation error is thrown properly. However the `save()` method may not execute any operation if document have not changed. So if you fetched this document from database and try to save it, A

[2017-05-15 14:47] dnish commented on #613
@jagi Yeah I will try to reproduce it. In my second case I get a validation error if I validate the object manually. So f.e:

[code]

But if I do

[code]

the console.log() isn't executed. The execution hangs on the save method, no errors are thrown but the code below it isn't executed. Had the issue several times on different methods.

[2017-05-15 14:52] lukejagodzinski commented on #613
So probably there is something wrong in your before or after save, update, insert events. Maybe you're doing some operation that can't be executed and server just does not return any value.

[2017-05-15 14:53] dnish commented on #613
Mh okay, I think I'll try to reproduce both cases, starting with one single Astronomy class and then with some nested. Hadn't these problems before, so I agree that it could be caused by some configuration/schema within my project.

[2017-05-15 15:12] lukejagodzinski commented on #613
Yep probably, so yes please create reproduction for both cases. It might also be some problem with recent update. But I always run tests so it should not happen.

[2017-05-15 15:16] dnish commented on #613
Yep, already tested it with a repro. Couldn't reproduce it, but I saw that I've wrote <code>console.err</code> instead of <code>console.error</code> in my code. After changing it, I see all validations errors and also get the rejection within my promises. Sorry for that 😞

[2017-05-15 15:17] #613 closed, assigned to nobody

[2017-05-15 16:26] lukejagodzinski commented on #613
No problem :)

[2017-05-15 22:15] JulianKingman opened #614 "class.save() is slow? (5ms)"
I'm doing an update of a bunch of records (via `forEach`), and the save() step appears to be taking about 5ms. Is that normal? There are other things going on that could be causing this (collection hooks), but I wanted to start here and see if it's something you've run into or have recommendations on.

[2017-05-16 05:30] lukejagodzinski commented on #614
Each time you call `save()` method it has to fetch given document form database to compare it with the current values in doc. So that's why it takes some time. I could probably cache this values but that has some downsides. I did it because of the problem with some events. Such tools like Astronomy always introduce some performance issues so if you really care about performance you shouldn't use i

[2017-05-16 11:03] JulianKingman commented on #614
This particular script is running just on the server, it seems like there should be a way to optimize server-only code.
Does a find query take that long? Where does it actually get expensive?
- calling the method
- running event hooks
- validation
- finding/comparing
- other?

[2017-05-16 14:32] dnish commented on #613
@jagi Run into the same problem again, but this time I found something interesting in my logs. I try to update and remove a object. There is something strange with the "_isNew" property of Astronomy. If I did understand it right, it shows me, if the object was saved to the collection. In my case it is, because I'm querying it from there. But I have a true on it:

[code]

I'm receiving it in my aft

[2017-05-16 16:31] lukejagodzinski commented on #613
The remove method sets the `_isNew` flag back to `true` after removing, so you can save it again as a new document.

[2017-05-19 15:08] manuelro commented on #594
@jagi, there can be other scenarios as well. For instance, while storing the api secret of any image hosting provider, we may not want to store it as is, imagine if someone gets a hold of the DB, that person could potentially use the stored information to upload images on behalf of the user with the chance of generating a lot of traffic and money in usage fees for that person.

@PolGuixe, I think

[2017-05-20 06:43] lukejagodzinski commented on #594
@manuelro still this example does not imply any feature that should be added to Astronomy. Everything can be done using existing features. But when somebody has access to you DB, then you're screwed anyway :). So it's more about securing your server and code, so that it's not vulnerable to any attack.

[2017-05-20 06:43] #594 closed, assigned to nobody

[2017-05-22 11:33] bhishp commented on #497
I had an un-related error of  `Class.getName is not a function` when calling a Meteor Method on a model from the client, so for anyone else who might come across the same error.

It was because of the context of `this` that I was passing to the underlying `wrapMethod` performed by astronomy when calling the meteor method was actually the window - rather than the doc. This was because I was passing

[2017-05-22 11:47] bhishp opened #615 "Docs: Security invocation example"
Not sure where best place to leave feedback for the docs/how to modify the docs?

But in the security section of docs (http://jagi.github.io/meteor-astronomy/#security) the examples are still using the antiquated invocation in their examples:

[code]

As opposed to further up in the docs:

[code]

[2017-05-22 12:46] lukejagodzinski commented on #615
Oh thanks for noticing it. I will update that in a moment.

[2017-05-22 12:49] #615 closed, assigned to nobody

[2017-05-31 08:54] bhishp commented on #58
Hi. I'm wondering about the same but for multi-inserts?

With Mongo we can do like `collection.insert(arrayOfDocuments)`

In astronomy I would like to do the same (bulk insert seems like it would be more efficient than iterating over a large array and creating several atro docs).

I have something like:

[code]

The above doesn't work (it thinks I am trying to insert a single document and see an a

[2017-05-31 14:12] lukejagodzinski commented on #58
Actually, you can't either do it with pure Meteor's MongoDB collections. When you do `Collection.insert(arrayOfDocs)` it will convert the array to object, so you're gonna end up with an object having keys being indexes of the array. I don't know why they made it that way but it was probably some trade-off between simplicity and overcomplication of their code base which would be later hard to maint

[2017-06-05 06:45] lukejagodzinski commented on #614
Hey, I've made an update to Astronomy (take a look at 2.4.4 release). When you're doing `Class.update` it will batch some DB operations and it will be significantly faster than doing forEach save. It's not recommended to do such an operation because it has to hit the database for each iteration.

[2017-06-05 06:45] #614 closed, assigned to nobody

[2017-06-05 06:45] #612 closed, assigned to nobody

[2017-06-05 06:46] #607 closed, assigned to nobody

[2017-06-07 08:40] redbaron76 opened #616 "Fields validation override"
Is it possible to override validation on certain fields?
Let's say I have a `firstName` field with `validators: [{ type: 'minLength', param: 2 }]`, is it possible to update it as an empty string without applying validation rules? It seems not atm from the documentation. (but it could be very useful sometimes).

At the moment the only way I found is to `$set` values directly using `getCollection()`

[2017-06-07 10:31] lukejagodzinski commented on #616
If I would allow doing so from the client then it would be security hole as anyone on the client could just turn off validation. Validators are supposed to make sure that your data is valid. If you want per operation validation, then you would probably have to create meteor method for that where you just check additional rules.

Let's consider the following scenario. You have the `firstName` field

[2017-06-07 10:31] #616 closed, assigned to nobody

[2017-06-09 11:39] Lukasvo opened #617 "Best i18n approach?"
Hi jagi,

What do you think would be the best approach to translate my application based on Astronomy?
Both hard-coded strings and database entries should be translated.

One approach might be to use the [tap:i18n](https://github.com/TAPevents/tap-i18n) package with its [db extension](https://github.com/TAPevents/tap-i18n-db).
The db structure looks like this:
[code]

I've got two questions to imp

[2017-06-09 13:25] lukejagodzinski commented on #617
Hi @Lukasvo,

From what I see, it's gonna be a hard thing to do. You would have to create your own Astronomy module that handles i18n. It would be a lot of work. The class schema would be quite complex and all the operations would be hard to do. Depending on what for you want to use Astronomy I would recommend the following solution for that.

1. Create Astronomy schema like a document would not b

[2017-06-09 14:09] Lukasvo commented on #617
Alright, thank you for your quick reply! I think creating a dedicated Astronomy module is a bit overambitious for my programming skills, so I'll try using the described method.

[2017-06-09 14:13] lukejagodzinski commented on #617
Ok great, let me know if you have any problems with this approach

[2017-06-17 14:49] manuelro opened #618 "Loading related documents using ObjectId as reference"
I was wondering is Astronomy supports loading documents that are referenced by ID in other documents. I did not see anything like that in the documentation...

[2017-06-17 15:22] lukejagodzinski commented on #618
You have to fetch documents by yourself. It used to be such a module for Astronomy v1 but it wasn't perfect and considering a number of different relations and structures I've decided to let the developer decide how to fetch related documents.

[2017-06-17 15:23] manuelro commented on #618
Got it. Thanks for the advice.

[2017-06-17 15:25] #618 closed, assigned to nobody

[2017-06-17 19:43] manuelro opened #619 "Using empty array as type"
Astronomy does not seem to support an empty array ([]) as a type, nor a array of arrays ([Array]). Is there any way to achieve this?

[2017-06-17 19:55] manuelro commented on #619
SOLUTION: An array is also an object. The following code will do the trick:

[code]

[2017-06-17 19:55] #619 closed, assigned to nobody

[2017-06-17 22:13] Lukasvo opened #620 "Accessing updated object after modification via meteorMethod"
Hey jagi,

This is probably a noob question, for which I am sorry...

I have a meteorMethod in which I modify some fields and save the object. Let's take the [rename() method from the documentation](http://jagi.github.io/meteor-astronomy/#meteor-methods--220) as an example. After calling this method from the server, the object is being modified and saved to the database, but that doesn't reflect i

[2017-06-18 08:21] lukejagodzinski commented on #620
What are you probably looking for is the `user.reload()` method which you have to call after executing the `user.rename()` method. It's because the `rename` method does not cause the original `user` object to be "reloaded" from the database. You have to do it by yourself.

[2017-06-18 11:57] Lukasvo commented on #620
Damn. I should've known that. Thank you!

However, I must be doing something wrong. The object hasn't changed after calling .reload(), even when I call it in the callback of the method. I'm 100% sure it was persisted to the database (the result from the callback is also an id, as expected). Same problem when calling the method on the client. I'll keep searching and post here when I found what's ca

[2017-06-18 12:44] lukejagodzinski commented on #620
Share the code that is not working then maybe I will be able to help you

[2017-06-18 20:15] Lukasvo commented on #620
Ok, thanks man. Here's the version where I call from the client:

both
[code]

server
[code]
client
[code]

[2017-06-18 21:37] lukejagodzinski commented on #620
First of all the default value for the `invoices` field should be:

[code]

maybe that's a problem. Besides that, did you make sure that you're publishing and subscribing to all necessary data? Your code looks ok.

I'm also not sure how Astronomy will behave when you're passing docs as props of blaze templates (`Template.currentData()`). Try not using it and instead just findOne a doc a check if i

[2017-06-18 22:52] Lukasvo commented on #620
Thanks for pointing out my mistakes. I fixed the default empty array, made sure everything's published and subscribed and tried it out without `Template.currentDate()`, but it's still not working unfortunately.

[2017-06-19 07:54] lukejagodzinski commented on #620
I don't know if it's a problem with pasting the code here on GitHub but you probably have a bug in an event handler. It shouldn't even run your project with this bug but please make sure that you have the correct amount of parenthesis:

[code]

[2017-06-19 10:31] Lukasvo commented on #620
Yeah, the parenthesis were the result of copy-pasting indeed.

What I did to test out without `Template.currentData()` was to make a new Reservation and call the method on that directly (because the db is empty until this point). That didn't work. I now tested it again by first saving the new Reservation, getting it from the database with findOne and then calling the method, and now .reload() work

[2017-06-19 10:43] lukejagodzinski commented on #620
Yes you're right. I've fixed it.

I've made a reproduction and it works but without using Template.currentData().

You've only been talking about update operation previously. What effect do you want to achieve on insert?

[2017-06-19 11:21] Lukasvo commented on #620
Oh, sorry if that wasn't clear.

A user can choose between a list of possible Reservations (= all Astronomy classes that are not inserted in the db yet). My intention was to only insert the reservation that the user chose. So when he clicks on one reservation (.js-book), the "addInvoice" method is being called where an invoice is added to Reservation.invoices and where the Reservation is inserted.

[2017-06-19 12:25] lukejagodzinski commented on #620
I don't understand your use case. But from what I understand you're trying to add an invoice to the reservation that is not yet inserted into DB, which is wrong-  you can't do so. You should probably prepare Meteor method that would insert reservation and invoice in one step. But it's not related to this issue. So I'm closing this as the main issue is solved. It wasn't reflecting changes because y

[2017-06-19 12:25] #620 closed, assigned to nobody

[2017-06-20 12:09] Genroa opened #621 "Map custom type problem"
Hi again!

I tried to implement a new Type in Astronomy, for JS Maps:

[code]

If I use the cast function to display the field value in my document, it display "Map {}". No problem here. But when on clientside I call findOne on a document, and then display the type of the field, it displays "Object{}". That's a real problem, because of that, I can't iterate correctly on it, nor call get, set, dele

[2017-06-20 12:13] Genroa commented on #619
There is a way : custom types. You can easily define Array as a custom type. :)

[2017-06-20 13:31] lukejagodzinski commented on #621
If you take a look at this line: https://github.com/jagi/meteor-astronomy/blob/v2/lib/core/class.js#L157 you will see what's happening when we create a new class.

[code]

We register a new type an provide as the `class` property the `Class` constructor. And what is `Class`? `Class` is an Astronomy class that is EJSONable. And `Map` is not EJSON able. You have to create wrapper around Map that wou

[2017-06-20 17:44] Genroa commented on #621
Thanks for the quick reply. Maybe Astronomy could provide wrappers or custom types for the now standard Javascript types like Map, Set, ... ? I could try to do a PR if you want. :) or maybe it has been designed this way?

[2017-06-20 18:26] lukejagodzinski commented on #621
Hmm maybe I could implement it. I don't know if there is a high demand for
that. Maybe there is a way you could implement solution to your problem in
a different way? Could you tell me more about your use case?

On Jun 20, 2017 7:44 PM, "Genroa" <notifications@github.com> wrote:

[2017-06-20 18:57] Genroa commented on #621
I'm currently a miniature's wargame army list builder, and obviouly, the Army object representing an army list contains Units. Theses units can't be in an Array field like [Unit], because if you are browsing to a url of this kind /edit/[unit_position] and the array changes (positions are changed or you add/remove a Unit from it), the whole interface would refresh. But unless you delete the unit, i

[2017-06-22 08:12] lukejagodzinski commented on #621
Provide some example, I don't understand description of your problem.

[2017-06-23 09:24] Genroa commented on #621
Example:

[code]

And looping over key/values is easy, and you can loop over pairs easily, in a clean way. Right now, I have to do this:

[code]

Not the cleanest nor fastest way to do it. And for Sets, I have to hack it even more

[2017-06-24 15:47] Deadly0 opened #622 "lodash takes a lot of space in production bundle"
http://take.ms/bxV7P
Full lodash takes 71kb in the bundle. I guess you can import certain functions you are using in astronomy from NPM https://www.npmjs.com/search?q=lodash&page=1&ranking=optimal

Thank you for your job!

[2017-06-24 16:13] lukejagodzinski commented on #621
It would have to serialize and deserialize data on saves and reads which is not the best idea. MongoDB is supposed to store plain data not serialized Maps. EJSON which could serialize (stringify) Maps if properly extended is not intended to be used to store data in MongoDB. Astronomy could have a feature for converting maps to plain objects and later back to Maps but it would have to be one more s

[2017-06-24 16:13] #621 closed, assigned to nobody

[2017-06-24 16:35] lukejagodzinski commented on #622
Yes, I know that. I've been planning to decrease Astronomy size by using `import get from 'lodash/get'` and similar. There is no need to import separate packages. But there are around 120 files with lodash imports so it's a lot of refactoring. But I will take time to do so.

[2017-06-24 16:59] Deadly0 commented on #622
@jagi Thank you!

[2017-06-24 17:36] lukejagodzinski commented on #622
I've been able to decrease sizes but not a lot:
`lodash`: from **71.3 kB** to **45.7 kB**
`Astronomy`: from **192 kB** to **169 kB**
I'm using `lodash` extensively so it's hard to limit bundle size by omitting not used functions.

I will publish a new version in a moment.

[2017-06-24 18:00] #622 closed, assigned to nobody

[2017-06-24 18:06] lukejagodzinski commented on #622
I've release v2.4.5

I could probably not use `lodash` at all but it would require a lot of rewriting. Maybe in the future.

[2017-06-26 16:39] Faberle opened #623 "Call methods on the super (parent) class"
I would like to call the method of the super class.
e.g.
[code]

[code]
Now X should have `superSpecialHostedImageSomething = true` as well as `specialImageSomething = true` and  `something = true`.

How do I do that?

Thanks in advance

Christian

[2017-06-26 21:27] lukejagodzinski commented on #623
Unfortunately, it's kinda tricky to do but it's possible. Here is an example of how to achieve that:

[code]

[2017-06-27 11:45] iMagdy opened #624 "[Feature Request] Relations?"
Is there any plans to support relations?

Example:
[code]

Then from orders Model, maybe reach the user info by doing:

[code]

`Order.user` is based on `user_id` .. `Order.{{identifier}}` without `_id`

I know this can be done by using Helpers:

[code]

Then (function vs prop):

[code]

However, you'll repeat this every time you there's a relation, thoughts?

[2017-06-27 13:34] lukejagodzinski commented on #624
There used to be relations feature in v1 but I've removed that because it was causing a lot of problems. It's quite easy to implement some helper functions that can do the job, so it's a developer's job to implement that.

[2017-06-27 13:34] #624 closed, assigned to nobody

[2017-06-28 08:10] Faberle commented on #623
Thank you! I think it would be cool to have this in the guide

[2017-06-28 09:15] lukejagodzinski commented on #623
Right I will add that to the docs

[2017-06-28 09:15] #623 closed, assigned to nobody

[2017-06-28 20:25] lobosan opened #625 "Enum error: values is not a function"
Hi, I was following your video and working with meteor 1.5 but when I added the Enum functionality I got this error:
[code]

My code for /imports/classes/User.js is as follows
[code]

[2017-06-28 22:00] lukejagodzinski commented on #625
Ahh sorry indeed, I've introduced a bug in the latest version. It strange that my tests didn't show anything. I have to create additional tests for that feature. I will fix it and deploy a new version of Astronomy.

[2017-06-28 23:10] #625 closed, assigned to nobody

[2017-06-28 23:12] lukejagodzinski commented on #625
Issue fixed in 2.4.6. Sorry for introducing this bug

[2017-06-29 12:49] Genroa opened #626 "How is inheritance managed with requests"
Am I right about this : when you defined this set of classes:

[code]

And then you create a set of objects, BaseClass and Child instances.
[code]

And then when you request a set of objects using BaseClass.find({...}), you get instances, but what do the call to the method dummyFunction does?

If I'm not mistaken, considering the what I tried, it always execute the parent Class dummyFunction. Am I

[2017-06-29 12:57] Genroa commented on #626
Nevermind, the documentation changed since last versions or I missed the typeField thing, now I get it. Sorry for that.

[2017-06-29 12:57] #626 closed, assigned to nobody

[2017-06-29 13:21] lobosan commented on #625
Excellent, now everything is working as expected!

[2017-07-01 10:09] guma44 opened #627 "Updating objects in meteorMethods"
Hi,
I encountered strange behavior (at least in my opinion). I have a collection for which I have a saveItem method defined in meteorMethods. It is simple:
[code]

On the server I have a code:

[code]

The `set` method is working well and first logging of `item.getModified()` shows `['Name']`. However, in `saveItem` meteor method `this.getModified()` shows empty list and (obviously) the item is no

[2017-07-01 13:57] lukejagodzinski commented on #627
Yes, it's a bug. I'm working on fixing it. I've already fixed it but I have to make sure that it didn't break anything. I will probably publish new version later today.

[2017-07-01 14:33] guma44 commented on #627
Thanks :)

[2017-07-01 20:25] #627 closed, assigned to nobody

[2017-07-01 20:31] lukejagodzinski commented on #627
Fixed in 2.4.7

[2017-07-02 07:01] guma44 commented on #627
I tested it and it's working.

[2017-07-03 16:28] mike-spotible opened #628 "Embedded Objects"
I have been using Astronomy to deal with validation and behavior of models, and it has been very helpful. However, I am having trouble understanding how to implement embedded objects, and the documentation is somewhat sparse on this topic.

Specifically, I would like to have embedded objects whose fields could be validated against a schema and have "helper" functions, and an embedded object within

[2017-07-04 06:40] lukejagodzinski commented on #628
You should start from taking a look at the example repository here https://github.com/jagi/meteor-astronomy-examples. It should answer all your questions. Let me know if it helps

[2017-07-05 16:07] mike-spotible commented on #628
That was exactly what I was looking for. Thank you pointing me in the right direction.

[2017-07-07 11:22] s7dhansh opened #630 "v2.4.7 bug - Calling meteorMethod fails one new doc when initialized with _id"
If I do something like,
[code]

I get an error,
[code]

I am doing this only on server, so not sure if it happens on client.

This works when I use `u= new Test()` instead of `u = new Test({_id: Random.id()})`.

[2017-07-07 12:40] lukejagodzinski commented on #630
Hmmm, I've been recently improving how Meteor methods work in Astronomy and I might introduce a bug. I will take a look at it later today.

[2017-07-07 14:06] #604 closed, assigned to nobody

[2017-07-07 17:00] davidsavoie1 opened #631 "Cannot read property 'apply' of null with local collection and meteorMethods"
Hi,

I'm trying to develop an application where my collections are local only, and grounded. Here's an example:
[code]
The problem is that if I declare a method in the meteorMethods of a Class linked to this collection, I get this error message when I call it from the client:
[code]
If I declare my method in a standard Meteor Method however, and call it like so:
[code]
everything works fine. Also,

[2017-07-07 17:21] davidsavoie1 commented on #631
The workaround I've found for the moment is to use plain `helpers` instead of `meteorMethods` so Meteor doesn't try to execute anything server-side. For my use case, it's probably all very well, but I'm still wondering if there would have been another solution.

Thanks for the helping hand!

[2017-07-08 19:00] #630 closed, assigned to nobody

[2017-07-08 19:04] lukejagodzinski commented on #630
Bug fixed in 2.4.8

[2017-07-08 19:22] lukejagodzinski commented on #631
Hey, could you create reproduction repository? I've never been using grounded collections, so don't know right now why it's not working. There is a need for having connection object in the collection.

[code]

As you can see in this code, if there is not connection object in the collection then it falls back to `Meteor.connection` so, in theory, it should work. But in your case it looks like there

[2017-07-11 07:09] s7dhansh opened #633 "v2.4.7/8 bug"
I am not sure what exactly is causing this. Will try to figure it out when I get some time.
In the meanwhile, if you can get something out of this error, it would be great!

The same code works fine with 2.4.6. `setSeriousness` is a meteorMethod in a collection and the same Class has an afterSave event, which seems to be triggering this error.

[code]

[2017-07-11 08:12] lukejagodzinski commented on #633
It's hard to tell without reproduction. It looks like the problem is in the `meteor-promise` package.

[2017-07-11 13:27] s7dhansh commented on #633
The problem arises due to a recursion happening when I run a meteorMethod in afterSave which saves the same document. It happened when I created a new document, after which afterSave ran, modified the doc and then went into an infinite loop.

I am not sure if it is a bug or a problem with my code. But somehow, this code had no issues earlier. Still, I secured my code by moving the change on `after

[2017-07-11 13:27] #633 closed, assigned to nobody

[2017-07-14 20:45] davidsavoie1 opened #634 "isModified is not a function"
I'm sorry if it's obvious, but I can't find what's wrong here with my class named Service.
[code]
If I execute this code, I get this error:
[code]
If I inspect my class object printed to the console, I do see in the class `__proto__` some functions as `raw`, `validate`, `set`, etc. but I don't see functions such as `isModified`.

From my understanding of [the documentation](http://jagi.github.io/m

[2017-07-15 07:27] lukejagodzinski commented on #634
It's only true for classes that have collection attached to it, so that's why you don't see this method.

[2017-07-17 15:56] davidsavoie1 commented on #634
Aaaahh! That explains a lot! Thanks for the info! Is it indicated somewhere in the docs? I haven't seent anything about it...

[2017-07-17 18:26] lukejagodzinski commented on #634
No, I think documentation doesn't mention it. It would be great if you could make a PR and add proper info.

[2017-07-19 12:46] davidsavoie1 commented on #631
I'll try to make a repro soon... Sorry for the delay!

[2017-07-19 12:47] davidsavoie1 commented on #634
I've never done that before, I'll see what I can do to contribute!

[2017-07-19 20:59] lukejagodzinski commented on #634
I can help you with that :) it's not difficult. There is the [`gh-pages`](https://github.com/jagi/meteor-astronomy/tree/gh-pages) branch in which you have all the documentation. In [this](https://github.com/jagi/meteor-astronomy/blob/gh-pages/_includes/v2/key_concepts/setting_and_getting_values.md) file you have a description of the `isModified` method. So you can just modify this file and create

[2017-07-28 18:25] james1293 opened #636 "Required (and possibly other validators) not working on update"
### How to reproduce:

[code]

Create `/imports/posts.js` with this content:
[code]

in server/main.js, add this line:
[code]

in client/main.js:
[code]

### Expected behavior:
`p2` is not allowed to be saved because fields are required by default, so `undefined` should not be allowed to be saved. In other words, `.save()` should throw.

### Actual behavior:
Modification of the document fails, but

[2017-07-28 18:35] james1293 commented on #636
Also, in case anyone else is having this problem, here's a workaround:
[code]

[2017-07-30 18:13] lukejagodzinski commented on #636
You set `secured` to `false`. Have you tried with this flag set to `true`? Could you also create reproduction repository?

[2017-08-03 18:37] bduff9 opened #637 "Possible to get current doc on Before events"
I have a schema set up where anytime someone fully completes registering (as there are 3 separate parts to it with the final being an admin approval) there are many things Mongo-side that need to be completed.  I see in events where I can listen to the before save event, however the event only has the new doc in it.

I do not want to run this code every time a user is updated as it can take a litt

[2017-08-04 08:43] lukejagodzinski commented on #637
[code]

[2017-08-06 14:33] lidorcg opened #638 "this is not up-to-date on setTimeout calls from within methods"
hello,
I have this piece of code in a model's method:
[code]

[code]

The problem is when `questionEnd` finally runs it has the old `this` from when I set the timeout.
This is not up-to-date when `questionEnd` is called.

the problem began lately and duo to an update we suspect (meteor's or astronomy's)

[2017-08-11 03:55] davidsavoie1 commented on #571
Hey @jagi and @arggh thanks for this really interesting conversation! I really liked to get both your viewpoints on how to handle document updates via events vs meteorMethods. Very insightful! Any development in this matter, anyway?

[2017-08-14 17:04] ArthurGerbelot opened #639 "Optional number didn't check gt validation"
Hi,

This is a field validation for a Number:
[code]

But if I put width to `-2`, no error are fired.

[2017-08-16 10:15] lidorcg commented on #638
I want to correct the issue, the problem seems to be global to the `helpers`, when i try to read from a document with the helpers in the tests I don't the most up-to-date data, unless I query using the collection from the helper itself.

[2017-08-21 07:57] #638 closed, assigned to nobody

[2017-08-21 08:50] lukejagodzinski commented on #571
You should use Meteor method whenever it's possible. The documentation describes that using events is like using allow/deny rules in pure Meteor. So if you have any doubts, then just use meteor Methods.

[2017-08-21 09:03] lukejagodzinski commented on #639
@ArthurGerbelot can you create reproduction repository? After I've checked source code I think it's very unlikely to happen but would like to confirm it by checking reproduction repository.

[2017-08-24 09:17] ArthurGerbelot commented on #639
@jagi this is a reproduction repository: https://github.com/ArthurGerbelot/astronomyvalidator

I made some example:

Validation on required String work fine
![1](https://user-images.githubusercontent.com/8027826/29660616-c2ea2b94-888f-11e7-8dd3-fa502957a1d2.png)
![2](https://user-images.githubusercontent.com/8027826/29659074-0ef1b066-888b-11e7-9741-43dc4ae6149d.png)

When I put a negative number,

[2017-08-31 03:48] samuelandert opened #641 "Nested fields on Class.find() gives no results"
I tried to make a nested find publication on the server for the users collection. If I use astronomies find() method, it doesn't find the query result:
`AstronomyClass.find({'field.nestedKey' : true})`

whereas the build in Collection.find() methods works:
`Meteor.users.find({'field.nestedKey' : true})`

[2017-08-31 07:05] samuelandert commented on #641
Nevermind, it was an unrelated different bug in my code

[2017-08-31 07:05] #641 closed, assigned to nobody

[2017-09-03 20:09] Lukasvo commented on #617
Hi all

I've experimented somewhat with i18n. The transform function was a good idea, jagi, but I decided to move it to the Collection creation so I could also use Astronomy helpers etc. on the server.

[code]

Note that classes using inheritance won't work properly with this approach (they'll be instances of the parent class). A switch case choosing the right constructor based on the doc's typeFi

[2017-09-05 09:52] lukejagodzinski commented on #639
The field definition should be:
[code]

not

[code]

`validators` instead of `validator`. In the future, please read documentation carefully

[2017-09-05 09:52] #639 closed, assigned to nobody

[2017-09-09 03:46] james1293 commented on #70
Did this ever come to fruition?

I'm considering writing a (basic) Astronomy schema to JSON schema converter because there's a [Typescript tool](https://www.npmjs.com/package/json-schema-to-typescript) that I'd like to use which expects the JSON Schema style.

[2017-09-11 10:55] antoninadert opened #642 "Defer Astronomy loading"
Hello there,

I tried to add Astronomy in my project, I then used the bundle-visualizer and to my surprise Astronomy weights 173kB (that's a lot) in my project.

The thing is that I didn't even import it anywhere, it is just automatically included in the build.

Is there any way for me to control the load of Astronomy (using dynamic imports for example) ?

I hope you have a solution for that.

Reg

[2017-09-12 15:04] arggh opened #644 "Strange behavior when saving arrays with undefined values"
If I try to save my Astronomy document with an array like this `var a = [undefined, undefined, 'foobar', undefined]`, only the two last entries will be saved, resulting in `['foobar', undefined]`.

Reproduction:

https://github.com/arggh/astronomy-array-issue

### How it works:

1. Run `meteor`
2. Observe the type of array we are about to save (displayed on page for convenience)
3. Click the Save

[2017-09-12 15:37] lukejagodzinski commented on #70
Currently I have no plans to implement this feature, but if you want to try, then such a contribution is more than welcome :)

[2017-09-12 15:39] lukejagodzinski commented on #642
Hi, for backward compatibility it's using automatic import feature from earlier Meteor's versions. So even though it's working with imports it's still using old import feature which makes it load on Meteor start up. I might deprecate older Meteor versions in the newest Astronomy version.

[2017-09-12 19:32] lukejagodzinski commented on #644
@arggh Yep, indeed there is a bug. Thanks for noticing it. I've already fixed it and I will release a new version that fixes that.

[2017-09-12 19:36] #644 closed, assigned to nobody

[2017-09-12 19:40] #642 closed, assigned to nobody

[2017-09-12 19:46] lukejagodzinski commented on #644
Fixed in Astronomy 2.5.0

[2017-09-12 19:47] lukejagodzinski commented on #642
It should be fixed in Astronomy 2.5.0. Let me know if it still loads entire Astronomy package even without a single import statement.

[2017-09-12 22:34] antoninadert commented on #642
Sure ! By the way any resource on how to use the best of astronomy and grapher to make something really fancy ?
Maybe there are overlaps between the two that are not necessary

[2017-09-13 06:49] arggh commented on #644
I confirm the issue is now fixed, thanks! 👍

Btw, is this the "correct" way to define a field, which holds an Array of mixed nulls/undefineds  and Strings? (with no validation yet for actually having only nulls/undefineds or Strings obviously)

[code]

[2017-09-13 08:03] lukejagodzinski commented on #644
Actually, there is no official way of doing it but if it works in your example then it's ok. In fact, an array is just an object so it should work properly.

[2017-09-13 08:11] arggh commented on #644
It works, it just looks a bit _hacky_ so I was wondering if I had missed something in the docs.

Maybe it could be a good idea to consider one or many of these solutions:

- Possible to define multiple types for an Array eg. `type: [String, null, Boolean]`
- Possible to define the specified type as _optional_, meaning, it can also be `null` or `undefined`
- Possible to define Array containing _any

[2017-09-13 13:20] lukejagodzinski commented on #642
Never used grapher so I don't know.

[2017-09-13 13:23] lukejagodzinski commented on #644
It is actually possible using [unions](http://jagi.github.io/meteor-astronomy/v2#union-type)

That would be the best solution. It would be similar to what we have in GraphQL. However, it would require entire redesign of the types system in Astronomy.

That actually might be the easiest one to do. Will think about implementing it.

[2017-09-17 09:19] derwok opened #645 "Astronomy throws exception when upsert is used with Meteor 1.5.2 (LocalCollection._removeDollarOperators is not a function)"
It seems astronomy is not compatible with current Meteor 1.5.2

After we upgraded our project (https://www.4minitz.com) from Meteor 1.5.1 to 1.5.2 we suddenly get crashes when using upsert like so:

[code]

Here comes exception text (caused by astronomy)
[code]

With Meteor 1.5.2 we saw this exception on astronomy current version 2.5.0 and even on the older 2.4.8. We used astronomy 2.4.8 together

[2017-09-17 11:07] lukejagodzinski commented on #645
It's not Astronomy bug, it's Meteor bug. I'm not using the `_removeDollarOperators` method so probably it was removed and is still used somewhere in Meteor in LocalCollection. I'm only using the `LocalCollection._modify` function which is probably using somewhere `_removeDollarOperators` https://github.com/jagi/meteor-astronomy/blob/v2/lib/modules/storage/utils/apply_modifier.js#L18.

Maybe right

[2017-09-17 11:10] derwok commented on #645
I checked the callstack above once more.
This seems the problematic line in astronomy:
https://github.com/jagi/meteor-astronomy/blob/04e8e24153b36243731265a77ced51aa86ce3ffd/lib/modules/storage/utils/class_upsert.js#L83

[2017-09-17 11:28] lukejagodzinski commented on #645
Let's keep it open as I will investigate it anyway. In theory, I shouldn't use private methods in Astronomy but I had to. Maybe there is the other way of doing it right now, so it would be good to use it. However, I'm a little bit worried about backward compatibility.

[2017-09-18 16:53] martinhbramwell commented on #645
I just now attempted upgrading to ```METEOR@1.6-beta.27```

      TypeError: LocalCollection._removeDollarOperators is not a function
      at classUpsert (packages/jagi:astronomy/lib/modules/storage/utils/class_upsert.js:83:43)
      at Function.upsert (packages/jagi:astronomy/lib/modules/storage/class_static_methods/upsert.js:50:18)
      at Function._AccessControl.upsertRecord (lib/access_contr

[2017-09-19 10:43] lukejagodzinski commented on #645
I will test Astronomy with Meteor 1.6 this week and let you know if I have
some solution for that

On Sep 18, 2017 6:53 PM, "Martin H. Bramwell" <notifications@github.com>
wrote:

[2017-09-20 15:04] martinhbramwell commented on #645
I'd be very grateful.  My 1.6 upgrade attempt is on hold because of it.  I'd rather not have to switch to ```simple-schema```  :-(.

[2017-09-20 17:45] lukejagodzinski commented on #645
Ok, I see that you're talking about two different versions. I've tested Astronomy with Meteor 1.6-beta.30 and it works properly. So for all of you who are trying Astronomy with Meteor 1.6 beta please update your project to beta.30. If it goes about Meteor 1.5.2 it looks like it's a bug in Meteor so I don't recommend this version but I will investigate it further.

[2017-09-20 18:03] lukejagodzinski commented on #645
@derwok I've tested Astronomy also with Meteor 1.5.2 and it works properly. Are you sure that you're not using some other package that could mess with Meteor internals? The commit you've been talking about is for Meteor 1.6

[2017-09-21 00:29] martinhbramwell commented on #645
Hi @jagi
So I tried with beta.30 and still have the same error. :-(

[2017-09-21 19:26] lukejagodzinski commented on #645
Sorry, my bad. Indeed, I'm using this function and it's not working in both 1.5.2 and 1.6. I will prepare a fix. Let you know when it's ready.

[2017-09-21 19:37] #645 closed, assigned to nobody

[2017-09-21 19:40] lukejagodzinski commented on #645
Ok, should be fixed in 2.5.1. Please check and let me know if it works.

[2017-09-21 20:24] derwok commented on #645
Thx! I'll give it a try as soon as possible. Will report here!

[2017-09-21 21:13] derwok commented on #645
You're DA MAN! All our Meteor 1.5.2 Tests are green for the first time.
Yieeha!

![grafik](https://user-images.githubusercontent.com/4393698/30719004-3223b950-9f22-11e7-9122-ecfcd42d3204.png)

https://travis-ci.org/4minitz/4minitz/builds/278350531

Thanks a lot, jagi!

[2017-09-22 07:26] lukejagodzinski commented on #645
No problem :)

[2017-09-23 16:15] arggh commented on #568
Bumped into this issue again: Calling `doc.reload()` doesn't seem to solve the issue: the update doesn't hit the database.

This would be awesome:

[code]

[2017-09-24 14:12] lukejagodzinski commented on #568
Can you make reproduction repository because I don't quite understand your problem

[2017-09-24 14:23] arggh commented on #568
Sure, I'll provide a repro, but just in case, here's a more thorough explanation:

_Imagine my app has a slider component._

Slider can have values between 0 ... 100. Whatever value it's set at will be saved to a document on  database, but I also want to reflect the change in real time on the page. That's what the `onChange` callback is for.

While the slider is being slided, to prevent my DB from

[2017-09-26 00:22] martinhbramwell commented on #645
I confirm that I am back happy; running Meteor 1.6-beta and Node 8.5. Yoo Hoo!

Thanks for the super fast response.

[2017-09-26 11:55] lukejagodzinski commented on #645
@martinhbramwell good to hear. No problem :)

[2017-09-26 12:12] lukejagodzinski commented on #568
Ok, now I see what is the problem. You're not doing it correctly. First, you shouldn't modify private `_collection` property as it will not only mess with Astronomy but Meteor too. What you're trying to do is only modify the local state of the component and only propagate changes to the server when you stop moving the slider. If you would do that in let's say React, then you would use a state for

[2017-09-26 12:20] arggh commented on #568
I do acknowledge there are many ways to implement the scenario explained above with Meteor, some more correct than others :)

I'm using a local collection myself in the case I described since Astronomy doesn't have the `forceUpdate`-flag, but I thought having that said flag might prove to be useful, not just in this specific scenario!

For example, I can never be 100% sure my collection on client

[2017-09-26 12:23] lukejagodzinski commented on #568
Yep, such a feature might be handy in some scenarios. Maybe I will implement it next week if I have time for that :)

[2017-10-05 12:07] pysingh09 commented on #194
I'm getting the same error. I'm running the below code in a single file.

[code]

Getting the below error.

TypeError: Class.create is not a function
    at meteorInstall.colllections.collections.js (colllections/collections.js:23:20)
    at fileEvaluate (packages/modules-runtime.js:333:9)
    at require (packages/modules-runtime.js:228:16)
    at /home/psingh/hom/hom-backend/.meteor/local/build/p

[2017-10-05 12:25] lukejagodzinski commented on #194
@pysingh Is this an entire code in the file? The error says that the bug is in the `collections.js` file in the line number 23. Is the line `const Post = Class.create({` the line number 23? Are you sure that error comes from this file?

PS. Please, format your code properly when posting an issue on GH. I've already fixed it but wrong formatting makes it really hard to read a code.

[2017-10-06 06:44] pysingh09 commented on #194
@jagi Yes, the entire code is in a single file. [here](https://github.com/jagi/meteor-astronomy/files/1361727/collections.txt) it is. (please rename the file to collections.js)

Please let me know if you need anything else.

Thanks

[2017-10-06 07:27] lukejagodzinski commented on #194
You have a bug in your code. You're redeclaring the `Class` variable:

- `Class = new Mongo.Collection('class');`
- `import { Class } from 'meteor/jagi:astronomy';`

Remove the first line

[2017-10-06 14:32] lukejagodzinski commented on #568
Fixed it in version 2.5.2. Now you can write `doc.save({ forceUpdate: true })` when updating a document.

[2017-10-06 14:32] #568 closed, assigned to lukejagodzinski

[2017-10-06 16:24] tylershuster opened #646 "import returning Symbol, preventing inheritance"
I have a file, `user.js`, let's say it looks like:

[code]

I have a second file, `volunteer.js` which defines a type of user. It looks like this:

[code]

When I run Meteor, and I've verified that no dependencies other than Meteor and { Class } are loaded first, I get the message `TypeError: User.inherit is not a function at volunteer.js` and logging the imported `User` yields `{ [Symbol(__esModu

[2017-10-06 16:29] tylershuster commented on #646
Let's pretend this never happened.

[2017-10-06 16:29] #646 closed, assigned to nobody

[2017-10-16 15:46] pepijnverburg opened #647 "Default value of field with type Object is referenced instead of copied"
Hi there,

This took some time to figure out, but apparently when a schema is created the 'default' value of a field with type 'Object' is passed by reference to each of the documents fetched where this field was not set.

For example the following definition:
[code]

All documents when fetching the cars with all 'wheels' undefined will have the same object set by reference. I think the default va

[2017-10-17 08:57] lukejagodzinski commented on #647
Hi,

From documentation:

[code]

[2017-10-18 14:39] pepijnverburg commented on #647
Hi there,

Thanks for the reply! Totally missed that in the documentation. Thanks & closed :)

[2017-10-18 14:39] #647 closed, assigned to nobody

[2017-10-20 14:41] arggh opened #648 "forceUpdate-flag breaks authorization with insecure Classes."
When my class is not secured and I try to update a document from the client using `{ forceUpdate: true }`, my Astronomy event-based authorization system fails (not allowing the operation when it actually should allow).

If I remove the `forceUpdate`-flag from the `save`-call, everything works as before.

Another way to "fix" it is to also apply `simulation: false` on the same `save`-operation.

Le

[2017-10-21 08:19] lukejagodzinski commented on #648
Yep reproduction would be handful :)

[2017-10-21 14:42] arggh opened #649 "Calling meteorMethod fails if document doesn't contain all fields"
I noticed a strange issue after updating to newest Astronomy.

One part of my app that I haven't touched in ages wasn't working anymore.

It's a simple scenario, where I fetch my data with only some of the fields included.

[code]

Then at some point I would then call a `meteorMethod` on one of these documents, provided via Astronomy behavior (one I forked from your sorting-behavior).

It used to

[2017-10-21 14:46] arggh commented on #649
I have a strong hunch It's lurking somewhere here: https://github.com/jagi/meteor-astronomy/commit/f056af9fa12763b55b1765a3df105d70668e958a

[2017-10-21 14:58] arggh commented on #648
Actually, I think these two are linked: https://github.com/jagi/meteor-astronomy/issues/649

In my case where `forceUpdate: true` was causing issues I was also fetching only some fields of the documents (on the client), and also specifying which fields to save, like so:

[code]

I could fix the issue in three ways:

1. Remove `forceUpdate: true`
2. Remove `fields` attribute from the `find` method

[2017-10-21 15:16] arggh commented on #648
Still working on the reproduction, but I'm missing something...

[2017-10-21 15:31] arggh commented on #649
Ok, I figured out the cause in this case:

I had declared my "sort" -behavior like so:

[code]

If I add `userId` to the `fields` attribute when fetching documents, it works again.

This changed in `v2.4.7`, since before that it used to work without specifying the `userId` (aka. rootFieldName), as long as it was actually present on the client, or so it seems.

Here is the forked version of sort-be

[2017-10-21 17:28] arggh commented on #648
So, using `forceUpdate` just requires you to have all fields in the _actual_ document object you are updating, it's not enough to have them on the client. If `forceUpdate` is omitted, then all you need is the field you are updating.

[2017-10-22 18:11] lukejagodzinski commented on #649
You could actually extend definition by adding the `beforeFind` event and extend the `fields` option so that both the `orderFieldName` and `rootFieldName` are always included.

[code]

So I'm closing this issue as it's not related with some bug in Astronomy.

[2017-10-22 18:11] #649 closed, assigned to nobody

[2017-10-22 18:12] lukejagodzinski commented on #648
Please provide reproduction so I can easily work on a fix

[2017-10-23 10:18] arggh commented on #648
I will, sorry it's taking a while, I'm in a tight spot currently with work.

[2017-10-27 19:53] jadus commented on #622
Hi, I use lodash in my meteor app. Is there a way to bundle it just once ? For now I have it once in my node modules and once in astronomy's node modules.

[2017-10-28 07:12] lukejagodzinski commented on #622
@jadus I'm not sure about that but it used to include only one version of a package in previous Meteor releases but something might be changed from that time as recently I was able to use two versions of React in one project.

What you can do to check it out is use the same style of imports as I used in Astronomy. So instead of including it like `import _ from "lodash";` or `import { isString } fr

[2017-10-28 18:13] jadus commented on #622
Perfect ! Thanks a lot.

Le sam. 28 oct. 2017 à 09:12, Łukasz Jagodziński <notifications@github.com>
a écrit :

[2017-11-01 16:59] RileyDavidson-Evans commented on #580
@gantu I'm experiencing the same issue, how exactly did you resolve this ?

[2017-11-19 01:53] kahmali commented on #580
Just a note: This can also happen if you pass a malformed object as the options in an Astronomy class' `fields` definition. This happened to me while defining a custom Behavior. A field definition was missing the `type` property. Just wanted to mention it in case anyone else comes across the error and you're confident that you've imported everything correctly (in which case none of the solutions a

[2017-11-20 09:51] lukejagodzinski commented on #580
For anyone having this issue:
1. Make sure that your class is correctly constructed. The easiest way of doing it is by `consol.log` it and checking if it's a function (class). If not then you probably made some error when proving class definition.
2. If class is properly created and you still have this problem then make sure that order in which you defined classes is correct. When you're defining

[2018-01-11 08:06] s7dhansh commented on #427
How can I use `Union` for a string-or-array-of-strings field?

[2018-01-11 11:36] lukejagodzinski commented on #427
@s7dhansh such a possibility would violate what union type is. It shouldn't allow storing strings and array of strings in the same field. Your schema design is probably wrong.

[2018-01-18 15:18] dnish opened #650 "Hiding fields isn't working"
Hey,
I'm returning this array in one of my Meteor methods:

    return Video.find({status:'released'},{limit:500,fields:{md5:0}}).fetch();

The problem is that the md5 field is also part of each document, so the <code>fields</code> parameter doesn't seem to work on Astronomy? Is this  the normal behavior or did I something wrong?

[2018-01-18 20:01] lukejagodzinski commented on #650
Using the `fields` option will not fetch these fields from the collection but it astronomy documents field will still be present however its value will be undefined. It was required to make documents consistent with a schema. Maybe it was a wrong design decision but I can't do anything it now as it would be compatibility breaking change.

[2018-01-18 20:04] dnish commented on #650
Hey,
no, in my case the value is still available and not undefined. I've also the problem that when I query via the Mongo collection (without Astronomy):

    const Videos = new Meteor.Collection('videos');
    const videos = Videos.find({}).fetch();

    videos[0] instanceof Video // true

<code>Video</code> is the Astronomy class, but if I remember it right, I should get normal MongoDB document

[2018-01-18 20:08] lukejagodzinski commented on #650
If you have the default value set for that field that it will be populated. To turn off this behavior you have to configure Astronomy somewhere at the top of the dependencies tree. The best would be the `main.js` file or similar.

[code]

[2018-01-22 13:17] axelvaindal opened #651 "Apply Astronomy schema to multiple collections ?"
Hi,

I look for a particular functionality in the documentation and couldn't find anything.
Is there any way to apply Astronomy schema to multiple collections ?

My use case is the following :

I have a `users` collections (the Meteor embedded one in fact), with a `User` astronomy class with some helpers and behaviors.
Building the administration panel, I have to display a list of user (in the for

[2018-01-22 21:50] lukejagodzinski commented on #651
If you have class defined like this:

[code]

Then you can define two classes by extending it.

[code]

I don't know if it solves your problem but let me know

[2018-01-22 22:07] axelvaindal commented on #651
Hum, don't know if I made it wrong, but got some issue with your code.

I did this :

[code]

And got this error :

[code]

[2018-01-22 22:25] axelvaindal commented on #651
I managed to resolve the issue mentioned in my previous comment, but this still doesn't work.

It seems the extended class is undefined because the extend does not return the extended Astro class (at least in my code).
I tried to do this and it displays `undefined`:

[code]

Basically in your documentation, you do not get back the result of the extend considering you're extending for environment p

[2018-01-22 23:06] lukejagodzinski commented on #651
Sorry, I meant `inherit` not `extend` :) my bad

[code]

[2018-01-22 23:07] axelvaindal commented on #651
Looks like this is actually working with the following code:

[code]
Although this is working, there is much downside doing it this way :

- I need 3 classes with exactly the same behavior to achieve this instead of one
- The code is pretty messed up, with client and server side specific export and more.
- As before, the behaviors must be duplicated in both inherited classes as I cannot put them i

[2018-01-23 09:44] lukejagodzinski commented on #651
Currently it's not possible to add one class to multiple collections as there is a possibility to fetch documents from the collection by class name:
[code]
Which collection should it fetch documents from? It would require additional parameters or make find in both collections. That's not a good idea.

[2018-01-23 20:23] axelvaindal commented on #651
I understand.
Is it possible to look deeper in the behavior issue so I don't have to copy/paste behaviors in all my inherited classes ?
Because when I put the behaviors in the parent class, the inherit fails and I have this error in my server console :

[code]

[2018-01-24 18:28] lukejagodzinski commented on #651
Ok, behavior probably requires collection property to be set. In such a situation there is another way, maybe even more elegant.

[code]

[2018-01-24 20:35] axelvaindal commented on #651
Yes, this is it 🙂.
This way is working fine, although I feel unfamiliar with using `Object.assign`.
Is there any downside of this way of doing things (in terms of performance or usage) ?

If not, I will try to refactor my code to take this design into account and build collections handler and publication manager around this.

[2018-01-24 21:40] lukejagodzinski commented on #651
`Object.assign` is actually almost the same as `_.extend` from lodash or underscore. Of course you can use `_.extend` instead. There won't be any problem with performance when using it. So, feel free to refactor your code.

[2018-01-24 21:40] #651 closed, assigned to nobody

[2018-01-28 13:34] arggh opened #652 "Unable to save a document field with 'undefined' value"
This doesn't work:

[code]
If you replace `undefined` with `null` it works as expected. I have tried `forceUpdate` and defining the specific fields to update with `fields: ['title']` with no luck.

Reproduction: https://github.com/arggh/astronomy-undefined-issue

[2018-01-28 15:55] arggh commented on #652
The issue is in `/lib/modules/storage/utils/apply_modifier.js`.

[code]
#### What this does:

1. it applies the modifier to the `rawDoc`, which correctly doesn't have the removed field after calling `_modify`.

2. Then, the modified raw doc gets _applied_ or _set_ on the original doc, which still has the removed field intact...

3. ...which means, it never gets removed / unset, except momentarily

[2018-01-29 10:23] lukejagodzinski commented on #652
Hey, thanks for posting this issue. Indeed, there seems to be an error probably because of the change in how Meteor's `LocalCollection._modify` function works. I'm already working on the fix. It should be ready today.

You were almost right in how you've implemented your PR but there is already an utility function for what you've tried to do :)

[2018-01-29 10:41] lukejagodzinski commented on #652
Fixed in `jagi:astronomy@2.5.3`

[2018-01-29 10:41] #652 closed, assigned to nobody

[2018-02-02 00:57] emdagon opened #654 "New behavior: Author/createdBy"
Hey @lukejagodzinski! I don't know if this is a good way to let you know about (and share) a behavior I made recently.

https://github.com/emdagon/meteor-astronomy-author-behavior

It's pretty similar to timestamp, it adds an authorship reference to documents.

Thanks a lot for astronomy BTW, it's a major contribution!

[2018-02-02 11:00] lukejagodzinski commented on #654
Ok thanks for informing me. I will probably create section in the docs with the list of community behaviors/extensions

[2018-02-03 01:53] PedroACF opened #655 "update collection, $unset is not working"
Hi, i wanted to delete a field with the '$unset' option on the server side, but my code isn't working:
`meteorMethods(){
 unsetField(){
    MyCollection.update(this._id, {$unset: {fieldToDelete:''}})
}
}`
did i something wrong?

[2018-02-03 08:44] a4xrbj1 commented on #655
Agree with @PedroACF , same here this isn't working anymore:

`Groups.update({ _id: 'Q9DLXgQKJQdFZQq6k' }, {
        $unset: {
            temp: '',
        },
    });`

[2018-02-03 09:33] lukejagodzinski commented on #655
Did you update Astronomy version recently? Or tell me what version you are
using.

On Feb 3, 2018 9:44 AM, "Andreas West" <notifications@github.com> wrote:

[2018-02-03 09:41] lukejagodzinski commented on #655
I did a test and you have to update Astronomy version. In the newest one, everything is working properly.

[2018-02-03 09:45] a4xrbj1 commented on #655
2.5.2

This error want detected as only today I added a safeguard around it to
identify if a doc was updated or not.

That's how I identified it doesn't update at all.

Andreas

On Sat, 3 Feb 2018 at 17:33, Łukasz Jagodziński <notifications@github.com>
wrote:

[2018-02-03 09:50] a4xrbj1 commented on #655
Confirmed, updating to 2.5.3 solved the issue. You can close the issue and many thanks for the prompt answer @lukejagodzinski

[2018-02-03 12:59] #655 closed, assigned to nobody

[2018-02-03 22:34] PedroACF commented on #655
MyCollection.update (...) works correctly (v2.5.3), but the "save()" method does not work correctly with the $unset operator.

When I want to see the modifier with `getModifier()`, the result on the client-side is
`{$set: {"field1": "new value"}, {$unset: {"field2": ""}}}`
but on the server-side $unset disappears.

Is there any reason for this behavior?

[2018-02-04 13:33] lukejagodzinski commented on #655
@PedroACF I've tested it and it works so you're probably doing something wrong. Please, create reproduction repository so I'll be able to help you.

[2018-02-08 05:51] s7dhansh commented on #338
@lukejagodzinski was this changed sometime? I seem to have access to isModified, getModifiedValues etc  in afterSave.
Is it a standard behavior, and should we use them in after events?

[2018-02-08 05:54] s7dhansh commented on #654
@emdagon btw, there is a more detailed `meta` behavior if you need. We created it quite some time back. https://github.com/settlin/meteor-monorepo/tree/master/packages/astronomy-meta-behavior

[2018-02-08 06:53] lukejagodzinski commented on #338
@s7dhansh you can always access `isModified` and `getModifiedValues` methods from whatever event you want. The only difference is that in the `afterSave` event, the document is already saved so it will return a different value than in the `beforeSave` event. There was no change recently.

[2018-02-08 07:05] lukejagodzinski commented on #654
@s7dhansh it's already mentioned in docs

[2018-02-08 07:47] s7dhansh commented on #338
@lukejagodzinski oh! so only getting old values by `getModifiedValues({old: true})` will not work, but `getModifiedValues()` will give the list of modified values. Am I correct?

Also, `isModified` is true for only top level fields. So it will be true for `a` but not `a.b`, in after events. Can  you kindly explain this, I am a bit confused here.

[2018-02-08 08:38] lukejagodzinski commented on #338
@s7dhansh no, none of them, in the `afterSave` event, will work as they work in the `beforeSave` event. The state of the document changes after save so all the function will return different values.

[2018-02-14 22:35] dnish opened #656 "Property value has to be an instance of "Mongo.Collection""
Hey,
after updating to the latest Meteor version (and packages), I get the following error message:

[code]

This is how I've defined my collection:

[code]

[2018-02-14 22:39] dnish commented on #656
Just recognized that it has to be <code>new Mongo.Collection</code> since the latest update.

[2018-02-15 09:30] lukejagodzinski commented on #656
You've probably been using very old version of Astronomy. Meteor changed the way how we define collections https://docs.meteor.com/api/collections.html but for backward compatibility `Meteor.Collection` still works. Moreover `Meteor.Collection === Mongo.Collection` so it shouldn't throw an error even if you use `Meteor.Collection`, so the problem was probably somewhere else and just by accident yo

[2018-02-15 09:30] #656 closed, assigned to nobody

[2018-02-15 14:56] davidsavoie1 opened #657 "Single field validation as boolean"
Hi! I'm looking at ways to validate form inputs without having to rewrite all validation logic in the view itself (such as using [ViewModel validation](https://viewmodel.org/react#AdvancedValidation)).

[The `validate` method](http://jagi.github.io/meteor-astronomy/#validation) can be used on a single field with `class.validate('fieldName')`, but it doesn't return a simple `true`/`false` value tha

[2018-02-15 17:17] davidsavoie1 commented on #559
I do have the same type of problem...

**On the client:**
[code]
**On the server:**
[code]
I do get the callback response `Object {err: errorClass, res: undefined}` in the console, but only after I also get the actual error `Exception while simulating the effect of invoking '/Astronomy/execute'...`, as if I didn't catch it.

Whatever the `try... catch` implementations I use either on client or ser

[2018-02-15 17:43] lukejagodzinski commented on #657
@davidsavoie1 validation in Astronomy works the same way as Meteor methods so that when you do not pass callback function it will perform client simulation and return immediately without waiting for the server response. So what you can do is:

[code]

So it's quite easy to write helper function:

[code]

**USAGE**

[code]

Actually, it would be probably a good idea to have such a helper built in,

[2018-02-15 17:46] lukejagodzinski commented on #559
@davidsavoie1 create reproduction repository

[2018-02-15 17:48] davidsavoie1 commented on #657
Aaaah! Makes sense! OK, great, I'll try that out!
Thanks a lot for your time and effort, I really appreciate that!

[2018-02-15 17:51] #657 closed, assigned to nobody

[2018-02-15 18:35] davidsavoie1 commented on #559
@lukejagodzinski [Here it is!](https://github.com/davidsavoie1/AstronomyMeteorMethodsError). It's the first time a create a repo on Github for debugging, so tell me if there's anything missing!

In my previous post, I wrote that the class definition is on the server, but that's incorrect... It's actually defined in the `imports/api/Person/Person.js` file, which is imported in the UI files.

In the

[2018-02-15 19:03] davidsavoie1 commented on #657
This kind of helper seems to work, but for the record, an actual helper function would be more like so:
[code]
where `fields` is an array of fields. The simpler syntax `doc.validate(fieldName)` seems to validate other fields too!

Getting the actual error messages could be nice too, though... Here's an attempt:
[code]

However, although this function will return an error message for each invalid f

[2018-02-15 19:52] lukejagodzinski commented on #657
Yep, sorry it should be `validate({fields})`.
If it goes about validation error messages, take a look at how I've implemented it in this example repository https://github.com/jagi/meteor-astronomy-examples/blob/v2/client/templates.js#L101
Actually, I only care about the first error message and most users too. If you fix this problem, the next time validation happens it will throw another error and

[2018-02-15 20:04] lukejagodzinski commented on #559
@davidsavoie1 the repository is ok.
Your problem is in using `new Mongo.Collection('tests')` instead of `new Mongo.Collection(null)` for local collection. When you change that line of code, everything will start working. It's very common when using client only collection in Meteor to forget that it requires `null` as the first argument.

However, I see that there is a problem with lack of the `/As

[2018-02-15 20:41] lukejagodzinski commented on #559
@davidsavoie1 I'm trying to fix an issue that I've encountered when working with your reproduction repository and I've noticed that apparently there is some issue in Meteor. As when testing such a code in the browser console:

[code]

I get the following output:

[code]

It says that there is not `test` method but simulation works properly. Apparently, it's not possible to create client only Meteo

[2018-02-15 21:09] davidsavoie1 commented on #559
@lukejagodzinski OK, I get what you mean... I've adopted wrong pattterns because the last project I've done with Astronomy was a client only one. That's why I've declared everything in the client only.

I've modified the code [in the repo](https://github.com/davidsavoie1/AstronomyMeteorMethodsError) to ensure that the collection is defined both on the server and the client by importing the class i

[2018-02-15 22:13] lukejagodzinski commented on #559
@davidsavoie1 update Astronomy version to `2.5.5` and error should be gone. I was using a wrong utility function to execute Meteor method which didn't throw stub exception and instead it was logging it to the console as it's done by default in Meteor but it's not good for Astronomy.

[2018-02-15 22:15] lukejagodzinski commented on #559
@davidsavoie1 btw. thanks for the reproduction! It helped fix one more issue :)

[2018-02-15 22:19] davidsavoie1 commented on #559
Ah great! I'm really glad to know that I _do_ understand what I'm doing after all! 😆 Thanks to _you_!

[2018-02-16 12:34] davidsavoie1 commented on #559
@lukejagodzinski I just tried the repo code again with version 2.5.5 of Astronomy and I think there's still an issue (or again, maybe it's my understanding). I don't seem to catch and handle a thrown error even when using a callback. The error is considered `Uncaught`. The problem exists only if the method throws an error directly (but I guess it simulates a real unpredictable error, right?). Here

[2018-02-16 12:45] davidsavoie1 commented on #559
I added another test to see if I get the same kind of problem with regular Meteor Methods and I don't.
[code]
The error gets caught even with a directly thrown error. That's the behavior I'm expecting.
Updated repo. Thanks again!

[2018-02-16 21:08] lukejagodzinski commented on #559
Helpers do not take a callback function as the last argument. After my fix in 2.5.5 you can use Meteor methods safely on the client only collections, so what I said previously is no longer true. You don't have to use helpers. Helpers are actually designed for things similar to helpers in Blaze templates.

And yes there is still a bug I haven't noticed yesterday. I will fix it later today. It will

[2018-02-16 22:01] lukejagodzinski commented on #559
@davidsavoie1 fixed in 2.5.6

[2018-02-17 02:04] davidsavoie1 commented on #559
@lukejagodzinski *You're the best!* :wink: Thanks for the quick responses, I'll be enjoying Astronomy for a while in the coming weeks! And you're absolutely right about helpers not using error callbacks, I had overlooked this detail. And it's great that Meteor Methods can now be used with local collections. It'll be much clearer that way!

*Dziękuję bardzo*

[2018-02-17 10:02] lukejagodzinski commented on #559
@davidsavoie1 you're welcome :)

Hehe :)
*Proszę bardzo*

[2018-03-03 08:53] alexpricedev opened #658 "Question: Programmatically setting e.trusted"
Is there a way to set `e.trusted` manually for testing purposes?

[2018-03-03 09:04] alexpricedev commented on #658
Looking through the lib code it doesn't look like it... I'll override with NODE_ENV for now. Thanks for an awesome lib <3

[2018-03-03 09:04] #658 closed, assigned to nobody

[2018-03-04 15:19] lightpriest opened #659 "Forcing Meteor.users to use Astronomy"
I guess this is more of a general Meteor question, but is there a recommended way to force Meteor to use an Astronomy class for `Meteor.users`? I am switching from SimpleSchema to Astronomy, and what I'm missing right now is the ability to globally force field-level behavior on the collection.

For example, in SimpleSchema I made `profile.name` a required field and this worked regardless of where

[2018-03-05 09:31] lukejagodzinski commented on #659
It's not recommended to alter how users are fetched from the `Meteor.users` collection because it can interfere with other packages using this approach. So that's why we have hooks that we can attach to. However, if you really want to achieve that you can do following:

[code]

[2018-03-05 16:49] mazak opened #660 "Immutable field on a nested class"
I'm using a nested class with an _id field that I'd like to have be unique and readOnly. This is my setup:
[code]

Only the first element of the nested class added to the object is added with the _id field. Every object that I add more has the _id field absent, or removed if passed along in `new NestedClass({ _id: 'something' });`.
I've tried playing with setting different combinations of `optiona

[2018-03-05 20:22] lukejagodzinski commented on #660
Please, create reproduction repository so I can test it.

[2018-03-06 08:21] lightpriest commented on #659
I understand. I also don't like this approach (one of the reasons I'm switching away from SimpleSchema and collection helpers). This will also force me to configure the fields definitions for other packages as well.

Well, considering the only real reason is to keep `profile` in check (other fields are read-only, server-updated anyway), I guess it'll be simpler to use `User` class when I need to u

[2018-03-06 08:21] #659 closed, assigned to nobody

[2018-03-07 22:05] davidsavoie1 commented on #593
@lukejagodzinski I tried the solution explained here to create a `unique` validator I could use on specific fields. Here's the code:
[code]
However, when I execute code on the client which would create a duplicate, no error is thrown. I only receive a console message `Error invoking Method '/Astronomy/execute': code must be unique. [validation-error]` a little later, but no real error I could hand

[2018-03-08 13:31] lukejagodzinski commented on #593
@davidsavoie1 hmmm it might be hard to implement such a validator as they work synchronously and in that situation, you would have to call some server method to check uniqueness of the document being inserted. In your situation, the only way of doing it is just validating only on the server.

[2018-03-08 13:37] davidsavoie1 commented on #593
@lukejagodzinski Yeah, I thought about that yesterday and that's what I'll probably have to do: restrict methods that deal with the must-be-unique prop to server side only with `invocation.isSimulation` or something like that. Thanks anyway!

[2018-03-08 16:58] lukejagodzinski commented on #593
You can add server only validators by extending schema on the server:

[code]

[2018-03-08 20:58] davidsavoie1 opened #661 "async/await and Promises Meteor Methods"
Hi again! This one is more for general information...

I'm writing some of my Meteor code with async/await instead of callbacks where it makes sense and I must use [`didericis:callpromise-mixin`](https://atmospherejs.com/didericis/callpromise-mixin) to integrate with [`mdg:validated-method`](https://github.com/meteor/validated-method) and call them with `callPromise`. I thought for a while that I

[2018-03-09 00:20] lukejagodzinski commented on #661
I've never used these packages. Please, show some code where you're trying to implement such a method, then maybe I will be able to help.

[2018-03-09 00:32] lukejagodzinski commented on #661
I've made a simple test of async/await with Astronomy Meteor methods. I've added the `test` meteor method to my `User` class from the `meteor-astronomy-example` repository:

[code]

Now having this method I'm invoking it from the browser console in the following way:

[code]

And after 1 second I get the `The "test" method result` message. So async/await works properly with Astronomy Meteor method

[2018-03-10 23:34] dnish opened #662 "TypeError: Cannot read property 'nextObject' of undefined"
Hey,
when I try to remove a doc via <code>video.remove()</code> (on server side) I get the following error:

[code]

The document stays on the server and wasn't removed.

[2018-03-11 12:09] lukejagodzinski commented on #662
It's probably related to your code and note Astronomy. Try preparing reproduction repository.

[2018-03-11 12:40] dnish commented on #662
@lukejagodzinski I will check that. If I execute the .remove() within the collections file, everything is working fine, but within my method, it still throws the error above.

[2018-03-11 12:56] dnish commented on #662
Can be closed, it was a typ error. I wrote
<code>const video = Video.findOne(id);
Video.remove()</code>

So I called the collection remove and not the one of the object.

[2018-03-11 12:56] #662 closed, assigned to nobody

[2018-03-11 20:30] dnish opened #663 "beforeRemove: How handle it with async functions?"
Hey,
I'm just wondering how I can handle the beforeRemove event with async functions. I want to remove a storage object when I delete a doc from the database. Currently, my implementation looks like this:

[code]

In my case I want to "fire" the final remove after all callbacks from the clients were fired. If I check the docs, there could be an function which should stop the remove proccess -> <co

[2018-03-11 22:20] lukejagodzinski commented on #663
Are you talking about client or server? If it's on the server then you should wrap all your async functions with [Meteor.wrapAsync](https://docs.meteor.com/api/core.html#Meteor-wrapAsync). If it's on the client then it's probably not possible in the `beforeRemove` event as it does not support promises so you can't use async/await. You would have to move your logic into some helper and execute the

[2018-03-11 22:21] dnish commented on #663
Ahh right, just forgot the whole wrapAsync thing. Yeah, it's server-only. Thanks :)

[2018-03-11 22:21] #663 closed, assigned to nobody

[2018-03-14 18:51] lensKamdem opened #664 "Collection functions not working on astronomy objects"
I am using astronomy v2.5.6, when use a collection function like find or update on an astronomy class instance eg. User.find(), i get the error:

TypeError: User.find() is not a function

Any clue guys? Even  v2.5.3 i got the same error

[2018-03-14 19:36] lukejagodzinski commented on #664
@lensKamdem does the `User` class have the `collection` property provided? If not, then class will not have the `find`, `update` etc. methods as they are only intended to work on collections.

[2018-03-15 10:51] lensKamdem commented on #664
@lukejagodzinski I did not add any _collection_ property, but in the documentation it is said that _find_, _findOne_, _update_ etc. methods work on astronomy classes.
If i need to add them myself, how do i go about?

[2018-03-15 11:01] lukejagodzinski commented on #664
Everything is described in docs.

[code]

[2018-03-15 11:11] lensKamdem commented on #664
@lukejagodzinski i did it. When a set a property with the _set()_ and then save it, it is normally inserted into the _Mongodb collection_, that is find.
But when i try to use findOne or update, there is an error telling me the method is not function!

[2018-03-15 11:17] lukejagodzinski commented on #664
Then create reproduction repository because there is probably error in your code. You can also take a look at the example app to see how to use Astronomy https://github.com/jagi/meteor-astronomy-examples

[2018-03-15 11:21] lensKamdem commented on #664
I will try it

[2018-03-23 14:19] davidsavoie1 commented on #661
Hi @lukejagodzinski! Sorry I'm responding late... I had been using async with Astronomy in the past as you described, but the problem I got this time was with a somewhat more complicated pattern. Since I could do without `async`/`await`, I didn't dig into it more for now and went back using callbacks for now. So I'll close this one.

Thanks a lot for your help!

[2018-03-23 14:19] #661 closed, assigned to nobody

[2018-03-26 10:40] iainhallam opened #665 "Documentation for writing behaviours and modules"
At the moment the Astronomy documentation at https://jagi.github.io/meteor-astronomy/#writing-behaviors says "IN PROGRESS", as does the writing-modules section. I've wondered about writing my own behaviours, but haven't had a chance to delve in to find out how. Filling in these sections would probably help enormously.

[2018-03-29 07:00] luzlab opened #666 "Versioning astronomy collections"
Are there any turnkey solutions for versioning a records in an Astronomy collection? We're going to need to track versions of documents for compliance reasons and I'm doing research on possible approaches.

Thank you in advance for your advice and suggestions!

[2018-03-29 21:02] davidsavoie1 opened #667 "Transform parent class instance into a child one"
Hi!

If I create an instance of a Parent class, how can I make a copy of it then save it as a Child class instance that inherits from Parent? Do I only change the `type` property?

Thanks!

[2018-03-30 19:23] davidsavoie1 commented on #667
Well, it seems that only changing the `type` property won't cut it! I've tried with this and it seems to be working...
[code]
Is there a better way you can think of that I'm missing here?

Many thanks again for your awesome library!

[2018-03-30 19:37] davidsavoie1 commented on #667
Here's another thing I noticed... If I use a publication to restrict some of the fields of the Child class, as in this example:
[code]
If I don't include the `type` field in the `fields` selector, the data doesn't seem to get to the client, as if Astronomy didn't have enough information to figure out which class I'm asking for. If I do publish without fields selector then no problem. Is it expecte

[2018-03-31 17:57] axelvaindal opened #668 "Retrieve Enum list of values"
Hi,

I have a use case in my code where I need to loop through Enum values in order to generate a flag with binary operator. I would like to be able to call my function with every Enum values as an array.
I didn't find anything in the docs about that, is it something possible right now ?

Here is the related function :

[code]
And here is what I'm trying to achieve:
[code]

Edit:
-----

Seems like

[2018-04-01 12:16] derwok opened #671 "Functions inside objects trigger lots of warnings on schema validation"
First of all - thank you for providing this great package! We use it for Schema validation in our open source meeting minutes WebApp https://www.4minitz.com

We migrated from the aledeed:simple-schema to Astronomy.

When saving objects via Astronony we get this kind (client side) warning "all over the place":

[code]

`findLabelByName`, `upsertLabel` and `getAvailableLabels` are functions attached

[2018-04-02 19:06] lukejagodzinski commented on #668
Good idea. Merged PR

[2018-04-02 19:06] #668 closed, assigned to nobody

[2018-04-02 19:12] lukejagodzinski commented on #665
Hi, for now, the only way to learn about writing behaviors is looking at the code of the other already implemented behaviors (the same with modules). I will probably not write documentation for it as there is little demand for that and it would take a lot of time which I don't have. Currently, I'm only adding some minor features and bugfixes so support for Astronomy will be continued but only for

[2018-04-02 19:12] #665 closed, assigned to nobody

[2018-04-02 19:14] lukejagodzinski commented on #666
Hi, you would probably have to write your own module/behavior for that. It won't be easy as it's not only about adding some extra field with the version number but also entire logic for retrieving records with the newest version or any version. There is no plug & play solution for that.

[2018-04-02 19:14] #666 closed, assigned to nobody

[2018-04-02 19:43] lukejagodzinski commented on #671
Hi, as you correctly noticed, the reason for getting these warnings is that you're using transform function and adding them to the dumb/raw/pure objects. And yes, you can't store functions in MongoDB.

However, warnings are not related to saving documents by Astronomy. When you save a document it gets a list of fields in the schema and tries to save only them.

For now, you can turn off warnings.

[2018-04-03 08:40] lukejagodzinski commented on #667
[code]

should be just enough to create a child that has set all its fields set to values from the parent.

If it goes about publication, I should probably fix that to automatically publish the `type` field even if a user does not provide it.

[2018-04-03 17:40] davidsavoie1 commented on #667
OK thanks! I just stumbled on yet another bug I've had a hard time to find that was due to this `type` field problem... I didn't remember I solved it already somewhere else! 😜

As for the child/parent issue, I guess I don't need to copy the parent first, since using `new child` will create a copy itself! Makes sense!

Thanks again!

[2018-04-09 02:36] davidsavoie1 commented on #642
@antoninadert I'm curious, have you tried integrating Astronomy with Grapher yet?

[2018-04-09 09:42] antoninadert commented on #642
@davidsavoie1 no, I am currently contemplating different options but I don't think I'll use astronomy in the end.
I'll probably use GraphQl or something with Grapher

[2018-04-10 19:49] Genroa commented on #667
I agree that child class objects should be allocated wih the right class, even if they are queried from the parent class' find method. Because of this, overriding methods/defining new properties has no use because after saving, if you findOne again, it will be cast to a Parent instance.

[2018-04-10 19:51] Genroa opened #672 "Is there any way to update a value without telling the server?"
My case is 'simple' : I'm frequently simulating an update on the client, incrementing a counter. Every 10 seconds, the server simulates it too, but it also save the document. Problem : I don't want the client to send its simulated modifications about the counter to the server. Do you have any idea of how to do this with Astronomy objects with minimal boilerplate? :)

My only idea at the moment is

[2018-04-10 21:24] lukejagodzinski commented on #672
It's not a problem of Astronomy package but Meteor in general. Meteor tries to synchronize data between client and server and from what I know there is no way of not sending this information back and forth "the easy way". So the best solution for that is decoupling client and server data stores. So you have a collection that is the same on the server and client and you synchronize data between the

[2018-04-10 21:24] #672 closed, assigned to nobody

[2018-04-11 18:45] derwok commented on #671
Thanks for your comment.
I understand we can turn off logging completely.
But we still find it useful in many other cases.
And I understand that you are careful about perfomance issues (Cleaning up function fields would take time...).

But would it be possible to just skip logging warnings for function fields not part of the schema?
As functions are never stored in Mongo, this warning is confusing

[2018-04-11 21:13] lukejagodzinski commented on #671
@derwok right now I'm just checking if a field being set is defined in the schema, so it's very fast. If I'm gonna check every single field's type then it will be super slow. So I'm not gonna check that. The only thing I could do is introduce another config option to turn off all the warnings for the extra fields.

However, I'm not using warnings in many places. Beside deprecation warnings, the ex

[2018-04-15 11:41] eviatarkhen commented on #604
How did you resolved the issue?
Here is the code

`const Organizations = new Mongo.Collection('organizations');
const Organization = Class.create({
  name: 'Organization',
  collection: Organizations,
  fields: {
    name: {
      type: String,
    },
    users: {
      type: [Mongo.ObjectID],
    },
  },
});`
`const add = new ValidatedMethod({
  name: 'admin.organizations.add',
  validate(options

[2018-04-20 00:33] dmitry-salnikov opened #673 "Model validation always fails when having duplicate classes"
Astronomy doesn't handle the attempt to Class.create() with the name of already existing class.
Example: we have the next three files in project:

[code]

The validate() call on the last line will throw Error saying "myModel.bar has to be MyModel".

Looking at the Astronomy source `/lib/core/class.js:140`

`let Class = this.classes[className] = class Class extends this {};`

it's pretty clear that

[2018-04-20 09:24] lukejagodzinski commented on #673
One thing first, always check your examples before posting. You have several errors and first I had to figure out what you wanted to achieve, to actually start thinking about the answer to your problem. Don't give me extra work and always prepare reproduction repository. Preparing such a reproduction is a matter of a few minutes.

Why would anyone want to override class? If you do so, then you're

[2018-04-20 09:58] DarthRumata commented on #673
@lukejagodzinski I also have such issue. Of course I didn't have intent to override class with another class with same name. It was copy-paste mistake but your framework doesn't have check to prevent such kind of mistakes. It will be really good if you add it in next versions.

[2018-04-20 10:00] lukejagodzinski commented on #673
@DarthRumata indeed such a check would be a good idea to do just to prevent accidental overrides. I will fix that in the next release.

[2018-04-26 21:30] red-meadow commented on #667
Hello!

I have a slightly different question: what is a proper way to transform a document from one child class to another (*not* create a copy)? I tried the solution mentioned above but the problem is that I don't change the fields of the existing document but instead remove it and create another one with the same id. Please, take a look at the code:

[code]
[code]
The final document is just what

[2018-04-27 09:42] lukejagodzinski commented on #667
@red-meadow

Everything depends on your use case. Don't know why you're doing it but if your use case requires that and it's not doable in another way that's ok.

Using Astronomy requires triggering all the events that you've created. If you don't need to validate a document, you could just use plain collections. There is also another way of doing it but not perfect:

[code]

Haven't tested it but

[2018-05-08 13:58] kruglay opened #674 "[Question] one to many relation"
Thanks a lot for your ORM. Really cool.
Tell me please what is the good practice to make one to many relation. And check the ref.

Example:
[code]

What i have to write here (*) as a type `String` , or `Author` if i need a ref to author. In documentation i found only an examples for nested Class without collection

[2018-05-08 17:59] lukejagodzinski commented on #674
You don't have to specify author field in this case. You can create helper that will retrieve document.

[code]

[2018-05-08 18:08] kruglay commented on #674
Thanks a lot

[2018-05-08 18:08] #674 closed, assigned to nobody

[2018-05-28 15:40] davidsavoie1 opened #675 "Class name conflict"
Hi!

I've just spent -- too much -- time trying to find a bug in my Astronomy code that I've finally found. There was a name conflict between two classes, one being a main class linked to a collection, the other an internal class used as nested validation for another main class. The thing is that when I was invoking any Meteor method on an instance of the main class, nothing would happen. However,

[2018-05-28 15:53] lukejagodzinski commented on #675
Hey, yes it was requested feature by some people already. I will add warning or just throw an error if somebody tries to reuse class name. However, I'm not so sure about throwing error as there might be people already using it incorrectly and their apps would break after updating. So for now warning might be a better solution.

[2018-05-28 16:20] davidsavoie1 commented on #675
Warning would be fine, since it's always something we try out in development anyway. Thanks for the support!

[2018-05-28 23:53] lukejagodzinski commented on #675
Fixed in version 2.5.8

[2018-05-28 23:53] #675 closed, assigned to lukejagodzinski

[2018-07-06 08:36] rub1e opened #676 "Definition of Object field & dot notation"
Hi, I've just started playing around with this (awesome!) package and I've hit an immediate problem

I have a simple `Astronomy` class which I'm trying to test with the standard meteor Mocha/Chai, but I get a `TypeError` just when trying to save a basic document:

[code]

The error is: `TypeError: Class.getFields is not a function`

From this line: https://github.com/jagi/meteor-astronomy/blob/v2/

[2018-07-06 08:42] lukejagodzinski commented on #676
Hi. It's hard to tell what the problem is without reproduction repository.
Please, create one that only tries replicate given problem.

On Fri, Jul 6, 2018, 10:36 AM Alex Rubner <notifications@github.com> wrote:

[2018-07-06 14:00] rub1e commented on #676
Apologies, of course, I'll provide a minimal reproduction and post it asap

[2018-07-07 08:55] rub1e commented on #676
I figured out the issue while reproducing it, but here it is in case it helps anyone with the same problem:

https://github.com/rub1e/astro-reprod

See the README, but the issue was that I had an object field that I defined like this:

[code]

This caused an error when I tried to save the document because it seems that you shouldn't define Object fields like this

The error disappears if you remov

[2018-07-07 09:03] lukejagodzinski commented on #676
Maybe I will consider adding something to the docs but it's quite obvious that you can't add `.` to the field name because you can't do either in MongoDB. Maybe I should throw some descriptive error when somebody tries to add such a field but that would be another check that takes computational power and can make application slower

[2018-07-07 10:44] rub1e commented on #676
I understand, but I promise it wasn't obvious to me!

This is how you would do it in `simple-schema`

![image](https://user-images.githubusercontent.com/11595920/42409983-84ebf17a-81da-11e8-9033-11f13594c5ef.png)

https://github.com/aldeed/simple-schema-js#schema-keys

I don't know if it needs a dedicated error message, but I think mentioning dot notation in the docs would be useful, because I ass

[2018-07-08 08:55] lukejagodzinski commented on #676
@rub1e yep I know how it's done in `simple-schema`. Nested classes/models should be defined in a separate "object". Take a look at GraphQL. It is even more important when your tool has the `schema` word in the name ;). This design decision just violates basic principles of schemas.

And no, people who discover `astronomy` are not only existing users of `simple-schema`.

However, I will add some in

[2018-07-13 21:37] burakonero commented on #580
Hello I am trying to run a game that I made a few years ago and get this error. The game was working a few years ago nothing changed except nodejs version.. What causes this?

[2018-07-13 21:59] lukejagodzinski commented on #580
@burakonero I'm not a wizard and it's really impossible to tell what caused a problem without a single line of code and at least error message that you get...

[2018-07-13 22:13] burakonero commented on #580
@lukejagodzinski I am not a wizard either. I googled it. Problem solved when I changed var EventEmitter = process.EventEmitter to var EventEmitter = require('events') in some of js files that are located at node_modules/socked.io/lib. The reason of the error is my game is created 3 years ago this code is not suitable with new node.js system.

[2018-07-14 06:36] lukejagodzinski commented on #580
@burakonero so problem is not even related with astronomy

[2018-07-20 10:14] dnish opened #677 "How to handle different Astronmy classes on server/client?"
Hey,
I'm having a question about handling different definitions on server and client. For example, I'm using a "global" definition of my Astronomy object and importing it on client and server, f.e.:

/imports/collections/videos.js

[code]

Then I'm importing this object into client and server and add some values to it (f.e. on the server side some beforeRemove events and also some stuff that shoul

[2018-07-20 12:18] lukejagodzinski commented on #677
It's probably a problem related with the import order. It's hard to tell what the problem is without reproduction repository.

[2018-07-20 13:28] dnish commented on #677
Hey @lukejagodzinski,
just created a repo for you: https://github.com/dnish/meteor-astronomy-code-share

You'll get a <code>ReferenceError: Video is not defined</code> which happens because <code>Video</code> isn't defined in the imported definition. I create each Astronomy object separately on client and server, because we need to add some special methods on the server side. So I'm just wondering

[2018-07-20 14:51] lukejagodzinski commented on #677
https://github.com/lukejagodzinski/meteor-astronomy-code-share however it's described in docs how to extend classes in one env

[2018-07-20 16:58] dnish commented on #677
Argh, sorry, you right.

[2018-07-20 16:58] #677 closed, assigned to nobody

[2018-07-24 07:33] DarthRumata opened #678 "Validation not called on server side"
We have strange issue with our custom validator that checking unique field of Model. If there are other errors while validation custom validator doesn't launched at server(only on client in simulation). If we have no other validation errors so it launches on server and everything is ok.

How simulation should work? Does it start every time or there is some important condition?

Our validator:
[cod

[2018-07-24 12:46] lukejagodzinski commented on #678
Have you tried setting the `stopOnFirstError` flag to `false`? It's described in docs http://jagi.github.io/meteor-astronomy/v2#validation

[2018-07-24 13:30] DarthRumata commented on #678
Yes. It is always set to false. We have many form validations.
"company.validate({stopOnFirstError: false}, ..."

[2018-07-24 13:32] lukejagodzinski commented on #678
So, you have to create reproduction repository. Without that it's hard to tell

[2018-07-25 21:16] dnish opened #679 "Error: Can't call yield in a noYieldsAllowed block!"
Hey,
I'm trying to add a value from another collection to one of my fields. This is the event I've defined:

[code]

The field is defined as transient:

[code]

When returning the object by a method I get the following error:

[code]

I've copied that kind of definition from another project (which runs on Meteor 1.5.2.2 and Astronomy 2.5.2) where it is working fine. Any idea whats wrong here?

[2018-07-25 21:21] lukejagodzinski commented on #679
so just by saying that you've found source of your problem. It's not a problem with these lines of code but with some other part of your code. It's hard to tell what's causing this problem without minimal reproduction repository.

[2018-07-25 21:35] dnish commented on #679
@lukejagodzinski Yeah, I've updated my old repo:

https://github.com/dnish/meteor-astronomy-code-share

The error occurs when we return an Astronomy object via method. When you find an object on the server and do not return it by method, everything is working fine. So this works without problems:

/server/test.js

[code]

[2018-07-25 21:37] lukejagodzinski commented on #679
I will take a look at it tomorrow

[2018-07-28 14:30] dnish commented on #679
@lukejagodzinski I've also tried version 2.5.2 which works on a older Meteor version, but still get the same error.

[2018-07-30 21:52] dnish commented on #679
@lukejagodzinski Any updates on this? Sorry for the inquire, but this problem breaks our new app and I can't add anything new.

[2018-07-31 09:54] lukejagodzinski commented on #679
@dnish you haven't updated repository

[2018-07-31 12:01] dnish commented on #679
@lukejagodzinski Upps, sorry, just forgot to push it. Just pushed the changes now.

[2018-08-01 07:24] lukejagodzinski commented on #679
Hmmm strange. Apparently they've changed something about how objects are passed over the network. It will take more time to investigate.

What you can do in meanwhile is returning raw object from the method:

[code]

Or stringify and parse it manually:

[code]

[code]

[2018-08-01 22:52] lukejagodzinski commented on #679
@dnish ok I've found error in your code. You can do this:

[code]

When you send instance of the Video class over network, then Meteor tries to recreate document on the client. Document first, gets stringified on the server, send over the network and parsed on the client. And it will also run all the Astronomy stuff like the `afterInit` event. The entire idea of fetching comment here is wrong. So

[2018-08-01 22:52] #679 closed, assigned to nobody

[2018-08-01 23:31] dnish commented on #679
@lukejagodzinski Well, it worked before on older Meteor versions. The comment example may be not the best, but in this case it is very helpful:

[code]

While SitesLogos is a [MeteorFiles](https://github.com/VeliovGroup/Meteor-Files) collection. Otherwise I would have to add the _url manually on every request which would be a Model anti pattern.

// Edit: Okay, there we've also used the <code>raw(

[2018-08-03 19:55] yorrd opened #680 "Observing an Astronomy Cursor"
I'm observing an astronomy cursor (created with `AstronomyClass.find`) with `.observeChanges`. In the resulting callbacks (for example `added`, the given objects don't contain transient fields or the helper methods.

Is this by design? How might I work around this? I don't really have a way to do this without observers due to the design of our framework

[2018-08-04 12:28] lukejagodzinski commented on #680
Transient fields is not something that comes with the observeChanges
method. Observe changes only return fields that were changed in the
database and transient fields are not stored in db.

On Fri, Aug 3, 2018, 9:55 PM Yorrd <notifications@github.com> wrote:

[2018-08-05 12:36] yorrd commented on #680
Thanks for your reply!

What's your expert opinion on the best way to proceed? I could retrieve the actual class object when a added change event has occurred, but that seems like it might be less performant to me. Is it, or is it negligible?

[2018-08-05 20:10] lukejagodzinski commented on #680
I don't know what you want to achieve. But if you're talking about transient fields, then you should probably not bother with them as their only temporary thing that gets computed depending on the other fields or other factors. It's definitely not something that you should care about when dealing with the update opreations

[2018-08-05 20:55] yorrd commented on #680
Sorry, I'll explain :) I'm using the `observeChanges` function in the frontend to implement reactivity. So to speak, I'm "binding" a model to the UI with some custom logic. To achieve this, I'm updating a property on my UI class and forcing a render every time `observeChanges` gives me something. Because I'm directly putting the stuff I get from `observeChanges` into my data holder, there are no t

[2018-08-06 16:25] lukejagodzinski commented on #680
First of all, there is no way I could pass astronomy class instance to the `observeChanges` method. I'm not messing with Meteor cursors at all, so it's the original one.

Moreover, I think you don't understand how the `observeChanges` method works. It observe CHANGES in documents stored in collection and return those CHANGES and not entire DOCUMENTS. So that's one reason why I can't pass astronomy

[2018-08-11 11:37] yorrd commented on #680
Ah, I get it. Thanks for the clarification!

I'm using the `observeChanges` method for the `added` event as well, which passes all fields as an argument, so that's working fine :)

Thanks for the suggestion, that's exactly what I did now.

---

Btw: I'm doing all this to create a generic rxjs subject which can bind to a database. One day when it's readable, I'll release the source. With your sugge

[2018-08-11 11:37] #680 closed, assigned to nobody

[2018-08-15 08:59] krizka commented on #607
@lukejagodzinski How about the paln to partially move Astronomy to npm and leave only Meteor dependent parts in meteor package? I could/want help with this.

[2018-08-15 09:02] krizka opened #681 "Move meteor-independent parts to NPM"
Astronomy itself is a great package for defining schemas and validation, also it could be other modules to couple it with many systems. Here is request and proposition of collaboration on moving meteor-independent parts of astronomy to NPM.

[2018-08-15 09:14] lukejagodzinski commented on #607
So far haven't moved with it far. I'm still trying to figure out what part
of astronomy I want to focus on when moving to npm. Schema validation or
database operations or both. In both cases I want it to work with GraphQL
but also other data layers. So I have to do more project in GQL to realize
what's the good thing. When I started working on Astronomy it was just
because I was solbing a problem

[2018-08-16 20:06] pgiani opened #682 "METEOR@1.7.1-rc.0 does not work with jagi:astronomy"
if you try Meteor 1.7.1-rc.0 version, it crash on start

**simple to reproduce**

[code]

here this is the log output

[code]

[2018-08-17 04:55] lukejagodzinski commented on #682
Have you tried this https://github.com/meteor/meteor/issues/8057 ?

[2018-08-17 15:58] pgiani commented on #682
Yes, I used this script
https://gist.github.com/abernix/a7619b07b687bb97ab573b0dc30928a0

Thank You

I added a link to the fix on Meteor issues incase some one else runs into the same problem

[2018-08-17 15:58] #682 closed, assigned to nobody

[2018-08-20 13:04] lukejagodzinski commented on #681
@krizka recently I was advised to take a look at this package https://www.npmjs.com/package/typeorm that has almost everything that I ever wanted to do in npm version of Astronomy. So probably there no more need to create one :)

[2018-08-20 14:53] jramer opened #683 "Dynamic import of Astronomy"
First I'd like to say that Astronomy is great! Thanks for the hard work.

I'm trying to get Astronomy loaded dynamically. Read the closed issue #642 and thought it would be possible.

Even a new meteor project loads astronomy to the client.

My test:
[code]

[2018-08-28 13:44] andrewlorenz commented on #577
there is a problem with the documentation, which shows the use of Meteor.userId() in this very way.  As it doesn't work, the documentation should be fixed!  Its August 2018 and the documentation still shows the same code as above that fails

[2018-08-28 14:53] lukejagodzinski commented on #577
It works properly. You're probably doing something wrong or using some older Meteor version. If you're invoking it on the server then it's normal thing. Meteor doesn't know what user ID you're referring to. You can't just use Meteor.userId wherever you want. On the client it will work as it can identify user. On the server the only way to identify user is to run code in the method or publication.

[2018-08-28 15:58] andrewlorenz commented on #577
hi Luke, In your documentation, you show in 2 places the use of Meteor.userId() in defaults for an Astronomy class, here is one such example:
[code]
I personally can't get this sort of default assignment to work, because it fails server-side with "Error: Meteor.userId can only be invoked in method calls or publications." .  However, by trial and error (using suggestions from you and others in vari

[2018-08-28 16:52] lukejagodzinski commented on #577
@andrewlorenz events are always run in the Meteor methods created by Astronomy. There are four Meteor methods created by Astronomy:
`/Astronomy/insert`
`/Astronomy/update`
`/Astronomy/upsert`
`/Astronomy/remove`
When you call `doc.save()` or `doc.remove()` the appropriate Meteor method will be called. So if you have any events like `beforeSave`, `beforeUpdate` etc. then all these event will be run

[2018-08-29 14:20] lukejagodzinski commented on #683
Hmm in deed it bundles it no matter what.
I've made some tests and even with the new package it still bundles it, so probably there is no way I can leave Meteor packages out of bundle. It's probably only reserved for the NPM packages. However, if you know about any Atmosphere package that doesn't get bundled, then please let me know.

[2018-09-15 18:21] arggh commented on #683
If I remember correctly, you could just have a bunch of `js` files inside the Meteor package, which can be imported by the app code. If they're not imported explicitly, they don't get bundled.

At least that's how I'm dynamically importing Blaze templates from a package when needed.

The crucial part is to _not_ have the files referenced in `package.js` in any of the entry points.

[2018-09-15 20:35] lukejagodzinski commented on #683
Ok I found out that apparently you have to add `{lazy: true}` to your main
module export. I will fix that on Monday

On Sat, Sep 15, 2018, 8:21 PM arggh <notifications@github.com> wrote:

[2018-09-16 06:10] arggh commented on #683
Oh good! Somehow I had completely missed [that one](https://docs.meteor.com/packages/modules.html#Lazy-loading-modules-from-a-package).

[2018-09-16 21:34] yorrd opened #685 "Versioning"
Heyo,

do you have any plans on implementing versioning of documents? Like being able to go back in time. This could be used in one of our ecommerce projects. Versions could enable us to keep the current version in cart while being able to change the product without changing the version that's in the cart.

Have a great day!

[2018-09-17 06:09] lukejagodzinski commented on #685
Hey, no I'm not planning on implementing versioning

[2018-09-17 06:09] #685 closed, assigned to nobody

[2018-09-18 07:31] dibrovadev opened #686 "Field assign in server side method notworking"
Hello.

Astronomy version: 2.5.2

I have client side and server side parts of my model.

in client side (common model without platform restrictions visible on both client and server) I define all fields:

[code]

on server side I define in most cases method:

[code]
Anywhere in server side code I do this

[code]
as result in console I see this output
[code]

When I move `setDirection` from methods

[2018-09-18 08:03] dibrovadev commented on #686
Additional

If I do it in this way
[code]

I see correct value of direction field

[2018-09-18 09:02] lukejagodzinski commented on #686
You have to define fields in both environments client and server. It will not work when you only define them in one of them

[2018-09-18 09:19] dibrovadev commented on #686
Sorry for confusing, I have common model that doesn't have any restrictions and another one that visible only on the server

[2018-09-18 09:29] lukejagodzinski commented on #686
Ok, so what your doing wrong is using meteorMethods instead of helpers. For such cases where you only want to set values, you use helpers. Meteor methods would be used in cases where you just want to invoke something in the client and make sure that the same method is invoked on the server.

[2018-09-18 12:03] dibrovadev commented on #686
So you mean that it is impossible to set any fields inside function that was defined inside `meteorMethods`.

Maybe it should be documented anywhere

[2018-09-18 13:09] lukejagodzinski commented on #686
I said, `use helpers for that`

[2018-09-18 23:33] lukejagodzinski commented on #683
Fixed in 2.6.0

[2018-09-18 23:33] #683 closed, assigned to nobody

[2018-09-19 08:03] jramer commented on #683
Oh! This is great! Thank you for taking the time!
Sorry I missed the conversation. (Apparently I had disabled all github notifications...)

[2018-09-28 09:09] Deadly0 opened #688 "Astronomy not working with webpack"
[ardatan:webpack](https://github.com/ardatan/meteor-webpack) provides a way to use Webpack with meteor. But for some reasons Astronomy can't be imported in project by webpack. I have reported this bug to @ardatan but he said it's not meteor-webpack bug https://github.com/ardatan/meteor-webpack/issues/40

It's important to me to migrate to Webpack, but i can't do it becouse of this bug with Astrono

[2018-09-28 09:47] lukejagodzinski commented on #688
It's definitely not something related with Astronomy. I would rather say that's it's a bug in webpack package. Astronomy is working normally when you just use Meteor alone. In the last version of Astronomy I've introduced lazy loading, so maybe this webpack plugin does not work well with this kind of scenarios. Try using it with different Astronomy versions and see if it's producing the same error

[2018-09-28 11:39] Deadly0 commented on #688
@lukejagodzinski you are right, old versions works fine. In which version lazy loading was introduced?

[2018-09-28 12:19] lukejagodzinski commented on #688
@Deadly0 it was the last one version 2.6.0. In the version 2.5.8 there was no lazy loading.
So as I said it's maybe not bug but a lack of feature in the webpack package. It's not so uncommon to have Meteor packages with the lazy loading feature, so I think that the webpack package should take that into account.

[2018-09-28 12:24] Deadly0 commented on #688
@lukejagodzinski thank you!

[2018-09-28 12:24] #688 closed, assigned to nobody

[2018-10-12 11:39] alexpricedev commented on #688
Yeah I'm having the same issue. @Deadly0 did you resolve it?

[2018-10-12 11:46] Deadly0 commented on #688
@Deadly0 no, but workaround is to use v2.5.8 of astronomy.

[2018-10-13 12:52] alexpricedev commented on #688
Yeah thats that I've done! Let me know if you look into it again

[2018-10-17 10:53] s7dhansh opened #689 "doc.isModified() does not work when a nested key is added to a document and the first level key itself does not exist"
`doc.isModified('status.active')` works when `status` exists as an object, and fails when `status` is undefined.
Is it intended? Seems to be a bug to me.

[2018-10-17 13:12] lukejagodzinski commented on #689
@s7dhansh probably it's a bug, I will check it

[2018-10-18 21:10] lukejagodzinski commented on #689
Fixed in `jagi:astronomy@2.6.1`

[2018-10-19 05:01] s7dhansh commented on #689
@lukejagodzinski thanks. but now it has caused another bug.
`doc.isModified('apps.3.new')` also turns out to be true now when modifying `doc.apps.1`. It's causing a lot of trouble. Reverted fro now.

[2018-10-19 08:42] lukejagodzinski commented on #689
Hehe ehh that's what happens when you release bugfix quickly without testing it :P. Right, sorry I will fix that

[2018-10-19 08:52] lukejagodzinski commented on #689
@s7dhansh oh that's actually not a bug related to this issue. It used to work that way.
If you have nested field `user.address.city` and you modify `city` the `user.getModified()` method will return `["address", "address.city"]`. That's because modifying nested property also means that an object holding this nested property was also modified. It's necessary to decide what parts of the document to

[2018-10-19 09:54] lukejagodzinski commented on #689
@s7dhansh sorry but in this case changing this behavior would require me to rewrite a lot of diffing algorithm and it can't be easily implemented. I will revert to the previous version.

[2018-10-20 07:11] s7dhansh commented on #689
I checked your last couple of commits. Won't this work?

Updates code (modeled after something that I am using now).
[code]

I understand that there will not be just `$set`, but only $set and $unset should suffice as anything else would mean that the current field is definitely getting modified directly.
I am not sure about the performance though, depends on how expensive is `getModifier`. But ass

[2018-10-20 07:12] s7dhansh commented on #689
Actually, ony $set and $unset should suffice as anything else would mean that the current field is definitely getting modified directly.

[2018-10-22 14:09] lukejagodzinski commented on #689
@s7dhansh from what I remember using `getModifier` should work but it's kinda ugly hack. The best way to solve this problem would be to modify diffing algorithm to include nested fields even when parent was unset or set. I will test it and let you know.

[2018-10-27 10:35] yorrd opened #690 "Offline / GroundDB support"
Hey!

We're trying to combine groundDB and astronomy in our current project. However, that's kind of an issue because GroundDB doesn't expose a mongo collection but rather a `Ground.Collection`. Therefore, you're rightfully throwing this error:
![image](https://user-images.githubusercontent.com/1191486/47602859-9deb1400-d9e4-11e8-918f-830a4806457d.png)

Do you think there's any chance we can suppo

[2018-10-28 21:33] lukejagodzinski commented on #690
@yorrd hey! Ok I will take a look at it and maybe I will just add weak dependency on GroundDB, so it won't end up being bundled until it's being used. Doing so I could be able to check if the collection property is an instance of `Mongo.Collection` or `Ground.Collection`.

Probably there was a reason behind not extending `Mongo.Collection` so I will make sure that both works properly. However, I'm

[2018-10-29 14:37] yorrd commented on #690
@lukejagodzinski awesome, looking forward to it!

[2018-11-09 11:29] yorrd commented on #690
reminder if you have time :)

[2018-11-10 06:47] a4xrbj1 commented on #575
We have the same problem, both within our code:

`return Gedmatches.insert({ kit1, kit2, totalCm, created, notSharing: true });`

and when using MongoDb insert directly:

`db.gedmatches.insert({ kit1: 'SyVRzmvn4f', kit2: 'Syfq7mD3Nz', created: new Date(), updatedAt: new Date(), totalCm: 7.32, HIR: 1 })`

In both cases it changes the field value to `7` in the doc instead of 7.32

There must be an e

[2018-11-10 06:50] a4xrbj1 opened #691 "Floating point number is saved as Number - both in code & MongoDb command"
We have the same problem (as this one https://github.com/jagi/meteor-astronomy/issues/575), both within our code:

`return Gedmatches.insert({ kit1, kit2, totalCm, created, notSharing: true });`

and when using MongoDb insert directly:

`db.gedmatches.insert({ kit1: 'SyVRzmvn4f', kit2: 'Syfq7mD3Nz', created: new Date(), updatedAt: new Date(), totalCm: 7.32, HIR: 1 })`

In both cases it changes the

[2018-11-10 09:42] lukejagodzinski commented on #691
It's rather unlikely to happen. Neither MongoDB nor Astronomy would do that
as long as you're not doing something extra. Amount of info you've provided
is not sufficient to tell.

On Sat, Nov 10, 2018, 7:50 AM Andreas West <notifications@github.com wrote:

[2018-11-12 05:14] a4xrbj1 commented on #691
What info do you need?

The definition for this field is:

totalCm: {
            type: Number,
            optional: true,
        },

[2018-11-12 09:53] lukejagodzinski commented on #691
You have to create reproduction repository. Without that it's hard to tell. When you will try to replicate this error on the smaller code base it will probably appear to be caused not by Astronomy but by something else

[2018-11-15 07:04] arggh opened #692 "Changelog is behind by two years"
I'd like to point out that having an up to date changelog would be a good thing.

Currently `HISTORY.md` is at `2.1.0` and releases are going somewhere around `2.5.8`.

Just thought I'd mention this in case it's unintentional.

[2018-11-15 13:10] lukejagodzinski commented on #692
@arggh yep I haven't been updating `HISTORY.md` file as I was mostly focusing on describing changes in the release notes. I should probably remove `HISTORY.md` file all together or just redirect people reading it to the release notes. What do you think?

[2018-11-15 13:11] lukejagodzinski commented on #690
@yorrd yep I remember about that but recently have so much private stuff going on that don't have any time to work on this but I will soon :)

[2018-11-15 14:51] RemyLespagnol opened #693 "ObjectID vs String"
Hello @lukejagodzinski,

I have a weird behavior and I don't know if it's an error from my code or a missunderstanding of the package.

I have this collection:
[code]

On the client I send to a `Meteor.call` the `_id` from the warning object that I have fetch from a publication.

On the server, I receive the ObjectID.
With a `findOne(_id)`, it's working, I can have my object from the DB.
But after

[2018-11-15 15:30] lukejagodzinski commented on #693
@Themandunord you description is a little bit vague :P but I think that it comes down to ObjectID vs String. If you have ObjectIDs in the Mongo database then you have to use MongoIDs everywhere. You can't later fetch anything using String. It's nothing related with Astronomy but with MongoDB/Meteor overall.

From what I remember, you can just use Mongo.ObjectID in Astronomy just by doing this:

[c

[2018-11-15 15:35] RemyLespagnol commented on #693
@lukejagodzinski Clearly :D Sorry for that.

So yes, when I defined the fields `_id` in the Class, it is working.

Now when I want to create a new object, just do :
[code]

It doesn't work because `_id" has to be a Mongo.ObjectID`.

I do `_id: new Mongo.ObjectID()` and it's working. It is the good way for you?

[2018-11-15 15:41] lukejagodzinski commented on #693
@Themandunord it's correct but you can also generate IDs automatically just by defining collection in the following way:

[code]

[2018-11-15 15:42] RemyLespagnol commented on #693
Love you ❤️

Thanks !

[2018-11-15 15:42] #693 closed, assigned to nobody

[2018-11-20 09:04] arggh commented on #692
Personally, I'd just copy over the release notes to `HISTORY.md` and keep it up-to-date. But If it's no longer maintained, I'd probably remove it as it leads to confusion. Even if removed, it can still be found in version control if necessary.

[2018-11-20 16:43] lukejagodzinski commented on #692
I will probably copy notes to HISTORY.md and keep it up to date from now

[2018-11-20 17:15] lukejagodzinski commented on #692
Ok HISTORY.md updated

[2018-11-20 17:15] #692 closed, assigned to nobody

[2018-11-22 05:14] RobertLowe commented on #681
I scanned through the code, and I could only see about 5 imports that we're meteor dependant, it shouldn't be too difficult to fallback/proxy through mongoose or something else.

The benefit of writing it Meteor first is the client+server advantage, the benefit of falling back is portability (npm modules)

[2018-11-22 11:58] lukejagodzinski commented on #681
Moving it to NPM would mean rewriting everything. It's not only about imports, it's mostly about code that is using these imports. I think everything is moving towards GraphQL and package like Astronomy which are heavily dependent on MongoDB will not be necessary in the future. Meteor will become build tool only. I hope it's the future that we'll see :P

[2018-11-22 11:58] #681 closed, assigned to nobody

[2018-11-22 12:17] arggh opened #694 "Astronomy sets all missing fields as modified when saving specific fields"
I had a feeling this had been reported and fixed before, but I couldn't find any relevant issues. I noticed today that `isModified` inside event hooks returns `true` for all document's fields missing, even though the `fields` option was used while saving, specifying only a single field to be saved.

#### What happens:

A field that is not being saved gets marked as modified.

#### How it should wo

[2018-11-23 11:08] lukejagodzinski commented on #694
@arggh could you create minimal reproduction repository? It will be easier for me to test and fix

[2018-11-23 11:40] arggh commented on #694
Here you go: https://github.com/arggh/astronomy-issue-694

Just run it with `meteor`, open browser at `localhost:3000` and click the only button on page to trigger the error thrown.

[2018-11-25 16:13] dnish opened #696 "Is there any beforeValidation event?"
Hey,
I'm trying to clean an object from empty fields before doing the final validation. I know that there is a beforeSave method, but If I got it right, this one is fired after the validation (when I call the .save() method of the object).

For example, I'm doing something like this:

[code]

My current approach is to manipulate the value property within my own validator, but I don't like this app

[2018-11-28 22:18] lukejagodzinski commented on #696
You can create [helper method](http://jagi.github.io/meteor-astronomy/v2#helpers) in which you will clean data and later invoke the `save()` method

[2018-11-28 22:18] #696 closed, assigned to nobody

[2018-11-28 22:35] lukejagodzinski commented on #694
Yes that might be an issue. Overall, the `isModified` method is not designed to work properly in such cases. I'm working on the workaround for that. After it's implemented it will be possible to do something like this:

[code]

Where `e` is an event object in the beforeUpdate event. It will also work with any other event.

[2018-11-28 22:54] lukejagodzinski commented on #694
@arggh ok fixed in v 2.6.3 the way I described it above. Hope it fits your needs

[2018-11-28 22:54] #694 closed, assigned to nobody

[2018-11-28 23:41] lukejagodzinski commented on #690
@yorrd ok I've finally had time to work on that. It won't be possible to use GroundDB collections in place of Mongo.Collection. There are several differences in API that I don't want to get into details right now. But it's also client only collection.

So, unfortunately Astronomy in this form can't work with GroundDB.