[2015-04-10 04:42] ansarizafar opened #1 "Two way data binding"
Thanks for creating an amazing package. I would request you to add two way data binding.

[2015-04-11 12:16] roelvan commented on #1
Amazing package indeed! Coming from a php MVC background, this package is a gift :). You rock!

[2015-04-11 13:03] VladShcherbin opened #2 "Reactivity?"
Nice package. The question is - when I get the `post` instance - will it reactively update when its data change or do I need to call `reload` method ?

[2015-04-14 01:39] ccorcos commented on #2
good question. I don't quite understand the point of `reload`. Or does it just reset the post by removing all modifications?

[2015-04-14 06:47] jagi commented on #2
Thanks for pointing it out. I will try to make it clear in the documentation. I will copy here my answer from [Crater.io](https://crater.io/posts/MT9dPLYiydEWmqYi5/comment/tCQH3LGahRQDhCkNs).

"Good question. You don't have to do anything more than you would do normally to display documents from collection to make it reactive. Cursor returned from collection is standard Mongo cursor and it's react

[2015-04-15 14:22] VladShcherbin commented on #2
@jagi thanks for the answer. With the examples, it is clear now, how the package is used. Since we are getting cursors and not the model instances, the reactivity is present.

[2015-04-15 14:56] jagi commented on #2
Yes exactly :). If you have any other question feel free to ask.

[2015-04-16 22:12] jagi commented on #1
Thanks for good words :). I'm still working on new features and I hope you will like it :).

@ansarizafar how would you exactly see two way data binding? How should it work? Right now I have in plans function to fill object with values coming from the form on user demand.

[2015-04-16 22:15] #2 closed

[2015-04-16 22:43] jagi opened #3 "How validators should work?"
Hi, I have question to you about validators. I'm working now on implementing them as a module for Meteor Astronomy. Here is the [repository](https://github.com/jagi/meteor-astronomy-validators). It's not finished yet and I need your support on how it should work to be the most intuitive and easy in use. Please take a look at read me in the repository.

Let me describe here how it works. Right now,

[2015-04-16 22:48] jagi commented on #1
If you can I would like you also to tell your opinion on this issue https://github.com/jagi/meteor-astronomy/issues/3

Thanks :)

[2015-04-16 22:48] jagi commented on #2
If you can I would like you also to tell your opinion on this issue https://github.com/jagi/meteor-astronomy/issues/3

Thanks :)

[2015-04-17 20:34] VladShcherbin commented on #3
@jagi Hello, my two cents

1. Maybe we can have a true\false value in model for autoValidate on save. And maybe we may have a global value for that to specify the default action as true or false. smth like `Astronomy.validateOnSave = true`.

2. Maybe we can have a callback function, which fires onSuccess and onError. I think true\false is ok with a method to retrieve errors.

Actually, the questio

[2015-04-17 21:56] ccorcos commented on #3
I'd stick with simplicity and a fine-grained API. This gives the developer the choice of how to use them and abstract them.

It would definitely make sense if the validation happened when you called save. But in this case validation and saving are 2 different actions. You can always create another function that does both of these actions, but its nice to give the developer the choice of how to do

[2015-04-18 13:38] jagi commented on #3
Thank you for your feedback.
Considering your suggestions I think that the best solution will be leaving user as high flexibility as possible. I will split validation and saving processes. We will have following functions:
- `save()` - just saves object without validation,
- `validate()` - validates object and returns true / false,
- `validate(validationName)` - runs validation only on validator w

[2015-04-18 19:19] ccorcos commented on #3
For validation, I think it would be best to be as functional as possible.

Rather than have something like:

[code]

I think it would be better to compose functions. This would take a little more thought but maybe something like this:

`validator.name = [isString, compose(gt(2), map(len))]

This talk will give you some more inspiration:
https://www.youtube.com/watch?v=m3svKOdZijA

And if you're up

[2015-04-18 19:22] ccorcos commented on #3
There are also some edge cases to think about like timestamps. Are those validated simply as a number? Or are they written by the server before inserted?

[2015-04-19 15:57] jagi commented on #3
Functional programming and functions composition seems to be nice thing but I don't think that schema definition is a good place to use it. Schema for me is like description. In fact, I would like to avoid defining functions in the schema at all. But we have object methods and events. Maybe validators should also be "functional".

However this example
[code]
is not intuitive. At the beginning I di

[2015-04-19 17:50] VladShcherbin commented on #3
@jagi just use the simple `string` validators with the ability to create a new validator with a title. It is a common practise and works extremely well, there is no need to reinvent the wheel.

The validators should be reusable, so we can write a custom one and use it everywhere we want.

[2015-04-19 19:03] ccorcos commented on #3
@jagi, so my point wasn't to get everyone using functional composition (although that would be great!).

*My point was to give utmost flexibility to the developer. *

And by that, I mean every validator should be (or at least accept) a function. That way, the developer isn't constrained to the framework. The biggest problem I have when using a framework is when I having some very specific thing I

[2015-04-19 22:18] jagi commented on #3
@ccorcos if it goes about timestamps, I agree that timestamps should be generated on the server and you can do so. You just create Meteor method (for both environments client and server) that just saves some document and generate timestamp on save. On the client it's only simulation, and on the sever it takes server time and saves document. Even if user on the client modify timestamp it will be up

[2015-04-19 22:29] jagi commented on #3
And there is one more thing that would be hard to implement with functional composition, it's error messages customisation. Additional argument passed to function? Could cause mess...

[2015-04-19 23:33] wursttheke commented on #3
Hey @jagi!

Are you familiar with [Rails ActiveRecord Validations](http://guides.rubyonrails.org/active_record_validations.html)? They have a very nice validation interface which is easy to learn, read and extend.

Taking some of those ideas, I could imagine an API syntax similar to this (just brainstorming):

[code]

In my view the validators are the constructs which actually run the validations

[2015-04-20 01:08] VladShcherbin commented on #3
oops, didn't see the validations repo

@jagi why are you using such crazy markup? let's see

[code]

so, this validator checks for a string, min 10. I guess, two fields would be:

[code]

What if I want to have the same validator with min:5 for a *slug* ? Copy-Paste and change the min value ?

[code]

That will be a horrible mess!

Why you go with specifying the validator and passing fields there?

[2015-04-20 05:54] ccorcos commented on #3
@jagi

Well what does `doc.save()` do? It probably uses `.insert` or `.update` which would require allow-deny validation.

Leave that to the developer! Its trivial. Use `_.isString` and `gt = _.curry((n, str) -> str.length > n)`. This library doesnt need to provide all that.

And rather than `[isString, compose(gt(2), map(len))]`, you would want to do something like `and(isString, compose(gt(2), m

[2015-04-20 09:49] jagi commented on #3
Ok let's make this discussion a little be more clear :). There are few requirements for validators:

1. We have to have possibility to validate SINGLE field but also TWO or more fields at once. So, we can't assume that ONE VALIDATOR === ONE FIELD. So all the solution where we have `field: [validators]` etc. will not work.
2. Validators have to throw errors or save errors in some object. We have to

[2015-04-20 10:52] VladShcherbin commented on #3
For me, the first solution would be a killer feature. It is very simple and intuitive.

rules:

[code]

custom messages? no problem. [api](http://laravel.com/docs/5.0/validation#error-messages-and-views)

[code]

custom validators

[code]

[2015-04-20 12:56] jagi commented on #3
@VladShcherbin it's not gonna work. I wrote about it. This approach can only work on single fields. How would you check if two fields are equal or one field is grater than other? I will be trying to implement functional approach today. I just want to check how it could work. However I'm still waiting for some idea on how to implement multiple fields validation.

I will let you know when I will hav

[2015-04-20 13:03] VladShcherbin commented on #3
@jagi hmm, no?

[code]
same with *equal*, *less*, *more*, *required_if*, etc

[2015-04-20 13:16] jagi commented on #3
@VladShcherbin ok I could create such validator but it's still not flexible approach. In Doctrine I had also possibility to create more complex validators like for example OR validator where object is valid when one of two validators passed validation test and many other complex solutions. In the solution `required|same:field_two` etc. validation is linear and it's hard to pass some extra options.

[2015-04-20 13:23] VladShcherbin commented on #3
@jagi yes, you can't use extra options but you can make more custom validators to fit your needs ;)

That is why we have validators like: alpha, alpha_num, alpha_dash, etc. The default validators should cover like 80-90% of the user needs, 10% of custom validators is okay.

Btw, I think you need to choose one version of validators and stick with it. This way, it is easier to maintain, debug, test

[2015-04-20 13:25] jagi commented on #3
And one more question I wanted to ask. In what format would you like to have error messages?
1. Full sentence `Field "XXX" should be at least X character long`
2. Just information that would allow developer to create error message by himself/herself
[code]
It would inform that `title` field is to short and should be at least 5 characters long. This way we don't force developer to use library error

[2015-04-20 13:34] VladShcherbin commented on #3
@jagi I think, the first variant with the messages is fine. We should probably think, how to handle multilingual websites to show the correct ones

[2015-04-20 18:48] ccorcos commented on #3
My `TwoWayValidator` function can handle whatever error message you want:

`TwoWayValidator(_.gt(2), 'Name must have more than 2 characters.')`

or

`TwoWayValidator(_.gt(2), {
  field: "age",
  validator: "gt"
  expected: 2,
})`

or if you wanted more information, you could set the error message as a function:

[code]

Thats just overkill if you ask me though. I think a simple message is best lik

[2015-04-21 09:15] jagi commented on #3
I'm already working on something you proposed and it seems to work great and there is much less code.
Example validation rules can look like follows:
[code]
I like your idea of `And` validator. We can also create `Or` and other validators and just nest them to create more complex rules. Making validators functions instead of objects made code much cleaner.

I will also create some aliases so that

[2015-04-21 12:14] jagi commented on #3
I have also one more idea for making writing validation rules shorter. Take a look at example before and after examples:

**Before:**
[code]

**After:**
[code]

In the AFTER example validators are not global. Instead they are passed as first argument of function, so we can name validators list, it can be `validators` or just short `v`.

Developers willing to create their own validators will use co

[2015-04-21 12:17] VladShcherbin commented on #3
@jagi this validators look ugly as hell :( please, consider adding string validators as well.

[2015-04-21 12:31] jagi commented on #3
@VladShcherbin read carefully what I wrote. This form of validation will be default one but not the only one. There will also be two more validation modules with string and object formats. However internally both approaches will be using functional validators. But you won't have to worry about that. You will just provide simple string in the form of
[code]
or something similar. Do you like such ap

[2015-04-21 12:33] VladShcherbin commented on #3
@jagi yes, sure. it would be awesome to have that api

[code]

thank you! you are doing a great job! cant wait to see forms with this validators

[2015-04-21 21:16] ccorcos commented on #3
@jagi, This looks good:

[code]

Very functional and uses the railway method nicely.  All that namespacing does look frustrating. What I would do is leave that to the developer. Write in the readme about how `TwoWayValidator` works (probably call it `Astronomy.Validator`) and how `TwoWayInput` works (probably call it `Astronomy.ValidatedField` or something). Then people can construct their own met

[2015-04-21 21:51] VladShcherbin commented on #3
@ccorcos I don't think, this is the beauty. I like KISS way of things.

I really don't want to reinvent the wheel and write this parsers for just a simple string/number/min,max/same/etc validation.

These are reusable components and they have to be as simple as possible. The simplicity attracts people, noone wants to white tons of code to validate a string and its max length.

I believe, for crazy

[2015-04-21 22:11] ccorcos commented on #3
@VladShcherbin I agree with you that you have a nice scheme there. The point I am making is that the interface with the framework should be as flexible as possible. Using a functional approach with the TwoWayInput monad provides that flexibility to validate both ways along with ways we've never thought of.

I don't think people should have to re-write all of this code every time. This code should

[2015-04-22 00:07] VladShcherbin commented on #3
@ccorcos yes, I understand that, but I don't see the point of using it.

We can make a new validation rule, name it, write whatever function we want and use the same way. Yes, we gain more flexibility, we can use more params, but, honestly, do we really need it?

In your example we need to repeat **f('...')**. It is okay, but for what purpose. If we can get rid of it - why won't we :)

Both ways a

[2015-04-22 19:50] jagi commented on #3
I'm working on validators and it's going well. Everyone will be happy :). Stay tuned :).

[2015-04-26 20:30] jagi commented on #3
It's not fully documented yet but you can start using it.
Functional validators: https://github.com/jagi/meteor-astronomy-validators
Simple validators with string rules: https://github.com/jagi/meteor-astronomy-simple-validators

[2015-04-26 21:28] VladShcherbin commented on #3
@jagi this is f. awesome!

[2015-04-26 21:55] ccorcos commented on #3
Way to go @jagi. This is very nice!

For your examples, I'd use an alias so you can do V.isString and stuff because it is a lot it type. The string stuff looks great too. Very nice. How'd the railway monad work out?

Sent from my iPhone

[2015-04-27 20:26] jagi commented on #3
@VladShcherbin and @ccorcos thanks. More features to come. I will also do a little work on making documentation better. When the core version is finished I will also create video tutorial.

I haven't tested railway monad.

Right now I'm closing this issue. If you have any suggestions, feature request etc. please open new issues.

Thanks for collaboration :)

[2015-04-27 20:26] #3 closed

[2015-04-28 23:23] VladShcherbin commented on #3
@jagi thank you a lot for your work.

Now, when we have awesome validation, maybe you can provide an example with form actions (like insert, update, etc) ?

I think, it is almost the time, when I can replace like 4-6 packages with the **Astronomy** and give a full test.

[2015-04-29 05:44] jagi commented on #3
Yes of course :). I will improve documentation and provide such examples. I'm also making some refactoring and improving field types module, so there will be a little change. I think that this weekend it will be ready with examples of using validators in forms. Stay tuned :)

[2015-04-29 06:48] VladShcherbin commented on #3
@jagi sounds awesome! can't wait.

[2015-05-03 21:41] jagi commented on #3
Ok, I've prepare example project using validators. You can find repo here: https://github.com/jagi/meteor-astronomy-examples and the working example on Meteor server here: http://astronomy.meteor.com/

Tomorrow I will describe how it works. But right now you can investigate the code. It's very simple.

[2015-05-04 12:06] VladShcherbin commented on #3
@jagi thanks, it works fine for me. I'll try to setup everything today-tomorrow and run a full test. Thank you!

[2015-05-05 07:59] VladShcherbin opened #4 "Form data"
When working with forms, we definitely want to set the label, placeholder, the input type, if it is a textarea, number of rows, min and max, etc to use then in template helpers.

Now, we can't define this on scheme level. Besides, if we use validators, we also define some of this info there: maxLen, minLen for example. The type definition is duplicated in **fields** and **simpleValidators** (strin

[2015-05-05 08:10] jagi commented on #4
Model, Validators and Forms are two different things. Right now there is no module for creating forms from model definition, however I have it in plans.

Duplication of type definition is required. Type definition in `fields` is for type casting. In fact you could avoid adding validator `isString` (or similar) at all.

If it goes about forms module it needs longer discussion. I've used forms libra

[2015-05-05 08:14] VladShcherbin commented on #4
@jagi sure, I also think this are two different things, though we have to think how to make things work in that direction. Hope, you can finish all major astronomy features so that we can discuss, how to make forms work.

I need isString, isNumber because I want the error if you input the word instead of number for example. So, I guess the duplication can not be avoided.

[2015-05-05 08:18] #4 closed

[2015-05-05 10:30] banglashi opened #5 "Server side transform breaks Automatic documents transformation"
Hi @jagi,

Perhaps you can help me out here. As soon as I do a server-side transformation the astronomy "Automatic document transformation" doesn't work anymore. Perhaps you have some insights you can give me on this on how to make it work?

I created a repo showing the issue here https://github.com/banglashi/astronomy-serverside-transform

Let me know if you need any more information. Thanks.

[2015-05-05 12:57] jagi commented on #5
Right now I would discourage you from modifying Astronomy objects on publication. Astronomy objects can't be sent over DDP right now, and I will be working on it soon. It's on my TODO list. Astronomy objects have to EJSONable to allow that. However if you really want to do this there is a way. Here are changes you have to make to your code:

First change is the transform function. I've commented C

[2015-05-05 13:01] banglashi commented on #5
Thanks a lot for the quick reply and the explanation, appreciate it. Keep up the good work and let me know if I can help with anything.

[2015-05-05 13:29] jagi commented on #5
No problem :). I'm glad that you and others are testing this package. Thanks to that I can move it forward to the point where it will be fully usable and fit almost all needs. If you want to help, please watch [this](https://github.com/jagi/meteor-astronomy/subscription) and other Astronomy [repositories](https://github.com/search?q=user%3Ajagi+meteor-astronomy) so you will be notified about new i

[2015-05-05 13:29] #5 closed

[2015-05-07 15:17] banglashi opened #6 "Having issues when saving objects in an array of an Astronomy.Class"
Hi @jagi

when trying to save an array of objects, it works the first time, second time not.

You can use the same repo here: https://github.com/banglashi/astronomy-serverside-transform

Than run following on the console:

var newChat = new Chat()
undefined
newChat.title = "test";
"test"
newChat.members.push({title:'test'})
1
newChat.save()
"pz5FLFERiXgFfjkzJ"
newChat.members.push({title:'test2'})

[2015-05-07 15:18] banglashi opened #7 "Can schema handle properties like 'members.$.userId'?"
Would this be feasible? Like in simple-schema?

[2015-05-07 15:18] banglashi opened #8 "Is it possible to apply Astronomy.Class to the Meteor.users collection?"

[2015-05-07 15:28] timfam opened #9 "Take a look at Orion"
@jagi
We can team together instead of re-inventing the wheel. Great work though!
https://github.com/orionjs
http://orionjs.org/

[2015-05-07 15:51] jagi commented on #9
I'm opened to any suggestions. On what level would you like to cooperate?

[2015-05-07 16:03] timfam commented on #9
We want Meteor to have  a rock solid enterprise grade backend blah blah :) we know for this to happen means code + documentation + tutorials + support this requires a team. So I suggest we bring you in as part of the core-team of Orion we extend it to meet your goals. win-win for everyone including the community

[2015-05-07 17:38] jagi commented on #8
Yes it is possible, but for now only on the client. You have to write.

[code]

and add to fields list any field that you have published. Right now it's not possible to do it on the server because Astronomy objects can be EJSONified but it's on my TODO list. So soon :)

[2015-05-07 17:46] jagi commented on #6
Yes I know about that issue. The problem is that when you modify array Astronomy object doesn't know that something has changed. It can only detect changes for primitive objects because I use `===` comparison. In that case `array` and `modified array` are the same objects in memory (it's the same reference). I have solution for that and I will implement it soon. However there is a workaround, ugly

[2015-05-07 17:50] jagi commented on #7
I don't quite understand what is the function of `"members.$.userId": {type: 'string'}`. Does it define the type of the nested field? `members` array where any object in the array can have `userId` field of `string` type? Am I correct?

[2015-05-07 17:54] jagi commented on #9
I don't know if I would have time to work on another project. I work on Meteor Astronomy after my daily job and it's consuming almost all my free time, so you have to understand. I see that you have right now support of simple-schema package and that Orion is modular. Would you like me to integrate Meteor Astronomy with Orion or what?

[2015-05-07 19:02] timfam commented on #9
I want us to all work less. Only way to do that is as a team. Astronomy has many good parts Orion can use and it can be gradually integrated. Orion had to be rewritten from grounds up a few weeks ago to make it modular and extendable. Meteor Kitchen/ famous-views and as many others as I can get to come around are all moving to make Orion their default backend. We have the same goal. Lets make some

[2015-05-07 21:22] jagi commented on #6
It's more complex problem than I thought. I will post few possible solutions.

**SOLUTION 1**

[code]

It's not the best solution but the shortest one. Disadvantages?
- We have to remember about writing `chat.members = chat.members` to copy value
- We can't assign reference if we would like to. Let's say we have two objects `chat1` and `chat2` and we want to make assignment by reference `chat1.mem

[2015-05-08 12:47] banglashi commented on #7
yes, that's the idea, like in simple-schema -> https://github.com/aldeed/meteor-simple-schema#schema-keys

[2015-05-08 12:49] banglashi commented on #6
sounds perfect to me. Thanks for looking into it.

[2015-05-08 14:10] jagi commented on #6
Today or tomorrow feature will be ready, so stay tuned.

[2015-05-08 14:22] jagi commented on #7
I think that it will work in different way in Meteor Astronomy. Of course it should be possible to define types of fields for nested objects and also be able to validate such objects.

I think it will be done automatically. I'm planning to introduce relations feature. It would look something like...

[code]

... or in the definition...

[code]

or something like this. Thanks to that `members` fiel

[2015-05-09 13:59] jagi commented on #6
@banglashi  I've made a fix in the version 0.5.1. It's already published and you can check it out. I would be glad if you could test it out and let me know if everything works as expected. Thanks.

[2015-05-09 17:50] #6 closed

[2015-05-11 21:20] banglashi commented on #7
sounds great and a better way to solve it. Will stay tuned ;)

[2015-05-12 05:12] jagi opened #11 "EJSONinifcation of Astronomy documents"
This is the next feature I'm going to implement. This will allow sending Astronomy models as a param of Meteor method.

[2015-05-13 21:18] jagi commented on #8
Thanks to last update it's possible now to apply Astronomy.Class to Meteor users collection in both environments client and server. The minimal schema looks like this:

[code]

I will also add example to the documentation. Thanks for collaboration! :)

[2015-05-13 21:18] #8 closed

[2015-05-17 19:11] saazzou opened #12 "The documentation code example for behaviors must be changed to 'timestamp'"
Hello,

i found out that the code example for the behavior timestamp is not working, we need to change 'Timestamp' to 'timestamp'.

[2015-05-18 05:30] jagi commented on #12
Thanks :) I will fix it. However, the `Timestamp` name will also work because it's an alias.

[2015-05-18 09:48] #12 closed

[2015-05-21 11:52] dstollie opened #13 "same logo as meteorionic"
The icon in the logo of meteor astronomy really like like the icon of the logo of meteorionic.

https://camo.githubusercontent.com/b4f32ff628fcfd0d3ebca06493ec86fdce3ff557/687474703a2f2f662e636c2e6c792f6974656d732f33393179343730383432305030483030316b31472f6d6574656f7269632e706e67

I wouldnt say its a big problem but I just to take note

[2015-05-21 14:36] jagi commented on #13
To be honest I've never seen this logo before so I haven't been inspired by it. I don't think that it's a big problem as far as it's not commercial product. But thanks for informing.

[2015-05-21 16:10] #13 closed

[2015-05-22 17:04] niallobrien opened #14 "Form model binding"
Any plans to add form model binding? Thanks, this looks like a great package, looking forward to playing with it.

[2015-05-22 21:17] jagi commented on #14
Yes, I'm planning to create entire module not only for binding model with forms but also generating forms from model. It will be a big feature so it needs time. Right now, I'm preparing video tutorial. It will include information about using Astronomy with the forms. You can also check out this sample application https://github.com/jagi/meteor-astronomy-examples

I hope you will like this package

[2015-05-23 10:44] parhelium opened #15 "_errors is not send back to client"
`menu` is instance of `Astro.Class`.

Server side :

        if ( menu.validate() ) {
            menu.save();
        } else {
            console.log( menu._errors._getMigrationData() );
            return menu;
        }

Above `console.log` show that there is invalid field in `menu`.
`_errors : ReactiveDict` is not send through DDP , so client side can't see errors sent by server side.
There a

[2015-05-23 10:49] parhelium commented on #15
I noticed you have example of passing _errors in docs:
https://github.com/jagi/meteor-astronomy#ejson-ification

[2015-05-23 13:05] parhelium commented on #15
Ufff... In the end I solved the problem.
Maybe it will  be useful for somebody.

Just to recall, my goal was to validate Menu (Astro.Class) on server side and return eventual errors in nice way, so form will reactively show errors.

[code]

Server side:

[code]

Client side:

- `t.data.menu` , `t` is template, `menu` is Astro.Class

[code]

[2015-05-23 16:08] jagi commented on #15
Yes `_errors` are not sent to the server through DDP (I've not implemented it yet). However it does not  cause any problem with validation. In fact you don't have to send errors back to the client to make it work. You can just validate on the client and validate on the serve simultaneously. However I will implement feature allowing EJSON-ification of `_errors`. Here is an example application showi

[2015-05-23 17:30] parhelium commented on #15
I'm already validating simultaneously and that works perfect.
However one of my validator :

[code]

checks uniqueness of document. It needs access to all documents of collection and it doesn't make sense to subscribe all documents just for validation on client side...

[2015-05-24 17:31] jagi commented on #15
@parhelium there are a few things worth mentioning here.
1. I've made an update to Validators module and now you can send errors through DDP protocol. Now it should be much easier to exchange errors between client and sever.
2. I've updated the example I mentioned about and now it returns to the client server validation errors: https://github.com/jagi/meteor-astronomy-examples/blob/master/methods.

[2015-05-24 18:33] parhelium commented on #15
@jagi Thank you for updating package !
Feel free to add `unique` validator to list of standard validators included with Validators module.

I will test it tomorrow morning.

[2015-05-24 19:57] jagi commented on #15
I've added also two more useful methods `throwValidationException` and `catchValidationException`. Thanks to them we can easily perform server validation and use thrown errors to display them in the form.

**client/server method:**
[code]

**template events:**
[code]

[2015-05-25 20:46] rclai opened #16 "Event name formatting?"
Is there a reason you made them lower case?

https://github.com/jagi/meteor-astronomy/#field-events

__Edit__: maybe even use dots?

`'after.set'`

[2015-05-25 21:45] jagi commented on #16
In fact it does not matter what case you will use. Internally everything is lower case.
However if you take a look at the w3c standard, all events should be written lower case. You have `window.onclick` not `window.onClick`. But because of many styles of programming I'm allowing both. However I want to be compatible with the standard so I'm using lower case form in the documentation.

[2015-05-25 21:48] #15 closed

[2015-05-25 21:51] jagi commented on #16
@rclai I see that you've made package for document methods. Right now I'm working on query builder for Astronomy, maybe would you like to help with that?

[2015-05-26 01:25] rclai commented on #16
Sure, that sounds cool.

[2015-05-26 01:26] rclai commented on #16
Just let me know how you want me to contribute logistically.

[2015-05-26 11:10] jagi commented on #16
I've just started working on it https://github.com/jagi/meteor-astronomy-query-builder. At first I would like to discuss how it should look like, what functions it should have. Right now I thought about something like this:

[code]

If you have any ideas how to improve it I would be glad. What use cases should I take into account.
And of course if you have any ideas you could create pull request.

[2015-05-26 19:11] rclai commented on #16
Ah nice, I was about to suggest chaining, but you caught on :smile: :+1:.

[2015-05-26 19:44] jagi commented on #16
Hehe :). I was working on it today a little bit. It appears that there are a lot of functions to implement. I'm not sure if I've taken a good approach trying wrap all mongo selectors, modifiers and options. I don't know how many of them are implemented in MiniMongo and if all of them needs some kind of wrapper. I will create some documentation to better show how it works right now.

[2015-05-26 19:56] rclai commented on #16
The ones that I've created on my package you can use to wrap around the `modify` method.

[2015-05-26 22:17] parhelium opened #17 "Default value for nested fields"
I have a lot of nested documents and would like to manage them using Astronomy package.

[code]

Field `links` is array of objects.
Usually I'm using `js-schema` library :
[code]
However [`js-schema`](https://github.com/molnarg/js-schema/) doesn't allows me to specify default values for each field.
I would love to have [`js-schema`](https://github.com/molnarg/js-schema/) syntax together with your

[2015-05-27 08:33] jagi commented on #17
Yes it's the problem now. I was thinking about that, and how to resolve it.

First of all if it goes about nested validators I have solution for that, which probably I'm going to implement today.

If it goes about default values the problem is more complex. I assume that you don't want to pull out you array of links to different collection? I have to think about the solution and will let you know

[2015-05-27 08:43] parhelium commented on #17
I have semi-solved this problem now.
For nested fields definition I'm creating new `type`, so casting works fine.
However for validation purpose I use my old friend - `js-schema`, which have builtin validators and can validated nested object without any problem. The only drawback of `js-schema` is that I cannot define my own validators.
## Example

[code]

For nested object I created validator `ne

[2015-05-27 17:08] jagi commented on #16
Yes I will implement all of defined in your package and wait for any suggestion from the community. Maybe there is no need to create wrapper for every possible feature.

[2015-05-27 17:51] frankapimenta opened #18 "self relation based in a variable"
The wiki does not specify this situation I have.

How could one do a relation to self based on an array of ids?

User follows other User and maybe vice-versa?

class User would have an array "followersIds" with all of the ids of its followers.

User: _id, followersIds: [id2,id3,id4]; var user = new User(); user.followers

Thank you for your time

[2015-05-27 19:10] VladShcherbin commented on #16
@jagi Hi, what is the reason for query builder? Isn't existing mongo functionality enough, maybe some use cases?

[2015-05-28 04:40] jagi commented on #16
@VladShcherbin You won't be using it very often. But it may help in some situations. Let's say you have softremove behavior added to the class. The softremove behavior instead deleting document, sets the `removed` flag to `true` on the document to indicate that it had been removed. Without query builder you would do fetch all records as follows:

[code]

With query builder you do:

[code]

Ok so t

[2015-05-28 10:51] VladShcherbin commented on #16
@jagi oh, thanks for examples. Yep, I know what a query builder for :)

I guess, that we can't add smth to query: `Posts.find();`, so we need a builder, that does this. So with softDeletes we would need to change all *finds* to query builder to make *removed* automatically. Am I right ?

[2015-05-28 18:16] niallobrien commented on #14
Awesome, I look forward to it.

[2015-05-28 18:33] jagi commented on #16
There are pros and cons of such approach. The one big advantage is no need for using any extra tools.

And here is a list of problems if we would like to wrap find and other functions:
- We shouldn't mess with those functions because we can break something :-P
- How would we resolve problem of finding all documents not only with soft removed flag? Some kind of option as the last parameter or on th

[2015-05-28 19:16] jagi commented on #18
Sorry for a late response. It's not possible right now to create many to many relation. Relations module it's in its early version so it needs improvement. There will be some changes in API.

Right now to create many to many relation you would need to create it by hand. Store followers ids in array fields.

I will be working on improving relations soon. So I will let you know. Sorry for inconvenie

[2015-05-28 19:43] VladShcherbin commented on #16
@jagi yep, there is a package to do this, maybe you know it: [this one](https://github.com/matb33/meteor-collection-hooks)

I've used it before and it worked well indeed, there are also some methods for such kind of things: .before.find / .after.find.

Maybe it will you give you some thoughts or ideas ;)

[2015-05-28 21:18] jagi commented on #16
Yes, I've heard about that one. It looks promising. However I would have to make something that works closely with Astronomy events system, so that any module, behavior could use hooks. I think I will create package for this. So there will be two ways of doing what we've talked about. One way will be using query builder and the second one using standard collection methods.

Right now I'm working o

[2015-05-29 16:47] VladShcherbin commented on #16
@jagi oh, sure, with all you've done, I strongly believe in you and your decisions. I really hope you'll have enough power & time to finish all the packages, including astronomy, validators, query builder, forms, and everything coming in your head ;)

[2015-05-29 16:52] frankapimenta commented on #18
No worries :)
Ok. So I will create a getter in the class and use the array of ids to do this part.
BTW: Great Job :+1:

[2015-05-29 20:32] jagi commented on #18
Ok good to hear :)

[2015-05-29 20:35] jagi commented on #16
@VladShcherbin Thanks :). I have time and power but of course as always day is to short to make everything I would like to do :). I'm almost there, everything is going in the good direction :)

[2015-05-30 21:31] dovrosenberg commented on #11
I'm having trouble with this... It's throwing an error when I try to pass an Astronomy object to the server in a Meteor method.

I've create this simple meteorpad to illustrate: http://meteorpad.com/pad/WncF7ajyC9zoP8Sqf/Astronomy%20Server%20Check

If you click the "add astronomy" button, it should add the new row to the view - you can see it flash up when it's created on the client; it then disap

[2015-05-30 22:32] jagi commented on #11
Hi @dovrosenberg thanks for good words :)

I've downloaded code from meteorpad to my computer and run meteor application. At first I've received message on the console:

[code]

It seems like in your packages file in the .meteor directory you have save old version of Astronomy.
However, when I run application, everything worked properly. Maybe try updating packages by force?

[code]

Or try editin

[2015-05-31 01:26] dovrosenberg commented on #11
Ah - sorry.  I had an issue in a more complex project I was trying to reproduce and the meteorpad versioning made me think I had it.

I've updated the meteorpad - you'll still have to download it and meteor update to get it to run.  But then you'll see the problem.  It actually appears to be related to validation.

The validation is passing on the client, but not on the server.  The two buttons no

[2015-05-31 10:08] jagi commented on #11
Yep, now I see the problem. It appeared that I have error in EJSONification code. I was treating `values` as simple object instead stringifying it so that dates will be stored properly. I'm working on new version of validators and there it works. It should appear today on Atmosphere. So stay tuned :).

Thanks for noticing this error!

[2015-05-31 16:27] jagi commented on #11
Ok I've fixed it in the newest version. Let me know if it works for you.

[2015-05-31 16:29] jagi commented on #17
@parhelium I've made nested validators. New version is on the Atmosphere. You can read more about nested validators here: https://github.com/jagi/meteor-astronomy/wiki/Validators and if you use simple validators package here: https://github.com/jagi/meteor-astronomy/wiki/Simple-Validators

Nested field's default value is coming :)

[2015-05-31 16:31] jagi commented on #16
@VladShcherbin I've made two big changes nested fields' validators https://github.com/jagi/meteor-astronomy/wiki/Validators and a new way of defining simple validators https://github.com/jagi/meteor-astronomy/wiki/Simple-Validators.

[2015-05-31 16:31] #16 closed

[2015-05-31 16:32] #11 closed

[2015-05-31 16:33] jagi commented on #7
@banglashi ok I've made it work. Now you can validate nested fields. You can read more here https://github.com/jagi/meteor-astronomy/wiki/Validators or here https://github.com/jagi/meteor-astronomy/wiki/Simple-Validators.

[2015-05-31 16:33] #7 closed

[2015-05-31 16:43] dovrosenberg commented on #11
Thanks for the quick fix... upgraded main package and validators to 0.10.0 and now I get (when building that meteorpad code):

    TypeError: Object #<Object> has no method 'isDate'
    W20150531-12:32:32.292(-4)? (STDERR)     at app\common.js:11:25
    W20150531-12:32:32.292(-4)? (STDERR)     at app\common.js:26:3
    W20150531-12:32:32.293(-4)? (STDERR)     at h:\astro\.meteor\local\build\progra

[2015-05-31 16:56] jagi commented on #11
@dovrosenberg Yes I had to remove aliases. The reason for doing so is the ability to clearly determine what validator caused validation error. Before fix when you used `date` validator then in the `validationerror` event you received information that the validator that caused error is `isDate` which could be confusing. Now it's clear :). When version 1.0.0 will arrive, there won't be changes that

[2015-05-31 17:02] dovrosenberg commented on #14
I've gotten a decent start on connecting with forms, though haven't thought about automatically building the forms.

The approach I've taken is two-fold:
1) Register a form for submit handling (with template name and form name); it attaches a submit event handler that automatically copies the fields from the form to a Class object (assuming matching names for now), then validates and if it passes,

[2015-05-31 17:08] niallobrien commented on #14
Awesome, is this going to be a separate package?

[2015-05-31 17:12] jagi commented on #14
@dovrosenberg I would be happy to see code and example use. I will start creating Form module for Astronomy soon so maybe we could cooperate in this matter. We could discuss details. I have some ideas about the forms implementation that comes from the usage of Doctrine library, but I don't want to discuss it here.

[2015-05-31 17:14] niallobrien commented on #14
Are you guys part of the Meteor Club Slack channel?

[2015-05-31 17:18] dovrosenberg opened #19 "validator syntax - feature request"
Not sure if it's possible, since validators are a separate module, but I think it could be helpful to be able to specify single-field validators inside the fields object (as an option, in addition to the current syntax):

    fields: {
        emailAddress: {
            type: 'string',
            validators: Validators.email
        }
    }
For more lengthy object definitions it would make it si

[2015-05-31 20:17] jagi commented on #14
No, what's that? :)

[2015-05-31 20:22] jagi commented on #19
Thanks for suggestion. It's definitely possible to do. It wouldn't be hard to create module for this without changing anything in the current code of the fields and validators modules. However, right now I want to focus on must have features, so let me postpone it for later :). But we will come back to it :)

[2015-05-31 20:25] dovrosenberg commented on #19
Definitely low priority… if it bothers me too much, perhaps I’ll give a module a shot. ☺

The other approach would be if custom field types could be defined to automatically include validators.  Then I’d just define my field type as “email” or whatever and it would apply both the actual type (string) and the validator and be obvious when reading the schema what it all does

[2015-05-31 20:56] jagi commented on #19
Good idea I would just modify this idea a little bit. We could define some validation groups. I don't know how API should look like but it could be something like this.

[code]

So instead defining custom type, we add special `validateAs` keyword with the value of "validation group" / "validation context" (I don't know how to name it now). It could add a few validators like:
- required
- string
-

[2015-05-31 21:53] dovrosenberg opened #20 "ability to cancel database operations from events - question or feature request"
Is there a way that from inside a beforeSave/Insert/Update/Remove event we can cause the database operation to be canceled?  For example, this would enable the soft delete functionality you've shown to apply to actual removes vs. having to call a special function.

[2015-06-01 00:25] dovrosenberg opened #21 "type validators and "required""
Sorry for the flood of new issues... hopefully they're helpful.

The type validators (date, email, etc.) all appear to return false (invalid) if the field is blank.  To me, it's more intuitive that they'd return true in that case.  If I want to fail a blank field, I'd add the "required" validator.  But if it's not marked as "required", it should not be required. :)

Not sure what others think, tho

[2015-06-01 06:33] jagi commented on #21
I can understand your point of view but I don't know if it's intuitive for other. Today I will post question on gitter to get more opinions :)

[2015-06-01 06:38] jagi commented on #20
Yes, we've talked about that possibility. It could be good to have a choice and I didn't say know :). If there is a need for such feature then I will implement it. It's a matter of a few lines of code. I will extend `Astro.Event` object and call it `Astro.StoreEvent` (or something like this). This event will have additional method:

[code]

Or any name that is descriptive enough.
Adding it to the

[2015-06-01 10:17] jagi commented on #20
Ok I've added such feature. Now you can do as follows:

[code]

It will stop default operation like `save`, `remove` however it won't stop event propagation. If you want both. Just type:

[code]

However, I'm not planning to change that in the `softremove` behavior right now. Because we've already talked that it would be better to have separate function for soft removing. However we can talk about

[2015-06-01 10:17] #20 closed

[2015-06-01 12:28] parhelium opened #22 "Validators.and() an Validators.or() are deprecated"
Hi @jagi

It looks like new version 0.10.0 removed AND and OR validators...
What is the reason for doing that ?

Having those validators gives a lot of flexibility.
I'm using them and cannot find them...

[2015-06-01 12:28] #22 closed

[2015-06-01 12:59] dovrosenberg commented on #20
Awesome.  I think it makes sense to leave the softremove, as well, as there are clearly use cases where that approach is preferred.  But with the change you made, people (like me) can now create their own behavior if they want.

     - Dov

[2015-06-01 14:15] jagi commented on #20
Great :)

[2015-06-01 19:54] jagi commented on #21
@dovrosenberg I was thinking about it and I don't know if it's good idea. Let's say we have the `null` value assigned to the field and there is a `string` validator created for that field. Is `null` a string? Definitely no.

But as I sad I can understand your point of view. You would probably like to have feature from relation databases called `NOT_NULL` field. By default any column can be null. S

[2015-06-02 02:07] dovrosenberg commented on #21
Perhaps I've introduced something that will make it too complicated. :)  I do think of required as being similar to NOT NULL.

I don't think any non-null field type should be required.  For example, on my contact object - there are first and last name - both strings and required.  There's middle name - a string if it exists, but not required.  Then there's email - not required, but if it does exis

[2015-06-02 08:52] jagi commented on #21
But it's very important to solve this problem at this stage :). I've solved this problem in the newest version of Astronomy core and validators. It's not published yet because I want to discuss it here.

I solved it in following way (referring to your points):

**0) Field type is only for casting values. It always was that way.**
Maybe I haven't described it good enough in the documentation. If fi

[2015-06-02 10:30] parhelium commented on #17
@jagi great !
I'm going to test this in the evening.

[2015-06-02 14:25] dovrosenberg commented on #21
Some thoughts:

Let's say we have the following class definition:

This is counter-intuitive to me - particularly for non-string fields (which have the advantage of being able to be empty strings).  Does this mean that any optional field must be defined to have no type if you want to validate?

Imagine a Number field rating that is optional.  If it does exist, it has to be between 1 and 100.  It i

[2015-06-02 16:20] VladShcherbin commented on #21
My 2 cents:
- If the field **is required** - **validate** its type and value.
- If the field **is not required and has value** - **validate** its type and value,
- If the field **is not required and does not have value** - **do not validate** its type and value.

I also find it weird:

[code]

We set the firstName as a string, then we call again Validators.string() to validate it as a string. DRY,

[2015-06-02 16:41] jagi commented on #21
I've made decision to not implement this feature. I've been working today on validators and `and` and `or` validators are good enough to validate any complex rule.

I have to repeat myself one more time:
TYPE field in `fields` is not the validator. It's just information for the Astronomy to what type any assigned value should be casted.

When you write:

[code]

then

[code]

So it's why the `type

[2015-06-02 17:01] jagi commented on #21
@dovrosenberg you will be able to assign null value to the field with type defined. I will describe how it will work soon. Stay tuned. It will be intuitive.

[2015-06-02 17:47] VladShcherbin commented on #21
@jagi yep, I know for what the type is. It's okay, it only looks like doing things twice ;)

[2015-06-02 18:31] dovrosenberg commented on #21
I agree, @jagi.  So long as you can assign null to a typed field, people (including me) can custom build validators to make it work however they want.

[2015-06-02 21:51] jagi commented on #21
Ok [here](https://github.com/jagi/meteor-astronomy/wiki/Validators#nested-validators) is a short section about nested validators (AND and OR) and how to use them to create validators like: `null || (string && minLength(5))`.

And to be precise. Those validators works with every type of the field. You can set type of the field to `string`, `number` or left empty. It's doesn't matter. You can assign

[2015-06-02 21:51] #21 closed

[2015-06-03 14:12] jagi commented on #19
I came to conclusion that your idea is a "must have" :-). It will be possible to define validators just nezt to the fields. It's especially usefull when I introduce the nested fields definition. However both syntax will be valid.

[2015-06-03 21:07] dovrosenberg commented on #19
Thanks.  I do like the validation group idea, too.  Particularly with the new nested syntax - I can see wanting to use the same set of 3-4 validators on many fields, so being able to apply as a group would be cleaner.

[2015-06-03 21:46] parhelium commented on #17
@jagi, big thanks for this feature!
I have successfully update astronomy to version 0.10.4 in my project. It works so good, that I have removed js-schema... :+1:

I noticed validation stops on first invalid field, that is perfect for most use cases.
However there is on use case where validation should not stop on first invalid field.

In my apps I try to keep structure of documents consistent all

[2015-06-03 21:53] parhelium opened #24 "Validation stops on first invalid field"
I noticed validation stops on first invalid field, that is perfect for most use cases.
However there is one use case where validation should not stop on first invalid field.

In my apps I try to keep structure of documents consistent all the time ( what a suprise ;-) ) so on every startup app is **validating all documents in all collections**.
It may happen that doing some changes manually on db a

[2015-06-03 21:57] dovrosenberg opened #25 "remove syntax"
Not a big deal at all, but it might be helpful to have a way to remove a document given just an _id.  Because removes are often done in a meteor method, it can be more efficient to call the method with just an _id and not have to pass a full copy of the object back to the server.  Similarly for cases where all I have is an _id (perhaps from a related record) and haven't yet pulled the whole docume

[2015-06-03 22:13] jagi commented on #25
If I understand you correctly you would like to minimise the amount of data that is sent over DDP from the client to the server when calling remove method, right?

When sending documents over wire using DDP, the entire object gets EJSON-ified. And I wouldn't mess with that. Of course there are situations (like remove) when you don't need entire object. Id is just enough. What I would suggest is so

[2015-06-03 22:18] jagi commented on #24
Hmm I was talking about validation in Astronomy with the friend from the work like few days ago. He pointed out that sometimes it would be great to validate all fields of the object, not just stop after the first error :). It shouldn't be hard to implement. Probably I would have to introduce new method like `validateAll()`, what do you think?

[2015-06-03 22:19] jagi commented on #17
Great to hear! :)

[2015-06-03 22:26] jagi commented on #19
Ok, so I will implement both. However right now you can do it manually:

[code]

And you can use this group in as many places as you want.

[code]

[2015-06-03 22:34] parhelium commented on #24
`validateAll` would be very useful for me.
As I wrote I'm already using `js-schema` for doing that, so `for me` this is another must-have feature ;-)

[2015-06-03 22:41] jagi commented on #24
Ok, no problem :). I will implement it soon, maybe tomorrow :)

[2015-06-04 10:42] jagi commented on #24
Done in version 0.10.5 :)

[2015-06-04 10:42] #24 closed

[2015-06-04 12:38] dovrosenberg commented on #19
Excellent point.

[2015-06-04 12:40] dovrosenberg commented on #25
Yes.  It just seemed that pulling the whole document (FindOne) from the database in order to remove it isn’t very efficient.

[2015-06-04 13:10] jagi commented on #25
Yes indeed, when you have a lot of traffic then sending only id or the whole object can make a difference. So it's good to have a choice. In fact you could even simplify this:

[code]

However if you want to soft delete record you should do as follows:

// Client/server (or only server).
Meteor.methods({
  'remove': function(id) {
    var post = Posts.findOne(id);
    post.softRemove();
  }
});

/

[2015-06-04 13:13] jagi commented on #19
Maybe I will add this example to the documentation under the section "reusing validators", because it can be handy for others.

[2015-06-04 13:25] dovrosenberg commented on #25
Not just softRemove, but if you have any delete events on the class, you have to use post.remove().  In those cases, while it's ugly, I'm thinking this would be the fastest:

    // Client/server (or only server).
    Meteor.methods({
      'remove': function(id) {
        (new Post({_id:id})).remove();
      }
    });

    // Client
    Meteor.call('remove', post._id);

[2015-06-04 20:07] jagi commented on #19
Done in version 0.10.6. Now you can write:

[code]

[2015-06-04 20:07] #19 closed

[2015-06-04 21:03] dovrosenberg commented on #19
Awesome.  Thanks!

[2015-06-07 12:18] dovrosenberg opened #26 "emitting custom events?"
Is it possible for behaviors to emit custom events?  For example, I'm doing a slightly different variant on softdelete that actually just runs on a remove via beforeremove.  It flags the object as deleted and cancels the remove.  Because the remove was cancelled, the afterremove event no longer fires (I assume).  And it shouldn't.

But I'd like the ability to emit an "aftersoftdelete" event that o

[2015-06-07 20:01] jagi commented on #26
Yes it's possible. The `beforesoftremove` and `aftersoftremove` events are triggered in the `softremove` behavior. Take a look at this line https://github.com/jagi/meteor-astronomy-softremove-behavior/blob/master/lib/behavior/methods.js#L23. There is a little "error", because I'm calling camel case `beforeSoftRemove` event and in fact I should call `beforesoftremove`. However as far as events name

[2015-06-07 22:12] dovrosenberg commented on #26
Got it.  Thanks.

[2015-06-08 08:45] #26 closed

[2015-06-08 09:02] #25 closed

[2015-06-08 14:20] jagi commented on #17
Now you can set default values of the nested fields. I'm going to update readme soon however you can now use following syntax.

[code]

I hope you will like it. If something does not work as expected then let me know.

[2015-06-08 14:20] #17 closed

[2015-06-08 16:49] parhelium commented on #17
Yupi ! Looks great. Will test tomorrow in the morning.

[2015-06-09 02:34] dandv commented on #9
Hey Tim,

I would help establish leadership and credibility if you had a real(-looking) name and avatar here on GitHub.

Good luck with the effort!

[2015-06-09 02:35] dandv commented on #9
Same for @jagi aka Łukasz Jagodziński.

[2015-06-09 02:44] timfam commented on #9
@dandv I hear you :)

[2015-06-09 02:48] dandv opened #27 "Mention the prior art: SimpleSchema, CollectionHooks, Collection Behaviors"
Many people in the Meteor community are familiar with @aldeed's [SimpleSchema](https://github.com/aldeed/meteor-simple-schema) and @matb33's [CollectionHooks](https://atmospherejs.com/matb33/collection-hooks). @Sewdn's [collection-behaviors](https://github.com/Sewdn/meteor-collection-behaviours) is another [prior art](https://en.wikipedia.org/wiki/Prior_art) that also seems to have been used as so

[2015-06-09 02:50] dandv opened #28 "Set the website of this GitHub repo to the Atmopshere package"
Example:

[![Adding GitHub repo URL](https://cloud.githubusercontent.com/assets/33569/6536430/76a7d88e-c402-11e4-8883-6ab2c7b8c30a.png)](https://github.com/dandv/meteor-webix)

[2015-06-09 02:57] dandv commented on #9
@timfam: Much better... hopefully in the near future ;-P

[2015-06-09 03:00] timfam commented on #9
@dandv I digress but that is from atlas shrugged you know what it means ;) . @jagi  keep up the good work

[2015-06-09 03:19] dandv commented on #9
@timfam: I've [read the book](http://www.librarything.com/catalog/dandv&deepsearch=atlas), [know the philosophy](http://wiki.dandascalescu.com/essays/the-case-against-the-unregulated-free-market), and also one of its major failings: understanding that humans are Predictably Irrational.

In this particular case, have a look at [Microsoft's and CMU's research on avatar credibility](http://research.m

[2015-06-09 04:21] timfam commented on #9
@dandv  there are no contradictions maybe I don't have anything to gain from avatar or have gained more from the one I used. Trust me I have been on this planet long enough to see things for what they are. Btw  the book is about what ought to be and why logic must prevail. To be human is to aspire, thrive and achieve, not to be miserable and irrational. The lower state is for animals, humanity is

[2015-06-09 06:09] jagi commented on #27
First of all, the first version of the package was created summer 2013 and it was about the same time the aldeed's package was created. That time no one known about simple schema. My package was not inspired by simple schema.

If I'm reinventing the wheel I would like to ask why I receive many comments that my package is far more better than simple schema? If you want I can post many of them here.

[2015-06-09 06:19] jagi commented on #9
Hehe :) disussion is thriving :P.
I can say that version 1.0.0 of Astronomy is almost there. And that will be the time to start integration with Orion CMS and create Forms package. However we can start working on the integration right now.

[2015-06-09 06:19] jagi commented on #28
OK thanks for suggestion. Added.

[2015-06-09 06:19] #28 closed

[2015-06-09 06:25] timfam commented on #9
This is awesome news! However I think we should wait for v1 to be out and I can have the team take a look together and see how integration will work

[2015-06-09 07:36] jagi commented on #9
Ok sounds reasonable:-)

[2015-06-09 09:55] dandv commented on #27
Thanks, this is informative. I didn't know when Astronomy was created. Might be worth adding this little bit of history to the README.

I'm a new user, and haven't used Astronomy. The majority of users will be in this category, and some of them will have used SimpleSchema. These users will want to know how Astronomy (which will hopefully become popular) is better or easier than Simple Schema (whic

[2015-06-09 11:15] jagi commented on #27
The first public version was named `verin-model` and you can find it here https://github.com/jagi/verin-model. The first commit was made Oct 26, 2013 however it was already working library, so I've started creating it few month before. It can be dated on mid 2013 :). Originally it was named `zeitgeist-model` because it was a model layer for Zeitgeist website and I decided to share it with a commun

[2015-06-09 15:16] aldeed commented on #27
I like competition.

[2015-06-09 20:19] frankapimenta commented on #27
jagi :+1:

[2015-06-09 20:21] frankapimenta opened #29 "relations stopped working"
relations stopped to work in my project returning undefined.
is this an issue known to you?

[2015-06-09 20:32] frankapimenta commented on #29
all good. after updated it work.

[2015-06-09 20:32] #29 closed

[2015-06-09 20:34] jagi commented on #27
Ok I've added two sections **History** and **Why use Astronomy?**
I hope that I did not exaggerated :)
I'm closing this issue for now

[2015-06-09 20:34] #27 closed

[2015-06-09 21:56] jagi commented on #29
Ok :)

[2015-06-10 06:01] dandv commented on #27
:+1: !

BTW, out of curiosity, how/where were the testimonials received? I hope [Atmosphere implements comments soon](https://github.com/percolatestudio/atmosphere/issues/182) because that's exactly where these testimonials should go..

[2015-06-10 10:07] jagi commented on #27
Great idea with the comments on the Atmosphere!
Right now comments mostly comes from GitHub issues and from Crater.io https://crater.io/posts/MT9dPLYiydEWmqYi5/comment/tCQH3LGahRQDhCkNs

[2015-06-10 12:00] dandv commented on #25
A `Class.removeById(id)` method would be more explicit and faster if it could just remove the document specified by the id and run the `before` and `after` handlers, but not fetch the document from the DB.

However, it seems from the docs that `before` and `after` storage event callbacks receive the document in `this`, so `beforeremove will have fetch it from the DB anyway, which renders @dovrosen

[2015-06-10 15:20] jagi commented on #25
Yes, you are right the `beforeremove` and `afterremove` events are called in the context of a document. To follow this principle in the `Class.removeById(id)` function we would still have to get the document from the database.

[2015-06-10 16:43] dandv commented on #16
"the w3c standard" may be all-lowercase, but the Meteor standard is camelCase:

* this.[onStop](http://docs.meteor.com/#/full/publish_onstop)
* Meteor.[onConnection](http://docs.meteor.com/#/full/meteor_onconnection)
* Accounts.[onCreateUser](http://docs.meteor.com/#/full/accounts_oncreateuser)
* Template.[onRendered](http://docs.meteor.com/#/full/template_onRendered)

etc.

I'd suggest recommendi

[2015-06-10 17:11] jagi commented on #16
I don't understand why Meteor team haven't decided to use lowercase form or just implement simple events system as I've made for Astronomy https://github.com/jagi/meteor-astronomy/blob/master/lib/core/events.js. Thanks to that you could just write `Meteor.on('connection')` instead `Meteor.onConnection`. Their events only allow one event handler (listener) per event so maybe it's why they haven't d

[2015-06-10 17:52] wursttheke commented on #16
Hi @jagi! I also feel the name 'events' is a little misleading. I would call them 'hooks' as in collection-hooks. Although technically the same, it is not really emitting events. It's more of a possibility to hook into the lifecycle of a documents or a collection.

[2015-06-10 17:56] rclai commented on #16
I was trying to find the spec in w3c about lower case event names and could not find it. I also tried validating it using the w3c validator and they allowed both cases.

[2015-06-10 18:33] jagi commented on #16
Yes naming it `hooks` is maybe a better idea. I was actually named `hooks` in the first version (in 2013) https://github.com/jagi/verin-model#hooks :). However isn't `onclick` event kinda of `hook` into the process of a mouse click? :) I think it can be used interchangeably with `event`, so I can allow both. Moreover developers can create their own events / hooks so it does not have to be hook.

[2015-06-10 19:28] wursttheke commented on #16
Don't try to create too many API choices. You will have to support them for a long time and people will get confused in examples, tutorials and questions. Make a wise decision and keep the API simple. ;)

[2015-06-10 20:20] jagi commented on #16
@wursttheke you may be right :). I will make that decision before 1.0.0 release :)

[2015-06-11 04:36] aldeed commented on #27
Here's another one for you:

"If this package were around when I created SimpleSchema, I would have used it instead of creating SimpleSchema."

It looks pretty slick. People only like SimpleSchema because it was the first decent schema package with good test coverage for Meteor. (And because they want to use AutoForm.) They'll eventually move on.

Speaking of AutoForm, the AF schema logic could be

[2015-06-11 04:48] dandv commented on #27
+ :100: for @aldeed for that testimonial.

[2015-06-11 07:25] jagi commented on #27
@aldeed I appreciate it :)

@rclai said that he will work on the package allowing transformation of SimpleSchema to Astronomy schema and vice versa.

This Friday I'm going on two weeks vacation but after that I will focus on Astronomy Forms package.

[2015-06-11 08:07] dandv commented on #27
Thanks for all your work!

BTW another "prior art" package I hadn't mentioned: @dburles [collection-helpers](https://atmospherejs.com/dburles/collection-helpers)

[2015-06-11 11:27] willrbc opened #30 "Behaviors appear to not be working at all for me :/"
I am quite new to meteor and I am playing with setting up models for a new project and I'm using the timestamp as well as some customer behaviours. At the moment  I'm specifically using behaviours to add groups of fields to models that will be re-used in a few different models,  for example address fields.

[code]

I have a customer class which implements the addresses and timestamp behaviours.

[

[2015-06-11 11:49] jagi commented on #30
You have a typo :). Instead
`behaviours: ['addresses', 'timestamp']`
you should write:
`behaviors: ['addresses', 'timestamp']`
The problem is a letter **u** :)

I've noticed that many people are using British English form **behaviours** instead American English **behaviors**. I'm thinking about allowing both forms, or just printing some warning in the console.

[2015-06-11 12:57] rclai commented on #27
I haven't gotten the chance to work on that transformation package yet. I was going to wait until Astronomy was more ready before I do that. Thanks again for [making it easier to see the validation definitions](https://github.com/jagi/meteor-astronomy-validators/issues/4).

[2015-06-11 14:07] willrbc commented on #30
I did notice that discrepancy everywhere accept where it counts. Thank you! :)

[2015-06-11 14:07] #30 closed

[2015-06-11 14:15] jagi commented on #30
No problem :)

[2015-06-11 14:17] jagi commented on #27
@rclai sounds good. 1.0.0 is very close.

[2015-06-15 05:06] ramijarrar commented on #14
Any updates on this?

[2015-06-15 08:59] niallobrien commented on #14
@jagi https://www.patreon.com/meteorclub

[2015-06-15 08:59] jagi commented on #14
It's in its early phase. Right now and for next two weeks I'm out of my country so not developing anything. I will be notifying about the progress when I'm back.

[2015-06-16 01:16] dcworldwide opened #32 "Implicit Setter/Getter not possible?"
Just learned about your package. I'll be tracking it to see how it evolves :)

First impression was that the setter/getter syntax is verbose. From docs

[code]

Can we not consolidate the approach somehow? object.property = x is much more terse.

[2015-06-16 08:04] jagi commented on #32
In fact there were mutators before. So calling doc.property = x; was causing the setter to be called. However in discussion under the ReactiveMap repo someone from Meteor team noted that they try to support as many browsers as possible. And setters/getters (mutators) don't work in old IE browsers. I thought about creating two packages. One for people wanting support old browsers and one for new br

[2015-06-18 14:44] jbbr commented on #32
I also prefer the old behavior - using implicit setters/getters although this means no IE8 support.

[2015-06-18 16:25] jagi commented on #32
Ok so I will create special package for people that don't want to support IE8 and below.

[2015-06-19 11:35] dandv commented on #27
Very similar project: @emmerge:[graviton](https://atmospherejs.com/emmerge/graviton) by @mhwheeler and @fractallian.

[2015-06-20 09:14] jagi commented on #27
Ok thanks I will add it to the list

[2015-06-22 10:20] jbbr opened #35 "Allow child classes without extra fields"
I want to create a child class, which only adds some methods.
But astronomy forces adding at least one field even to child classes:
```Error: At least one field has to be defined```

I think it should be possible to have child models without extra fields.

[2015-06-23 08:56] jagi commented on #35
Hmm it may be good idea to don't force that. I will change this behavior after this weekend. Thanks

[2015-06-27 08:44] jsilverMDX opened #38 "Ability to mass-set attributes before .save() (update, not new object)"
Vanilla meteor allows you to pass a hash to an .update() call using $set. This feature is missing from Astronomy. (or is it?) It's definitely missing from the docs.  Is there a way to do this in Astronomoy, similar to mass-setting the parameters in a new Object(hash) call? Thanks!

eg.
[code]

[2015-06-27 10:32] jsilverMDX commented on #38
Note: I solved it with code like

[code]

But I still think it's a good idea for a feature.

[2015-06-29 04:57] jagi commented on #38
I don't know if I understand you correctly but you would solve your problem by just using the `set` function.

[code]

The `set` function can set not only one attribute but multiple attributes at once.

Does it solve your problem?

[2015-06-29 09:04] jsilverMDX commented on #38
@jagi yes that is exactly what I was looking for. Don't know how I missed it. This will clarify my code. Thanks for this and a great library! :+1:

[2015-06-29 09:17] jagi commented on #38
Glad that I could help. Enjoy :)

[2015-06-29 09:17] #38 closed

[2015-07-01 14:56] jagi commented on #32
I the next version (0.11.0) I've fixed it by introducing configuration. You will be able to set:

[code]

I will publish the 0.11.0 version this evening.

[2015-07-01 15:14] jbbr commented on #32
Thanks! I really like this solution. I think maintaining two packages would require more effort and would cause confusion.

[2015-07-01 19:57] Taik opened #39 "push/pop-like operator for array based fields"
Currently, the only way to work with array-type fields is to explicitly specify them by index:

[code]

It would be nice to have a way to push a new element onto the array like so:

[code]

[2015-07-01 20:22] jagi commented on #39
I was thinking about solving this problem and introducing `push` and `pop` methods is not enough. We would need all the array methods. So it's not a good solution to duplicate them. Right now you can do as follows:

[code]

It will still detect the changes and update them. There is also one more feature that needs implementing. When the new member gets pushed into the array and the document is sav

[2015-07-01 21:06] jagi commented on #32
Ok, version 0.11.0 published. Let me know if everything works as expected.

[2015-07-01 21:06] #32 closed

[2015-07-01 21:06] #35 closed

[2015-07-02 10:51] matikucharski opened #40 "Cannot use Meteor.userId() as default value for field"
Hi.
First of all thank you very much for your excellent package.

I'm having an issue when trying to attach currently logged in userId as a default value for field in Astro.Class.

When I have
[code]

I got an error: `Error: Meteor.userId can only be invoked in method calls. Use this.userId in publish functions.`

But with `'senderId': { type: 'string', default: this.userId },` this keyword is Ast

[2015-07-02 10:55] jagi commented on #40
Hi,
A default value is static value, so you can not use a reactive variable here. Instead you should fill this field before saving document.

[code]

I will be creating behavior that does it automatically, however right now you have to do it manually.

Regards

[2015-07-02 10:58] matikucharski commented on #40
Thanks for your reply!
It is how I'm doing it right now:) It would be great to have this behavior made automatically.

[2015-07-02 11:19] jagi commented on #40
No problem :). I will be updating readme with list of behaviors. I have long list of features to implement so it can take time :). Stay tuned.

[2015-07-02 11:19] #40 closed

[2015-07-02 14:52] Taik commented on #39
Thanks for the workaround; That will suffice for me at the moment as I don't foresee my arrays growing more than a set limit. But for future optimization, diffing between arrays would be ideal to reduce I/O in mongo.

[2015-07-02 15:28] jagi commented on #39
Yes right. I definitely have to figure something out.
Regards

[2015-07-07 05:01] dcworldwide commented on #32
Nice fix. Config with optimistic defaults for the win :)

[2015-07-07 17:14] jbbr opened #41 "Meteor.loginWithPassword fails when using "supportLegacyBrowsers" option"
With the new "supportLegacyBrowsers" config (see #32) the "_values" object have been reintroduced. This causes some trouble with "Meteor.loginWithPassword".

It fails with "User has no password set" as it does not find a password in key "services" of user object - because its hidden inside the "_values" object

[2015-07-07 17:20] jbbr commented on #41
I tried to find out some more about this issue and it seems as if there is no implicit getter anymore.

Example:

[code]

[2015-07-07 19:47] jagi commented on #41
I will check it out

[2015-07-07 21:11] jagi commented on #41
Hmm it's strange because it works for me. Are you sure that you are doing everything correctly? Could you post an example code that does not work for you?

[2015-07-08 15:43] jbbr commented on #41
Sorry for not trying that before: I've created a new, clean meteor project and everything works as expected. I'm still unsure why this doesn't work in my project as it looks for me as if I'm doing exactly the same there.

Anyway, Thanks for checking this out!
I'll close this issue for know - and debug my project.

[2015-07-08 16:17] jagi commented on #41
Ok good to hear

[2015-07-09 13:29] AbdelBa opened #42 "Nested field with Astro.Class value type"
I tried to do that

[code]
But it doesn't work, how do I achieve this ?

[2015-07-09 14:18] jagi commented on #42
If you want to store a plain object in the address field you should use the `object` type instead.

[code]

and now you can store simple objects:

[code]

However if you want to store other astronomy object (maybe store it's not the correct word in this context) you should use relations package https://atmospherejs.com/jagi/astronomy-relations https://github.com/jagi/meteor-astronomy/wiki/Relation

[2015-07-09 19:17] niallobrien commented on #14
Any updates on this? Thanks.

[2015-07-10 06:13] dcworldwide commented on #42
I have the same issue. In SimpleSchema we are able to define sub-documents using a SimpleSchema. The advantage of this approach, as opposed to your suggestion, is that it is typed - allowing us to apply validation to sub-document structures.

I also really don't like the set(string) syntax. It is verbose and may not work well with IDE refactor tooling.

[2015-07-10 06:15] dcworldwide opened #43 "Camel case lifecycle function names"
Hi,

This may just be a documentation issue, but some of the lifecycle event functions in https://github.com/jagi/meteor-astronomy/wiki/Behaviors are not camel case. I think we should be consistent everywhere.

e.g.

addbehavior
initclass
initinstance

[2015-07-10 06:17] jagi commented on #42
You can still apply validation and types to subdocuments. Take a look at this documentation https://github.com/jagi/meteor-astronomy#nested-fields. However I see that in deed, in some situation it would be nice to have possibility to include schema in the schema that would be saved in the same collection. I will add this feature after implementing indexes.

[2015-07-10 06:26] jagi commented on #43
Hi,

There already was a talk about this and as I explained both forms are acceptable. The one that is specified by W3C is lowercase however throughout the Internet the came lcase seems to be used more often because it's more readable. If so many users want it came case, so maybe it's the one we should use in the documentation.

[2015-07-10 08:32] dcworldwide commented on #43
Thats good news. Thanks.

[2015-07-10 08:33] dcworldwide commented on #42
Sounds great.

Thanks for the code sample.

[2015-07-11 11:46] dpdonohue opened #44 "How to specify that a field is indexed in MongoDB?"
Apologies if I missed this somewhere.  Thanks for an awesome product!

[2015-07-11 14:05] harry-stafford commented on #1
would Astronomy be able to integrate with the https://github.com/ManuelDeLeon/viewmodel/ package?

[2015-07-11 16:16] jagi commented on #44
This feature is already available but not published yet. I will publish it on Monday :)

You will define it in the schema definition:

[code]

Where the value in the field is an index order. In fact it just passes an index definition to standard `ensureIndex` function of the MongoDB collection.

[2015-07-11 16:24] jagi commented on #1
I thing that it should work however it would be nice if you could check it out let know :). Right now I'm working on some improvements. I think in the final release you won't need `viewmodel` package because it I have plans to create module for binding model to the view.

[2015-07-11 16:26] jagi commented on #14
Sorry for the late response. Still working on it. I will also have to implement module for binding model to the view. Together with forms module it will be complex toolset.

[2015-07-11 16:29] dpdonohue commented on #44
Cool!  Ask and ye shall receive.  Do you support shorter hand notation perchance like
[code]

or like this
[code]

[2015-07-11 20:52] TomFreudenberg commented on #1
Hi, I am currently also working on that as a POC. After trying first steps with collections2/simpleschema https://github.com/ManuelDeLeon/viewmodel/issues/50#issuecomment-119275451 I will git astronomy now a try.

It looks really awesome. What is about some benchmarks? Do you think that your package will slow down the app a bit?

I keep my updates here

Cheers,
Tom

[2015-07-12 00:03] andrerfneves opened #45 "MomentJS on event hook"
I'm trying to use MomentJS to format the date for the createdAt and updatedAt timestamps. I tried using an aftersave and a beforesave event like this

[code]
Neither of them seem to create a postedAt field on the db when I add another post. Am I approaching this the correct way?

[2015-07-12 05:50] webyak commented on #45
Did you give `date = new Date(moment(date, 'MM-DD-YYYY'));` a try?

[2015-07-12 09:06] jagi commented on #45
If you set field's type to `date` the only correct format is `Date` object, so you shouldn't use momentJs for that. If you want to format date in the template you should create your own helper for that (on the level of template).

[code]

or something like this depending on how it structured.

[2015-07-12 09:18] jagi commented on #1
I don't think that there is a big overhead of using Astronomy. Of course there is always some room for improvements and I will certainly try to make it even faster.

[2015-07-12 09:20] jagi commented on #44
Yes of course I can do that. I did it for validators where you can define them just with the field definition. The same can be handy for the one field indexes. However the are situation where you have to have an index defined for more than one field.

So I will add this feature on Monday. Stay tuned

[2015-07-12 21:19] laurentpayot commented on #44
Great package indeed, I'm evaluating it to eventually replace aldeed's packages in a project (can't wait for the forms).
Could you give an example of how to set the options so that in your example the <code>name</code> field is a <b>unique</b> index?

[2015-07-12 22:05] andrerfneves commented on #45
Yup! I assumed that would work as well @yagi.

@webyak, I tried that, but I actually had to format it as ``` moment.().format('MM-DD-YYYY'); ```
Maybe there's two syntax?

Thanks guys!

[2015-07-12 22:06] #45 closed

[2015-07-12 22:41] dapearce opened #46 "Setting _id on new document"
Hi, great package and thanks for all the time put in!

Is it possible to set the `_id` when inserting new documents? I'm storing data from a 3rd party API which already includes a unique ID. I need to query based on this 3rd party ID, and since `_id` is indexed automatically I'd prefer to just use the 3rd party ID, rather than having to create another index.

[2015-07-12 23:47] Taik commented on #44
Hi @jagi thanks for adding this. Are there plans for supporting compound indices? (multi-key index)

[2015-07-13 07:53] jagi commented on #46
Hi, thanks.

Hmm I've denied setting the `_id` field but I can change that behavior.
I will make this change with today's update.

[2015-07-13 08:46] jagi commented on #44
@Taik yes this feature is already implemented. It will be published today and documented.

[2015-07-13 11:39] #46 closed

[2015-07-13 12:02] jagi commented on #46
Now you can set a document's id on creation in the version 0.12.0 of Astronomy. Enjoy :)

[2015-07-13 12:03] jagi commented on #44
Indexes added in the version 0.12.0. Now I will update documentation. I'm closing this issue for now.

[2015-07-13 12:03] #44 closed

[2015-07-13 12:57] dapearce commented on #46
Great, thanks!

[2015-07-13 17:26] steph643 opened #47 "Doc is not well organized IMO"
A ToC is supposed to describe what's in the document below. Here there are 2 issues:
- There are 2 ToCs! One at the beginning, and one in the "Features" chapter.
- The second ToC points to following chapters ***and*** to external documents.

As a result, I have just spent 15 minutes starring at the doc to find the concept of "validator" (although I used other keywords such as "validate" and "check

[2015-07-13 17:42] steph643 opened #48 "Validating before saving"
I am trying to see if packages astronomy+validator can replace `aldeed::Collection2` in my project.
One thing I don't see clearly is how to validate any object that I intend to save to the database. By validate I mean "throwing an exception if the object is ill-formed".
What are the best practices? Should I implement my own `validateAndSave()` function? Is there something I am missing?

[2015-07-13 18:26] jagi commented on #47
Yes indeed there is a little mess right now. I moved some parts of the documentation to the wiki to avoid to big readme file however it caused some inconsistency. I'm planning to create separate website with info about Astronomy and well organised documentation, something like Meteor doc (in terms of organisation).

[2015-07-13 18:31] jagi commented on #48
Hmm I don't understand your question. What do you mean by saying "any object". I assume that you mean astronomy object, right? Have you read [wiki about performing validation](https://github.com/jagi/meteor-astronomy/wiki/Validators#validation)?

The `validate()` method returns `true` / `false` value which can be used to throw exception if you want. However you don't need to throw exceptions. You

[2015-07-13 19:36] jbbr opened #49 "reload() method causes recognition as "new" in astronomy 0.12.0"
In my code I use the "reload" prototype method in some cases.

In Version 0.11.0 I was able to save a already persisted document after a reload. In 0.12.0 its recognized as new after reloading and saving it causes a duplicate key exception.

[code]

After reload new property ".isNew" becomes true

[2015-07-13 19:42] jbbr commented on #41
I was able to get it working in my project. The problem was caused by some kind of load order issue...

But the behavior was a bit strange: Setting "supportLegacyBrowsers" to false made a difference - so load order seemed correct. transformed objects had the "_values" property added etc.
Only the getters and setters where missing.

Moving the supportLegacyBrowsers settings into a deeper hierarchy

[2015-07-13 19:53] steph643 commented on #48
The feature I am talking about is:

(full doc [here](https://github.com/aldeed/meteor-collection2), this is one of the most used Meteor package).

I know about astronomy validators. And I can imagine how to implement a somewhat similar feature. But as I think this is a very common need, I was wondering why this is not already part of the package.

If you left it to programmers on purpose, I will g

[2015-07-13 19:57] jagi commented on #49
Oh sorry I don't have tests for the `reload` function yet and I didn't notice that latest fix can cause this problem. I make quick fix.

[2015-07-13 20:03] jagi commented on #41
Oh I see. The configuration should be called at the beginning, before all the other code starts running. You should put configuration in root or `lib` directory. Thanks to that you will make sure that it's called first. If you have some custom packages then they are loaded first so you should also add configuration in these packages.

But you are sure, I should mention it in the documentation.

[2015-07-13 20:08] jbbr commented on #49
No problem. Thanks for this great package.
I really like your clean code with tests for most cases.

[2015-07-13 20:18] jbbr commented on #41
I was aware, that I'd have to put the configuration at the beginning. As I had all models in one folder (lib/models) I've placed configuration in lib/models/config/astroConfig.js.
Unfortunately it didn't work (The configuration made a difference - but getters/setters where still missing).
It was confusing for me as for my understanding deeper nested files are executed before less deep nested files

[2015-07-13 20:22] jagi commented on #48
There were few people that already wanted this feature. I will add this to the TODO list. I was wondering why people ever need this feature, and I only found one reason: modification of multiple documents at once. I will probably have to write big module for this. I haven't investigate this problem in details yet, so I can't give you any advice.

What is your use case? For what do you need this fe

[2015-07-13 20:52] jagi commented on #41
It's the other way. The deeper nested files are loaded after. From documentation:

1. HTML template files are always loaded before everything else
2. Files beginning with main. are loaded last
3. Files inside any lib/ directory are loaded next
4. Files with deeper paths are loaded next
5. Files are then loaded in alphabetical order of the entire path

So it's:

lib/models/*.js
lib/models/config/as

[2015-07-13 21:03] #49 closed

[2015-07-13 21:05] jagi commented on #49
I've published the fix. Now it should work.

[2015-07-13 21:24] #41 closed

[2015-07-13 22:06] jbbr commented on #41
Sorry but I'm confident that in this case astroConfig.js is loaded first.
lib directories are first loaded but inside lib directories usual load order happens (deep first)
I've even tried it by putting some console logs inside.

But sure this is not the right place to discuss this.

Nevertheless it might be a good idea to give some hint in the documentation where to put the config.

[2015-07-13 22:26] steph643 commented on #48
My use case is input validation. In the following example, I want to ensure that "title" is no more than 100 characters long:
[code]
In fact, I would like ***any*** call to `save()` to go through validation, so that I don't risk saving invalid data (here an invalid title) to the database.

[2015-07-14 05:28] jagi commented on #48
Oh I see, so the only thing you have to do is something like this:

[code]

That's it. It's documented in the validation wiki and here is an example app https://github.com/jagi/meteor-astronomy-examples

I hope that it solves your problem.

[2015-07-14 05:31] jagi commented on #41
Ok I will make more tests regarding files load order. But in the fact files load order is pain in the ass :)

[2015-07-14 10:27] steph643 commented on #48
Yes, that is what I thought, thanks.

However this lets me with an uncomfortable feeling. What if I forget to call `validate()`? Is there a use case where I need validators but don't want to call `validate()` before saving? If there is none, why does the `save()` function doesn't call `validate()` directly?

Obviously, there are things I still need to grasp about your package. I am probably in the

[2015-07-14 10:34] steph643 opened #50 "Update an object without fetching it first?"
Consider the following code:

[code]

It this the Astronomy equivalent?:

[code]

Any way to avoid the extra database read? (findOne)

[2015-07-14 10:43] jbbr commented on #48
You could just do the validation in a global hook.

e.g
[code]

I personally like the fact that validation is separated from the basic model layer method "save".

I'm just a bit curious if validation is intended also as a complete replacement for check()'s or if it should only be used in addition to regular check()'s in meteor methods

[2015-07-14 10:48] jagi commented on #50
In this [example](https://github.com/jagi/meteor-astronomy-examples/blob/master/methods.js) I'm passing entire document from the client to the server over DDP so there is no need to fetch an object on the server. In most cases when you work with some document on the client, you already had to fetch it on the server and publish to the client. So, on the client you have this document. Now you can ju

[2015-07-14 10:56] jagi commented on #48
Not forcing validation on every save was a conscious choice. There are situations (when being on the server) when you don't want to execute the whole validation process, which in some cases can take some time. For example you can take some data from the other server and you are sure that it's valid and you just save it.

However as @jbbr mentioned you can always use global hooks.

I think that the

[2015-07-14 10:58] steph643 commented on #50
This makes perfect sense, thanks a lot.

[2015-07-14 11:07] steph643 commented on #48
On one side, I like the separation between validation and save. But on the other side, I need to "protect" my database the way aldeed:collection2 does. And it is meaningless to have 2 schemas in my code... So +1 for a feature for validating any collection update.

But in my opinion, `save()` should use this feature by default (with a `validate` boolean argument that user could set to `false` if ne

[2015-07-14 11:33] jagi commented on #48
I will think about the API. Right now I'm adding it to the TODO list with the high priority

[2015-07-14 11:48] jagi opened #51 "Release 0.13.0"
This issue tracks the release of Astronomy 0.13.0.

- [x] Nested schema definition #42
- [x] Multiple fields validation #65
- [x] Warn about setting not defined field #63
- [ ] Fix document states
- [ ] Fix error with calling the `init` function on every document creation
- [x] Reorganize code
- [ ] Nested fields validation
- [ ] Tests for all features

Moved to the 0.14.0 release.

- [ ] Collecti

[2015-07-15 05:53] dalerka opened #52 "Astronomy module to track direct manipulations on DB/collections."
As [discussed here](https://forums.meteor.com/t/astronomy-package-as-a-model-layer-for-meteor-questions-pros-cons/6812/3) it would be good to have a way to track changes made to a DB/collection (or a table in future) by some server-side process, or a user who can access the DB.

The module should be smart to analyze **what kind of change has been made?**, **when?**, and **by whom?** and be flexibl

[2015-07-15 11:09] jagi commented on #52
Right now I'm not going to mess with the mechanism of Database Watch because I'm not familiar with it yet.

For now I'm going to focus on collection level events and validation. To solve this problem I have two solution.

VALIDATION:
1. Write a wrapper around all collection methods like `insert`, `update` etc.
2. Write `deny` rules that won't allow operation if a document is not valid.

EVENTS:
1.

[2015-07-15 11:27] steph643 commented on #52
I don't use allow/deny, but I think they work only with db operations triggered by the client. If that is the case, they cannot be used for this feature.

[2015-07-15 11:30] steph643 commented on #52
About the other proposed solutions, what I can say is that `aldeed:meteor-collection2` does the job well (although with poor usability).

[2015-07-15 13:18] jagi commented on #52
Yes you are right about allow/deny rules. I have to make a good decision if it goes about API. If I override collection methods, then I should have some way of accessing original methods.

In your opinion, what is the worst part of `aldeed:meteor-collection2` that causes poor usability. What would you improve? I want to get as many opinions as possible.

[2015-07-15 13:59] steph643 commented on #52
There are 3 things that annoy me in `aldeed:meteor-collection2`:
 1. It tries to ensure database integrity, which makes it difficult to understand. See [this discussion](https://github.com/aldeed/meteor-collection2/issues/74). What I need is only the validation of the arguments being passed to insert/update, nothing more.
 2. It manipulates data on-the-fly in a complex way (it is called "cleaning"

[2015-07-15 14:45] jagi commented on #42
I'm thinking about that and I don't know what approach I should choose. You told that in SimpleSchema you can defined field type to be an another schema. In Astronomy you can do as follows:

[code]

You can still have nested object and nested validation. Maybe separating Address object would be better approach but it creates some difficulties which I can manage. It could look like follows:

[code]

[2015-07-15 15:16] jagi commented on #52
1. In fact the first point for me is a bug in SimpleSchema and could be easily fixed.
2. Astronomy does two of the things that SimpleSchema does. If it does not do it's a bug :P
  - Removing properties that are not in the schema
  - Conversion of values to match what schema expects
3. Fortunately, in Astronomy error generation mechanism is very flexible.

So, I assume that the you are happy with t

[2015-07-17 01:38] dcworldwide commented on #42
Nice stuff @jagi

*Structure & Id FIelds*
'''
Every Astro class/model/schema has the _id field which should be present here. I should probably only add the _id field to classes that are related with some collection.
'''

What if we seperate the schema concept from the class concept. A class could then map to a collection and be composed of 1.* schemas? This would allow us to re-use schema's across

[2015-07-17 01:41] dcworldwide commented on #42
Also, i'm wondering if we should avoid using strings as types and instead force users to use constants.

[code]

Benefits:

- IDE Autocomplete makes it easy for DEVs to understand available types
- If the constant values are ints and not strings, memory footprint reduced.
- Potential IDE refactoring benefits

[2015-07-17 07:22] jagi commented on #42
About your second post. I have to use string format for types, but thanks for suggestion. From the beginning I wanted to use string and there is a reason for doing so. I future versions of Astronomy, (probably in 2.0) the basic class will be pre built without runtime interpretation of the schema. I was playing with it already https://github.com/jagi/meteor-astronomy/tree/build/lib/build and postpo

[2015-07-18 01:11] dcworldwide commented on #42
Hi @jagi

[code]

[code]
I think tree data structures would be a fairly common thing in collections. I apply a behaviour like patterns to my collections (i.e auditing, location (gps, address)) and typically have collections that are 3 levels deep, sometimes more.

[code]
Yep, I have. Behaviours really simplify my codebase, they have been invaluable as complexity has grown. If Astro behaviours own

[2015-07-18 01:52] dandv commented on #51
Any change to add release tags on GitHub? Would give a good feel of what's been and being added. Thanks!

[2015-07-18 10:57] jagi commented on #51
Yes right I will update it now!

[2015-07-18 11:17] jagi commented on #42
3 levels deep? Could you post here some example class that you are using with 3 levels deep?

I will be working on improvements and sharing my thoughts.

[2015-07-18 11:36] dcworldwide commented on #42
Sure, sounds good.

Some examples of how i've been composing SimpleSchema's for my collections.

- POI schema
 - Location schema
  - Address schema
  - GPS Coordinate schema
 - Auditing Schema (createdBy, createdAt, updatedBy, updatedAt)

[2015-07-18 15:39] jagi commented on #48
There is a problem with validation on insert and updates. It breaks my assumption that developer wants the whole object to be valid. Let's say, we insert a document with following schema:

[code]

However, we are only passing the `firstName` field.

[code]

Should it be valid? In my opinion, it shouldn't. It becomes even more complicated on updates. Let's say that we have validator that says that

[2015-07-18 16:32] steph643 commented on #48
That is precisely where `collection2` falls short: it tries to ensure database integrity (see [here](https://github.com/aldeed/meteor-collection2/issues/74)),something which cannot be done correctly without deep database system integration.

Let's discuss this more :-)

I don't understand your first example. I didn't know `validateAndInsert` could take an object as argument. To me, `validateAndIns

[2015-07-18 19:34] jagi commented on #48
Notice that in the first example I wrote `Users.validateAndInsert()` not `User.validateAndInsert()`. I called it on the collection. It's the feature that I'm working on. And yes I was thinking about inserting incomplete object.

If it goes about your example:

[code]

It will not pass validation because all fields are required. Right now to pass validation you would need to create quite complex va

[2015-07-18 21:01] steph643 commented on #48
IMO you have made the same mistake than collection2: you don't distinguish between a *field validator* (which is local only) and an *object validator* (which can take into account relationships between fields). If the programmer has to wonder whether he has to create a `field1` validator defined as `> field2` or a `field2` validator defined as `<= field1`, then I think you got a oo design issue (i

[2015-07-19 08:12] jagi commented on #48
I was following the concept from the Doctrine library (for PHP Symfony framework) however I've modified it a little bit. There was a concept of the Post validator where I can validate one field in the relation to another one but still using the same validation functions. Maybe I should split it into two groups in Astronomy. I have to rethink it.

[code]

I probably shouldn't change a lot the way h

[2015-07-19 16:50] steph643 commented on #48
The proposed way to separate field and document validators looks very good to me.

Are you sure `validateDocument()` should fetch the whole document from the database? Why not keep the current behavior? People who want to validate the whole object can fetch it before...

[2015-07-22 08:33] serkandurusoy commented on #48
I think a `doc.ValidateDocument()` makes more sense when doing `insert`s, but when doing updates, `doc.ValidateFields()` would make more sense. Perhaps it would even better if the fields to be validated are either implied (by looking at which properties of `doc` have changed) or optionally be passed as an array of fieldnames so that we validate only the fields that we want.

But there still are ca

[2015-07-22 08:48] serkandurusoy opened #53 "[FR] Transient fields"
Since I see a natural evolution of astronomy to be a forms framework, I'd like the fields to have a selective:

* persisted
* transient

property where `persisted` is default but if marked as `transient` it becomes a part of the model and not saved in the db.

A practical use of transient fields would be form fields where we would like to validate, but only save a calculation or part of. For examp

[2015-07-22 10:40] jagi commented on #48
@serkandurusoy
1. Yes, it will work more or less the way you said. On inserts it will always validate entire document. On updates you will have choice, to validate: single field, multiple fields, all fields or entire document. It's almost implemented in coming update.

2. Yes, validation of fields that depend on values of other fields is tricky. It can be solved thanks to getters in ES6 (no suppor

[2015-07-22 10:47] jagi commented on #53
Thanks for this FR. It's good idea but it will probably be the part of the `forms` module instead of the feature in the model / schema. I'm going to introduce the `Form` class that will store class instance with all the persisted fields. On the level of the form you will define what fields (from schema) do you want to be visible as the form fields. You will be also defining list of transient field

[2015-07-22 12:02] serkandurusoy commented on #48
I'm not familiar with ES6 getters, so I cannot comment on that, but I'm glad to hear that you are heading in such direction.

About the changes, I'll be creating a new behavior that adds extra fields to the schema, should I wait for 0.13.0 or go ahead?

[2015-07-22 12:08] serkandurusoy commented on #53
Yes it makes sense and it would actually cover the whole field if you also provided form states: create/update/view.

Also, regarding the definition of visible form fields, does this mean that a model and its form will have a one to one mapping? Are we going to be able to create multiple forms that use the same model fully or partially?

For example, we could have a form to create a user, but have

[2015-07-22 14:26] jagi commented on #48
I think you can go ahead. There won't be many changes in behaviors and even if there will be any it won't be hard to migrate to new version.

[2015-07-22 14:38] jagi commented on #53
1. I've never heard before about the `view` form. I assume that you think just about displaying a document without possibility to edit it. I don't think that it should be a part of the `forms` module.

2. Yes, it will be possible (by default) to map one to one. However, you will be able to omit some fields or add transient fields (inputs).

3. Yes, you will be able to create multiple forms based o

[2015-07-22 14:47] serkandurusoy commented on #48
I'll be creating a behaviour for collations so that a field can be set to sort naturally, as in it gets sorted in that language. For example, an English sort would be `a,b,c,o,u,v,w,x,y,z,ç,ö,ü` but collated in Turkish, it would become `a,b,c,ç,o,ö,u,ü,v,y,z,w,x`.

Would you be interested in getting that into the official set of behaviours or should I go ahead and keep it private (or perhaps as a

[2015-07-22 14:50] serkandurusoy commented on #53
1. It is a concept from java server faces (facelets) and JPA (java persistence api) where a `view` of a form can be created by automatically rendering text values instead of form controls.

2-4. :+1:

[2015-07-22 19:44] jagi commented on #48
Yes, it would be great to make it official module. As far as I know MongoDB does not support collation, or it already does? How do you want to achieve it?

[2015-07-22 19:46] jagi commented on #53
Ok, I will think about it. If it will be desired feature I will implement it.

[2015-07-22 19:50] serkandurusoy commented on #48
It is a very simple idea; I use the `collator` class of the `iLib` i18n library to create `sortKey` values which are hex representations of the sort order of any given string in any given collation. I then binary encode and store it on mongodb along with the name of the collation.

I'm currently using that in a project with collection-hooks so that I can intercept beforeinsert/update to modify the

[2015-07-22 19:57] serkandurusoy commented on #53
An easy v0.0.1 hack would be to automatically add the `readonly` attribute to all form fields/elements and add custom styles to override the form look&feel to make it look like divs.

[code]

[2015-07-23 06:39] jagi commented on #53
Ok, I will take it into consideration :)

[2015-07-23 06:43] jagi commented on #48
Oh I see. I will investigate the iLib library.

Right now there is a [QueryBuilder](https://github.com/jagi/meteor-astronomy-query-builder) module for Astronomy, but it does not implement events yet. However, I will be working on the collection level validation and implementing events by the way will be easy. It will be available on v0.13.0 release.

So, maybe it will be better to wait for that ve

[2015-07-23 09:18] serkandurusoy commented on #48
Sounds interesting. I haven't looked into query builder since its wiki page is basically empty https://github.com/jagi/meteor-astronomy/wiki/Query-Builder

OK then, I'll wait untill v0.13.0 gets released. In the meantime, I'll see if I can implement this on a project I'm kicking off right now. It would be a good prep to a package.

[2015-07-27 10:09] atcwells opened #54 "Default values on nested inherited fields"
It doesn't appear that these work.. I realise it's an edge case!

Code something like this:

Parent = Astro.Class({
  name: 'Parent',
  fields: {
    'system': {
      type: 'object',
      default: {}
    },
    'system.field2': {
      type: 'string',
      default: 'field2test'
    },
});

Child = Base.extend({
  name: 'Child',
  collection: Childs,
  fields: {
    "field1": {
      type: 'stri

[2015-07-27 20:37] panphora opened #55 "Support for observechanges?"
I understand that meteor-astronomy uses the `transform` function to create classes and add methods, but some libraries (e.g. https://github.com/alethes/meteor-pages) use `cursor.observechanges` instead of `cursor.find`, so the transform function is never called. Is there a plan to patch this?

I would love to be able to use model methods from astronomy on my paginated pages.

[2015-07-28 18:21] jagi commented on #54
Hi, thanks for letting know. I'm right now a little bit busy with private stuff and will have time to test it out after the weekend, so I would be glad if you could suggest a fix. However I will get back to it on Monday.

[2015-07-28 18:28] jagi commented on #55
Hmm in `cursor.observe` it's not a problem because it returns an entire document and from what I know it uses the `transform` function. However in `cursor.observeChanged` it's in deed an issue. For now what I can suggest is trying to create a class instance by your self in the callback function:

[code]

It will be possible (in coming version) to validate multiple fields at once using the `doc.val

[2015-07-29 15:54] andrerfneves opened #56 "Null on insert document into collection"
Great package. Seems to be working wonderfully in my project up to right now. I'm not quite sure of what I'm doing wrong but if anyone could help me out that'd be great.

This is going to seem like a very long issue but it's really just a lot of snippets of code. I basically have a simple Add Question page to that calls the /question/save Meteor Method on the server after validating and then inser

[2015-07-29 18:08] jagi commented on #56
First of all, if it goes about the form, there is no `value` attribute in the `SELECT` element. You should use the `selected` attribute on the `OPTION` element instead.

It's hard to tell what is wrong without a reproduction. Could you create repo on GitHub that shows this situation? For me, everything looks properly.

[2015-07-29 19:28] andrerfneves commented on #56
Hm, turns out all I had to do was split these up into individual calls
''javascript
 var text = $('#text').val();
 question.set('text', text);

var answer = $('#answer').val();
question.set('answer', answer);

var prova = $('#prova').val();
question.set('prova', prova);

var materia = $("#materia").val();
question.set('materia', materia);
[code]

[2015-07-30 12:55] #56 closed

[2015-07-30 18:55] jagi commented on #56
I think the problem was using the `focus` event and trying to set all the fields at once in one event. In fact it would be better if you do it the way I did it in the [example](https://github.com/jagi/meteor-astronomy-examples/blob/master/client/templates.js#L20).

Having the `id` attribute of the input named the same as the field of the model you can just set a single field on each change event.

[2015-07-31 09:40] serkandurusoy opened #57 "Question about events"
I have three questions about events.

1) What is the order of execution for the events: `beforesave`, `beforeinsert`, `beforeupdate`, `beforeremove`, `aftersave`, `afterinsert`, `afterupdate`, `afterremove`? Is this correct: `beforesave` => `aftersave` => `beforeinsert/update` => `afterinsert/update` and independently `beforeremove` => `afterremove`

2) Is the `afterinsert` hook from `matb33:colle

[2015-08-01 12:40] jagi commented on #57
1) Insert operation: beforeSave, beforeInsert, afterInsert, afterSave
Update operation: beforeSave, beforeUpdate, afterUpdate, afterSave
Remove operation: beforeRemove, afterRemove
I forgot to mention it in the doc. I will add it.

2) It's not exactly the same thing but please precise the question.

3) Yes you can use `getModified()` in the event, however it will only work in the `before` events.

[2015-08-01 12:55] serkandurusoy commented on #57
1) Thanks for 1&2 although I would naturally assume beforesave,aftersave,beforeinsert,afterinsert but now I understand that a save *wraps* the insert. So I guess updating the docs would be great help in understanding that. So then, what's the difference between afterinsert and aftersave? What happens in between? Why would I need those two different events?

2) I was thinking about the insert opera

[2015-08-01 13:49] serkandurusoy opened #58 "Question about bulk updates"
Let's say I want to increment vote count on all documents on a Posts collection.

How do I do that?

a) Iterate over the cursor

    Posts.find().forEach(function(Post) {
      // Post is an Astro.Class, right?
      Post.voteUp();
      Post.save();
    })

b) Directly update the Posts collection

    Posts.update({}, {$inc: {voteCount: 1}}, {multi: true});

c) Some other way?

[2015-08-02 11:36] jagi commented on #57
1) The reason for having two different events is that there are operations that you would like to execute no matter if you are inserting or updating document. Let's say we have `timestamp` behavior. In this situation you would like to update different fields in `beforeInsert` and beforeUpdate` events. However in the `slug` behavior you would like to update the `slug` field no matter if you are upd

[2015-08-02 11:39] jagi commented on #58
Yes you would need to iterate over the cursor and save each individual post. It's not super efficient.
So, it's why I want to execute events and all model logic also on the level of the collection when you are using plain collection methods like `Posts.update({}, {$inc: {voteCount: 1}}, {multi: true});` It will be possible in the next Astronomy release.

[2015-08-02 11:48] serkandurusoy commented on #58
Hmm, when are you planning this release for?

[2015-08-02 11:48] serkandurusoy commented on #57
Thanks!

[2015-08-02 11:48] #57 closed

[2015-08-02 17:33] JulianKingman commented on #39
That workout didn't work for me? When I try it I get this:
members: { 0: { name: 'Name'}}

Shouldn't it be:  members: { 'Name' } ?

I'm trying to add an item to an array, it's proving difficult, do I need to use collection.update on this? One great thing about astronomy that I've really liked is not having to write these methods.

[2015-08-03 08:12] jagi commented on #39
Could you paste here the code that is not working for you?

[2015-08-03 12:39] jagi commented on #58
Probably it will appear with the next release

[2015-08-03 13:14] serkandurusoy commented on #58
Well, that's what I meant, the (targeted) time of your next release :)

[2015-08-03 16:52] JulianKingman commented on #39
Hi Jagi,

    found.set('source', []);
       found.source.push({
         name: source._id
      });
    found.save();

On August 3, 2015 at 4:12:24 AM, jagi (notifications@github.com) wrote:

Could you paste here the code that is not working for you?

—
Reply to this email directly or view it on GitHub.

[2015-08-04 00:15] waxhell opened #59 "mongoimport of .json file with arrays -- _id issues"
The following code works fine:
[code]
TestCollection contains the new item (with name 'testincode'). However, if I import in a json using the following mongoimport command:
[code]
where test.json contains:
[code]
I get the following error in my meteor log:
I20150803-17:04:57.170(-7)? Exception in queued task: Error: transformed document can't have different _id
I20150803-17:04:57.171(-7)?     at [

[2015-08-04 06:44] jagi commented on #59
Hmm I don't see that there is any error coming from astronomy. Are you sure that it isn't caused by something else? If yes, could you provide reproduction repository so I will be able to treat it out.

[2015-08-04 08:02] jagi commented on #39
When you have class / model:

[code]

then you can do as follows:

[code]

The `found.source` will be equal to `[{name: 'abc'}]`.

Is this exactly what you expect?

[2015-08-04 17:18] waxhell commented on #59
I built a test project from scratch and I realized it's the combination of astronomy, mongoimport, and houston:admin. It actually occurs with any import, not just the arrays -- likely due to the way that mongoimport populates the _id field with an ObjectId object rather than a string.

[code]

This might be more of a houston:admin issue than an astronomy issue, however if I remove the astronomy te

[2015-08-07 04:17] dalerka commented on #52
I'm not sure it is a better option, but the following API syntax might have few benefits:
[code]
1. it makes it clear that *Astronomy* package is used here to handle certain operations (easier for newcomers to the codebase);
2. it is similar to using *Underscore* like _.map(...);

What do you think guys?

[2015-08-07 04:37] JulianKingman commented on #39
That's what I'm going for, how do I get it to work for 'updates'? It seems like this would overwright the array (with found.set('source', []))

[2015-08-07 04:48] jagi commented on #39
With updates it works as well but you don't need to `found.set('source', []);`.

You just write:

[code]

That's it

[2015-08-07 04:55] jagi commented on #52
Yep, seems to be good idea. However, maybe it would be better to pass just a collection not collection name.

[code]

[2015-08-07 05:10] JulianKingman commented on #39
That's great, so then I assume if it's a non-keyed array, it would looke like this: found.source.push('newarrayvalue')?

[2015-08-07 05:11] JulianKingman opened #61 "Setting Meteor.users schema & methods"
Are there any special instructions for setting up Meteor.users schema? Does the default schema have to be copied in for it to work normally (meaning with user accounts, etc...)?

Thanks!

[2015-08-07 05:19] dalerka commented on #52
Agree, I just came back to edit "Books" to *Books* :)

[2015-08-07 08:41] jagi commented on #61
There is the wiki [page](https://github.com/jagi/meteor-astronomy/wiki/Examples#users-collection) showing example of using Astronomy with `Meteor.users` collection. There will be a little change with nested schemas in the coming release, so examples on that page will get more detailed.

[2015-08-07 08:41] jagi commented on #39
Yes exactly

[2015-08-09 00:13] JulianKingman commented on #61
Perfect, thanks! I don't know why I didn't find that page.

[2015-08-09 00:13] #61 closed

[2015-08-09 00:51] JulianKingman opened #62 ""Relation" module, how to?"
I'm having trouble implementing the relation package (https://github.com/jagi/meteor-astronomy/wiki/Relations).

Data normalization:
Let's say I have a user and a post, and I want the user related to the post. Do I add relations to both classes? Just to the 'parent'? What are the acceptable 'local' and 'foreign' values? I ask this because I'm having trouble understanding how this can work with dat

[2015-08-09 01:02] JulianKingman commented on #62
Also, do I need to set up relations on both sides to get the related object? (post.author and author.posts)

[2015-08-09 16:31] JulianKingman commented on #39
This seems to get a little funny with the Meteor.users collection. For one, the collection only allows modifying emails, services, and profiles, so I had to re-work my schema a bit to not get permission errors.
The other thing is, if I store fields in the 'profile' object, even setting a default [] value to an array doesn't create the profile or the array when a user is added. It also doesn't seem

[2015-08-10 05:48] jagi commented on #39
Instead writing:

[code]

you have to write:

[code]

In your schema, you also have to define it like this:

[code]

Maybe it's seems to be a little bit not intuitive. However in the next release, it will change a little bit to something like this:

[code]

Thanks to that you will have more control over your data and it will be possible to do something like this:

[code]

as well as this:

[code]

[2015-08-10 08:09] jagi commented on #62
If `User` to `Post` is `1 to 1` relation then you have to do something like this:

[code]

You have to directly set both relations, in both classes.

When we talk about the `1 to many` relation, the way you store related id depends on the use case. Of course you can store ids of all related post in the user document in the array.

[code]

However when deleting any post you would have to remember t

[2015-08-10 22:39] hellogerard opened #63 "Should saving an invalid field to a model throw an error?"
Hello, great package here. This might finally be the Meteor ORM I've been looking for.

I keep running into one problem over-and-over, however.

If I attempt to save a new field to a model that has not been defined in the schema, Astronomy silently ignores the field. I keep forgetting to add new fields to the schema, resulting in errors, and wasting lots of time before realizing my error.

Convers

[2015-08-11 01:41] JulianKingman commented on #62
So does this work?

[code]

[2015-08-11 01:54] JulianKingman commented on #39
Huh, I could have sworn I tried that, but I just switched it to what you suggested and it worked perfectly.

I'm sure the new way will be very powerful, but it looks more confusing to me...  (note: I'm pretty new to this stuff, so take it with a grain of salt.) What does it mean to have nested Astro classes? Can you embed another class inside that one? Is it basically creating a reusable schema, a

[2015-08-11 17:00] jagi commented on #63
Hi, thanks.

Ok, so you are talking about two use cases. The first one is inserting a new document with extra field that is not defined in the schema and the second one retrieving document from the collection with more fields than defined in the schema.

First I will explain why I did that. I just can't save entire document as a whole because it can contain some extra properties that are used inte

[2015-08-11 17:12] jagi commented on #62
It should be something like this:

[code]

I know it maybe counter intuitive to set all the local and foreign keys but I was inspired by Doctrine library from PHP language and it's how they did it. It probably could be done better. Relations module is in its early stage. What I would suggest for now is not using it. You can just write your own mechanisms using methods. It's even shorter to write a

[2015-08-11 17:22] jagi commented on #39
I'm working on this new release because I want Astronomy to work not only with MongoDB but also with other databases also relational. In most relational databases you can have nested objects or arrays like for instance the `Meteor.users` collection.

[code]

However in MongoDB or RethinkDB it's possible. So my solution for Astronomy to make it work with other databases is Nested classes.

For exam

[2015-08-11 18:03] JulianKingman commented on #62
OK, I can stick to methods for now.

Look at how I wrote my relation definition, though, as there are reasons to write it that way. Assuming two databases, user and post, depending on what sort of structure you have, any of the following are valid ways to set up a relationship (according to MongoDB):

1. Store user._id in post.userId (one-to-one, simplest. Technically also one-to-many as many post

[2015-08-11 18:13] JulianKingman commented on #39
That makes sense, it's very forward-thinking. What about other class attributes, like what would happen if you put methods on a class that you nested as a field type? That's what really confuses me, that you use the same class to define embedded fields as you do to define the collection objects. On the one hand, it's a very elegant approach, but on the other it seems a bit unstructured, at least v

[2015-08-11 18:32] jagi commented on #39
The difference is in the presence of `collection` attribute which tells that the class should be persisted in the database. There was an idea to call it just a schema. And compose class from one or many schemas.

[2015-08-11 19:46] chroz opened #64 "Relation module and subscriptions"
Hi there! Thanks for these great package(s), just what I've been looking for :)

In order for the relations to work, all relevant data must of course be published ( and subscribed to ).

When I setup my subscriptions I usually have to query on a foreign key, after first retrieving an initial document. (for example fetch a post, then fetch its comments by post_id) I generally don't want to fetch al

[2015-08-11 20:40] MichaelOber opened #65 "Ability to validate multiple specified fields at the same time"
Right now, you have three options:

post.validateAll() to validate all fields. Error messages are for all fields
post.validate() to validate all fields, stopping at the first error. Error Message is for first field only.
post.validate('name') to validate a single field. Error message is only for specified field.

Would it be possible to add something like
post.validate('name', 'date') to validate

[2015-08-11 20:52] jagi commented on #65
Hi, thanks for this issue. Actually it was already implemented in the newest version :) which is not published yet. You will be able to do:

[code]

It will take some time to publish it because it bigger update that changes a lot in Astronomy. So stay tuned :). For now I can recommend some workaround:

[code]

It should work. And when the new version is released, you will be able to use previously

[2015-08-11 20:59] jagi commented on #64
Hi, thanks :)

Yes, it's definitely something worth implementing that I was thinking about. There is a package called publish-with-relations or something like this that I was using in my projects. I was planning to integrate it into Astronomy so that application would subscribe to all necessary publications. However, right now I have a lot of work to do regarding the next version of astronomy. So,

[2015-08-11 21:10] chroz commented on #64
Ok, thanks for the tip!

[2015-08-11 22:06] JulianKingman commented on #17
This isn't working for me in the user collection... I'm trying to set the profile and profile.roles as defaults

[2015-08-11 22:17] JulianKingman commented on #62
Should this work? It's coming back undefined

[code]
(Note: If the example seems silly, it's going to be used to add data to an object that will be exported as CSV)

[2015-08-11 23:28] JulianKingman commented on #62
I see what I did wrong, it should have been:
[code]

[2015-08-12 02:48] andykingking opened #66 "Query Builder docs are missing"
There are a fair number of methods in the query builder repo, but unfortunately no documentation on how to use it in this wiki.

Can anyone provide any insight or examples?

[2015-08-12 05:45] jagi commented on #17
Show your schema, so I will be able to help.

[2015-08-12 05:50] jagi commented on #66
Hi, QueryBuilder is an experimental module for Astronomy that was proposed by me to deal with querying data that depends on some behaviors. Right now it's only used in the SoftRemove behavior. The API can change a lot in future releases, so if you don't have to, then don't use it now extensively. I will provide documentation after 1.0 release.

[2015-08-12 10:51] jagi commented on #62
Storing multiple post ids in the postsIds array is not implemented yet in relations module. Of course it's one of the proposed solutions in MongoDB and will probably be implemented in this package.

[2015-08-12 14:58] jagi commented on #63
I've added warnings on setting not defined fields. It will be available in the next Astronomy release. For now I'm closing this issue.

[2015-08-12 14:58] #63 closed

[2015-08-12 15:01] jagi commented on #65
For now I'm closing this issue because the feature is implemented and will appear in the next release.

[2015-08-12 15:01] #65 closed

[2015-08-12 15:04] jagi commented on #42
For now I'm closing this issue because the feature has been implemented and will appear in the next Astronomy release.

[2015-08-12 15:04] #42 closed

[2015-08-12 18:31] chroz opened #67 "Updating foreign keys using set"
Hi again!

My relation is working fine, and I'm able to retrieve the related object successfully.
However, if i try to update the foreign key on my object using set() -
retrieving the related object does not seem to work, I still get the original one.

Any clue?
This is all client-side code, before trying to save the object.

[2015-08-12 19:33] jagi commented on #67
Hi, post here you schema and the code that is not working properly.

[2015-08-12 22:53] chroz commented on #67
Thanks -

Sorry, i should also have made it clear that it was a one-to-one relation:

@Models.ClientSession = Astro.Class(
  name: 'ClientSession'
  collection: ClientSessions
  fields:
    name: 'string'
    duration: 'number'
    date: 'date'
    time: 'string'
    clientService_id: 'string'
  relations:
    clientService:
      type: 'one'
      class: 'ClientService'
      local: 'clientServic

[2015-08-13 00:08] an0nym0use commented on #66
Noted, thanks.

[2015-08-13 03:41] JulianKingman commented on #39
I'll just wait and see :)

[2015-08-13 03:42] JulianKingman commented on #17
[code]

[2015-08-13 08:38] jagi commented on #17
Ok, now I see what are you trying to achieve. Right now no achieve that you would need following schema:

[code]

Nested fields are not set to default value until trying to get given value or set given value with `null` or `undefined`. In the 0.13.0 version it will change. Your schema will look like follows:

[code]

Thanks to that all the nested fields will be set by default and it will be much m

[2015-08-13 09:25] jagi commented on #67
Oh yes, there is an error in the code. I'm caching references and after changing id I'm not checking if it had changed. I will fix it in the next release. For, now I would recommend implementing relations by hand, what I've demonstrated [here](https://github.com/jagi/meteor-astronomy/issues/62#issuecomment-129974825)

[2015-08-13 09:49] chroz commented on #67
Ok great, thanks!

I suppose the docs should also be updated with the importance of using set () for this to work, i suppose just setting the var directly will be difficult to detect.

[2015-08-13 11:48] JulianKingman commented on #17
Thanks, thanks! So what you’re saying is that the default value won’t be set until I get the value… could I do something like this? (Doesn’t work as it is):

[code]

I really like the 3rd way, it’s very ‘meteor’.

On August 13, 2015 at 4:38:39 AM, jagi (notifications@github.com) wrote:

Ok, now I see what are you trying to achieve. Right now no achieve that you would need following schema:

User =

[2015-08-13 20:05] jagi commented on #17
I would not recommend doing it in this way:

[code]

However if you really want to do it use `beforeInsert` event instead of `afterInsert`. Thanks to that it will make only one save. You also do have to store data in any variable.

[code]

However, as I said, I would avoid doing it that way.

[2015-08-14 18:34] MichaelOber opened #68 "Run behaviors without saving to database."
Would it be possible to add a feature when you can run certain behaviors on an Astro object without it being saved to the database? Right now, I think they are only run when using .save();

A good use case for this would be when creating a user. Right now, in Meteor, you are locked into using Accounts.createUser and Accounts.onCreateUser. When meteor creates the user, none of the behaviors are run

[2015-08-14 19:38] AdamBrodzinski opened #69 "Is this prod ready?"
This looks really great! Is this production ready even though it's not fully complete yet? Does it have high test coverage? (I see there are some tests).

At the least I wanted to try it out on my [Reactive Meteor](https://github.com/adambrodzinski/react-ive-meteor) example repo.

Cheers :beers:

[2015-08-14 22:32] jagi commented on #69
Hi, thanks :)

I've heard that some people used it in production and they were happy with it. But I always warn that before 1.0 release anyone use it on his/her own risk :). The 1.0 version is not so far from now, so you can just wait for it :).

If it goes about tests, I'm working on it right now. The `nested` branch is the one on which I'm working currently and as you can see [here](https://gith

[2015-08-14 22:45] jagi commented on #68
Oh good point. However implementing it could be tricky. The reason for that is that a behavior can not only hook into the process of saving of a document but it can also hook into almost any process happening in Astronomy.

Let's take the `timestamp` behavior. It uses the `beforeInsert` and the `beforeUpdate` events to set the `createdAt` and the `updatedAt` fields. So for this one we would need t

[2015-08-14 22:50] AdamBrodzinski commented on #69
Very cool! I'll try it out on the Reactive meteor demo first and then I have a greenfield app to build in another month or two so it should be ready by then. I'm sooo tired of writing my own anemic model facades :laughing:

Feel free to close this (not sure if it's helpful for others)

[2015-08-15 20:56] jakobrosenberg opened #70 "Any thoughts on JSON Schema?"
Have you considered implementing the JSON Schema specification?

[2015-08-16 11:43] jagi commented on #70
What do you mean by saying "JSON Schema specification"?

[2015-08-17 22:10] hellogerard commented on #63
Thanks! I think this works well.

[2015-08-18 19:39] andrerfneves opened #71 "Updating Meteor.users Collection"
Jagi,

Been having some trouble with applying the Astronomy View Layer to the Meteor.users collection. What I'm trying to achieve is a simple Edit Profile page, where logged in users can change things like First Name, Last Name, Age, Email and so forth. My idea is to have a form with inputs that display this data. Screenshot below.
<img width="749" alt="screen shot 2015-08-18 at 3 28 45 pm" src="h

[2015-08-18 20:08] ribbedcrown commented on #71
Hi, @andrerfneves!
You have different model instances for `change input` and `click #save-profile` events. While "change" instance is filled with new data, the "save" instance handles only actual db data.

As solution:
[code]

[2015-08-18 20:13] andrerfneves commented on #71
@ribbedcrown thanks for the quick response. I just tried you code and though it makes sense what you said about two model instances of the User object, I now receive a TypeError

[code]
It seems that this is getting called here (line 10):
[code]

Any idea why that might be?

[2015-08-18 20:29] ribbedcrown commented on #71
@andrerfneves maybe subscription trouble. Meteor.users.findOne() returns undefined? Similar solution works for me fine

[2015-08-18 20:51] andrerfneves commented on #71
Meteor.users.findOne() returns the current user object as expected.

<img width="589" alt="screen shot 2015-08-18 at 4 51 10 pm" src="https://cloud.githubusercontent.com/assets/2574011/9342384/5ab60224-45c9-11e5-9644-a973309fa685.png">

Do I need to have some sort of subscription on the router/template? I know I don't need to subscribe to the user object but maybe I need to have some Astronomy-spe

[2015-08-18 20:53] andrerfneves commented on #71
@ribbedcrown Are you using Iron Router or Flow Router? Do you have any calls on the ```subscription``` or ```waitOn``` fields for the route?

[2015-08-18 21:01] banglashi commented on #71
@andrerfneves can u post the html part?

If you setup this.data.user at onCreated you should use tmpl.data.user to get that value unless you have a user as a data context on the editProfile template
[code]

[2015-08-18 21:16] ribbedcrown commented on #71
@andrerfneves Yeah my bad! Wrong context at event handler.

@banglashi Thank you)

[2015-08-18 21:20] jakobrosenberg commented on #70
http://json-schema.org/

Structuring JSON objects according to json-schema.org could help with 3rd party compatibility. Form generators, validators, etc.

[2015-08-18 21:32] andrerfneves commented on #71
@banglashi, here's my .html for editProfile. Ignore the extra helpers like isThirdPartyLogin and isDisabled. Those are helpers that check whether the user is signed on with FB/Google (and then disable the field to change names/email...) or straight up accounts-password.

[code]
And here's the modified JS.

[code]
With the exact code above, I'm still getting the following errors:
<img width="590" a

[2015-08-18 21:37] mmintel opened #72 "function as default value"
Hi there,
I am just coming from SimpleSchema and want to translate my schemas to astronomy.
I didn't find the right place in your documentation.. I want to add the current users id to the owner field of my schema which worked like this in SimpleSchema:

[code]

Is that possible with astronomy? Do I have to register an event for that?

Cheers
Marc

[2015-08-18 21:38] ribbedcrown commented on #71
@andrerfneves, without data context headache:
[code]

[2015-08-18 21:47] andrerfneves commented on #71
@ribbedcrown I completely understand the problems I had on my code, and I get the data context headache situation. That being said, both your code and @banglashi's modification seem to do what I want (in theory), but I continue to get the same errors. One for when I make changes to the input at line 11:9 (user is undefined) and another when I click the save button at line 15:1 (user is undefined).

[2015-08-18 22:40] ribbedcrown commented on #71
@andrerfneves no, no troubles with html. Spending some time I found that `this.user is undefined` error from my first "solution" disappears when velocity is turned off with VELOCITY=0.
I have no idea yet why this happens, but it's not Astronomy issue. We need to dig into the source code, maybe we are doing it wrong.

[2015-08-18 22:51] banglashi commented on #71
@andrerfneves try this:

[code]

and for the js

[code]

[2015-08-19 01:22] andrerfneves commented on #71
@banglashi So your code didn't work, but I changed one little thing and it finally worked!

I moved the call for the user object to the helper and removed the oncreated call for the object instance, like this:

[code]
Just glad it works now. Not quite sure why the other code wasn't working but this one works perfectly. Also, remember to have your input's id match your user's db schema, otherwise t

[2015-08-19 01:36] #71 closed

[2015-08-19 07:29] ansarizafar opened #73 "Index creation issue."
I am trying to create index on a field in my schema
[code]
When a save new document by using BizType.save()  no index is created on typeName field in MongoDb collection. Please help me resole this issue.

[2015-08-19 08:00] jagi commented on #72
Hi, yes right now you have to use the `beforeInsert` event. However, it's good idea to implement such feature. I will add it in the next release.

[2015-08-19 08:10] jagi commented on #71
Thanks guys for helping solving this issue :-). Thanks to your help I can focus more on improving astronomy :-)

[2015-08-19 09:33] mmintel commented on #72
I see you are not lazy Mr.Myjagi! :+1:

[2015-08-19 15:21] cwohlman opened #74 "Allow non-schema fields in a document"
Oftentimes when I'm prototyping, or writing code that doesn't interact with users I want to add fields which don't really need to be a part of the schema - but right now those fields will simply be erased on save, I think it would be a good idea to optionally allow a 'non-strict' mode where fields which aren't part of the schema are saved as-is.

So this would work:
[code]

[2015-08-19 19:47] jagi commented on #74
It's quite hard to implement, because Astronomy document contains not only fields and their values but also some private data like validation errors. Because of that it would try to save all properties that are stored in an object. Of course there are ways to avoid it but I think that if someone chooses to use schemas, then he/she is aware of what restrictions it introduces.

For, now I don't see

[2015-08-19 19:58] jagi commented on #73
Hmm strange, I've created Meteor project and pasted your code. Index was created. How are you checking for an index existence?

[code]

Like that?

[2015-08-20 00:48] JulianKingman commented on #17
How would you recommend setting a default field for a user when they start up?

The issue with using beforeInsert is that it (I believe) depends on the Astronomy way of creating a document, and doesn't work with the user registration process which goes on behind the scenes.

[2015-08-20 03:07] ansarizafar commented on #73
Yes I have checked using mongo shell and MongoChef. there is no index on typeName field. I am also experiencing same issue with other collections.

[2015-08-20 04:42] jagi commented on #17
It seems to be problematic. You would have to wait until I implement collection events.

[2015-08-20 07:01] jagi commented on #73
Have you tried with different, clean Meteor project?

[2015-08-20 09:58] #69 closed

[2015-08-20 10:12] jagi commented on #70
It doesn't seem to be used by many developers. Right now I don't see any benefit of implementing it. Maybe someday in the future someone will implement module for Astronomy that allows export to these kids of schemas.

However, even though 1.0 version of Astronomy isn't ready yet, I'm thinking about 2.0 version which will be based on JSON schema specification (however not compatible with the one y

[2015-08-20 13:49] cwohlman commented on #74
Honestly the only use case is fast-prototyping, in the long run (e.g. production) everyone should only use fields that are on the schema (if they're going to have a schema), but in the short run, the ability to use fields which are not on the schema would save the developer a lot of time if they're experimenting/prototyping because they might be changing the implied schema a lot. This was actually

[2015-08-20 13:49] #74 closed

[2015-08-20 15:11] jagi commented on #74
Ok great. I will add this feature to my list for future consideration.

[2015-08-21 23:55] banglashi opened #75 "add isModified() method"
Hi @jagi, hope you are well.
Would it make sense to have a isModified() method, that would return true as soon as it gets the first modified value? In my case I would use it to save a roundtrip to the server when the model has not been modified by the user but he chooses to save anyway. Let me know

[2015-08-22 10:14] jagi commented on #75
Hi, thanks I'm well :). I'm working hard on new release and I'm very happy with what I've achieved as far :).

Getting to your question. Definitely it would make sense to add such method. I just would like to know more about your use case. Do you want this method to be reactive?

[code]

Is it your use case, or you want it to do something different?

[2015-08-22 15:59] tdamsma opened #76 "Calling server method from client"
How can I add a method to a class that runs on the server, but is called from the browser?
For example: I have a class users and posts, and I want to return the count for the number of posts per user. So I add the method as follows:

    methods:
      countPosts: -> Posts.find({userId: this._id}).count()

On the server this returns the correct result but on the client, I am only subscribed to a s

[2015-08-22 17:32] jagi commented on #76
Hi, it will be something like this:

[code]

It's not perfect but if you are not subscribed to all the documents it's probably the only way. You have to call server method from the client and wait for value returned from the server.

[2015-08-22 20:43] tdamsma commented on #76
Thanks for the quick reply! Too bad I can't keep the code with the class definition. Do you see a way to abstract this away? Would be cool if I could just add a serverMethod to my class and that all this is then taken care of. But I think you have enough stuff to add already. Looking forward to the next release, keep up the good work!

[2015-08-22 20:59] jagi commented on #76
It would be possible to add such methods to the class but it would be hard to implement. There are a lot of variables.

It could look as follows:
- Every class method would be also registered as a Meteor method. In fact `Collection.insert` is just a method `Meteor.call('/collection/insert')`.
- Calling class method would call Meteor method that was registered.
[code]
- The `countPost` method is ru

[2015-08-22 21:32] jagi commented on #72
Feature has been implemented and will appear in the next release. It's getting closer to this moment. So stay tuned :). For now I'm closing this issue.

[2015-08-22 21:32] #72 closed

[2015-08-23 10:59] bensmeets opened #77 "Will this work with SQL support in Meteor?"
Hi, how is this package going to work (if at all) with the most likely upcoming SQL support in Meteor? https://forums.meteor.com/t/an-early-look-at-sql-in-meteor/8736

Will it bite each other or complement each other?

Cheers.

[2015-08-23 11:00] banglashi commented on #76
Hi @tdamsma,
in the meantime you can use a package like tmeasday:publish-counts to publish the count of documents with your subscription.

[2015-08-23 11:06] jagi commented on #77
Hi, as long as SQL support is experimental it's not going to support it. However, when designing Astronomy I was planning to support other databases in the future so it's ready to deal with it. It won't need complete redesign to support SQL. It will be more like adding some features. As I know there are still many problems if it goes about SQL support. For instance the Accounts module is still bas

[2015-08-23 11:10] banglashi commented on #75
yeah, keep up the good work. Really happy on how it's evolving. Regarding the question: actually in my use case I don't need it to be reactive, since the check will be done on a submit button. I just wanna save a server call if nothing changed. But I have to say I can see the use case for it being reactive too, so it's up to you on what makes more sense. There could be just a parameter isModified

[2015-08-23 12:34] jagi commented on #75
If you want to detect if there are any modification you can just use `getModified()` function. It's actually detecting all the changes to the document and returning them. You would only have to do it the following way:

[code]

The `getModified()` method returns object with modified fields and their values. However, if there were n modifications, it returns empty object, so it's why you have to ch

[2015-08-24 00:59] ashokgelal opened #78 "Clarity on how it plays with Allow/Deny?"
Sorry if this is a stupid question, but how does Astronomy play with Allow/Deny? Does it ignore them completely? There is no mention of allow/deny anywhere. It'd be nice to have some documentation on how to securely use Astronomy.

[2015-08-24 01:03] ashokgelal commented on #78
Just stumbled upon this: https://forums.meteor.com/t/astronomy-package-as-a-model-layer-for-meteor-questions-pros-cons/6812 :+1:

It'd still be nice to have some documentation here on GitHub probably with a nice example. I'd do but I'm not yet too familiar with Meteor security as well as Astronomy :(

[2015-08-24 10:43] jagi commented on #78
While working on the next Astronomy release, in the meantime I'm also working on better documentation. It will be much more detailed. The "security" section is definitely "must have". There are some parts in Astronomy that helps with security like the fields definition or validation. However, you have to make sure that everything is secure by yourself using standard Meteor security features.

Ther

[2015-08-25 04:04] ashokgelal commented on #78
I've read Discover Meteor book (twice) and watched some of EventedMind videos as well. I wasn't just sure how Astronomy fitted with the security model. I'm pretty sure I've more readings to do. Thanks for the answer and thanks for this great library.

[2015-08-25 04:04] #78 closed

[2015-08-25 06:02] jagi commented on #78
No problem :-). I think that when I update documentation with some good tutorials everything will be clear :-)

[2015-08-25 20:03] shadowRR commented on #39
I've got a question. If i have a field of type array, which in this case, represent the history of the class (for example, an history of the change in prices for an article...). I don't want to pull the full history in memory every time the user is gonna make a change, it could become heavy with time... And because of this, if y try to do in an update :
[code]
It won't work has it's gonna override

[2015-08-25 20:18] jagi commented on #73
Hi, did you solve your problem? I'm making tests for Index modules and I've experienced similar situation. Index was not created. The problem was with trying to create index for the field that already had index. Let's say that, we've defined index for the `firstName` field. Now when trying to define index for two fields the `firstName` and the `lastName` it will fail without any error. Maybe it's

[2015-08-25 21:19] jagi commented on #39
[code]

The save method will save entire `history` array, not only the last value. If the list of the operations is long it may not be a good choice to use `product.save()` to update only this fields. In such situation it would be better to use:

[code]

However, in this situation you have to create your own validation logic. With the new Astronomy release there will be a way to perform validation

[2015-08-25 21:27] shadowRR commented on #39
Yup, i was already using the classic mongo query on this one. It's not really a problem since i use it in a behaviors where the values have already been validated.
Awesome to hear that the next release will tackle this issue. Astronomy just keep getting better and better ;)

[2015-08-25 21:50] jagi commented on #39
Ok good to hear :). I'm trying to do my best :)

[2015-08-26 06:47] ansarizafar commented on #73
No, the problem is still there. I don't already have index on the same field. I only have auto generated index on _id field in the same collection. I used Meteor reset and run the app several times but experiencing same problem.

[2015-08-26 07:35] jagi commented on #73
Have you tried using the `Collection._ensureIndex` directly? Does it create index?

If yes could you create reproduction repository, so I would be able to work on the same code as you.

[2015-08-26 15:53] dandv opened #79 "Second event propagation example doesn't extend Child from Parent"
At /README.md#events-propagation

[2015-08-26 15:54] dandv opened #80 "Simple-schema autovalue equivalent"
What is the best equivalent for [autovalues from Simple Schema](https://github.com/aldeed/meteor-simple-schema#autovalue)?

[2015-08-26 15:57] dandv opened #81 "default value as function"
Is it possible to define default values as functions (which wound return a value computed based on other fields and/or data, such as the current date)? The examples only list constants such as null or the empty string.

[2015-08-26 15:57] jagi commented on #79
Thanks for noticing it. I'm working on website based documentation, more like docs.meteor.com and I will make fix there. This documentation on github will be shrinked to the basic description and for more there will be link to the full documentation. Repository for documentation will also be available on GitHub so anyone will be able to make PR's.

[2015-08-26 16:01] jagi commented on #81
Yes, it's possible in the new version that will be release soon. However the context of the function is not set to document. Maybe I will change it.

[code]

However there are some problems with setting default value based on the other field's value. Because you can't assume that other's field value had already been set.

[2015-08-26 16:04] jagi commented on #80
I'm not familiar with all Simple Schema features. Is it mostly for auto incrementing values?

[2015-08-26 16:47] dandv commented on #80
[autovalue](https://github.com/aldeed/meteor-simple-schema#autovalue) is a field definition property that allows computing the value of the field based on other field values (e.g. something like `this.fullName = this.first + ' ' + this.last`) and of course, external data. One very common use case is adding a createdAt field in Collection2 - see https://github.com/aldeed/meteor-collection2/#autoval

[2015-08-26 16:49] dandv commented on #81
Related to #80 then.

Would it be safe to assume that other fields have been set in [`afterset`](https://github.com/jagi/meteor-astronomy#field-events)?

[2015-08-26 16:49] dandv commented on #79
:+1:

[2015-08-26 19:46] jagi commented on #81
The process of constructing document looks like follows (in the new version):
- Create an empty document
- Loop through all fields and set a default value for each one
- Set values passed to constructor `new Item(values);`
  - Loop through values and set each value
  - Call the `beforeSet` event, set value, call the `afterSet` event

So, as you see the order of fields that are being set determines

[2015-08-27 13:44] shadowRR commented on #80
You can add autovalue with the 'behaviors' module. The 'timestamp' behaviors already permits you to add createdAt and updatedAt fields. So you should be able to do pretty much anything you want with those...

[2015-08-27 13:50] shadowRR opened #82 "Having .getModified() on the afterupdate event"
Was wondering if it would be feasible to still have the original fields data in the afterupdate events ? This way, we could still call the getModified() to know if a wanted value has been changed and act accordingly.
Ex: If i need to update some fields in a different document (denormalized data), depending on if a particular field has been updated but i want to make sure that the update has been d

[2015-08-27 15:04] jagi commented on #82
Hmm yes it seems to be a good idea. It probably could break somebody's code when implemented. However, right now it limits a developer. I will change this in the next release.

[2015-08-27 15:18] shadowRR commented on #82
I'm not sure i see where it could break somebody's code ? Since getModified() is always empty in an 'afterupdate' event, i don't see why anybody would use it... Or would he changed the way this function behave everywhere ?
Anyway, great to here it will be in the next release ;)

[2015-08-27 16:19] andrerfneves commented on #77
Love the long term plans @jagi. Keep up the good work!

[2015-08-27 17:07] jagi commented on #82
Oh yes, sorry it won't break anything :). I was just coming back from work when replying and it was just my quick thought that it will break something, but indeed it won't :).

[2015-08-28 21:47] jagi commented on #82
Feature implemented and will appear in the next version. For now I'm closing this issue.

[2015-08-28 21:47] #82 closed

[2015-08-28 21:55] shadowRR commented on #82
Ok. Can't wait :D

[2015-08-28 21:56] jagi commented on #81
Now it's possible to pass a function as a default value that will be executed on a document creation. It was possible to set the context of this function to the document. I've tested and it worked but there was no reason for having it, because as we talked you can relay on other fields' values. You should use the `afterInit` event for that purpose, which will also appear in the next release.

For

[2015-08-28 21:56] #81 closed

[2015-08-28 21:58] jagi commented on #54
This bug was fixed, probably by accident :D in the next release. I won't publish it right now because it's bigger release. So, please wait for it. For now I'm closing this issue.

[2015-08-28 21:58] #54 closed

[2015-08-29 20:44] jagi commented on #39
I've implemented the `push` method for array fields. It works nicely with the new nested fields system. I closer and closer to releasing new version :). For now I'm closing this issue

[2015-08-29 20:44] #39 closed

[2015-08-29 20:55] shadowRR commented on #39
Awesome. Just so i understand properly, this new version will give me the possibility to push inside an array without having it in memory and without erasing the data already there ?

[2015-08-30 07:35] ianserlin commented on #14
@jagi we are soon to release a public version of our internal forms package (most up-to-date branch is https://github.com/usefulio/forms/tree/README.md), and will probably add a simple extension to support astronomy validation, I'll keep you updated.

[2015-08-30 07:51] ianserlin opened #83 "Support for setting nested fields in instance constructor"
This example is supported:

[code]

And so it would be excellent if the following was also supported (perhaps with the limitation that the field `object` would have to be specified with a default value of `{}`):

[code]

[2015-08-30 15:10] jagi commented on #39
No, it just introduces `push()` method that adds element to the array. And later you can same the doc using `doc.save()`. You have to have it in the memory. The feature are you talking about is in another issue and it's named "direct database access and validation" or something like that :). I don't remember. However, the feature are you talking about will also appear :)

[2015-08-30 15:16] shadowRR commented on #39
Ok, i guess i'll see directly on the documentation to fully get everything this new version will bring ;)

[2015-08-31 13:41] jagi commented on #52
What do you think about the syntax like:

[code]

Not `Books`. We can insert, update etc. from the level of the Class not Collection.

[2015-08-31 14:04] jagi commented on #83
Right now, you have to specify entire chain of nested fields to achieve that.

[code]
However, it shouldn't be so hard to implement it. I would like to better know your usecase. Why you are trying to do that. Can't you do it the way I wrote?

[2015-08-31 14:17] jagi commented on #14
Good to hear. I will take a look at out in free time. In the new astronomy release there will be a lot of changes so you should take it into account.

[2015-08-31 15:49] jagi commented on #83
Hehe, I was shocked to notice that it actually works in the newest version :). So as you said, as far as you set a default value of nested property to `{}` then it will work :).

Closing for now as it will appear in the next release.

[2015-08-31 15:49] #83 closed

[2015-08-31 17:45] ianserlin commented on #83
Awesome, thank you!

For posterity, the use case is that because of the flexibility of mongo modifier syntax, you can easily support saving nested objects from forms by giving the input a name that matches the path into the object whose value you want to set.

e.g.

[code]

because

[code]

[2015-08-31 18:24] jagi commented on #83
Oh ok, right

[2015-09-01 02:11] frabrunelle commented on #52
:+1: for `Book.insert();` I like it :smile:

[2015-09-01 09:57] ezpub opened #84 "Astro validation on classic insert method"
I have this scenario where I want to limit the number of documents a user can create. so I added the following code to Astro class. It works fine. BUT...

My questions is
1. is it possible to return an error message instead of stop the execution of the event.
2. when you add validations to an Astro class, the validation only works if you save data through Astro like post.save(), it would NOT valid

[2015-09-01 10:51] jagi commented on #84
Limiting amount of documents that you can insert into collection is rather not the use case for validators. Validators validates document, its fields but are not tracking amount of documents in the collection. You should rather do something like this:

[code]

The first problem with implementing it as validator would be decision about the field given validator should be assigned to. Which one? It'

[2015-09-01 11:44] ezpub commented on #84
Yes, the validation is on a document level, so you mean `beforesave` is meant for any actions I want to do to a field before saving, it's not meant to add document level validation?

and for the direct collection access, I'm more concerned about this, it's good to know you are working on it, when do you think you will finish? I'm assuming (I hope not) I'll need to create meteor methods like your e

[2015-09-01 11:58] jagi commented on #84
Of course you can use events for whatever purpose you have however it's not a good programming practice, IMHO. I was always doing it the way I've presented it.

It if goes about Meteor methods, I think that it's much better to implement as many things as possible as Meteor methods. It separates logic into atomic operations, thanks to that you can avoid many errors. It's really hard to keep track o

[2015-09-01 12:09] ezpub commented on #84
Okay, thanks for your good work. I really like the way how Astronomy works. It's awesome!  :-)

[2015-09-01 13:07] jagi commented on #84
No problem :-). Thanks :-)

[2015-09-01 17:57] andrerfneves opened #85 "Weird error can't trace"
So I randomly started receiving this error regarding my OpenQuestions Astron Model/Collection. I've tried tracing it manually, and with Kadira but I can't seem to find out what exactly is happening. This is causing my CPU usage to go sky high. Any help would be appreciated. Thanks!
[code]

Here's my collection, just in case:
[code]

[2015-09-01 19:35] jagi commented on #85
You have an error the class name should be without the "s" `OpenQuestion` instead of `OpenQuestions`

[2015-09-01 19:46] andrerfneves commented on #85
That solves it. Cheers @jagi!

[2015-09-01 19:46] #85 closed

[2015-09-01 19:53] jagi commented on #85
No problem :)

[2015-09-01 20:03] andrerfneves opened #86 "Filtering in Astronomy"
@jagi, this isn't an issue per se, so feel free to close the issue and disregard. But I was wondering if you could go over a little issue I'm having. I need to create some sort of filtering/sorting functionality upon documents (sorting by specific fields from the documents). Would my best bet be working with a query helper that uses a Session variable that changes reactively, or is there a better

[2015-09-01 21:07] #84 closed

[2015-09-02 02:41] JulianKingman opened #87 "beforeremove/afterremove: 'this' only has _id"
I'm performing some functions using the beforeremove (I was actually using afterremove, but beforeremove is easier to debug). If I have the following:
[code]
I get a mostly empty document with only the _id. Is this how it is supposed to work? I assume I should be able to get the rest of the object? It clearly has more fields with data, they show as null.

[2015-09-02 02:46] JulianKingman opened #88 "Meteor.users access permissions"
It seems that the Meteor.users collection has special permissions that can only (as far as I can tell) be performed through a server method. For instance the following would give an 'access denied' message:

[code]

[2015-09-02 07:43] jagi commented on #87
Yes it has. However you have to know that when using the console.log(object) you're using a reference to the object. Because of that when you investigate the object in the console it doesn't have a state from the moment you printed it to the console. Instead, it has a star from the moment you're investigating it, so the object does not exist. You have to do something like this:

[code]

Or any oth

[2015-09-02 08:28] jagi commented on #86
Yes it's definitely not something related with astronomy :). I would definitely do it using the Session variable. Template helpers are reactive, so changing the session variable will update template.

[code]

[2015-09-02 08:43] jagi commented on #88
Hmm it may be possible, I haven't been testing it. But saving a document using `user.save()` function on the client would send it to the server and go through allow/deny rules. So maybe there is some kind of allow/deny rule that prevents it.

However, it's a good idea for security reason to send an astronomy document to the server using Meteor methods.

[code]

[2015-09-02 12:46] andrerfneves commented on #86
Perfect. Thanks @jagi. Just wanted to make sure I was coding in a manner that is ok with the Astronomy layer. Cheers!

[2015-09-02 12:46] #86 closed

[2015-09-02 13:44] JulianKingman commented on #87
Using the chrome inspector it allows me to read the whole object. Here's are results from using 'this' in beforeremove vs find from the inspector:

console.log(this):
![this](https://cloud.githubusercontent.com/assets/1566400/9632723/e88e174c-5156-11e5-95ed-da77504eb847.png)

console.log(Links.findOne({_id: id})) from chrome console:
![chromeconsole](https://cloud.githubusercontent.com/assets/1566

[2015-09-02 13:47] JulianKingman commented on #88
I think there are built-in allow/deny rules for user accounts. It would be nice if it could work as normal, or if it was mentioned in the documentation since it seems to be put in place for security. Thanks for your suggestion.

[2015-09-02 14:32] jagi commented on #88
It's strange. I've made a test. My class:

[code]

And the console output

![beforeremove](https://cloud.githubusercontent.com/assets/1051229/9634044/1f988f5e-5190-11e5-8be0-41cefcee74b2.png)

Could you create a reproduction repository?

[2015-09-02 14:34] jagi commented on #87
It's strange. I've made a test. My class:

[code]

And the console output

![beforeremove](https://cloud.githubusercontent.com/assets/1051229/9634044/1f988f5e-5190-11e5-8be0-41cefcee74b2.png)

Could you create a reproduction repository?

[2015-09-02 14:37] jagi commented on #88
Yes, maybe they should provide such information in the documentation. But, even though they have a lot of work to do. They can't do everything :). Maybe you should ask on Meteor's github repository? Or on Meteor's forum.

[2015-09-02 14:53] JulianKingman commented on #87
OK, I figured it out. In my file I was using this snipped:
[code]
I got the idea from here: https://github.com/jagi/meteor-astronomy/issues/25
I'm still not sure why 'this' doesn't return the entire object in this case, but I changed it to the normal remove syntax and it's working now, so problem solved :)

[2015-09-02 14:53] #87 closed

[2015-09-02 15:10] jagi commented on #87
It's because, the `new Link({_id: this._id});` does not fetch a document from the database. You have to do `Links.findOne(this._id).remove();`

[2015-09-03 15:21] andrerfneves commented on #88
I have a Meteor.Method that gets called from the client with a Meteor.call and it affects changes onto the user document successfully. Remember to make the Users Collection an Astro collection as well.

Like so:
[code]

[2015-09-03 18:28] jagi commented on #88
So, maybe you have some error in your code. It would be nice if you could create reproduction repository, so we would be able to test it out and help you.

[2015-09-04 02:34] JulianKingman commented on #88
Huh, and you can update all of those fields, even the ones not in ‘profile’?

On September 3, 2015 at 2:28:53 PM, jagi (notifications@github.com) wrote:

So, maybe you have some error in your code. It would be nice if you could create reproduction repository, so we would be able to test it out and help you.

—
Reply to this email directly or view it on GitHub.

[2015-09-05 04:40] JulianKingman opened #89 "Question: How to set conditions for saving a document?"
I'm discovering the joys of the astronomy events, and there are some functions that I want to take place for a collection before inserting it and after removing it, involving automatically linking and unlinking it to documents in other collections. What I'm running into, though, is that with the beforeinsert function, I want to prevent the insertion of the document in certain scenarios and take an

[2015-09-05 04:47] JulianKingman commented on #89
In reviewing the validation wiki, it looks like it may be a job for validators. I know the validationerror event is probably meant for logging messages, but does it work just as any other function, like could I put the function to update the unique document into the event function?

[2015-09-05 06:16] shadowRR commented on #89
I'm not sure this is what you want (maybe you could post some code example ?). But from what i gathered in the code, there's a property in the event that can provide you with what you need:
[code]

So, test something like this:

[code]
It should work.

[2015-09-05 08:51] jagi commented on #88
@andrerfneves I don't have time to make test right now so could you confirm that you can edit the `profile` from the client, without having the `insecure` package?

[2015-09-05 10:34] jagi commented on #89
@shadowRR you are right but I shouldn't directly access the `defaultPrevented` property. There is the `e.preventDefault()` function that does the job. There is entire section about events propagation: https://github.com/jagi/meteor-astronomy#events-propagation

@JulianKingman so it's the method that you're probably looking for.

[2015-09-05 12:26] jagi commented on #52
Hi, I'm almost done with the direct database access methods. There is only one problem: validation. And I want to know your opinion on this subject. Let met explain the problem.

Right now, I've implemented all collection methods:

[code]

It works great and such statement:

[code]

will insert the following document:

[code]

All event will be called on the document, so everything works as expect

[2015-09-05 12:28] jagi commented on #48
Guys, I would like you to take a look at my last comment in [this issue](https://github.com/jagi/meteor-astronomy/issues/52). I want to know your opinion.

[2015-09-05 16:24] JulianKingman commented on #89
@jagi and @shadowRR OK, I've got it working, thanks for your help. For future reference, do you think it would be more logical to use validators, or is this the best approach?

Here's my code, if anyone else should be interested in doing the same. Links and fragments are related, one fragment can have many links, and if duplicate links are added it should update the existing link, not create a new

[2015-09-05 17:39] shadowRR commented on #89
@jagi I thougth the `e.preventDefault()` was only there to prevent triggering an other events of the same type, and not to stop everything else from happening (which doesn't makes much sense now that i'm saying it out loud).

@JulianKingman I would do it the same way has you did. For me, changing data doesn't have it's place in a validator. It's only to check the data is valid or the action is cor

[2015-09-05 21:56] jagi commented on #89
@shadowRR events in Astronomy works the same way how they works in HTML5. There are two methods:
- `e.preventDefault()` - prevent operation from taking place
- `e.stopPropagation()` - stops any following events of the same type but does not prevent operation

@JulianKingman I think using events for this purpose is correct. Sorry, but I don't have enough time to get familiar with details of your co

[2015-09-05 21:56] #89 closed

[2015-09-06 19:26] steph643 commented on #52
I agree validation of a single object before insertion should be left to the programmer.

[2015-09-07 06:48] ianserlin commented on #74
+1 for this actually.

Being unable to use the `methods`, etc. features without pre-specifying the fields on a particular collection means that I either need to use a static utility function, or attach the transformation some other way (e.g. using meteor's collection `transform` directly or `dburles:collection-helpers`, etc.).

It is a valid use-case to be developing using many of the astronomy pa

[2015-09-07 09:07] dalerka commented on #52
I think we have deviated from the original purpose of this *Issue*. But I'll appreciate any comments which can help contributors to progress in their work.

[2015-09-07 09:16] jagi commented on #52
Ok, I decided to make validation possible only on document update. Direct database access have been implemented and @dalerka your original issue is solved by this feature.

[code]

will trigger all events and model logic as expected. The same is true about other collection operations.

For now I'm closing this issue. It will appear on 1.0 release.

[2015-09-07 09:16] #52 closed

[2015-09-07 09:57] jagi commented on #74
I would like to see some example use case. Not just any example but example from real life application. I can add this feature after 1.0 release if I see the need for this.

[2015-09-07 15:38] shadowRR opened #91 "`type: 'number'` doesn't seem to actually cast properly"
Was wondering if i'm doing anything wrong with the type selection on a schema, since i'm using `type: "number"`, which reading from the documentation, should cast the value as integer (or float), but it's still saved as string in mongo ? Do i have to do something else to get it to be saved as integer or float ?

[2015-09-07 15:39] awei01 commented on #91
Do you have a code sample?

[2015-09-07 15:40] awei01 commented on #91
[code]
should work.

[2015-09-07 15:44] shadowRR commented on #91
Actually, it works when not in a nested object, but when used like this:
[code]
It does not work.

[2015-09-07 16:07] jagi commented on #91
If it didn't work, it will work in the new version :). It's because of the entirely new model for nested fields which makes code clean and prevents from making bugs. In the new version, your schema would look like follows:

[code]

It's pointless for me to fix it right now in the current version, so forgive me but you have to wait for 1.0 pre release :)

[2015-09-07 16:48] shadowRR commented on #91
Ok, but in my case (if a understand you're example properly), it's not an array of number, but an array of objects for which one of its field is a `number`. So `nestedType` wouldn't work.

Anyway, it's not preventing my app from working properly, it was just a weird behavior ;)

[2015-09-07 17:38] jagi commented on #91
Oh I see, sorry. So it would look like follows:

[code]

As you can see I've created "nested" class. You can store many instances of the `Projected` class in the `projected` field which is array.

In this release, in the `array` type you can specify nested type or nested class.

[2015-09-07 17:47] shadowRR commented on #91
Ok, sound quite clean. But i'll have to actually create class outside of the main one from now on ? I won't be able to wrap it in one bloc like it's the case right now ?

[2015-09-07 17:56] andrerfneves commented on #88
@jagi @JulianKingman Sorry for the delay. But yes I can edit the profile from the client without having the insecure package. I definitely can make changes to the 'profile' in the user. I'm about to write our User Settings page, and that'll deal with the 'preferences' field in the User object. I believe it'll work out just fine.

[2015-09-07 18:11] jagi commented on #91
I'm thinking about such solution. It would be easy to do:

[code]

This would create a class on the fly. It's more concise (both solution would work). What do you think?

I was also thinking about renaming `nestedType` and `class` properties and create only one property `nested` or `nest`:

[code]

It would work as follows.
- Check value of the `nested` property
- `if (_.isString(nested))`
  - the

[2015-09-07 18:21] jagi commented on #88
@andrerfneves thanks! Ok so @JulianKingman you are probably doing something wrong. Check it out again. Maybe you missed something.

[2015-09-07 18:43] shadowRR commented on #91
On your first example, you're declaring you're anonymous class with the `class` keywords, and with `nested` on the second one ? I would find the `class` confusing...But i'm guessing that was just a typo ?

I definitely like you're `nested` idea. Would make a clean schema, no more repeating yourself with `array.$.nestedProp`. Everything from the same property.

[2015-09-07 20:24] cwohlman commented on #91
+1 for nested classes

[2015-09-07 20:53] jagi commented on #91
@shadowRR I've just presented different ways of declaring it. So, you think that naming it `nested` is the most intuitive?

@cwohlman it's already implemented in new version :). I just want to know your opinions on how to declare it :)

[2015-09-07 20:57] shadowRR commented on #91
@jagi yep, `nested` is better IMHO, as `class` is just confusing when declared inside of a schema.

[2015-09-07 21:03] jagi commented on #91
Ok, maybe you're right that it's confusing. Having only one property will be easier to learn:
You want to nest some type then use the `nest` property for that purpose.

Yes, that was the main idea :). At the beginning I've borrowed a solution from Aldeed for declaring nested validators. However, after playing with it for longer time and seeing how many problems it causes, I've decided to figure ou

[2015-09-07 21:07] cwohlman commented on #91
A couple of other suggestions for the name/declaration: `subDoc` `itemType` `schema` `subschema` `itemClass`.

Although it's more typing I'm in favor of the `itemType` property because it's more semantic.

[code]

[2015-09-07 21:19] shadowRR commented on #91
I don't actually agree with you on this @cwohlman. `itemType` feels generic but rather unclear which isn't the case with `nested`.

[2015-09-07 21:42] cwohlman commented on #91
The way I look at it `type` is the type of the field, `itemType` is the
type of the items in the field, e.g. the object or objects which will be in
the field.

The reason I don't like `nested` is because it feels like a boolean field
to me.

[2015-09-08 05:34] jagi commented on #91
So maybe `nestedType`?

[2015-09-08 05:52] shadowRR commented on #91
I'll get used to whatever you choose anyway, but i still prefer `nested`.

@cwohlman there's no concept of item(s) in astronomy, but i do get your point on boolean field. `nestedType` would be ok with you ?

[2015-09-08 06:14] jagi commented on #91
Take in mind that it can not only be nested array but also nested object. So we can store one or more elements. For me `nested` or `nestedType` seems to be the best description of what it's for. We nest some value in another.

I agree that `nested` may sound like the name of a boolean variable. However for such cases it should be `isNested` - to be precise. We could also name it `nest` - imperativ

[2015-09-08 13:06] cwohlman commented on #91
:+1:  I agree that it's important what we name the property, so that the api make intuitive sense.

:+1: I'm for using `nestedType`

I'm wondering if we're going to call the field `nestedType` if we should allow a `Class` to be the value for the field `type`, which would basically make `type: MyClass` shorthand for `type: 'object', nestedType: MyClass`.

[2015-09-08 15:09] jagi commented on #91
It used to work that way at the beginning when I started working on this feature but for some reason I had to abandon it. It would take to much time to explain but I came to this conclusion after several weeks of testing. They way it works right now is correct :)

I've decided to name it `nested` - sorry :). But it's just for a pre release version. If developers will say that it's not intuitive or

[2015-09-08 17:07] cwohlman commented on #91
Works for me, I'm excited to see this feature regardless of the field name
:)

On Tue, Sep 8, 2015 at 10:09 AM, jagi <notifications@github.com> wrote:

[2015-09-09 14:30] jagi commented on #53
Transient fields implemented and will appear in the 1.0 :). It was quite tough feature to implement however I'm happy that I gave it a try. During implementation I've noticed some problems with other elements that could have side effects in the future. "So I've killed two birds with one stone" :).

Wow, I've just noticed that you've proposed this feature July 23, it was almost 50 days ago. It took

[2015-09-09 14:30] #53 closed

[2015-09-09 14:35] jagi commented on #75
Feature implemented and will appear in 1.0 :). For now it's not reactive. Maybe in the future :)

[2015-09-09 14:35] #75 closed

[2015-09-09 14:41] serkandurusoy commented on #53
Wow, great to hear that. I'm looking forward to giving 1.0 a go!

[2015-09-09 23:07] bensmeets opened #93 "So sorry I don't know this... :)"
But am curious about trying out the current "dev" or "nested" version, but have no idea how to do that in my current project. Is there a way to point my "packages" to the dev and use that instead of the latest released version?

Cheers

[2015-09-10 06:17] shadowRR commented on #93
I don't think you can do this from atmosphere packages... But it should be possible to do it manually by cloning the `nested` branches of the repo, and loading the files into you're project. Now, @jagi said the new version should be out in beta in the next two weeks so...

[2015-09-10 07:29] jagi commented on #93
Yes it's possible.

- Create packages directory:
[code]
- Clone Astronomy repository:
[code]
- Swich to `nested` branch as @shadowRR said
[code]
- Add `PACKAGE_DIRS` environment variable (of course replace `jagi` with your user name).
[code]

The last one you should add to the `.bashrc` file to run it at the system start.
[code]

[2015-09-10 08:38] jagi opened #94 "Auto increment field"
Hi all, Yesterday I received question about auto increment field and how to implement it using Astronomy. There is a page on MongoDB website where we can find the instruction on how to do it http://docs.mongodb.org/master/tutorial/create-an-auto-incrementing-field/

As you can see it's not so trivial like in SQL databases. I will think about incorporating it into Astronomy as a built in core featu

[2015-09-10 11:39] bensmeets commented on #93
Thanks, that got me up and running. Curious to find out more about Astronomy, thanks for all the effort!

[2015-09-14 15:27] cwohlman opened #95 "doc.reload() should not empty an instance if the document is not found in the collection"
If a document is removed from the collection (either explicitly, or because a subscription was stopped), calling doc.reload() will null all of the fields in the doc (including the id field), which I don't think should be the expected behavior.

I ran into this as I was trying to implement an 'undo remove' feature, I expected to be able to call `.remove()`, and later to be able to call `.save()` to

[2015-09-14 15:40] jagi commented on #95
So, it's your code that is calling the `reoad()` method under way between the `remove()` and `save()` methods? Because astronomy does not use the `reload()`method internally. I can make this check if you want. However I will do it for 1.0 version because I'm releasing alpha version tomorrow or the day after tomorrow.

[2015-09-14 15:48] cwohlman commented on #95
Yes, it was my code that was calling `reload()`. I also had this issue when I tried to access the doc in a callback, I called `reload()` in the callback, but because the user had changed routes the doc was no longer in the client cache.

I'm not 100% sure what the expected behavior should be, but definitely silent nulling of fields was a little unexpected. I suggest we either throw an error, or do

[2015-09-14 15:48] jagi commented on #95
However, if you want to implement undo remove behavior you should rather use softremove behavior. It will not remove your document fromthe database, but rather flag it as soft removed. Later you can set the flag to false to undo remove.

[2015-09-14 15:51] cwohlman commented on #95
That's actually what I was doing, but I only subscribe to documents which do not have the `__removed` flag, so once I softRemove the doc it no longer exists in the client cache. The work around is fairly simple, I just cache the `_id` of the doc in a variable, but it would be nice if that wasn't necessary.

[2015-09-14 16:23] jagi commented on #95
Oh I see. You could always subscribe to all document also with the `_removed` flag set to true and on the client display only those with the `_removed` flag set to false or null.

[code]

However, your solution with storing `_id` is also good. But still don't know why it's happening. I don't see any problem with the code. The `reload()` method should not clear any field if the document does not ex

[2015-09-15 09:47] matikucharski opened #96 "_type for parent is always Child _type"
It looks like your `getDefaultValue` method in /lib/modules/fields/utils.js returns child _type if document itself don't have one.
In my case I have several documents in `Documents` collection some of them are Parents some of them were created as Children. But when I do `Documents.find().fetch()` all documents have `_type: 'Children'`

[2015-09-15 11:37] matikucharski commented on #96
Now I see there is wrong transform called on Collection find. It is called as Child but this should be Parent transform function

[2015-09-15 12:25] matikucharski commented on #96
How do you know if fetched document should be parent or child type?
I can see you have
[code]
in schema.js.
But it looks like if Parent and Child shares the same collection the last one transform function is added permanently for collection that is shared by those two classes

[2015-09-15 15:36] jagi commented on #96
Hi, are you using custom transform function?
Right now I'm working on 1.0 pre release version of Astronomy and I hope that it will be available tomorrow. A lot of things have changed, the same is true about inheritance and transform function. You probably should wait for new version. However, I would like to know what is your use case and if you are using custom transform function.

[2015-09-15 21:15] matikucharski commented on #96
Hi, No I'm not using any custom transform functions. Good to hear about 1.0 :)

[2015-09-16 07:58] jagi commented on #96
Hmm so it should work out of the box. Show me your code. How are you inserting instances of different classes and how are you fetching them.

[2015-09-16 09:05] matikucharski commented on #96
Here is my code example - nothing special:
[code]

I use `new CD.models.Document()` or `new CD.models.DocumentBudget()`  and then `save()` it to create document.

But when I do `Documents.find().fetch()` I can see all fetched documents have
`_type: 'DocumentBudget'`
no matter if they were created as `new CD.models.Document()` or `new CD.models.DocumentBudget()`

[2015-09-16 20:28] jagi opened #97 "Testing 1.0.0-rc.6 version"
Hi everyone,
The time has come, 1.0.0 is around the corner :). I would like to invite everyone to test a new version. It introduced so many changes that your currently existing projects many not work properly. You may need to make some changes. Ok, but how to test this release?

1) At first, you have to remove all astronomy packages from your project (you have to do it because there are changes in

[2015-09-16 20:29] jagi commented on #51
I started testing 1.0.0-rc.1 version, so go to this issue for more information https://github.com/jagi/meteor-astronomy/issues/97

[2015-09-16 20:29] #51 closed

[2015-09-16 20:30] shadowRR commented on #97
Awesome @jagi . Will start testing this tomorrow ;)

[2015-09-17 00:27] andrerfneves commented on #97
Awesome!. I won't push to my production app yet but will test this on a side project and see the difference. Thanks for the hard work @jagi!

[2015-09-17 21:42] Deadly0 opened #98 "Enum type"
Hi @jagi, thank you for 1.0 update, it's looks nice!

How about to add something like `enum` type to default types?

[code]

[2015-09-18 07:32] laurentpayot commented on #97
Amazing worg @jagi!
I'm doing the switch. Could you update the changelog to be sure that we won't miss anything new?

[2015-09-18 09:20] jagi commented on #97
@laurentpayot Yes, right I will update it today :)

[2015-09-18 14:55] jagi commented on #97
I've added some change logs in the documentation for now: http://astronomy.meteor.com/#changelog
It's not very detailed but I will update it later today.

[2015-09-18 15:05] laurentpayot commented on #97
Thanks @jagi :+1:

[2015-09-18 20:22] davidystephenson commented on #98
This would be greatly appreciated. Perhaps it could be a generic field property like default.

[2015-09-18 20:49] jagi commented on #98
Sorry I missed it when checking issues. It may be good feature to implement in future releases. I will try incorporating it. For now you can achieve it using validators and default value. You have to use the`choice` validator and pass all possible values.

The feature you're proposing is very interesting to consider. I have one idea for improvement in Meteor that would probably solve problem with

[2015-09-19 02:54] ianserlin commented on #16
Just two-cents for posterity: We try to limit relying on `"literal strings"` as much as possible in because during the dev cycle it's much easier to get an `typoMethod is not a function` error in the console and fix it immediately then (usually silently) have nothing happen at all when you inevitably write typos.

[2015-09-19 10:53] laurentpayot commented on #97
Well in 1.0 there's "a new way of inheriting from a class" but this new way is not documented and I couldn't find the difference way from the commits. So for now I'm stuck because I can't create inherited classes and that's what I'm using the most. @jagi could you give us an example of this "new way of inheriting from a class"?

[2015-09-19 11:18] laurentpayot commented on #97
Also I have a <code>tags</code> field that is an array of plain values (strings) like this:
<pre>
'tags': {
  index: true,
  type: 'array',
  nested: 'string',
  default: function() {return [];},
  validators: [V.required(), V.array(), V.maxLength(100)]
}
</pre>

But validation only checks if my tags are strings. Is there a way to check if all my tags strings are between 2 and 20 characters long w

[2015-09-19 13:19] davidystephenson commented on #98
@jagi I'm not sure how helpful this is, but mongoose does have this functionality: http://mongoosejs.com/docs/api.html#schema_string_SchemaString-enum

[2015-09-19 13:25] jagi commented on #97
@laurentpayot I will update info about inheritance in a moment.

If it goes about validation of nested fields of plain type you have to use the `each` validator.

[code]

Notice also that the property name in the field's definition is `validator` not `validators` because it's validator for ONE field. However, on the level of class schema you have the `validators` property because you define valida

[2015-09-19 13:39] jagi commented on #98
@davidystephenson Implementing it isn't something difficult. I just always think about database abstraction when implementing some feature. In SQL it's just field type but that you be one to one compatible feature. In MongoDB this type would have to be implemented in JS, because MongoDB doesn't care about types. Moreover, right now types in Astronomy does not take any parameters, I mean types like

[2015-09-19 14:53] jagi commented on #97
I've updated the [Inheritance](http://astronomy.meteor.com/#inheritance) section. I've also published 1.0.0-rc.2 version that fixes some bugs.

[2015-09-19 19:47] bensmeets commented on #97
Is relations a part of 1.0 as well? Or is that something seperate?

[2015-09-19 19:54] Deadly0 opened #100 "Strange warnings in 1.0.0-rc.2"
Have installed new version of Astronomy and got a lot of warnings in console:

![err](https://cloud.githubusercontent.com/assets/4887213/9977897/bc14ae10-5f20-11e5-912f-a64e207cd8ca.png)

My model:
[code]

Also have another models with the same warning.

[2015-09-19 20:34] jagi commented on #97
Relations module is still in an experimental phase and I will be working on it after release of Astronomy 1.0.0

[2015-09-19 20:39] jagi commented on #100
It's warning telling that you are trying to (probably) fetch a document that does not much fields defined in the class. However, you warnings looks strange because it's trying to set _private properties. It looks like you have them saved in the collection as a "EJSONified" object instead a plain JSON object. Please check how your records in the collection look like:

[code]

Paste here what you ge

[2015-09-19 21:07] jagi commented on #97
I've found an error in documents EJSONification. Because of that error it is not possible to send over a DDP documents with nested fields. I will publish the 1.0.0-rc.3 version because it's a serious bug.

[2015-09-19 21:15] Deadly0 commented on #100
@jagi No, my db data is alright. Looks like that problem with [angular-meteor](https://atmospherejs.com/meteor/angular) package compatibility. Angular trying to synchronize documents between client and server, but don't know that model have some special fields. Did you test your package with angular-meteor?

[2015-09-19 21:40] jagi commented on #100
No I haven't been testing it with Angular (I don't like Angular :P). Hmm it official package and it would be strange if they synchronise documents between client and server not using DDP. So maybe it's a problem with something else. Could you create some minimal reproduction repository so I could test it?

[2015-09-19 22:09] jagi commented on #97
You can also checkout example app built with 1.0.0-rc.3 here https://github.com/jagi/meteor-astronomy-examples/tree/nested

[2015-09-20 13:24] Deadly0 commented on #100
I've done more deep research and found that this bug not with angular, but with another popular package [publish-composite](https://atmospherejs.com/reywood/publish-composite).
[Repo](https://bitbucket.org/Deadly0/meteor-astronomy-bug) to reproduce the bug.

[2015-09-20 15:09] jagi commented on #100
Ok I will take a look at it

[2015-09-20 16:09] Deadly0 commented on #100
@jagi, Thanks, but there is a quick solution to disable warning in astronomy? It pushes a lot of warnings in console and it's tough to find anything in it.

[2015-09-20 18:30] andrerfneves commented on #97
Having this issue while trying to install rc3 @jagi

[code]

[2015-09-20 18:38] frabrunelle commented on #97
@andrerfneves `jagi:astronomy-validators` is still at 1.0.0-rc.1. Same thing for slug and timestamp behaviors.

[2015-09-20 18:40] andrerfneves commented on #97
@jagi you should correct this in your comment then:

<img width="624" alt="screen shot 2015-09-20 at 2 39 22 pm" src="https://cloud.githubusercontent.com/assets/2574011/9982322/6fd8ad00-5fa5-11e5-9b66-443fcecfcd46.png">

Thanks @frabrunelle

[2015-09-20 19:25] jagi commented on #97
Oh right :) sorry hehe I've just copied rc.3 for every package :) I will fix it

[2015-09-20 19:31] jagi commented on #100
Hmmm, possibility of turning off warnings is a good idea. I will add it to the tasks list

[2015-09-21 16:56] apendua opened #101 "Invoke save callback even if there's nothing to save ..."
... because sometimes I don't have enough data to tell if I am really changing the model or not. But I still want to have a consistent behavior on:
[code]
@jagi Do you think this behavior makes sense?

[2015-09-21 17:16] andrerfneves commented on #101
I believe that's the idea behind the Validators module. If you run a .validate() call on the Astro object, it will follow your validations set up on the schema and it will only save if it validates.

Sort of like this:

Method in the server
[code]
and make these calls on the client events with the .validate call on the object.
[code]
And make sure you set up some sort of validation on your schema.

[2015-09-21 20:32] laurentpayot commented on #97
Thanks for your reactivity @jagi.
I have created https://github.com/jagi/meteor-astronomy-validators/issues/27 about "each" array validator method.

[2015-09-21 20:52] laurentpayot commented on #97
I have also created https://github.com/jagi/meteor-astronomy-slug-behavior/issues/3 about slugs not working anymore.

[2015-09-21 21:17] jagi commented on #97
Ok I've answered your questions.

[2015-09-21 21:19] jagi commented on #101
When calling:

[code]

It will only save document if there were any changes. It won't do that if not needed. You don't have to think about it. Just set values of fields and save it. It will save it if needed. If don't, nothing will happen. Does is answer your question?

[2015-09-21 21:21] jagi commented on #100
I've added possibility to turn off warnings `Astro.config.verbose = false;`. Didn't have time yet to check your reproduction repository. Maybe tomorrow I will take a look at it. Stay tuned.

[2015-09-21 21:23] jagi commented on #96
Please try testing RC version https://github.com/jagi/meteor-astronomy/issues/97
It would be nice if you could create a reproduction repository so I would be able to tell if an error is on the Astronomy side.

[2015-09-21 22:12] apendua commented on #101
@jagi I know what you're saying, but the problem lies somewhere else.

The following code is a pretty abstract example but it should explain my point:
[code]
And now more formally. If you expose an asynchronous API by allowing users to pass callbacks to the `save` method they will expect that the callback is eventually called no matter what the current state of the model is. Maybe it should be cal

[2015-09-21 23:07] Deadly0 commented on #100
Thank you for workaround. I trust you will find real problem.

[2015-09-21 23:12] Deadly0 opened #102 "Conflict with angular models and bug with ngModel"
User document:
![bugfa](https://cloud.githubusercontent.com/assets/4887213/10007530/b884733e-60ce-11e5-96b4-8a51317819a0.png)

1. `username` field was modefied by `ngModel` Angular directive, but Astronomy sees no changes (`_modifiers` filed is empty) and `save()` doesn't work.

2. Conflict with Angular-Meteor model. Both have `save` method and it's impossible to call both.

[2015-09-22 07:27] jagi commented on #101
Oh I see, you are talking about calling callback function even if there was no need for saving a document. I will take a look how it's done in Meteor and I will do it the same way. Will let you know.

[2015-09-22 07:38] jagi commented on #102
1. You can read in the [documentation](http://astronomy.meteor.com/#set) that you have always use the `set` method to set values. So if you set values directly, Astronomy will not know what to update.

2. It means that you can't use both. The only thing you could do is hooking somehow into the process of setting values on Angular model and update Astronomy mode accordingly. You would have to store

[2015-09-22 07:40] jagi commented on #101
Yes, in deed Meteor calls callback function even if there was no save, so I will update it. Thanks for noticing it :)

[2015-09-22 08:02] apendua commented on #101
:+1:

[2015-09-22 09:06] jagi commented on #101
Bug fixed, it will appear in the 1.0.0-rc.5 which I will probably publish today or tomorrow

[2015-09-22 09:06] #101 closed

[2015-09-22 10:15] jagi commented on #100
Ok I know what's the problem. You have to modify your `main.js` file to:

[code]

You have to publish plain JavaScript objects, so you have to pass `transform: null` as an option of the `find` method. I will add this info to the documentation.

However, I will create my own publishing function that will be part of the relations module. I will allow publishing entire document with relations. It wil

[2015-09-22 10:15] #100 closed

[2015-09-22 13:25] Deadly0 commented on #102
@jagi I found other big problems with angular. Astronomy doesn't work on client with angular at all. Is it possible to disable automatic injection of astonomy class on client, but keep working on server in methods? I know about `{transform: null}`, but it doesn't work with angular on client. Need an config option like `Astro.config.injectOnClient = false`. Thank you!

[2015-09-22 13:39] jagi commented on #102
You can just define classes only on the server by putting them in the `server` directory or in the if statement:

[code]

[2015-09-22 20:21] niallobrien commented on #14
When is the new release?

[2015-09-22 21:52] jagi commented on #14
Right now Astronomy version is 1.0.0-rc.5. It should achieve 1.0.0 in the next week.

It won't introduce form model binding and forms package. I will be developing forms module after releasing 1.0.0.

As @ianserlin stated, they made the forms package that looks promising. I like its form - model binding feature. It's definitely something worth including in the forms package for Astronomy. I will h

[2015-09-22 21:55] jagi commented on #97
In the `Astronomy 1.0.0-rc.5` I've made it compatible with `Meteor 1.2`.

[2015-09-23 17:17] kahmali opened #103 "Is the wiki being replaced?"
It appears most of the wiki has been removed. Do you intend to move the documentation elsewhere? Sorry if I missed an announcement somewhere.

**EDIT: I was specifically looking for the documentation for the Validators module**

[2015-09-23 17:40] VladShcherbin commented on #103
@kahmali maybe [this one](http://astronomy.meteor.com/)

[2015-09-23 17:45] kahmali commented on #103
Thanks so much @VladShcherbin! Just what I was looking for. Looks much better in this format. Keep up the great work @jagi!

[2015-09-23 17:45] #103 closed

[2015-09-23 18:42] andrerfneves commented on #97
Sweet! Thanks @jagi

[2015-09-23 19:39] jagi commented on #103
I'm moving everything under one website with a documentation. I'm preparing for 1.0.0 release. It should appear next week. The new documentation is for 1.0.0 version so I encourage you to move on to it. Here https://github.com/jagi/meteor-astronomy/issues/97 you can find more info how to move.

Thanks @VladShcherbin for fast reply :-).

[2015-09-23 19:59] cjsauer opened #104 "What is happening to the wiki?"
I've noticed that various parts of the Wiki are being destroyed. I needed some of the documentation for behaviors and validators. Are these being deprecated or something?

[2015-09-23 20:04] ribbedcrown commented on #104
@cjsauer more info at #103

[2015-09-23 20:05] cjsauer commented on #104
Ah ok thank you.

[2015-09-23 20:05] #104 closed

[2015-09-23 22:07] cjsauer commented on #72
I don't understand how to use the `beforeInsert` event to achieve this. If I want to capture the userId into a field before insert, I imagine it would look like this:

[code]

But this error appears: `Error: Meteor.userId can only be invoked in method calls. Use this.userId in publish functions.`

How would I achieve this using the Event system in Astronomy?

[2015-09-24 03:04] waxhell opened #105 "Modules Wiki page is missing"
The readme.md refers to the Modules wiki for more details on modules, however that page is missing:

https://github.com/jagi/meteor-astronomy/wiki/Modules

[2015-09-24 03:50] frabrunelle commented on #105
@waxhell: The Modules documentation has been moved here: http://astronomy.meteor.com/#modules

See #103.

[2015-09-24 04:27] jagi commented on #105
Yes exactly :). Maybe I removed documentation too early and didn't inform about it. However in a few days I will be releasing 1.0.0.

[2015-09-24 04:27] #105 closed

[2015-09-24 04:44] jagi commented on #72
You should create a new issue for this question, however I will answer your it here.

If you are using `Meteor.userId()` you should be aware of the context in which you have to invoke it. As the error states you should call it in the Meteor method. As the `beforeInsert` event gets called when invoking the `save()` method, so you should put the code `doc.save()` in a method.

[code]

And call metho