[2016-03-29 16:28] arggh opened #317 "Strange conflict with ViewModel and Astronomy"
I'm using **Astronomy** (with sort, softremove and timestamp) and **manuel:viewmodel** in a project together. I like both, but I've had a few hiccups trying to use them together.

I came upon a weird problem, where my reactively created ViewModel's _click-bindings_ wouldn't register when adding new documents to a collection, until I refreshed the page.

A repro of the issue can be found here: [vie

[2016-03-29 16:55] purplecones commented on #236
I defined a field as type `Number` and I'm trying to add a decimal value such as `0.02` into it but get the following error:
[code]

Is there a list of all field types listed somewhere? I did not see float or decimal in v1.

[2016-03-29 18:40] tylershuster commented on #310
My Validator.mongoID( 'CollectionName' ) code looks like this:

[code]

[2016-03-29 19:19] tylershuster opened #318 "Question: Is there a way to retrieve the children of a parent class?"
Self-explanatory. I know how to retrieve a parent, but not the other way.

[2016-03-29 19:35] jagi commented on #318
Hi, it's not possible directly. It's rather not common in inheritance model to get children. You would have to loop through all the classes and find children of a given one. I would strongly discourage doing that. There is probably better way of achieving what you want.

[2016-03-29 19:37] tylershuster commented on #318
Yeah, just thought I'd ask. Thanks!

[2016-03-29 19:37] #318 closed

[2016-03-30 01:20] arggh commented on #317
The [issue in ViewModel repo](https://github.com/ManuelDeLeon/viewmodel/issues/214) was now resolved by a change in ViewModel - however, the conclusion seemed to be that Astronomy messes up Blaze's onViewReady-callback somehow. Not sure if looking into this from Astronomy's side is beneficial or not.

[2016-03-30 05:07] arggh opened #319 "Sort and Softremove behaviours together"
What would be the correct way to use `Sort` and `Softremove` behaviours together, so that (soft)removing documents doesn't mess up the sorting?

I end up getting something like this:

[code]

[2016-03-30 06:04] jagi commented on #317
Astronomy does not mess with Blaze at all, so that's not a point. I don't have time to check if every package works correctly with Astronomy. Most of the problems should be solved with Astronomy 2.0 as it does not change anything about collections. The most common problem was transforming plain documents fetched from the collection into Astronomy objects which didn't play nice with some packages.

[2016-03-30 06:06] jagi commented on #316
Oh thanks for noticing it. I will make an update.

[2016-03-30 06:10] jagi commented on #236
@purplecones You probably assigned string from the field instead number. Strings are not converted to numbers automatically. Please not write about issues like that in this thread. It's only dedicated to features that will appear in the 2.0

[2016-03-30 06:12] jagi commented on #310
Do you need this somewhere or it's just curiosity? MongoDB will validate it so there is no point of validating it in Astronomy.

[2016-03-30 06:13] jagi commented on #319
Combining two behaviors can be hard. You will probably end up writing your custom behavior based on that two. There is no easy way to make it work right now.

[2016-03-30 06:14] arggh commented on #319
Already started and almost finished writing a custom one, thanks.

[2016-03-30 06:14] #319 closed

[2016-03-30 14:07] mp27 opened #320 "Documentation"
Any way to get the documentation ? since the site is down ...?

[2016-03-30 15:23] tylershuster commented on #310
My reason for creating the function was that I wanted to make sure I was storing the ID of a document that actually exists, ex:

[code]

[2016-03-30 15:59] NaderIkladious commented on #320
https://github.com/jagi/meteor-astronomy-docs

here is the documentation repo.

it's a meteor app as well, so you can run it locally, or you can just search for what you want in the `docs/*.md` files

[2016-03-30 17:06] Billybobbonnet commented on #310
we drifted a little from the original point (I assumed I had to check ids & that mongo didn't) but that could be a feature to check that an id matches an actual document.

Side note: it seems that whatever the collection is, [_ids are unique](http://stackoverflow.com/questions/34179908/in-meteor-mongo-collections-is-the-id-field-unique-in-its-collection-or-in-the).

[2016-03-30 20:53] tylershuster opened #321 "User save fails due to duplicate ID"
When I call anything equivalent to `Meteor.user().save()`, including things like `Meteor.users.findOne({_id: Meteor.userId()}).save()`, I get a message saying "Error while simulating the effect of invoking '/users/insert'" and "insert failed: Access denied. No allow validators set on restricted collection for method 'insert'."

I've done nothing particularly out of the ordinary except apply a mode

[2016-03-30 21:36] jagi commented on #310
Still don't understand the reason behind it. What do you mean by saying "make sure I was storing the ID of a document that actually exists"?

[2016-03-30 21:37] jagi commented on #320
I'm looking for some free alternatives but I will probably end up paying for some server or by just putting documentation on GitHub pages.

[2016-03-30 21:38] tylershuster commented on #310
Let’s say I have a “Volunteer” who is associated with multiple “Industry Sectors.” Both volunteers have their own collections. I want Volunteer.industrySectors to return an array of Industry Sector IDs, and furthermore I want to make sure that those IDs refer to real documents, and not just that they are strings.

[2016-03-31 05:45] jagi commented on #321
Add `Meteor.users.allow` rules to the collection

[2016-03-31 05:47] jagi commented on #310
Oh ok now I understand. So it's not possible in MongoDB to be "sure". You just have to save IDs as strings and that's all. There's nothing more you can do. And you don't have to validate it as long as data does not come from the user and is autogenerated by the script.

[2016-03-31 07:28] mp27 commented on #320
thanks

[2016-03-31 07:28] #320 closed

[2016-03-31 08:10] Billybobbonnet commented on #310
@tylershuster, my 2 cents: you can see your system as a closed loop:
When you insert an ID, you know it matches a document since this is where you got it. After that, you hook on the related document collection requests and you make sure that every time someone remove one of the Volunteer documents, all its ID occurrences are updated (i.e. removed from array) in the other(s) collection(s). Same sy

[2016-03-31 08:10] #310 closed

[2016-03-31 15:33] tylershuster commented on #321
Oops, forgot to mention the important part as per the title. It fails due to a duplicate _id. (Tried adding allow rules, tried adding the insecure package back).

[2016-03-31 15:51] tylershuster commented on #321
I tried the same method in another project with Astronomy, and realized that the Meteor.users collection in the problematic project is `_restricted: true`. Do you know why that flag would become set?

[2016-03-31 16:20] tylershuster commented on #236
When I try to test the RC, I get this error:
[code]

When I try to `add jagi:astronomy-timestamp-behavior@=2.0.0-rc.4` I get this error:
[code]

[2016-03-31 20:26] leosa83 commented on #288
Hey @jagi

Thanks for an awesome package :)

I just wanted to notify that this issue still exists for RC.7. I believe your latest comment was made for RC.6

Thanks

[2016-03-31 21:22] leosa83 commented on #236
Hi i wanted to add something peculiar to the discussion.

The closure of Class methods on the client is the window object => _this:window

The Model is in a top lib folder and accessed by both.

Im not sure if im doing something wrong so im posting this here before creating an issue..

Thanks

[2016-03-31 22:53] davidystephenson opened #322 "Documentation is down."
[http://astronomy.jagi.io](url) is crashing.

[2016-03-31 22:58] minfawang commented on #322
See #320.

This is because of a decision from MDG to turn down the free hosting service.

[2016-04-01 04:47] Andrew1431 opened #323 "model.validate() doesn't validate when offline. Expected behaviour?"
Hey there, I've been scrounging your source code, and have had no luck in finding out why my callback won't get called when the server is offline. I'm getting a little adventurous with what I'm trying here. Trying to get a fully offline app going with Ground DB and astro as my model layer. So far everything is working, except when I'm offline my callback isn't run. I wasn't aware that your validat

[2016-04-01 04:51] Andrew1431 commented on #323
![image](https://cloud.githubusercontent.com/assets/9736372/14198035/c7c21af6-f7a3-11e5-83ef-56bfe06eb4ce.png)

Strange order there...

[2016-04-01 06:27] talha-asad commented on #322
Yup, seems we'll need to find a new host

[2016-04-01 06:28] talha-asad opened #324 "We have methods for each document, what about methods for the entire collection?"
Kind of like static functions for a Class. This is a suggestion. Would like to hear thoughts on this.

This is currently achievable by binding more functions to your Astro Class, however an official support for such a feature would be much better. @jagi  what are your thoughts on this?

[2016-04-01 07:14] talha-asad commented on #236
@tylershuster I would recommend you remove all previous versions and then start adding new ones, they will most probably get you across the version incompatibilities you are facing.

[2016-04-01 07:38] jagi commented on #321
`_restricted` is used in the `insecure` package https://github.com/meteor/meteor/blob/15cdbca24888bfdff3ad43c1891a1719c09b3dc5/packages/allow-deny/allow-deny.js#L78

[2016-04-01 07:41] jagi commented on #322
I will probably switch to github documentation. All other options I've found does not fit my needs.

[2016-04-01 07:42] jagi commented on #324
You can always add method to the class or collection statically and I don't think that there is any reason to make it a feature in Astronomy as it's plain simple.
[code]

[2016-04-01 07:43] jagi commented on #236
@leosa83 you are probably doing something wrong because it's default behavior that method's context is a document.

[2016-04-01 08:18] talha-asad commented on #324
I was of the impression that they might not work when accessing a Class this way: `Astro.Class.classes.someClass` but it turns out it works that way as well.

I am going to close this as it makes no sense. Thanks for your input.

[2016-04-01 08:18] #324 closed

[2016-04-01 08:21] talha-asad opened #325 "Indexes in nested Astro Classes"
I noticed rc7 throws an error if a nested class has a field marked as indexed, what is the correct way of doing this? Should these indexes be defined in the `indexes` block of the main wrapping Class?

[2016-04-01 10:53] peXed commented on #316
I have the same issue. Will the fix be in rc8 and when will you release rc8? :)

[2016-04-01 13:39] talha-asad opened #326 "Automatic Casting v2"
@jagi

I think we need to have a way to enable basic automatic casting as we had in v1. I know the argument here is that Astro is just an ODM and automatically casting leads to unknowable results and causes confusion but alot of times it's a real pain in the ass to write 50+ lines casting strings etc to their proper types. In alot of cases you can't have them come in the proper object notation.

W

[2016-04-01 14:02] talha-asad opened #327 "Astronomy v2 Optional and Null Values"
Currently If you initialize a class with some parameters set as `null` they are setup as is, I think this behaviour should be changed and if the field is marked as optional, the particular key should be dropped altogether from the Astro Object. In case that field is not marked as optional but has a default value, it should be set to that.

I think this makes sense, what are your thoughts on this?

[2016-04-01 14:41] jagi commented on #316
I'm just working on rc8. Should be soon. I think it will be one of the last rc version before 2.0 release

[2016-04-01 14:43] jagi commented on #327
Yes in deed it should work that way. I think there is some bug. I will fix it in rc8

[2016-04-01 14:58] peXed commented on #316
Thanks for the fast reply! Looking forward to it! :+1:

[2016-04-01 15:03] jagi commented on #288
I will check it out before releasin rc8

[2016-04-01 15:37] tylershuster commented on #236
@talha-asad Right on. Had to manually delete the packages from .meteor/packages if anyone else has the same problem.

[2016-04-01 15:50] jagi commented on #326
It will be definitely a separate module not something that is a part of the core. It should be fairly simple to implement. Just need to get a field definition `Class.getField()` and check its type. It could be solved in form of a new document method like:
[code]
or something similar

[2016-04-01 16:09] peXed opened #328 "v2 - Type of inherit class not working?"
Hello!

I try to move to Astronomy v2 and now running into an issue with a inherit class, used as a field of another class.

@jagi is this not supported anymore?
If I change the class to a normal class (Astro.Class.create), it works, but if I use Parentclass.inherit, the class won't work and would create a throwParseError (but the function checkTypeExistence is not working at the moment, so I get

[2016-04-01 16:18] jagi commented on #323
I've tested it and it's working even when being offline. You are probably doing something wrong. If sever is not available it will still validate on the client and throw some errors or execute callback function if provided.

[2016-04-01 16:23] Andrew1431 commented on #323
Should have mentioned I'm on rc.7 maybe things have changed a bit. I'll look in to it more, but I don't see any issue with it :P Thanks for the response.

[2016-04-01 16:23] #323 closed

[2016-04-01 16:39] jagi commented on #323
I'm talking about rc.7. It works that way. It wasn't doing server validation in the same time in 1.2

[2016-04-01 16:44] Andrew1431 commented on #323
Wow damn you're right, just tested in console and it was working. Strange behaviour then but definitely induced by me somehow...

![image](https://cloud.githubusercontent.com/assets/9736372/14213716/7b897774-f807-11e5-9ff1-3366f7fc0c09.png)

[2016-04-01 16:48] jagi commented on #323
In deed :). So closing it for now

[2016-04-01 20:10] marbemac commented on #326
+1 to this, especially painful for anybody migrating from v1 - lots of hidden little issues.

Possibly related, is astronomy v2 supposed to instantiate nested classes on .set?

For example, say we have an "Endpoint" class, which has property that is an array of "Response" classes. Is the following supposed to instantiate the new endpoint class, and also instantiate response classes inside of it?

[2016-04-01 22:12] tylershuster commented on #321
I had removed that, so when I reinitialized the project it was fine. You're the bomb.

[2016-04-01 22:12] #321 closed

[2016-04-02 13:04] jagi commented on #326
Yes I know that it may be a problem. I will prepare simple module for that before release.

[2016-04-02 13:05] jagi commented on #328
I will check it. I've already received information that it may not work.

[2016-04-02 22:28] jagi commented on #328
It's working:
[code]

[2016-04-02 22:29] jagi commented on #327
I've fixed it and it will be published with rc8. Closing it for now.

[2016-04-02 22:29] #327 closed

[2016-04-02 22:29] #328 closed

[2016-04-02 22:29] #317 closed

[2016-04-02 22:30] #316 closed

[2016-04-02 22:32] jagi commented on #288
It's working, check this out https://github.com/jagi/meteor-astronomy/issues/328

[2016-04-02 22:59] peXed commented on #328
Thanks @jagi for the fast test, but I was not clear enough, I guess.

The inherit class is working perfectly. The problem is, if another class uses the inherit class as a Fieldtype.

Like so:

`const User = Astro.Class.create({
  name: 'User',
  collection: Users,
  typeField: '_type',
  fields: {
    firstName: {
      type: String
    },
    lastName: {
      type: String
    }
  }
});

const Ad

[2016-04-03 06:42] jagi commented on #328
Oh I see, I will check it out.

[2016-04-03 06:44] jagi commented on #328
Wait a moment. You can't do like that. It's not possible to nest/embed storable class. User/Admin class in this case can be only store in the Users collection. So you can't nest it and that's why it's throwing an error. Maybe I will print some more user friendly error to inform developers.

[2016-04-03 09:06] peXed commented on #328
You are totally right, sorry. The example was wrong.

But if you remove the collection from Users, it will still give you the error, that the type is wrong (or without the small typo fix in the apply_difinition.js at the moment, the "ReferenceError: fieldDefinition is not definied at CheckTypeExistence).

So the code should be:

[code]

[2016-04-04 13:05] jagi commented on #328
Ok it's a little bit different situation. I will check it out.

[2016-04-04 13:22] jagi commented on #328
In deed there was an error. I've fixed it and I will publish it probably today in rc8. Thanks!

[2016-04-04 13:34] peXed commented on #328
You are a star @jagi !
Thank you very much!

[2016-04-04 15:47] marbemac commented on #326
For which, the automatic casting of values, or the instantiation of child classes? For the second (automatic instantiation of child classes), I think that should probably be default behavior no?

[2016-04-04 17:07] jagi commented on #326
For both. I don't know if it should be a default behavior. Because it will be inconsistent. I want direct assignment and `set` method to have the same behavior.

[2016-04-04 17:11] marbemac commented on #326
Hmm, yeah I can see the merit in keeping those to assignments equivalent.

However, compared to v1, it's really a pain to have to make sure we build up entire objects everywhere we use them, so that nested defaults etc are set correctly. Curious to hear what others think?

[2016-04-04 17:13] marbemac commented on #326
Another possible solution, to keep assignment and set the same, is that the constructor could take care of instantiating nested classes, when passed an initial object.

[code]

[2016-04-04 22:27] jagi commented on #236
I've published the following packages versions:
- `jagi:astronomy@2.0.0-rc.8`
- `jagi:astronomy-timestamp-behavior@2.0.0-rc.5`
- `jagi:astronomy-softremove-behavior@2.0.0-rc.1`
All are compatible with Meteor 1.3
In the core package here is a list of changes:
- The "disableEvents" option in the find method
- The getModifier method
- Fix error with inserting undefined values
- Fix error with not val

[2016-04-04 22:54] ffxsam commented on #322
Desperately need this. Is there some other location we can maybe access the raw documentation? (in its MD or HTML format?)

[2016-04-05 01:05] sergiotapia commented on #236
@jagi Can you leave specific instruction on how to integrate/create a simple model for a User (id, name, email - nothing more) so we can try out rc.8?

What is softremove-behavior? Is it needed for Astronomy? Thanks! Excited to integrate it here https://github.com/danieltapia/tiki

[2016-04-05 06:09] talha-asad commented on #236
Is rc8 compatible with 1.2.1 as well?

[2016-04-05 06:34] jagi commented on #236
@sergiotapia here you have the sample application up to date with the current version of Astronomy https://github.com/jagi/meteor-astronomy-examples/tree/v2

@talha-asad it's not compatible with 1.2.1. I don't know if I'm gonna have time to make it compatible. I have to work on documentation right now.

[2016-04-05 06:35] jagi commented on #322
I will be working on documentation for 2.0 and will also bring back docs for 1.2. You can access raw documentation here: https://github.com/jagi/meteor-astronomy-docs/tree/master/docs

[2016-04-05 06:38] jagi commented on #326
Hmmm maybe I could make an exception only for nested documents, when used with `set` and in construction phase. Ok, I will do that this way.

[2016-04-05 07:49] laurentpayot commented on #236
I'm wondering how to manage very big arrays with Astronomy. In my Mongo requests I use the `fields` attribute to avoid loading big arrays. But I would like to simply add an element at the end of big arrays, or to remove an element, _without having to load these big arrays in memory_. Is it possible with Astronomy 2 ?

[2016-04-05 08:04] ianserlin commented on #236
@laurentpayot I believe you can use the same type of mongo modifier and just pass it to the `<Class>.update` method instead of the `<Collection>.update` method that you normally would. E.g. if you had a _collection_ called `Products` and a _model_ called `Product` you could do `Product.update({ ... }, { $pull: { ... } })` to use that syntax but still get all the Astronomy goodness you have wired u

[2016-04-05 08:04] talha-asad commented on #236
@jagi I think it's pretty straight forward from what I see at the migration guide for 1.3, however actual mileage may vary, here is my understanding. You need to export using `api.export` as was the norm in  < 1.3. And use `api.mainModule()` and export from your main module as well.

I am going to pull your latest code and give it a try.

[2016-04-05 08:52] laurentpayot commented on #236
@ianserlin A long time ago I realized that in Astronomy (v1) you could not use `push()` along with `set()` so I used direct Mongo collection pushes within Astronomy methods but as far as I remember I had weird results after `save()`.
I will try again with Astronomy v2 but having to bypass Astronomy for a simple push looks like a bug to me. What do you think @jagi ?

[2016-04-05 09:36] jagi commented on #236
@laurentpayot in most cases you will have to load entire document (at least on the server) to perform such operation with Astronomy. That's how Model layer works. It's not perfect but it helps in many situations. The problem with not loading entire document is that you can't check integrity without doing so. Let's say you have to check number of elements in the array. How are you gonna do that wit

[2016-04-05 09:43] ianserlin commented on #236
@jagi For push/pull/etc is it possible to use the Class mutation methods (ModelClass.update/etc) and then call `reload()` on your model instance if you need to do subsequent saves with it?

[2016-04-05 09:59] laurentpayot commented on #236
@jagi Thanks for your answer, it makes sense. Will try some workarounds.

[2016-04-05 11:10] jagi commented on #236
@sergiotapia I forgot to answer your question about the softremove behavior. You don't have to use it as long as you don't need softremove behavior :). It just removes a document without removing it from the collection. It marks it as removed and later such documents won't be fetched from collection until you restore it. This behavior introduces 4 methods:
[code]
It behaves similarly to the `doc.r

[2016-04-05 16:23] ffxsam commented on #322
I didn't even realize 2.0 was out!

[2016-04-05 16:51] sergiotapia commented on #236
Thanks @jagi, I'm going to look into those examples.

[2016-04-05 17:46] jagi commented on #322
It's not yet published but it will be soon. I've finished working on main features.

[2016-04-06 09:43] PolGuixe opened #329 "Astronomy and Formsy"
Is there a way to have something similar to [Autoform](https://github.com/aldeed/meteor-autoform), with Astronomy for React?

@ochicf and myself are planning on building something to make the form generation easier for those using React and Meteor. We are planning on doing some sort of integration between Astronomy and Formsy. Any recommendation?

[2016-04-06 10:12] jagi commented on #329
For now there is no tool  for Astronomy that would much Autoform. However, if you want to use forms (no autogeneration) I recommend [useful:forms](https://github.com/usefulio/forms). It would be great to have such tool but I will probably have no time to create one. So, if you want to make one, feel free and I can help in some aspects. What I think would be best is not focusing on one UI framework

[2016-04-06 21:28] tylershuster commented on #236
I have a class `User` attached to the `Meteor.users` collection. When I run `User.find().fetch()` on client or server, there are no results. When I run `User.getCollection().direct.find().fetch()` to see if the class is attached to the right connection, the users show up.

[2016-04-07 05:05] ffxsam opened #330 "Is there a way to "clean" Astronomy objects?"
When I fetch objects from the database, there's a lot of extra Astro fields attached to them besides just my own data fields. Does Astronomy have a way to clean these? The extra fields are causing problems with Redux.

[2016-04-07 05:09] ffxsam commented on #330
The best solution I've found is to do this:

[code]

[2016-04-07 06:45] jagi commented on #236
@tylershuster please create separate issue for such problems. It's hard to tell what's wrong without seeing the code.

[2016-04-07 06:46] jagi commented on #330
You can do `doc.raw()` to get clean object.

[2016-04-07 06:47] ffxsam commented on #330
Awesome tip!! Thank you.

[2016-04-07 06:47] #330 closed

[2016-04-07 08:44] cvsakpal commented on #322
Where would I find documentation of using astronomy for User Profile?

[2016-04-07 09:03] jagi commented on #322
https://github.com/jagi/meteor-astronomy-docs/blob/master/docs/example.md

[2016-04-07 09:09] cvsakpal commented on #322
Cool thanks!

[2016-04-07 15:43] tylershuster opened #331 "typeField causing error in 2.0 (Parent collection not returning results)"
I have a class `User` created with `Astro.Class.create.` When I run `User.find().fetch()` it returns an empty array. When I run `User.getCollection().find().fetch()` it returns the users.

Now I've extended the `User` class into two roles, and thus set the `typeField` property. When I comment this out, `User.find().fetch()` returns correctly. Has typeField behavior changed in 2.0?

[2016-04-07 15:59] jagi commented on #331
If you have two classes `User` and `Admin` and `Admin` inherits from `User` then `Admin.find()` and `User.find()` will have different results. `Admin.find()` will only return admins and `User.find()` will only return documents that were created using the `User` constructor. So, yes behavior has changed in 2.0 and it was requested by developers.

[2016-04-07 16:06] tylershuster commented on #331
Thanks for the answer. That's easy enough to account for.

[2016-04-07 16:06] #331 closed

[2016-04-07 16:14] tylershuster opened #332 "Array fields not cast as arrays"
Example code:

[code]

When I run `Class.availability.push(new AbstractDuration)`, My document ends up like this:

[code]

Where the nested object is the correct class but availability has been as an object, not an array

[2016-04-07 17:22] eugyev opened #333 "documentation site is down"
getting a 404 error when I try to go to it.

[2016-04-07 18:08] jagi commented on #333
It's because of termination of free hosting by MDG. This subject was already discussed on GitHub. I'm working on replacement for a documentation. Right now it can be accessed here https://github.com/jagi/meteor-astronomy-docs/tree/master/docs

[2016-04-07 18:09] jagi commented on #332
You are probably doing something wrong. Show me more code.

[2016-04-07 18:14] tylershuster commented on #332
[code]

and

[code]

[2016-04-07 18:25] jagi commented on #332
You're code is wrong. Why do you mix syntax for 1.0 and 2.0? Which version of Astronomy are you using? Why are you setting `volounteer._isNew = false`?

[2016-04-07 18:28] tylershuster commented on #332
I'm using 2.0. I've commented out what I know to be 1.0 code. Where am I using breaking 1.0 code? Lacking documentation for 2.0, I lean on old syntax. I'm setting `_isNew = false` due to your comment here: https://github.com/jagi/meteor-astronomy/issues/236#issuecomment-187107552 because when I wasn't I got a duplicate ID error.

[2016-04-07 23:30] talha-asad commented on #236
@jagi Please fix the version in the first post `jagi:astronomy-timestamp-behavior@2.0.0-rc.8` -> `jagi:astronomy-timestamp-behavior@2.0.0-rc.5`

[2016-04-07 23:40] talha-asad commented on #332
@tylershuster You haven't provided the definition of any of those nested types. Can you perhaps make a much simpler use case for this issue?

[2016-04-07 23:48] talha-asad opened #334 "[v2] Default values for nested class"
If an Astro Class nests another Astro Class, the default has to be defined on the parent class with defaults for each field again. Is this designed this way or a bug?

Example:

[code]

If the default for `children` field is removed, the defaults from `ChildClass` aren't applied. This essentially makes it useless to define defaults in `ChildClass` itself. I think there are a few edge cases here.

[2016-04-07 23:56] tylershuster commented on #332
[code]

I run this code

[code]

At this point everything is kosher:

[code]
Now I run `volunteer._isNew = false` to avoid the duplicate id error and `volunteer.save()`

now my document looks like this:

[code]

[2016-04-08 00:00] talha-asad commented on #332
Which rc version are you on?

I think this notation is no longer valid:

[code]

You should probably try creating another AstroClass for that nested schema.

[2016-04-08 00:13] tylershuster commented on #332
I'm on rc8

Now my code looks like this:

[code]

But the result is the same.

I also added a default to the availability definition:

[code]

but all that succeeded in doing was incrementing the "0" to "1", still being cast as an object.

[2016-04-08 02:01] talha-asad commented on #332
You're code is too nested and in separate sections to reproduce what you are facing. Have a look at this:

[code]

Now do this in your browser console or the meteor shell:

[code]

Seems to work perfectly for me, the field remains an array.

[2016-04-08 06:28] #333 closed

[2016-04-08 06:29] jagi commented on #236
@talha-asad thanks for noticing this, fixed

[2016-04-08 06:38] jagi commented on #334
I've tested it and it's working, so you're probably doing something wrong

[2016-04-08 06:41] jagi commented on #332
@tylershuster syntax with the `nested` property was removed in 2.0. Try the example posted by @talha-asad

[2016-04-08 07:36] talha-asad commented on #334
Here is how it's playing for me:

[code]

With this, everything works out as expected, defaults applied from Parent Class.

Now with that block removed:

[code]

I get this:

[code]

Here is the code I used in console to test this out:
[code]

[2016-04-08 07:52] jagi commented on #334
The nested field is same as any other field so it requires default value. This haven't changed from 1.0, so that's why it's saying it's required. Astronomy won't put a nested object in there because you may want to leave is `undefined` or `null`. What you have to do is:
[code]

[2016-04-08 07:52] #334 closed

[2016-04-08 07:58] talha-asad commented on #334
Thanks, my bad.

I forgot I could do `new Child()`

[2016-04-08 08:15] laurentpayot commented on #236
IMHO jsx files syntax is the worst thing that happened to computer science since PHP, so I'm using the amazing [Vue](http://vuejs.org/guide/application.html#Single-File-Components) as my view layer. As Astronomy is supposed to be view-layer agnostic, will it be possible to integrate v2 with any view-layer system ?

[2016-04-08 10:07] jagi commented on #236
@laurentpayot it should be possible. I'm not familiar with Vue view layer but after looking at the example I think it shouldn't be a problem to use Astronomy with it.

[2016-04-08 15:53] tylershuster commented on #332
I got it to work once, but then I ran `meteor reset` to try it again, and it went back to the old behavior. I got it working now, though. It seems that if there's a default option set, it won't get cast as an array. So now the field is optional with no default. My method for adding to that field involves manually casting the field as an array if it's unset, and then pushing to that array, then sav

[2016-04-08 16:00] talha-asad commented on #332
Due to it being optional, the push method and all other Array methods will not be available. I think your method is correct.

[2016-04-08 16:03] tylershuster commented on #332
I should note that it wasn’t optional before, and a Volunteer object that didn’t have its availability set in the document would show up as having an availability object cast as an array. It was only on saving that it was re-cast as an object upon insertion into the database. Regardless, I can move forward.

[2016-04-08 16:52] jazzdragon opened #335 "Creating composite indexes"
Hi,
I'm trying to create some composite indexes like so:
[code]

This creates two separate indexes, instead of a composite index.

[2016-04-08 20:42] jagi commented on #335
Documentation is the best source of information ;) https://github.com/jagi/meteor-astronomy-docs/blob/master/docs/indexes.md

[2016-04-09 23:09] jagi commented on #322
Temporarily documentation for v1 is located under this address: http://jagi.github.io/meteor-astronomy/v1 - it's not "recovered" entirely yet. Probably, it will be available tomorrow.

[2016-04-09 23:09] #322 closed

[2016-04-09 23:10] #335 closed

[2016-04-09 23:10] jagi commented on #296
Temporarily documentation for v1 is located under this address: http://jagi.github.io/meteor-astronomy/v1 - it's not "recovered" entirely yet. Probably, it will be available tomorrow.

[2016-04-09 23:10] #296 closed

[2016-04-09 23:12] jagi commented on #236
Documentation for v1 is temporarily located under this address http://jagi.github.io/meteor-astronomy/v1 - it's not "recovered" entirely yet. Probably, it will be available tomorrow. I'm also working on docs for v2. Right now I try to focus on the content of the documentation. So any UX/UI improvements will be added after it's ready.

[2016-04-11 03:18] jazzdragon commented on #335
I guess I missed that fields key.
Another issue though: it seems like indexes like that are not being inherited. Is that by design?

[2016-04-11 09:00] jagi commented on #335
It should be but it might be some bug if it doesn't

[2016-04-11 12:45] mp27 opened #337 "Softremove problems"
Short story: i used soft remove for lets say subjects , and now i want the admin user to have something like a trash where he can permanently delete or restore that doc.
But... since Class.findOne returns only doc. that are removed: false, and using to get all the documents, Collection.findOne , it gets the right doc but i can't use the astro methods, like set, maybe get etc..
I think maybe i've d

[2016-04-11 15:35] marbemac opened #338 "Is it no longer possible to get previous/modified values in after events?"
This was possible in v1, and is possible in most ORMs (mongoose, for example). It's useful so that one can take action after particular properties change, amongst other things.

[2016-04-11 15:56] marbemac commented on #338
For reference, this is what we're doing right now, to expose previous properties:

[code]

IMHO this should be baked into astronomy.

[2016-04-11 16:00] marbemac opened #339 "Auto-running validation only in untrusted environment"
Astronomy 1 did not auto-run validation on every save. I understand why this is necessary, now that users can save directly from the console/client. However, perhaps it makes sense to only force validation in !trusted environments? This would make migrating from v1 easier, and for our purposes we don't want to run validation when saving from all of our server methods / code.

At the very least, an

[2016-04-11 16:31] Ben305 commented on #301
This bug still occurs with `2.0.0-rc.8`. I try to create some demo records in `Meteor.startup`, but the call to `validate()` fails and throws that error.

[2016-04-11 16:38] jagi commented on #301
@Ben305 without the code and reproduction it's hard to tell what's wrong

[2016-04-11 16:40] jagi commented on #339
I could introduce such possibility on the server but that could cause model being not valid which is obviously not good.

[2016-04-11 16:45] jagi commented on #338
I could add `getOriginal` method. I was also thinking about making such calls simpler. It could work the following way:
[code]
But it wouldn't take raw values

[2016-04-11 16:46] jagi commented on #337
No in v1 there is no other way to do that. However, in v2 it was solved.

[2016-04-11 17:20] marbemac commented on #338
That would be perfect!

[2016-04-11 17:56] Ben305 commented on #301
@jagi Here's a sample application that reproduces the problem:
https://github.com/Ben305/Astronomy2Sample The same code was running perfectly with astronomy `1.2.x`

[2016-04-11 18:37] Ben305 commented on #301
@jagi Found the problem, pull request is here: https://github.com/jagi/meteor-astronomy/pull/340

I know auto validation is a new feature ion `2.0`, but a call to `validate` before the document was saved is not a bad practice.

[2016-04-11 22:01] lukejagodzinski commented on #338
I don't know if it's gonna appear in 2.0. Because if I will be adding more and more features that people still want it will be postponed even more. So first I want to finish documentation, release 2.0 and probably in 2.0.1 introduce such method. We will see.

[2016-04-11 22:06] lukejagodzinski commented on #301
@Ben305 ok thanks, I've made a comment under the PR. Please take a look

[2016-04-11 22:08] Ben305 opened #341 "afterSet event gone in v2"
Why is the afterSet event not available any more?

[2016-04-11 22:10] lukejagodzinski commented on #341
It's not necessary anymore. Instead you should use storage events like beforeSave and get list of modified fields. The set events were causing a lot of problems and entire philosophy behind document modification has changed.

[2016-04-11 22:10] #341 closed, assigned to nobody

[2016-04-12 07:02] mp27 commented on #337
Thank you, looking forward to use astronomy v2

[2016-04-12 07:02] #337 closed

[2016-04-13 09:34] aligos opened #342 "Meteor.users() Collection Service.facebook null,"
export const UserServices = Astro.Class({
  name: 'UserServices',
  fields: {
    /\* Any fields you want to be published to the client */
    'password': {
      type: 'object',
      nested: 'Password',
      default: function() {
        return {};
      }
    },
    'facebook': {
      type: 'object',
      nested: 'Facebook',
      default: function() {
        return {};
      }
    }

[2016-04-13 09:52] lukejagodzinski commented on #342
You don't have to provide UserServices class, you can set type of services object to `object` and it will be much more flexible.

[2016-04-13 11:09] chathuraa commented on #236
@jagi How would I use ENUM to get a list of options? eg.  for a select box to have OPENED,
    CLOSED,
    DONE,
    CANCELED,

[2016-04-13 11:36] aligos commented on #342
But when i try to get data, `Meteor.user().services.facebook.name` data result null

[2016-04-13 12:32] ochicf opened #343 "v2.0 Field values set onBeforeInsert/Update events are not updated in the document"
Hi,

I'm working on a similar behavior as the timestamp and while playing with it I've noticed that the fields do not get any value at all after the document insertion.

[code]

[code]

According to the 1.2.10 documentation the document should be updated after it has called the `save` operation, so I'm guessing this problem is from 2.0 only.

[2016-04-13 19:12] lukejagodzinski commented on #236
@chathuraa you have an example of ENUM usage in this thread https://github.com/jagi/meteor-astronomy/issues/236#issuecomment-196754072

[2016-04-13 19:13] lukejagodzinski commented on #342
It's probably not Astronomy fault. If it's on the client and you're not publishing it then it can be empty

[2016-04-13 19:20] lukejagodzinski commented on #343
Hmmm in deed it's not setting the `createdAt` field on the client. You can still do:

[code]

However, it should set date on the client too. I will take a look at it.

[2016-04-13 20:27] lukejagodzinski commented on #343
Hmmm the problem is more complicated. In v2, I'm using meteor methods to store document in a collection. And I forgot that meteor methods just copy object being passed, so reference is lost. There are two ways to overcome this, not calling method on the client or reloading document automatically after save. I don't know what solution to use because both of them has pros and cons... I have to rethi

[2016-04-14 05:47] aligos commented on #342
Yes, I'm not publish services from users collection. Thanks for your reply

[2016-04-14 05:47] #342 closed, assigned to nobody

[2016-04-15 00:37] Andrew1431 commented on #338
If you had to ballpark your 2.0 release, what would be your best guess?

[2016-04-15 06:43] lukejagodzinski commented on #338
@Andrew1431 you mean release date? If so, then it should be the end of this month

[2016-04-15 07:06] Ben305 opened #344 "Client side validation fails when a specific field is added to the class"
I am currently migrating from Astronomy 1.2.10 to 2.0.0-rc.8 and ran into the following problem:

The client side validation for fieldA (type _String_, validator _choice_) failed. I was able to track down the cause: As soon as I include the field _length_ (type _Number_, with default value) in the same class, the validation for fieldA fails.

I have a sample application ready that can be used to r

[2016-04-15 09:32] lukejagodzinski commented on #344
I assume that it may be caused by the field name `length`. Have you tried with different field name?

[2016-04-15 09:34] Ben305 commented on #344
Yes, that seems to be the cause. Do you have an idea what's wrong with it? It was perfectly working in Astro 1.2.x.

[2016-04-15 11:42] lukejagodzinski commented on #344
I will take a look at it. I know there was already a problem with the `length` name but I think that I solved it. I will take a lot at it. It shouldn't be a big problem. The cause of the problem is how underscore or lodash treats the `length` property on the object level. One of them treats it as the property, the other one as the array length.

[2016-04-15 18:46] peXed opened #345 "v2 - Getting UserID in Behavior?"
Hello!

I'm currently trying to create a behavior in Astronomy v2. It should simply add the userID to the document (createdBy and updatedBy).

My problem is now, how can I get the userID in a behavior? I always get an error if I use Meteor.userId(), which is clear, because the events are getting called on the server as well.

Is there any way to access the userId in the events?

[2016-04-15 21:59] zimt28 commented on #236
Hi @jagi, when do you think `v2` will be ready? An is there an event which covers all `beforeInsert/Update/Remove`? This would be very helpful :)

[2016-04-16 09:21] lukejagodzinski commented on #345
What error do you get?

[2016-04-16 09:24] lukejagodzinski commented on #236
It's actually ready but I won't release it before finishing documentation. It should be ready before the end of April

[2016-04-16 09:25] lukejagodzinski commented on #236
No there is no such event. What do you need it for?

[2016-04-16 09:45] zimt28 commented on #236
When checking permissions it's basically the same function for all of them, the only difference is the mode. So it would be cool to have a `before` or `beforeAny` method or something similar which provides the current mode (insert, update, remove) via `e.mode` or so.

[2016-04-16 11:01] peXed commented on #345
Hello!

I had the Meteor.userID() in a helper function. Now, I used the Meteor.user() or Meteor.userId() function directly in the behavior and it works! :+1:

Does this code not get called on the server as well (in Astronomy v2)? The Meteor.userId() shouldn't work on the server or does it?

[2016-04-16 17:10] lukejagodzinski commented on #345
When you call `doc.save()` it will call events in both environments client and server.

[2016-04-16 17:15] lukejagodzinski commented on #236
If think it's very rare use case so I'm not going to introduce one but you can do very easy trick:

[code]

Or something similar

[2016-04-16 20:25] zimt28 commented on #236
Yeah, that's what I'm currently doing. Maybe I could write a `behavior` instead? Haven't looked into those yet. Oh, one more thing - is there a way to "merge" Enums, so I can accept values from different Enums?

[2016-04-16 20:27] marbemac commented on #236
This would commonly be done in a beforeValidate hook - this is where you can put your custom common validations (or acl checks). See mongoose for an example:

http://mongoosejs.com/docs/api.html#document_Document-validate

[2016-04-16 20:34] lukejagodzinski commented on #236
@marbemac The only problem is that I do not validate documents on removal. There is no point of doing so.

@zimt28 It might be probably done as a behavior.

Any way I'm not going to introduce new features until release of 2.0.

[2016-04-16 20:43] marbemac commented on #236
Ah, true, that makes sense.

[2016-04-17 11:27] peXed commented on #345
So it should cause an error, shouldn't it? Because Meteor.userId() is not working on the server or is it in 1.3?

[2016-04-17 16:33] lukejagodzinski commented on #345
`Meteor.userId()` is working in any environment but publish function. You can check it in the docs. It shouldn't throw error.

[2016-04-17 17:51] Andrew1431 opened #346 ".save() on specific fields..."
Hey Jagi, I recall there originally being a way to save specific fields.

`model.save(['firstName', 'lastName'], callback)`

But it appears this no longer works, as its trying to call the array as a function (I'm guessing the callback).

Is there a way to do this now properly on v2?

[2016-04-17 18:50] lukejagodzinski commented on #346
Hey, no, there is no way of doing that. You have to save such fields directly without using Astronomy.

However, I may consider introducing such feature but only in the update operation. So even if there is a modified `email` field and you call `user.save({ fields: ['firstName', 'lastName'] })` it will only update first name and last name. However, it would not allow inserting only two from all th

[2016-04-17 19:11] peXed commented on #345
Ok. Cool! Thanks for the support and information! :)

[2016-04-17 19:11] #345 closed, assigned to nobody

[2016-04-17 19:14] Andrew1431 commented on #346
This would be beautiful! And perhaps in the beforeSave event have some kind of identifier stating what fields have been selected and a way to tell if none have been (aka preventDefault when the client tries to save() without specific fields...)

[2016-04-17 19:22] lukejagodzinski commented on #346
Yes list of selected fields can be passed to the event object in the `beforeSave` event.

[2016-04-17 20:07] zimt28 commented on #236
Thanks. Small feature request: The argument passed to the `events` should include the class name - access checks would be even simpler then :) Let us know if you need someone to have a look at the new docs if that would help you!

[2016-04-18 14:30] lukejagodzinski commented on #343
Ok I've investigated a problem and I'm not gonna change the way it works right now. It's expected behavior. When you do `Collection.insert()` the method that gets called behind the scene is also losing all the data that was produced by the method. The same happens when you call `doc.save()`. The Meteor method that gets called behind the scene loses on the client all the data that it produced. So,

[2016-04-18 14:30] #343 closed, assigned to nobody

[2016-04-18 14:57] lukejagodzinski commented on #344
I run tests and it fails in both situations with and without the `length` field. In fact validation does not work with Mocha tests at all. So the problem is not in Astronomy but how Mocha plays with Astronomy. I don't have time to check it right now. You have to investigate it by yourself if you want to use Mocha tests.

[2016-04-18 14:57] #344 closed, assigned to nobody

[2016-04-18 16:55] lukejagodzinski commented on #346
Ok I've implemented this feature but I'm not passing fields list to the `beforeSave` event because it's pointless. Your use case is not something that can't be done the other way.

[2016-04-18 16:55] #346 closed, assigned to nobody

[2016-04-18 16:57] lukejagodzinski commented on #236
@zimt28 what for do you need class name in the event object?

[2016-04-19 06:52] talha-asad commented on #236
stevezhu:lodash 4.11.1 is available, let's get this in?

[2016-04-19 06:58] lukejagodzinski commented on #236
@talha-asad it's already in https://github.com/jagi/meteor-astronomy/blob/v2/package.js#L9

[2016-04-19 08:39] peXed opened #348 "v2 - Error on update, if a default value gets retrieved from the database (but not on insert!)"
Hello!

I run into another strange issue.

In my model, I have a field with a default value, which gets its value from the database (via a function).

It looks like:

[code]

It works perfectly. The value gets displayed in the UI when I create a new item and saved to the database.
But, if I update the given item, I get an infinity loop, starting with a ServerError 500.

In the console, I get:
`Exc

[2016-04-19 10:52] talha-asad commented on #236
Is there a way to set multiple values together without initiating a new class object? I think there are few use cases for this if this is not already present.

[2016-04-19 12:03] talha-asad opened #349 "[v2-rc8] Type: Object isn't updated"
**Astro Class**

[code]

**Usage**

[code]

[2016-04-19 16:05] lukejagodzinski commented on #348
Without reproduction it's hard to tell

[2016-04-19 16:17] lukejagodzinski commented on #349
Yes in deed there is some bug. I will take a look at it.

[2016-04-19 17:10] lukejagodzinski commented on #349
Ok bug fixed. If you really want have this feature right now then just clone repository. I'm not going to release next RC version. I will release 2.0 before the end of April.

[2016-04-19 17:10] #349 closed, assigned to nobody

[2016-04-19 17:42] talha-asad commented on #349
I'll patch it locally thanks alot.

[2016-04-19 20:03] zimt28 commented on #236
@jagi I'd need that for my permission system. Currently I have to write this:

[code]

But it could be simplified to

[code]

if something like `e.className` and `e.mode` were available :)

[2016-04-19 20:28] peXed commented on #348
Yes, it is hard to describe. I took your Astronomy v2 test and modified it to reproduce the error.
This is not the way, how I do it in my App (for example, I use React).

You can find the repo here: https://github.com/peXed/astronomy-test

Simply add a new user (this works). Then edit the user and you will get the error-loop.

[2016-04-20 06:08] lukejagodzinski commented on #349
No problem

[2016-04-20 06:10] lukejagodzinski commented on #236
@zimt28 you can always do:

[code]

[2016-04-20 07:10] talha-asad opened #350 "[v2] ENUM Enhancement"
I know you're busy releasing v2, so let's get this added after you release v2.

The problem with ENUM's right now is that, there is no way to go back from the underlying value to the ENUM key. We are using hacky ways to do this right now (looping through keys of Enum and checking equality). Maybe you have this implemented but due to lack of documentation I cannot be sure.

I think this should be p

[2016-04-20 08:24] lukejagodzinski commented on #350
When I was implementing ENUMs I was thinking about such feature but I've decided that it's not necessary. In most cases ENUMs are just for easier (more human) notation. You just write `Status.OPENED` instead `2` or something like that. In most cases you don't need key `OPENED`. Could you give me some example where it's necessary?

[2016-04-20 09:10] talha-asad commented on #350
There are 2 cases where this comes in really handy.

Case 1 is where you have a ENUM type defined with alot of keys and whenever you make a retrieval from the DB, you have to make a comparison with each one to know which one it is. It ends up either being a really long else if or a switch block.

Case 2 is where you have another object that uses the same keys to specify some data. In that case you

[2016-04-20 09:12] talha-asad commented on #350
I think a few handy utilities in the ENUM type will be helpful in different cases. Like `getIdentifiers()` and `getIdentifier(val)` will go a long way. Let me know your thoughts on this.

[2016-04-20 11:17] laurentpayot commented on #236
Hi @jagi. In v1 I was using `Astro.eventManager` to force validation before `save()` for all my classes, and for custom i18n validation error messages (very important):

(in _CoffeeScript_)

[code]

`Astro.eventManager` is gone in v2, is there a way to at least manage custom error messages?

[2016-04-20 11:47] lukejagodzinski commented on #236
@laurentpayot Yes you can provide the `resolveError` function in a class schema:

[code]

And here you see how to resolve error https://github.com/jagi/meteor-astronomy/blob/v2/lib/modules/validators/validators/type/class.js#L22

[2016-04-20 12:16] laurentpayot commented on #236
Thanks @jagi, always so fast :+1:  I will use it then.

I also noticed that the `every` validator was gone in v2. I need it to check that every element of an array has the right properties. Will it be implemented in v2?

[2016-04-20 12:41] lukejagodzinski commented on #236
@laurentpayot Hmm I probably forgot about some validators. I will bring them back on 2.0 release

[2016-04-20 15:34] laurentpayot commented on #236
Yes, same for `and` and `or` validators at least.

[2016-04-20 16:25] laurentpayot commented on #236
I'm also having trouble using the `and` and `or` validators.
I'm using them this way:

[code]

and I'm getting:

[code]

Is it the right syntax?

[2016-04-20 18:01] lukejagodzinski commented on #236
@laurentpayot there is a bug. I will fix it. But please create separate issues for such things. This thread is too long right now and I won't discuss here bugs in 2.0.

[2016-04-20 21:04] lukejagodzinski commented on #236
@laurentpayot fixed. You can clone astronomy repository.

[2016-04-20 21:32] lukejagodzinski commented on #350
Ok I will introduce such function to ENUM

[2016-04-20 22:26] lukejagodzinski commented on #348
To be honest I have no idea why it's not working. I'm gonna have to ask in the Meteor GitHub repository.

[2016-04-20 22:50] laurentpayot commented on #236
I didn't know the syntax for `and` so I wasn't sure it was a bug. Thanks @jagi ! :+1:

[2016-04-21 07:09] peXed commented on #348
Thanks for your help @jagi

It is indeed a really strange issue and the callstack you get is not really helpful.

[2016-04-21 09:37] lukejagodzinski commented on #348
@peXed I've asked on Meteor GitHub. I just want to know what these errors mean. In deed stack trace is not helpful in this situation. I've tried to prepare reproduction that would be very similar to what happens in Astronomy but without effect. We will see what MDG will say about that

[2016-04-21 14:35] sgelbart opened #352 "Sites are down"
Not sure if this is the right place for it but I wanted to checkout the demos/docs and your site are down:
http://astronomy.jagi.io/ and http://astronomy.meteor.com/

[2016-04-21 17:55] lukejagodzinski commented on #352
It's because of termination of the free Meteor hosting by MDG. You have to clone demo repository to test it out and documentation is currently available under http://jagi.github.io/meteor-astronomy/v1

[2016-04-22 15:05] gatolgaj commented on #157
Hello ,
This Problem is Persisting for me in my Project.
i have an Attribute Defined Like this

[code]

The `session` Attribute is inside another Attribute which is also an array.
Now when i am updating the an already Existing Object by using the `.set()` method i find that the inner Array value is stored as `EJSON$value`

<img width="903" alt="screen shot 2016-04-22 at 8 32 17 pm" src="https://cl

[2016-04-23 00:37] joetidee commented on #301
I am getting the following error with v2.0.0-rc.8:

[code]

This is happening when saving a new document. I am supplying the code below, but please note that I have tried both with/without the _id field being defined in the model:

models.js:

[code]

save.js:

[code]

[2016-04-23 01:28] joetidee opened #353 "Validatoin not restricting to fields provided..."
I am validating some form fields, therefore, this is client-side validation:

[code]

I am getting the following error in my browser console:

`Error: "ref" is required [validation-error]`

Even though "ref" is a field within my model, I am not asking for it to be validated so the validation should pass.

[2016-04-23 07:51] Ben305 commented on #353
You should call

[code]

[2016-04-23 09:31] joetidee commented on #353
Documentation needs updating to reflect this pattern.

[2016-04-23 10:23] joetidee commented on #353
ok, so I changed the validation to the above suggested pattern, and it validated even though the `title` was an empty form field. My model definition is simply stating that the `title` is `type: String`, so I would have assumed that it was required AND also has to not be empty in order to be valid. Is this correct, or do I have to specify something else in the model to invalidate the title if it i

[2016-04-23 12:37] lukejagodzinski commented on #301
@joetidee the rc8 version has this bug but the actual version that is on GitHub has this bug fixed. So if you really need this right now you can clone repository to your local packages directory. I'm not going to release next rc version before release of 2.0. And release show be soon. I'm finishing documentation so after that I'm releasing 2.0

[2016-04-23 12:41] lukejagodzinski commented on #353
Please always write about which version are you talking. Documentation for 2.0 is not ready yet. Some parts of it are still from the 1.0 version. So I'm updating it page by page and adding new pages specifically for 2.0.

If it goes about behavior of validators. If you specify some field it's required by default, so it can't be null or undefined. But empty string `""` will pass as its string. You

[2016-04-23 18:53] joetidee commented on #353
I have been using 2.0.0-rc8. I tried the notEmtpy validator in this way but the form was still passing the test even with a blank field:

[code]

[2016-04-23 19:14] joetidee commented on #301
I haven't ever done a cloning to packages directory before - how do I do this?

[2016-04-23 20:20] joetidee commented on #301
Sorry, how do I do this?

[2016-04-23 23:03] lukejagodzinski commented on #157
It's hard to tell without reproduction. And you should provide entire schema. Have you tried defining nested class outside of the `nested` property?

[2016-04-24 01:14] joetidee opened #354 "Error: insert failed: Access denied"
If I get this error, what is going wrong?

(using Astronomy v1.2.10 and Validators v1.1.2)

[2016-04-24 09:42] joetidee opened #355 "Eror 404 when viewing documentation"
I'm getting and error 404 when viewing the documentation - site down?

[2016-04-24 09:43] joetidee commented on #355
It's back :)

[2016-04-24 09:43] #355 closed, assigned to nobody

[2016-04-24 12:19] lukejagodzinski commented on #354
You have to define allow/deny rules or create meteor method. You can read about that more in Meteor documentation.

[2016-04-24 12:20] lukejagodzinski commented on #301
@joetidee you just have to `git clone https://github.com/jagi/meteor-astronomy.git` into your `project/packages` directory.

[2016-04-24 12:46] lukejagodzinski commented on #353
@joetidee where did you find such syntax for defining validators in 2.0?
You should do:

[code]

[2016-04-24 14:46] lukejagodzinski commented on #350
I'm implementing it right now, but there is one more question about ENUMs and possible values. Right now ENUMs in Astronomy can have any value not only numbers which actually is not perfect, because it breaks base principle, values are enumerated. However, in most languages it's possible to assign the non successive numbers for each identifier. So I think about changing how syntax will look like.

[2016-04-24 14:50] talha-asad commented on #350
That works, but I don't understand why would you want to hard bound them to integers. I think having any possible value for them is great. Do you wish to switch to numbers only so you can make use of Array functions?

[2016-04-24 14:55] lukejagodzinski commented on #350
Yes I'm thinking about limit it only to numbers which is how ENUMs work in every language https://en.wikipedia.org/wiki/Enumerated_type so I thing it's good to keep up with the standard

[2016-04-24 15:14] #354 closed, assigned to nobody

[2016-04-24 15:14] #353 closed, assigned to nobody

[2016-04-24 20:05] joetidee opened #356 "Adding fields that are not present when saving"
I'm finding that when saving a document, if some of the fields that are defined in the model are not present at the point of saving the document, they are still inserted into the docuemnt (with values such as null). I noticed that you can specify exactly the fields that are to be saved in the save() function, hoever, that becomes cumbersome having to add this seperate logic.

Is there a way to run

[2016-04-24 21:46] joetidee opened #357 "Document not updating..."
(v1.2.10) I have a form that sets the content of a model and submits it to a Meteor method. The first time the form is submitted, the document saves as expected. If the `title` in the form, for example, gets changed and the model re-submitted, the document does not get updated wiht the new title.

The Meteor call to the method is as follows:

[code]

As you can see the result of the method call is

[2016-04-24 22:08] lukejagodzinski commented on #357
You description of the problem is not precise. So is document in the database being updated or not? If you want to reload a document on the client with new version after method call you should do `doc.reload()`. The code you posted does not tell me anything about your problem. Show exactly where you have a problem.

[2016-04-24 22:11] lukejagodzinski commented on #356
@joetidee you're mixing two syntaxes from Astronomy 1.0 and 2.0. You don't specify type as `['object']` it's not correct way of doing it in any version. Please read documentation first before asking any question. If it goes about not provided values for a fields in 1.x it will fill these values with nulls, however in 2.0 it's leaving them undefined. The way it works in 2.0 is much more intuitive a

[2016-04-24 22:42] joetidee commented on #357
The document is being inserted into the database, but when saving again, the document does not update in the database.

In the documentation, the `reload()` method suggests that it reverts the model back to a previous version. Perhaps this can be clarified.

[2016-04-24 22:55] joetidee commented on #357
To clarify, here is the code to submit the model to the Meteor method:

[code]

... and here is the Metero method call:

[code]

[2016-04-24 22:59] joetidee commented on #356
Do you know when v2 will be released?

[2016-04-25 05:52] talha-asad commented on #350
That works for me, however just wanted to clarify it is not required that ENUM keys equal to an integer, it's just that most languages implement them that way. The wiki page also states it as "often" not as a requirement.

[2016-04-25 08:41] lukejagodzinski commented on #357
The code examples are too complex. When dealing with some problem you should try create the minimal reproduction. Just create simple class and try inserting and later updating it. It should work. You are just doing something wrong.

[2016-04-25 08:41] lukejagodzinski commented on #356
I hope that I will finish it until the end of this month

[2016-04-25 08:42] lukejagodzinski commented on #350
I've made some fixes and allowed any values however numbers are default. I will describe more in a documentation.

[2016-04-25 09:45] joetidee commented on #357
ok. Can I ask though, when the Meteor method has run the save() command, how does the client-side model get re-populated with the updated data for the inserted document?

In the example above, when the Metero method is run and the document saved...

[code]

...I am sending the server-side model back to the client and setting the client side model with it...

`self.at = res;`

The documentation doe

[2016-04-25 10:11] lukejagodzinski commented on #357
The best way is to do it that way:

[code]

However, if you're returning a document from the Meteor method then you have to know that it's not so as assigning a new document to the old one because of broken references. In such situation you can do something like:

[code]

[2016-04-25 16:28] joetidee commented on #357
I have taken your advice, althought it's not clear where this code should be run. I my case I have tried:

[code]

where the Meteor.method is:

[code]

but i get the error:

`Error: res.get is not a function`

[2016-04-25 20:30] lukejagodzinski commented on #357
You have to read more about Meteor and how it works before staring working with it. Sorry but I can't help every Meteor developer with problems not related with Astronomy even if I want to. I'm very busy releasing Astronomy 2.0. But this time I will make an exception.

First of all, you don't understand how Meteor method works. The callback function receives two arguments:

[code]

The `res` argum

[2016-04-25 20:57] lukejagodzinski commented on #236
I've updated versions:
- `jagi:astronomy@2.0.0-rc.9`
- `jagi:astronomy-timestamp-behavior@2.0.0-rc.6`
- `jagi:astronomy-softremove-behavior@2.0.0-rc.2`

I know that I told that I'm not going to do that but after having many issues about some bug that got fixed I've decided to release it as the next RC version. The next one will be 2.0. I'm finishing documentation and it should be ready until the e

[2016-04-25 21:57] sergiotapia commented on #236
@jagi Do you need some help proofreading and such, happy to help out!

[2016-04-25 23:17] joetidee commented on #357
I do completely understand how Meteor works. I understand that the callback receives two arguments - `err`and `res`. I understand that what is returned from the `doc.save()`function (if successfull) is the `_id` of the newly inserted document and that calling `res.get()` could not possibly work. I am only followng your example above where you said use:

[code]

How can `res.get()` possibly be corr

[2016-04-26 00:39] joetidee commented on #357
Ok, I have made some progress whereby the document in the database does update EVENTUALLY, but it takes two form submissions to work. Below is a print out of the model objects immediately before the save function is called in my Meteor method:

**(First form submission - saves to database.)**

[code]

**(Second form submission with title changed - does NOT update the document in the database.)**

[2016-04-26 09:12] lukejagodzinski commented on #236
@sergiotapia yes help with proofreading is welcome :) You can already do it by reading it here http://jagi.github.io/meteor-astronomy/v2 and documentation content is in this repository in the `gh-pages` branch https://github.com/jagi/meteor-astronomy/tree/gh-pages/_includes/v2

[2016-04-26 09:19] lukejagodzinski commented on #357
First of all in many issues you post you are using two different Astronomy version. Please, decide to use one version. Is it 1.0 or 2.0? I see that in this issue you are using 1.0 so I will talk about this.

If you want to return document you have to do:

[code]

If you want to follow my examples then you should take a look at this repository https://github.com/jagi/meteor-astronomy-examples

[2016-04-26 10:00] joetidee commented on #357
The start of this issue states which version I am using - there was a mix-up with the syntax used for defining the model, but this has been sorted, so eveything should be in version 1.2.10.
As per one of your previous suggestions, I am using the following syntax for returning the document back to the client-side model and this seems to be working ok, so we can draw a line under that now:

[code]

[2016-04-26 10:07] lukejagodzinski commented on #357
You've modified my example and later you're surprised that it does not work. There is a difference between method call and method definition.

[code]

And maybe it will solve the problem. I don't know. You are doing a lot of mistakes and I don't see all your code so it's hard to predict where error is and I don't have time to help every developer.

[2016-04-26 12:14] joetidee commented on #357
What I was pointing out was that the code that you supplied does not work. If I use your code, the second submission creates an entirely new document in the database. The code I supplied at least ensures that the document eventually gets saved. Not sure if you are missing the point of my comment which shows the state of the model just before it is saved - how can a `save()` fucntion accept the cor

[2016-04-26 12:24] lukejagodzinski commented on #357
So if my code does not work for you, then it means that you have bug in some other place. Have you ever tried learning from my example repository https://github.com/jagi/meteor-astronomy-examples ?

[2016-04-26 12:47] joetidee commented on #357
Maybe, or there is a bug i your code. Just tell me, how can the output, that I have posted above, be passed to the `save()` function and not update the document? Isn't it the case that Astronomy will see that there is an `_id` present and that `_isNew == false` and save the document?

[2016-04-26 12:55] joetidee commented on #357
ok, found the problem. I wasn't using set() to set the fields on the model. Instead I was using the dot nataion, e.g. doc.title = "some title".

[2016-04-26 12:55] #357 closed, assigned to nobody

[2016-04-26 13:20] lukejagodzinski commented on #357
@joetidee I told you that's a bug in your code. If I'm sure of something in 100% then I'm sure :). The 1.0 syntax requires usage of the `set()` method, however 2.0 is not. So keep it in my when you will switch to new version.

[2016-04-26 15:22] joetidee commented on #357
yup, got it thanks :)

Sent £5 via Paypal for you help - lunch on me!

[2016-04-26 16:15] lukejagodzinski commented on #357
Ok thanks :)

[2016-04-26 16:30] daveeel commented on #274
Any update on this? I'm recently running into client side form handing, the data sets are not to be saved anywhere but throw to REST endpoints to consume after checking. So thinking to use Astronomy for client side only validation etc...

[2016-04-26 17:21] lukejagodzinski commented on #274
After thinking about this I'm not so sure if it should be implemented. However, you can still use client side only collection.

[code]

[2016-04-26 17:21] #274 closed

[2016-04-27 02:28] s7dhansh commented on #274
Why do you say so? Why should it not be implemented? Can you please
elaborate?

On Tue, Apr 26, 2016, 10:51 PM jagi notifications@github.com wrote:

[2016-04-27 02:33] daveeel commented on #274
I tried using null collection on client side. However something like

record.save()

won't work as expected. The local record change is not updated. Any clue?

On Wed, Apr 27, 2016 at 1:21 AM, jagi notifications@github.com wrote:

[2016-04-27 04:14] s7dhansh commented on #274
@daveeel can you give the sample code, or preferably a small reproduction

[2016-04-27 04:37] daveeel commented on #274
@s7dhansh , shall make an isolated reproduction and report back here.

[2016-04-27 07:44] lukejagodzinski commented on #274
@s7dhansh because if collection is defined for both client and server then what's the point of saving it only on the client, if there are client only collections (`new Mongo.Collection(null)`). I don't see any benefit of having such feature. It only introduces more complex API in Astronomy

[2016-04-27 08:07] dnish opened #358 "Push not working?"
Hi,
I'm having some issues with push, it seems like Astronomy doesn't add the objects to the array. This is my Astronomy class:

[code]

If a user is typing, I'll execute the method "isTyping":

[code]

If I execute "getModified" after push, I only get <code>{}</code> as return value, <code>chat.validate()</code> returns <code>true</code>. Any idea if I did something wrong here?

[2016-04-27 08:31] lukejagodzinski commented on #358
Have you tried defining field as?

[code]

and what's inside `chat.isTyping` after using push method?

[2016-04-27 08:36] dnish commented on #358
If I add <code>nested:'object'</code> my whole applications crashes with:

[code]

I don't know if it has something to do with the issue, but the initial chat document has "isTyping: NULL" on the server side. So I get on the client side via <code>Chat.find().fetch() -> isTyping: []</code>, as defined in defaults.

[2016-04-27 08:43] dnish commented on #358
Yep, that's the issue. The problem is that <code>isTyping</code> is null on the server side. If I change the document manually to <code>isTyping:[]</code>, Astronomy push works fine with it. I've to say that I've added <code>default: function() { return []; }</code> after the first documents have been created on my application. Just thought Astronomy will automatically set it as an array with 0 le

[2016-04-27 09:19] lukejagodzinski commented on #358
Ah yes it's a problem with Astronomy 1.0 that was fixed in 2.0.

[2016-04-27 09:32] peXed opened #359 "v2 - 'Updating from the client is not allowed' Error in rc.9"
Hello!

I ran into a small issue again. After updating to rc.9 I can't save any of my docs.

I always get a 403 or "Updating from the client is not allowed". I used the security package from ongoworks before and it worked great, but something in rc.9 seems to be breaking the internal verification.

To test all possiblities I uninstalled ongoworks:security and added the insecure package to my meteo

[2016-04-27 09:34] dnish commented on #358
Ahh okay, good to know. So I'll close this issue.

[2016-04-27 09:34] #358 closed, assigned to nobody

[2016-04-27 09:45] daveeel commented on #274
@jagi maybe I need your help to confirm the expected behaviour of client side 'null' collection:

Say I have a collection declared by:

[code]

For a record say rec. I could do the following which is fine:

[code]

What I wish is to be able to do is

[code]

So that I could have updated records by `Entities.find()`. Which is what I mean by client side save.

Now `rec.save()` has no effect on the c

[2016-04-27 10:26] s7dhansh commented on #274
@jagi Let me give you an example. Let's say there are 2 templates T1 and T2. Based on a value change through a form in T1, I want to do something in T2. Currently, it would be possible through Session (or states in react). If astronomy allows such a client side only save, it will ensure that Collection.findOne() will give the current client side value which can be used for any further interactions

[2016-04-27 10:28] s7dhansh commented on #274
@daveeel Are you using 2.0? Does a manual mongo rec.update() work on the client side for you in your code?

[2016-04-27 10:43] lukejagodzinski commented on #359
Sorry I didn't mention about this when publishing. Just for now add the `secured: false` to your class schema. http://jagi.github.io/meteor-astronomy/v2#secured-property It will be false by default so you can later remove it if you want.

[2016-04-27 10:45] lukejagodzinski commented on #274
@s7dhansh you can put a document in a reactive variable and modify it freely and use it to display form fields. You don't have to save it anywhere. That way, you can postpone save operation.

[2016-04-27 11:15] talha-asad opened #360 "[v2-rc9] $inc for nested key doesn't work"
The below code was working fine before I upgraded to rc9, I had a cloned copy from rc8. Any idea why it stopped working in the latest rc?

[code]

[2016-04-27 11:20] lukejagodzinski commented on #360
Hmm strange. I haven't been playing with this at all. Maybe you have changed something in your code? If not then please create simple reproduction.

[2016-04-27 11:28] talha-asad commented on #360
If you try incrementing any nested key using the Astro Class `.update` it returns 1 but doesn't actually make any update in the db. It works fine if the same query is performed using `Meteor.collection`

Could it have something to do with the minimongo available in 1.3.2.4?

So basically this will work:

[code]

but this won't work:

[code]

[2016-04-27 11:29] peXed commented on #359
Ah! Awesome. Thanks for the fast reply!

So if I use secured: false, the ongoworks:security will still work, because Astronomy is calling the normal collection functions later on, right?

[2016-04-27 12:33] daveeel commented on #274
@s7dhansh , I used 1.2.  And also tried 2.0 after reading your comment. Mongo update() does work and it's my original way to make changes. I'm trying to use Astronomy for centralised client side data validation. It seems that I have to hook server side anyway.

By the way, your use case is client side state management. Session is the old way. Reactive-Var is also clumsy for inter-template communic

[2016-04-27 12:46] s7dhansh commented on #274
@daveeel In 1.2, you need to use `rec.set("gender", "f")` and not `rec.gender = 'f'`.

Thank you. Viewmodel does look nice. But now I am shifting to React slowly. Is there any similar package for React?

Such a feature will be quite suitable and good for astronomy, I think. Will try to implement it myself sometime.

[2016-04-27 13:16] daveeel commented on #274
@s7dhansh , thanks for quick reply. Shall try what you suggested again in 1.2. In 2.0, both makes no difference for null client collection. I tried with one record only. Say:

[code]

Now I tried both `Entity.findOne()` and `Entities.findOne()` and hope to find the 'updated' record, but nothing changed ...

Anyways, will switch to server collection.

I'm not a react convert yet, so not much input

[2016-04-27 14:32] lukejagodzinski commented on #359
I don't know what the `ongoworks:security` package is and what it does but it should work the old way when you set `secured` to `false`. I'm making last fixes and maybe I will release 2.0 tomorrow. We will see.

[2016-04-27 14:33] lukejagodzinski commented on #360
Hmm I don't know if it has anything to do with Minimongo but I will have to check it. I know there was a problem with `@inc` operator but I've fixed it but using some internal Minimongo methods. So maybe in the update they removed something. I will try to check it today or tomorrow.

[2016-04-27 15:43] peXed commented on #359
Thank you @jagi! Awesome work :).

The `ongoworks:security` is a simple package to secure database operations. As far as I know, it implements just `allow` and `deny` rules.
But I like your approach in the new documentation. I may drop the package and put all the validation inside the models.

Cheers,
Dom

[2016-04-27 15:43] #359 closed, assigned to nobody

[2016-04-27 18:25] lukejagodzinski commented on #356
I'm preparing to release 2.0 so I'm closing this issue for now. I want to clear out all issues that got fixed in 2.0

[2016-04-27 18:25] #356 closed, assigned to nobody

[2016-04-27 18:25] #352 closed, assigned to nobody

[2016-04-27 18:26] lukejagodzinski commented on #326
Casting for set method implemented. Preparing to release 2.0. Closing this issue.

[2016-04-27 18:26] #326 closed

[2016-04-27 18:26] #329 closed

[2016-04-27 18:26] #307 closed

[2016-04-27 18:27] #332 closed

[2016-04-27 18:27] lukejagodzinski commented on #301
Fixed. Closing this issue because I'm preparing to release 2.0

[2016-04-27 18:27] #301 closed

[2016-04-27 18:28] lukejagodzinski commented on #300
Closing this issue because I'm preparing to release 2.0

[2016-04-27 18:28] #300 closed

[2016-04-27 18:29] #325 closed

[2016-04-27 18:29] #156 closed

[2016-04-27 18:30] #181 closed

[2016-04-27 18:30] #147 closed

[2016-04-27 18:30] #146 closed

[2016-04-27 18:30] #231 closed

[2016-04-27 18:31] #180 closed

[2016-04-27 18:31] lukejagodzinski commented on #170
Fixed in 2.0. Preparing to release, so I'm closing this issue.

[2016-04-27 18:31] #170 closed

[2016-04-27 18:31] #68 closed

[2016-04-27 18:31] #208 closed

[2016-04-27 18:32] #294 closed

[2016-04-27 18:33] #302 closed

[2016-04-27 18:33] #291 closed

[2016-04-27 18:33] #311 closed

[2016-04-27 18:34] #303 closed

[2016-04-27 18:34] #299 closed

[2016-04-27 18:34] #313 closed

[2016-04-27 18:35] #339 closed

[2016-04-27 18:39] lukejagodzinski commented on #360
In deed it's a bug, but I'm 100% sure that it used to work. I will try fixing it

[2016-04-27 18:40] marbemac commented on #339
Hey @jagi what was the decision on this one? We would really love to see this, at least as an option. It's made the migration from v1 more difficult, and is still causing issues for us.

[2016-04-27 19:03] lukejagodzinski commented on #339
Why would you like to skip validation on the server? How is it possible that it's making problems?

[2016-04-27 19:04] lukejagodzinski commented on #339
If you give me good reason then I implement it. It shouldn't be a problem but I just want to implement features that are really needed.

[2016-04-27 21:58] lukejagodzinski commented on #360
Ok bug fixed, 2.0 is very very close :)

[2016-04-27 21:58] #360 closed, assigned to nobody

[2016-04-27 22:10] lukejagodzinski commented on #338
@marbemac I don't know how I could missed it that you were talking about the `after` events. And as you know in the after events it's not so easy to access previous values. I understand that in some situations it may be handy but it will be hard to implement. As you wrote, right now the best way to do it is just to store old modified values in the `_modified` property of a document. But that's not

[2016-04-27 22:29] lukejagodzinski commented on #338
Sorry but I can't do it. There are to many little problems that such a feature would create. Moreover it would significantly slow down the save operation and I don't want it. I know that your solution is not perfect and beautiful but it works and I think it's the best for now.

The other solution I think of that I can think about implementing after 2.0 release is ability to pass some data between

[2016-04-27 23:12] frankapimenta opened #361 "modified values"
V1!

I was wondering...

when setting a new value it is added to modifiers.
However if the value before was 'a' and the new value is 'a' it is added to modifiers anyways.
Object is then considered modified (isModified() is true).
What about implementing a fail quietly feature if before and after values are equal? Then isModified would be false.
Does it make sense?

[2016-04-27 23:29] marbemac commented on #338
Sounds good! We can live with the solution above for now.

[2016-04-27 23:42] frankapimenta commented on #361
There it goes a test in a function update defined in viewmodel from manuel:viewmodel.
........

console.log(editedPlayer.isModified());
editedPlayer.set('name', "name");
console.log(editedPlayer.isModified());

..
"false"
"true"
..

console.log(editedPlayer.isModified());
editedPlayer.set('name', "name");
console.log(editedPlayer.getModified());
console.log(editedPlayer.isModified());

..
false
fa

[2016-04-28 08:22] lukejagodzinski commented on #361
I've just checked it and it works properly, so there is probably an error in your code.

[2016-04-28 10:40] frankapimenta commented on #361
Hi.

I think it has to do with (this) context of viewmodel. I will take a look at that and come back.

[2016-04-28 12:34] frankapimenta commented on #361
V1.

I was checking the code and it might be weird but:

Players list has one Player with name "whatever".

---1
let player = Players.findOne();

player.set('name', "whatever");

player.isModified() // true

---

---2
let player = Players.findOne();
player.set('name', "whatever");
player.getModified() // {}
player.isModified() // false

---

is this working properly?
player.isModified() should hav

[2016-04-28 13:49] lukejagodzinski commented on #361
Hmm how is it possible that the same code returns different results? Show entire code because the way you use it may influence document somehow.

[2016-04-28 13:58] lukejagodzinski commented on #361
UPDATE: Oh in deed it's possible. Strange thing, it's probably a problem with clearing modifiers in some of the methods... I will fix it after releasing 2.0

[2016-04-28 14:27] frankapimenta commented on #361
My questions to you might seem strange and weird but this is my day to day life in development 💨
I always find myself in these dark places 👻

I think that is in the clearing modifiers yes. I was going thru the code and I notice that:

lib/modules/fields/modified.js:8
-> what is unnecessary?

I don't have time to go thru your code more (unfortunately)  but my suggestion (and I don't know if it is b

[2016-04-28 14:33] lukejagodzinski commented on #361
With modifiers and setter there was always a problem because of a bad assumption at the beginning of development of Astronomy 1.0. I've entirely changed the way how it works right now and it's paying out with less bugs. There are a lot of things going on with setting values, getting modified values and getting modifiers and changing one little thing can influence some applications. So I have to be

[2016-04-29 08:00] talha-asad commented on #350
I know you got this part done and it's working great for me, except a few edge cases which when I researched online, people have been able to solve by use of ES6 symbols. I would like you to have a look at [es6-enum](https://www.npmjs.com/package/es6-enum) and [enumify](https://www.npmjs.com/package/enumify)

Perhaps you can use them internally in astro. The edge case I have currently is if I have

[2016-04-29 08:13] lukejagodzinski commented on #350
Nice idea, I will probably add that feature in v2.1

[2016-04-29 16:49] Andrew1431 opened #362 "beforeFind event on a base model (rc.5)"
Hey there! Docs are looking freaking sexy!!!

Uhm we're using rc.5 on our application right now as upgrading is currently causing a few breakages, but we have a Base model that all of our models in our application extend off of. That base model has a beforeFind event that is not getting fired when finding on any of the inherited classes. beforeUpdate, beforeInsert both properly fire but not before

[2016-04-29 16:50] Andrew1431 commented on #362
It could be that the base model doesn't have a collection, and as such the beforeFind isn't being registered, but you would think that event would still get sent through inherited models.

[2016-04-29 18:35] frankapimenta commented on #361
I understand better now. I think it might solve the problem. It looks like you have a solution. 👍

[2016-04-29 21:55] ghost commented on #236
@jagi When creating multiple indexes, i have to specify the `options: {}` even if it's empty on each index, otherwise, it throw an error when trying to set the `name` options in it (`function onParseDefinition`). Wouldn't it be better to init this object if he is `undefined` ? :

[code]

It would prevent us from creating it on each index when we have nothing to put inside it. What do you think ?

[2016-04-30 02:57] laucheukhim opened #363 "Changing schema to include a default array causes it to get casted to an object in database"
If I have existing data and change the schema later on to add a property that is an array, upon saving, the array will get casted to an object in the database. This happens on Astronomy v2.

Let's say I have the following schema for phones.

[code]

And I have inserted the following data to the database.

[code]

Later on, I change the schema to include information about color options, which is an

[2016-04-30 04:21] marbemac commented on #339
After thinking about this more it's not a huge deal, we'll move a bunch of this validation logic into a different system, that saves warnings on the models. We'll strictly use astronomy validation for deal-breaking issues like enforcing maxLength, required/optional, etc.

[2016-04-30 11:44] lukejagodzinski commented on #339
Ok good to hear

[2016-04-30 14:12] lukejagodzinski commented on #363
@laucheukhim thanks for noticing it. I've fixed it. It will be available with 2.0 release.

[2016-04-30 14:13] #363 closed, assigned to nobody

[2016-04-30 14:18] lukejagodzinski commented on #236
@shadowRR thanks for noticing it! I've fixed it. It will be available in 2.0 release. In the future, please create separate issues for such bugs.

[2016-04-30 14:54] sergiotapia commented on #236
@jagi Awesome, I'll proof read tonight and help out if I see typos and such. Gotta make v2 sparkle! ✨

[2016-04-30 16:45] lukejagodzinski commented on #362
@Andrew1431 hmmm I will take a look at it

[2016-04-30 16:48] lukejagodzinski commented on #348
I still haven't managed to resolve this issue, so I will release 2.0 with this bug. However I'm gonna fix it in 2.0.1. I've said that I will release 2.0 before the end of this month and I will do so, later tonight :)

[2016-04-30 22:58] lukejagodzinski commented on #236
Astronomy 2.0 released :) http://jagi.github.io/meteor-astronomy/v2

[2016-04-30 22:58] #236 closed

[2016-05-01 00:06] sergiotapia commented on #236
OH MY BOSH

[2016-05-02 07:47] talha-asad opened #365 "[v2] Index support for nested Astro class"
Consider the following:

[code]

How can one setup an index on Child's `name` field, provided it has no collection attached to it.

[2016-05-02 07:51] talha-asad commented on #365
Do you think it would be possible to have astro work it out, if it's done this way:

[code]

Right now it throws an error, because an index is being set on an Astro Class that doesn't have a collection field specified, however I think this warning should be removed and it should automatically setup an index in the parent class that uses that class, which has a collection defined. Let me know your

[2016-05-02 10:18] laurentpayot opened #366 "resolveError not working for "required" and "string" validators"
Hi, I love the new V2. I'm using `resolveError` to generate translated error messages in forms.

I noticed that `resolveError` is not taken into account at least for `required` and `string` validators, and maybe for all validators without parameters because `minLength` and other validators with parameters are working.

For instance (in _CoffeeScript_):

[code]

In _meteor shell_ for the `required`

[2016-05-02 12:50] veekungx opened #367 "[v2] Class has no method upsert"

[2016-05-02 18:29] lukejagodzinski commented on #367
Yes it does not have this method, however I will add it in the next update.

[2016-05-02 18:33] lukejagodzinski commented on #366
`string` and `required` validators are added automatically to your field so adding it one more time will have no effect. The only way to generate custom error message in that way is using the `resolveError` method on the level of the class, what I forgot to describe in the documentation. I will update it.

[code]

Examine what arguments are passed to this method and you will see how to generate er

[2016-05-02 18:39] lukejagodzinski commented on #365
I haven't been trying it but this should work:

[code]

Indexes in nested classes is not so easy problem to solve. Index is something related with Collection, so storing index information in a nested class that does not have any associated collection seems to be wrong. However, parent class could look for nested classes and compose indexes. So in my example it could look for indexes in the `Addres

[2016-05-02 18:42] lukejagodzinski commented on #365
OK yes it's possible https://docs.mongodb.org/manual/core/index-multikey/#index-arrays-with-embedded-documents however I have to rethink it carefully.

[2016-05-02 18:42] talha-asad commented on #365
I think Astro should be able to work out indexes from nested Classes.

[2016-05-02 22:00] laurentpayot commented on #366
I examined the arguments passed to this class function with one invalid field with a `string` validator and with another invalid field with a `number` validator. The arguments passed were the same except for the `name`, `nestedName` and `value`. How can I know that the first invalid value had to be a string? Is it possible to add a `validatorName` or `type` argument?

[2016-05-03 07:40] lukejagodzinski commented on #366
Ahhh I forgot to pass validator name to the `resolveError` method. I've fixed it and I will publish 2.0.1 version. It will be available under the `validator` property

[2016-05-03 07:40] #366 closed, assigned to nobody

[2016-05-03 08:27] laurentpayot commented on #366
Perfect. Thanks Jagi!

[2016-05-04 06:48] talha-asad opened #368 "[v2] Class Inheritance"
Consider the following:

[code]

If a `Cat` and a `Dog` are inserted, doing a `Animal.find({}).fetch()` should return them both, however currently this not the case, is this by design or a bug?

[2016-05-04 06:54] tjscooper commented on #368
When you're inheriting a model, I was not under the impression that you would also inherit a collection... Especially since you're extending the base class with new fields. I think you're going to have to specify a collection or you're stuck with a plain old object in memory.

[2016-05-04 06:58] tjscooper commented on #368
If you add a collection, say 'cats', you'll see it hydrated with the base class fields within your cats collection as well as your new cat fields.

[2016-05-04 07:04] talha-asad commented on #368
The advantage of mongodb being schema less is that you get to store many different sort of objects with varying schemas in one collection. This feature is available in all popular ORMs like mongoose. Everything works nicely besides the one issue I pointed.

[2016-05-04 14:39] s7dhansh opened #369 "[v2] file level import not read in events"
Let's say I add create a file:

[code]

Using a `const { User } = require(..)` in afterInit function, also gives the same error?

What am I doing wrong? Or is this a bug?

[2016-05-04 15:02] lukejagodzinski commented on #369
Are you exporting the `User` class properly in the `path.js` file?

[2016-05-04 15:04] lukejagodzinski commented on #368
Hmmm it may be a good idea for improvement. I would have to treat it in a little bit different way than regular fetch. I will check what I can do about it.

[2016-05-04 15:50] s7dhansh commented on #369
Yes `export {User}`

It is working properly else where.

[2016-05-04 16:01] s7dhansh commented on #369
It seems to be some other issue. I will investigate fully and report.

[2016-05-04 16:12] talha-asad commented on #368
Perhaps we could have an option to cast it in relevant subtype aswell. Can you tell me where this happens in code, hopefully i can submit a PR for this.

[2016-05-04 16:48] lukejagodzinski commented on #369
Ok

[2016-05-04 16:49] lukejagodzinski commented on #368
That what I was thinking about so `Animal.find().fetch()` would return something like `[Dog, Dog, Cat, Cat]` not `[Animal, Animal, Animal, Animal]` which would make little sense

[2016-05-04 16:55] ndarilek opened #370 "Why is insecure the default in 2.0?"
Not sure if it was this way in V1 and I didn't notice because I'm not in production yet, but it's kind of mind-blowing that I have to opt _in_ to security. The only argument I can come up with for this is that Meteor apps start out with autopublish/insecure, but everyone developing to the point where they're pulling in Astronomy has likely removed those anyway. If they want autopublish/insecure, t

[2016-05-04 17:45] lukejagodzinski commented on #370
I understand your worries. Right now it would be hard to change this behavior because it's compatibility breaking. Of course I could introduce global setting for that but that isn't perfect solution either. To be honest I've just chosen classes to be insecure by default because it's what I use the most. In fact every developer should put a lot of attention into security. If you have a good idea ho

[2016-05-04 19:42] Ben305 commented on #368
@jagi It would be also pretty nice if one could overwrite the collection for a child class (and omit the type field in this case). We have several business cases where child objects should be stored in own collections, at the moment this is only possible with workarounds.

[2016-05-04 20:35] shwaydogg commented on #147
Is this now possible?

[2016-05-05 06:56] lukejagodzinski commented on #147
"Now" you mean in 2.0? If so, then I have bad news. I removed the `unique` validator. It's to complex to keep track of all scenarios. If anyone wants some field to be unique, then consider using unique index or imprinting logic by yourself.

[2016-05-05 07:28] ickyrr opened #371 "TypeError: ["User" class]["fields" property]["emails" field] Type does not exist"
Hi, i'm trying to create a fresh meteor 1.3 app and trying to create it with astronomy, a great package BTW.

I would like to integrate it to Meteor.users but I could not get it to work. I could not find good examples on the web based on my needs.

Here's my `models/users.js`:

[code]

It gives me an error:
`Uncaught TypeError: ["User" class]["fields" property]["emails" field] Type does not exist`

[2016-05-05 07:52] lukejagodzinski commented on #371
There is not `Array` type. Use `[Object]` instead.

[2016-05-05 07:52] #371 closed, assigned to nobody

[2016-05-05 07:58] ickyrr commented on #371
I see, thanks @jagi!

[2016-05-05 13:22] JanMP opened #372 "getting astronomy magic in lists"
I have been using manuel:viewmodel for a while now and I am just trying out astronomy for the very first time.

I was wondering about the inconsistencies between the .findOne() and .find() methods.
findOne returns an astronomy object with all it's goodness, but find just returns the old unmagical Mongo cursor? So I came up with this:

[code]

The last line fetches the cursor and returns an array w

[2016-05-05 15:06] lukejagodzinski commented on #372
Please do not use CoffeeScript and Jade in examples. I don't use them and it's hard to figure out what's going there. Why do you need to put each `item` under `item` property?

To understand why the `find()` method returns cursor instead pure data you have to read more about reactivity and how Blaze uses it to limit amount or renders. Thanks to that it's much faster.

[2016-05-05 15:38] JanMP commented on #372
Yeah, my solution looked amazingly good at first sight, after a bit more dabbling with it I came across some of the problems you mentioned. Working on a different solution...

[2016-05-05 19:30] JanMP commented on #372
the astronomy.find() puts loads of functions into the data context. Like:

copy: function(save)
dispatchEvent: function(event)
get: function()
getModified: function()
getModifiedValues: function()
getModifier: function()
isModified: function(pattern)
raw: function()
reload: function()
remove: function()
save: function()
set: function()
 _allSubsReadyDep: Dependency, …}
toJSONValue: function(args)

[2016-05-05 20:18] lukejagodzinski commented on #372
If you're not using these methods that mean that you probably don't need Astronomy because they are essential to what Astronomy does. Have you read documentation? http://jagi.github.io/meteor-astronomy/v2

[2016-05-05 21:56] JanMP commented on #372
Yes. I have read it. And I am not using them because I can't get them to work, like they should. I wouldn't spend a whole day, trying to figure it out, If I didn't want to get all those methods to work properly.

And I found the problem. Its actually ViewModel, that's causing all this mess. ViewModel takes templateInstance.data and chops it into little pieces. So you can't just do something like t

[2016-05-06 05:33] lukejagodzinski commented on #372
I was getting many questions from users using Astronomy with ViewModel and all of them managed to use it properly. So, you are probably doing something wrong. I've never used ViewModel so I can't help with that until you show me some code that's causing a problem.

I don't see a point of describing "how to call methods" in templates? What do you exactly mean by that?

[2016-05-06 06:05] s7dhansh opened #373 "Cast values"
Sadly, jquery .val() gives us String for any type of input. It would be nice if there would be a basic autofix option available which if set to true, would try to "fix" the value of field.

eg.

[code]

Now in forms even if we get string data from number inputs, it will be converted and validated. Ditto for date libraries.

For now, I plan to use a function built on top of Class.getFields. But thi

[2016-05-06 06:13] lukejagodzinski commented on #373
Yes, this feature is planned for version 2.1. It will probably introduce the `fromForm()` method (or similar name) that will perform casting. Moreover it will be possible to provide casting function for each field.

[2016-05-06 06:14] s7dhansh opened #374 "[v2] Array fields can't be set to blank array, with validation"
eg.
               email: {
            type: [String],
            validators: [{
                type: "email",
            }],
            default() { return []; }
        },

When blank array, it gives validation errors for emails. Is that supposed to be a feature?

[2016-05-06 06:15] s7dhansh commented on #373
Oh great!

[2016-05-06 06:23] lukejagodzinski commented on #374
You have to know that validation if performed on the entire field so `["example@mail.com"]` is definitely not an email address it's an array of email addresses. Read about the `every` validator http://jagi.github.io/meteor-astronomy/v2#validators-list

[2016-05-06 06:23] #374 closed, assigned to nobody

[2016-05-06 06:27] s7dhansh commented on #374
Yes, my bad.
Thank you for pointing out.

[2016-05-06 09:15] JanMP commented on #372
I will ask ViewModel people then. You can't really help me with that. I came up with a workaround, by using regular Collection.find() to render the list and then use AstronomyClass.findOne() from inside the list-item ViewModel to get a data object with working methods attached to it. It's working.

[2016-05-06 09:15] #372 closed, assigned to nobody

[2016-05-06 09:50] s7dhansh opened #375 "[v2] MinimongoError: cannot use the part '...' to traverse undefined/null"
In nested classes,

eg.

[code]

Now, in the database, if order.cancellation is null or undefined - I get this error

[code]

I believe it is related to https://github.com/aldeed/meteor-autoform/issues/142 and https://jira.mongodb.org/browse/SERVER-5143. So, it is a MongoDB error.

So, I am left with only one solution for now, set a default "{}" for cancellation class, in which case Astronomy crea

[2016-05-06 10:22] lukejagodzinski commented on #375
You gave to little details. How are you using it? Marking the `order.cancellation` field as optional should allow filling it with null or undefined value. If it's doesn't then it's not Astronomy fault.

[2016-05-06 10:46] s7dhansh commented on #375
Update the initial comment with more details.
I have already marked `order.cancellation` as optional. I am also not saying that it is Astronomy's fault. I have already linked the MongoDB error (https://jira.mongodb.org/browse/SERVER-5143).

I am asking if there is any other hack which Astronomy or I can use - to fix the mongo issue linked above.

[2016-05-06 10:58] s7dhansh commented on #375
If still things are unclear, you may specify the doubts, or else I will try and create a reprod sometime soon.

[2016-05-06 11:02] s7dhansh opened #376 "[v2] Object type percolates down if structure is undefined"
Let a field definition be

[code]

If I save the document with `filters = {values: [1, 2]}` filters.values is also saved as an object and not array.

[2016-05-06 14:08] lukejagodzinski commented on #376
I will check it out

[2016-05-06 17:53] s7dhansh opened #377 "[v2] New Behavior"
@jagi
I have created a new behavior based on your timestamp: https://github.com/settlin/meteor-astronomy-meta-behavior. It is more like a v2 of timestamp, but I created a new repo instead of a PR because of the unsuitability of the repo name.

If you agree, I would like to transfer the ownership to you and you can publish it on atmosphere.

[2016-05-06 18:00] s7dhansh opened #378 "[v2] Softremove error"
If I use

[code]

as per the documentation, I get: user.softRemove is not a function

If I use `User.findOne`, I get: wrapCallback is not a function.

Is this a bug?

[2016-05-06 23:02] marbemac commented on #370
I agree with this, and brought it up several times over the past 5 months. @jagi, I would suggest shouting this in bold at the top of the release notes / migration guide, and at the top of the documentation. IMHO, this is one of the most significant changes from v1, and it's not even mentioned in the migration guide, which is kind of odd...

[2016-05-07 03:46] katrotz commented on #368
@jagi Actually getting `[Cat, Cat, Dog, Dog]` makes perfect sense as long as these behave like animals inheriting its methods and properties, IMHO

[2016-05-07 07:29] s7dhansh commented on #375
@jagi https://github.com/s7dhansh/astronomy-problem

I have neglected the issues with MongoDB for now. There is also a problem with Astronomy though which I have highlighted in the repo. Kindly run it and see the error in JS console.

The problem is with nested Date fields. If the field is not set earlier (in the db), and then through Astronomy we try to set a nested class (with a date field), it

[2016-05-07 07:50] s7dhansh commented on #376
This happens for any Javascript Object, not just arrays.

[2016-05-07 08:28] lukejagodzinski commented on #377
No it's ok that you're the owner this repository. You can publish it under your name and if you want you can just add be as contributor. I will create new sections in Astronomy readme: community packages where I will list all packages worth using and also the Made with Astronomy section where I will show what apps where made using it.

[2016-05-07 08:33] lukejagodzinski commented on #378
You can't use the `softRemove` method with document coming from collection `Collection.findOne()`. You always need astronomy document so you get it using `Class.findOne()` and in your situation `User.findOne()`. However if it's throwing that error it may mean that I forgot to import this method, so I will have to make a fix. However I can't check it now as I'm traveling. I will take a look at it l

[2016-05-07 08:39] lukejagodzinski commented on #368
@katrotz yes they will inherit all methods and fields from the `Animal` class.

[2016-05-07 08:42] lukejagodzinski commented on #370
I'm considering breaking backward compatibility in 2.1 and change it to be secured by default. Maybe people will not complain about that :)

[2016-05-07 08:52] lukejagodzinski commented on #376
I've tested it and it's working properly, so you're probably doing something wrong.

[2016-05-07 09:51] s7dhansh commented on #378
Please update the documentation then. It says to use it on the db document itself.

[2016-05-07 09:54] s7dhansh commented on #376
Kindly check the 'object' branch of https://github.com/s7dhansh/astronomy-problem. It is a reprod of the problem. Check the JS console where the field is printed before and after save. Before save, it is a Date object, but post save it is just an Object.

[2016-05-07 10:04] lukejagodzinski commented on #368
Ok I've implemented it and I've added some extra possibilities:
- `Animal.find({}, {children: false}).fetch();` - will return only instances of the `Animal` class
- `Animal.find({}, {children: true}).fetch();` - will return instances of classes `Animal`, `Cat` and `Dog`

[2016-05-07 10:05] lukejagodzinski commented on #368
This feature will appear in 2.1

[2016-05-07 10:05] #368 closed, assigned to nobody

[2016-05-07 10:06] s7dhansh commented on #369
Do you use afterInit or other events at any place where imports may not be available?

The problem is weird and I am not able to reproduce it properly. There are a few classes (and only few classes) which are deemed to be undefined if I put them directly in the afterInit function. If I simply wrap them inside a function and call the latter in afterInit, things work properly. It may not necessarily

[2016-05-07 10:06] lukejagodzinski commented on #378
Oh right there is an error in a documentation, thanks!

[2016-05-07 10:18] lukejagodzinski commented on #378
Ok, I've checked and it's working as expected when used with `Class.findOne()`. There is no error related to the `wrapCallback` method. Are you using the 2.0.1 version?

[2016-05-07 10:21] talha-asad commented on #368
Is there a way to manually download this change, I notice there is no 2.1 branch

[2016-05-07 10:52] s7dhansh commented on #378
No yesterday I was on 2.0. I updated today but haven't tested. I will test on 2.0.1 and revert.

[2016-05-07 11:25] Ben305 opened #379 "[v2] Class inheritence and different collections"
From #368: It would be also pretty nice if one could overwrite the collection for a child class (and omit the type field in this case). We have several business cases where child objects should be stored in its own collections, at the moment this is only possible with workarounds.

[2016-05-07 11:52] lukejagodzinski commented on #368
It's on v2 branch. You can just clone it

[2016-05-09 01:30] laucheukhim opened #380 "Objects with modified date fields are not saved in the database"
If you update an object by modifying its date field only, it will not be saved to the database.

Let's say I have the following schema and an existing object of that class.

[code]

If I update this object to change its date field, it will not be saved to the database.

[code]

In MongoDB the object still has the old date.

[code]

However, if I update other fields as well as the date field, all f

[2016-05-10 04:49] s7dhansh commented on #376
@jagi did you get time to check this?

[2016-05-10 04:55] lukejagodzinski commented on #380
Yes in deed there is some problem. It's actually not detecting that document is modified but it knows what changes were made. So it's like some little bug that I'm going to fix today.

[2016-05-10 04:56] lukejagodzinski commented on #376
Sorry I'm on business trip right now and didn't have time to take a look at it yet. But I will probably investigate it today.

[2016-05-10 09:24] JanMP opened #381 "validation for mdg:validated-method"
Is there a way to use astronomy for simple validation of arguments in mdg:validated-method?

[2016-05-10 09:33] jhuenges commented on #381
I was wondering the same. For now, I am using the `method` object that comes with the class. However, I am not sure if that is best practice...

[2016-05-10 10:09] lukejagodzinski commented on #381
What rules do you exactly want to check? If they are simple rules then why not just use the `match` package? If they are more complex rules then you may use Astronomy for that but I don't think it's a good choice. I would rather use to check Astronomy for document's validity and integrity not just for method's arguments. However, I will probably allow something like easy arguments checking in Astr

[2016-05-10 10:39] JanMP commented on #381
I was going for the recommended mdg:validated-methods
AFAIK `match` doesn't do, because it doesn't throw the proper errors. According to the Meteor Guide Astronomy throws the proper errors.

[2016-05-10 15:19] lukejagodzinski commented on #381
Yes Astronomy throw proper errors that can be handled in Autoforms from what I know. We used `mdg:validation-error` in Astronomy and SimpleSchema (I don't know if it's already using it) to consolidate our efforts in making it easier to switch between packages and to be able use autoform with both Astronomy and SimpleSchema. I don't know if it's going to work right now or with future versions of au

[2016-05-10 17:39] shwaydogg commented on #147
Makes sense!

[2016-05-11 06:03] ragulka opened #382 "Are there uppercase and trim setters / transforms?"
Is there anything in Astronomy that's equivalent to Mongoose's trim() and uppercase() setters like described here: http://mongoosejs.com/docs/api.html#schema_string_SchemaString-uppercase

So that we could do something like:

[code]

or perhaps there is already a way to do it, but I can't see it in the docs?

[2016-05-11 09:39] lukejagodzinski commented on #382
You could eventually add such a module to Astronomy that would allow that. Right now the only way of doing it is using the `beforeSave` hooks/events.

[code]

However, as I said you can create a module that would look for the `uppercase` property in the field definition and just do it automatically. I haven't described how to create custom module yet. So the only way to learn right now is to check

[2016-05-12 08:37] fumbleforce commented on #368
Fantastic! I've been running into scenarios when this is extremely useful. When having a "Task" collection with different types of tasks, like "ShoppingTask" and "MaintainanceTask", it is really sweet to just query the Task collection for all the tasks in a combined Task list. When finding a task by ID afterwards, you can then also just query the Task collection instead of all the inherited models

[2016-05-13 13:11] krizka opened #383 "[v2] Arrays in nested objects replaces with objects on save"
I have Object and Nested, something like
pseudocode:

[code]

After

[code]

`object.nested.array` contains `{}`. After digging down and debug I found `omitUndefined` function where _.isObject thinks array is object too. Please fix it.

[code]

[2016-05-13 21:33] zachariahtimothy opened #384 "[v2] fieldPattern.indexOf is not a function on validate."
During model validation, I am receiving the error "is_nested_field_name.js:2 Uncaught TypeError: fieldPattern.indexOf is not a function".
I placed a debug point and found it fails when there are non-strings in the model. For instance, this fails when it checks a Number type in my model.

[code]

Calling code looks like so:

[code]

[2016-05-14 01:06] lukejagodzinski commented on #384
First of all the `validate` method does not return anything. However tell
me what's inside `boatData` and how your model looks like.
On May 14, 2016 6:33 AM, "Zach Curtis" notifications@github.com wrote:

[2016-05-14 01:07] lukejagodzinski commented on #383
I've already fixed it but it's not published yet. I will probably publish
it next week.
On May 13, 2016 10:11 PM, "Kostya Kurilov" notifications@github.com wrote:

[2016-05-14 01:52] zachariahtimothy commented on #384
Yeah I was not sure validate() returned anything, I was just debugging.
Model is as follows:

import { Meteor } from 'meteor/meteor';
import { Mongo } from 'meteor/mongo';
import { Class } from 'meteor/jagi:astronomy';
import { LengthUnit } from './enums';
import Amenity from './amenity';

const Boats = new Mongo.Collection('boats');

const BoatSpec = Class.create({
name: 'BoatSpec',
fields: {
len

[2016-05-14 02:32] zachariahtimothy commented on #384
With a little more debugging I found it does not like the BoatSpec model. I
suspected the Enum was the problem but even with that commented out it does
not work. If I comment out BoatSpec completely it works. I tried importing
the BoatSpec model individually and just validating that as a separate
model but that does not work either. I will keep digging but it seems to be
related to the Number type

[2016-05-14 03:40] lukejagodzinski commented on #384
There are a lot of things happening in your code. You have custom type what can also be a problem. You have to create reproduction repository. Without that it's hard to tell what may be a cause of your problem.

[2016-05-14 03:54] lukejagodzinski commented on #380
I've fixed it and I will publish it in the next bug fix version. I will do it in the next week.

[2016-05-14 03:54] #380 closed, assigned to nobody

[2016-05-15 00:07] lukejagodzinski commented on #384
Oh maybe try changing a name of the `length` field. It may be a problem with that I thought that I've already fixed.

[2016-05-15 03:00] lukejagodzinski commented on #384
Ok I think that I've found a problem. It's a problem with the `length` property. I've already fixed this problem in previous versions but the bug was introduced one more time because of another bug in lodash. So I have to change a method that I'm using to perform some internal operations.

[2016-05-15 06:18] lukejagodzinski commented on #384
Bug fixed and it's on GitHub. I will publish it the next week.

[2016-05-15 06:18] #384 closed, assigned to nobody

[2016-05-15 08:31] lukejagodzinski commented on #369
Could you give an example of such a function wrapping?

Sorry for responding so late but I'm on my business trip and I'm not working a lot on Astronomy.

[2016-05-15 08:36] lukejagodzinski commented on #376
@s7dhansh I've probably fixed it when working on a different issue. I think they were correlated. So please check out the current version of the Astronomy from the GitHub repository. Just clone it to your packages directory. I think it should work now.

[2016-05-15 08:36] #376 closed, assigned to nobody

[2016-05-15 10:13] lukejagodzinski commented on #379
@Ben305 yep good idea. I will implement that however I don't know how soon. But it's definitely worth spending time on.

[2016-05-15 10:26] lukejagodzinski commented on #375
Ok the other problem you had was already fixed and this one is somehow related with `Autoform` rather than `Astronomy`. I think there is no possible situation when setting nested fields would cause a problem. Because I'm doing exactly what Aldeed wrote about this problem. I'm comparing previous and current value and try to create modifier that will be properly executed. I can do it efficiently bec

[2016-05-15 10:26] #375 closed, assigned to nobody

[2016-05-15 10:40] lukejagodzinski commented on #362
Ok I've investigated it. Sorry that it took me so much time but I'm on business trip and don't have a lot of time to deal with Astronomy. However if it goes about your problem there are several things worth mentioning. First of all, there is no point of adding the `beforeFind` event to classes that does not have collection. The second thing is that the `beforeFind` event will be inherited anyway b

[2016-05-15 10:40] #362 closed, assigned to nobody

[2016-05-15 11:45] lukejagodzinski commented on #367
Method implemented! It will publish it soon

[2016-05-15 11:45] #367 closed, assigned to nobody

[2016-05-15 12:05] lukejagodzinski commented on #370
Ok I've change classes to be secured by default. It will be compatibility breaking change in 2.1. I hope people will not be pissed of.

[2016-05-15 12:05] #370 closed, assigned to nobody

[2016-05-15 12:07] lukejagodzinski commented on #383
I'm closing it right now as it was fixed. I will publish a new version soon.

[2016-05-15 12:07] #383 closed, assigned to nobody

[2016-05-15 14:34] zachariahtimothy commented on #384
Thank you, I will try it out shortly.

---

Zach Curtis
P: 970.590.6383
E: zachariahtimothy@gmail.com
T: @zachariahCurtis https://twitter.com/#!/@zachariahCurtis

On Sun, May 15, 2016 at 12:18 AM, jagi notifications@github.com wrote:

[2016-05-16 01:15] lukejagodzinski commented on #350
I've started working on this feature and I have one problem with it. Using Symbols as values maybe is a fancy trick but it may cause also some problems. There may be situations where somebody wants to compare enum value to another raw value like `post.status === 4` not just `post.status === Status.OPENED`. In such situations it would not work. There is also a problem with storing ENUM values  in a

[2016-05-16 01:32] #378 closed, assigned to nobody

[2016-05-16 05:36] s7dhansh commented on #376
@jagi checked the latest v2 from github. Not fixed yet.

If you want you can check out the "object" branch of this repo: https://github.com/s7dhansh/astronomy-problem and click on the button. There are 2 ouputs in the console, one before and one after the save.

![issue](https://cloud.githubusercontent.com/assets/706996/15281146/330c3712-1b56-11e6-9a18-66ea2667a741.png)

[2016-05-16 05:43] s7dhansh commented on #369
Sorry, I too have paused the v2 migration. That issue with nested objects is a major one. Once that is fixed, I will resume the migration and will be able to give you code samples for this problem too.

[2016-05-16 05:50] talha-asad commented on #350
Storage is definitely going to require a bit of work. I'll do a bit of research on Symbols, i don't have experience using them either :)

I don't see a reason why someone would want to compare an ENUM with it's base value. It's goes against using ENUM in the first place.

[2016-05-16 05:56] s7dhansh commented on #375
@jagi I am not using Autoform. I am using my own custome forms package, but it is just a frontend layer and has nothing to do with astronomy.

If you have figured out the problem and there is no solution, well nothing can be done about it then :).

Though I would like to  suggest a solution. I have no idea how many people are using Astronomy for collections which already have non-Astronomy data (d

[2016-05-16 06:04] s7dhansh commented on #315
@mp27 since the soft-removed doc is still there in the db, and the uniqueness is checked on the db (and not in the astronomy middle layer), I don't think this will ever be possible. Checking uniquness in Astronomy, will always be a bad idea, as it is a database's job.
I will suggest that before softremoving such docs, just prefix/suffix the unique field with say "del-". It will retail your uniquen

[2016-05-16 10:36] chathuraa commented on #350
Hi @jagi ,

How should i go about retrieving the value of the ENUM?

Thanks,

[2016-05-16 10:43] lukejagodzinski commented on #376
You are definitely not using the newest version from GitHub
<img width="1280" alt="screen shot 2016-05-16 at 19 42 30" src="https://cloud.githubusercontent.com/assets/1051229/15287520/6559f27a-1b9e-11e6-9c1a-8081bcdcebfe.png">

[2016-05-16 10:57] s7dhansh commented on #376
The latest v2 branch, right? or any other branch?

[2016-05-16 11:08] s7dhansh commented on #376
Ah. So I was using the latest version, but my db had the old document which already had "{}" in the `on` field. Cleared the db. It is working now. Thanks.

[2016-05-16 14:11] s7dhansh commented on #359
@jagi have you by any chance made this secured property true by default in the latest code? I had to set it to false to make things work..

[2016-05-16 14:21] s7dhansh commented on #359
https://github.com/jagi/meteor-astronomy/pull/385 fixes it. Please review.

[2016-05-16 17:47] s7dhansh commented on #378
@jagi I am still getting the same error. Any ideas?
![shot](https://cloud.githubusercontent.com/assets/706996/15298325/62f6d7a0-1bbc-11e6-9321-03f6b56e033c.png)

Reproduction: https://github.com/s7dhansh/astronomy-problem - branch "softremove"
Click on the button and see JS console.

I am using 2.0.1 - both astronomy and softremove. (I have also tried latest github v2).

[2016-05-17 01:44] lukejagodzinski commented on #376
Ok good to hear

[2016-05-17 02:11] lukejagodzinski commented on #378
Oh sorry I was talking about the `softremove` repo that is on GitHub but not yet published to the atmosphere. I will publish it now.

[2016-05-17 02:21] lukejagodzinski commented on #350
@chathuraa If you want to get value of the ENUM you just use this enum and identifier `YourEnum.IDENTIFIER` if you want to get identifier using value then `YourEnum.getIdentifier(enumValue)`. Or you're talking about something else?

@talha-asad yes it will require a bit of work :)

[2016-05-17 03:38] chathuraa commented on #350
Hi @jagi,

Apologies for not explaining it properly.

I was wondering given the Identifier how to get the underlying value.  ie. `MyEnum.getValue(enumIdentifier)`.

Thanks,

[2016-05-17 07:52] lukejagodzinski commented on #350
Like that :)

[code]

[2016-05-17 09:37] chathuraa commented on #350
oh... feel dumb now. Thanks :)

[2016-05-17 14:18] lukejagodzinski commented on #350
@chathuraa no problem :) Don't feel bad, sometimes the easiest answers seems to be hard :)

[2016-05-17 15:22] jcheroske commented on #381
Just an FYI: SimpleSchema has a `validator()` method:

"Call `mySimpleSchema.validator()` to get a function that calls `mySimpleSchema.validate` for whatever object is passed to it. This means you can do validate: `mySimpleSchema.validator()` in the mdg:method (now called `mdg:validated-methods`) package. If you set the clean option to true, then the object will be cleaned before it is validated.

[2016-05-17 21:07] sieutruc opened #386 "Double number in astronomy ?"
Hello,
in simple schema, i can defined a field of type "number" with "decimal": true , it means a non-integer.

How can i achieve the same thing with astronomy ?

[2016-05-18 00:53] lukejagodzinski commented on #386
You just use the `Number` type as it's still double no matter if you put there integer or float. It's how JavaScript and MongoDB works. In SS you have this option because of validation. I will probably introduce `integer` and `float` validators in the next version.

[2016-05-18 01:29] lukejagodzinski commented on #381
Yes I'm opened to discussion about new features. I will probably add a new module that will handle populating object with data coming from forms which includes cleaning data. And if it goes about validating any object, I'm also going to introduce a new method on the level of the class and you will use it in the following way.

[code]

[2016-05-18 01:43] jcheroske commented on #381
Fantastic!

On Tuesday, May 17, 2016, jagi notifications@github.com wrote:

[2016-05-18 09:42] s7dhansh commented on #377
@jagi added you as admin.
https://atmospherejs.com/settlin/astronomy-meta-behavior

[2016-05-18 09:42] #377 closed, assigned to nobody

[2016-05-18 21:38] sieutruc commented on #386
Iam appreciated your answer :)

If it is possible, can you show me how to test mongo.objectid ? i see the doc mentions about mongo.ObjectId, but when i use this type, i get an error even the variable gets its value from user.id ...

[2016-05-19 02:35] lukejagodzinski commented on #386
@sieutruc just show some example code then I may help you. Without that it's hard to tell what's going on. Are you importing `Mongo.ObjectId` from the Mongo package in the class definition?

[2016-05-19 14:47] nicooprat commented on #319
@arggh do you consider sharing your work? :)

[2016-05-19 16:47] nicooprat commented on #227
Also don't forget to add the `createdBy` field to the schema, like I just did :) As a side note, Astronomy could throw an error to say that we're trying to add a field that hasn't been defined in the schema...

[2016-05-19 16:49] s7dhansh commented on #227
@nicooprat you can use my behavior now: https://github.com/settlin/meteor-astronomy-meta-behavior

[2016-05-19 16:51] nicooprat commented on #227
@s7dhansh Perfect, thanks !

[2016-05-19 16:52] nicooprat commented on #227
@jagi It would be great to have a place to list all the community behaviors! Maybe in the wiki?

[2016-05-19 17:36] keremciu commented on #227
@nicooprat @s7dhansh 's behavior is so since. but if you'd like to use only createdBy and updatedBy fields you can my behavior https://github.com/keremciu/meteor-astronomy-userstamp-behavior

[2016-05-19 18:27] Ben305 commented on #380
Is the fix available on GitHub? I'm running into the same problem.

[2016-05-20 02:24] ffxsam opened #387 "Can't save nested array of classes"
I have the following schemas:

[code]

After calling `c.markAllAsRead()` and `c.save()`, the data is not saved in the database. I've tried everything I can think of.

[2016-05-20 05:26] talha-asad opened #388 "[v2] Class Inheritance Limitation"
Consider the Following:

Animal, Cat and Dog are all Astro classes. Cat and Dog inherit from the Animal class. We have 2 animals, 2 cats and 1 dog. If the server publishes `Animal.find({}, {children: true})` the client side is able to receive the 2 cats and 1 dog accessible through Cat and Dog Astro classes, however the 2 animals are never published and/or are not accessible through the Animal Ast

[2016-05-20 11:26] PolGuixe opened #389 "Pub/Sub with Astronomy"
I guess that Astronomy is agnostic of the Pub/Sub system i.e. if we create a doc in the client, and save it with doc.save(), then to access the saved data, we need to subscribe to a publication that permits access to the information we just saved.

Is that correct?

[2016-05-20 11:46] PolGuixe commented on #389
This happens specially with data injected by behaviours such as the timeStamp.

[2016-05-20 12:46] peXed commented on #348
Any news on this bug? Can I help you somehow, to resolve it?

[2016-05-20 12:53] peXed opened #390 "Question: Possible to save a reference (or class type) in a model?"
Hello!

I'm trying to build a log behavior. The behavior should simply log which user changed (inserted, deleted, updated) a model with the behavior attached to it.

Here is my model for the tracked actions (the log).

[code]

It is working like a charm, but I also want to save a reference to the class to retrieve the changed document later on (because I will use the behavior on many different mod

[2016-05-20 14:35] lukejagodzinski commented on #227
@nicooprat yes I'm going to create such section in the documentation

[2016-05-20 14:36] lukejagodzinski commented on #380
@Ben305 yes fix is available in the latest version available on GitHub in the `v2` branch

[2016-05-20 15:52] lukejagodzinski commented on #387
This sample code is not enough to tell what can be wrong. You have to prepare reproduction repository. The problem is probably not in Astronomy.

[2016-05-20 17:42] ffxsam commented on #387
Does this code look correct, then? Is there a better way to set an Astro class within an array?

I'll get to building a reproduction repo in a couple days.

[2016-05-21 05:50] marbemac opened #391 "defaulting _isNew to false if passed in object already has _id"
Have been coming across this in our work. If the model passed into the astro class constructer already has an _id property set, would it make sense to default _isNew to false?

[code]

[2016-05-21 10:11] joetidee opened #392 "How to get back Mongo error code from Astronomy?"
I am using v1.2.10. I want to get back any error code that is theown by Mongo when a write operation is made. Can this be done in Astronomy?

As a comparison. below is an example of how this would be done if inserting directly to Mongo:

[code]

[2016-05-21 13:44] lukejagodzinski commented on #387
Code seems to be correct but it depends on the context of it's invocation, so reproduction is necessary here to tell more. You may probably find an error when making reproduction. However, if there is an error in Astronomy then I will fix it as soon as possible.

[2016-05-21 13:46] lukejagodzinski commented on #391
No, it can set the `_isNew` property to false because you may want to insert a new document with a given ID and Astronomy uses the `_isNew` property to decide if it should insert or update a document.

[2016-05-21 13:49] lukejagodzinski commented on #392
When you're invoking some code on the server dealing with MongoDB, then any error will be thrown. If you use Meteor methods then you can handle it in the callback function.

[code]

[code]

[2016-05-21 13:49] #392 closed, assigned to nobody

[2016-05-21 17:25] joetidee commented on #392
Just a quick check on my server syntax/logic.... is it necessary to have a function like this to return the error?

[code]

[2016-05-21 23:44] sieutruc commented on #386
I define my collection like below

const Test = Class.create({
    name: "Test",
    collection: Likes,
    fields: {
        userId: {
            type: Mongo.ObjectID, // has to be checked for objectid
            optional: false
        },
        testId: {
            type: Mongo.ObjectID,
            optional: false
        }
    },
    indexes: {
        userTestIndex: {
            fields:

[2016-05-22 04:17] mbabauer opened #393 "Question: Can you call the validate() syncronously?"
I am trying to use the `validate()` on my object from a React Bootstrap `FormControl`'s `validationState`.  I need to be able to return a String of either "success" of "error".  Is there a way to call the validation such that it doesn't require a callback so that I can test it synchronously?  Or, maybe there is a better pattern for this?

[2016-05-22 09:17] lukejagodzinski commented on #386
Are you using Mongo.ObjectID in collection definition? By default collections are using string IDs. So if you didn't change that, then just use the `String` type instead of the `Mongo.ObjectID`.

[2016-05-22 09:20] lukejagodzinski commented on #393
The `validate` method will throw `ValidationError` if there is no callback function. However, it will only work for client validation. If you want to get error from the server, then there is no other way than calling it asynchronously with the callback function.

[2016-05-22 09:20] #393 closed, assigned to nobody

[2016-05-22 09:21] lukejagodzinski commented on #392
You don't have to provide callback function in such situation. If you don't provide callback, then it will throw error and it will be sent back to the client. Callback functions are only for asynchronous calls on the client. On the server you can always call it synchronously.

[2016-05-22 11:38] mbabauer commented on #393
Thanks!  That was the trick!

[2016-05-22 12:38] sieutruc commented on #386
Yes, i did. i saw in the documentation

"There are several predefined types. You can choose from: ....
Mongo.ObjectId ?"

Do you know how to test if the field is a mongodb object id ? or will i create a validator by myself ?

[2016-05-22 15:39] nicooprat commented on #155
If anyone is asking himself the same question, it's also working with the latest version of Astronomy (2.0.1).

[2016-05-22 16:41] lukejagodzinski commented on #386
Oh I forgot to describe it in the documentation. There is the `mongoObjectID` validator https://github.com/jagi/meteor-astronomy/blob/v2/lib/modules/validators/validators/type/mongo_object_id.js

If you set field's type to `Mongo.ObjectID` then this validator will be applied automatically to the field. However, you can also access this validator directly if you want:

[code]

Your problem seems to

[2016-05-22 16:50] PolGuixe commented on #389
@jagi how do you handle pub/sub with astronomy? Can you perform de publications using the Astro Class or you have to use the collection?

[2016-05-22 21:05] lukejagodzinski commented on #389
@PolGuixe Astronomy does not change anything about publication. You can use either `Class.find()` and `Collection.find()`. Both return Mongo cursor. There is nothing special about the `timestamp` behavior that you should take into account when working with pub/sub. The only difference is the `softremove` behavior when you should use `Class.find()` to only publish non-softremoved documents.

[2016-05-22 21:05] #389 closed, assigned to nobody

[2016-05-23 05:52] talha-asad commented on #391
I would advice for it to be the opposite of how it is right now. If the constructor is passed with an _id it should assume it as an edit and if the user wanted to create a new document, he should explicitly set _isNew to true.

Edits are much more frequent than people trying to insert new document with manual _ids.

[2016-05-23 08:25] lukejagodzinski commented on #391
I don't agree that edits are more often, it depends on the use case. However, I can change it right now even if I want to. It would be compatibility breaking change. And to be honest I don't see it right now as a bad design.

[2016-05-23 08:35] talha-asad commented on #391
It's not bad design, it just that it's very uncommon/unheard of people using their own _id in mongoDB in general.

[2016-05-23 09:31] lukejagodzinski commented on #391
We are using it a lot in our applications :) and it's not my idea to do so. I don't know if it's something correct to do in MongoDB but I don't think it should cause any problems. Anyway, setting the `_isNew` flag is quite trivial things so as I said I'm not gonna change it now because it would be compatibility breaking change.

[2016-05-23 11:16] lukejagodzinski commented on #348
@peXed I think that I've resolved a problem however I don't know if it's gonna work in all cases so I would like you to test my fix. Please clone the `v2` branch of Astronomy GitHub repository to your local `packages` directory and try running your code.

[2016-05-23 11:25] lukejagodzinski commented on #390
I'm not sure that you mean by "reference to the class" but I guess that you want to get the class/constructor of a document instance and store it somehow in a database. If it's what you want to do, then I have a solution for that. You can get the class name and store it as a string, and later you can just get a class/constructor using this class name.

[code]

And later the way of getting class/co

[2016-05-23 11:27] lukejagodzinski commented on #386
I think that here is an answer to your problem http://stackoverflow.com/questions/24964005/using-mongo-objectid-type-for-meteor-user-ids

[2016-05-23 12:06] #391 closed, assigned to nobody

[2016-05-23 12:07] #382 closed, assigned to nobody

[2016-05-23 12:13] #386 closed, assigned to nobody

[2016-05-23 12:49] laurentpayot opened #395 "Tracker error after #348 fix"
After commit https://github.com/jagi/meteor-astronomy/commit/4efd7d932aff2f8d8c640f682b1cd42243010396 to fix #348 I get the following in my browser:

[code]

My page is not generated so I had to revert to the previous commit then everything is fine.

[2016-05-23 12:57] lukejagodzinski commented on #388
It actually works as you described. You probably have a bug in your code.

[2016-05-23 12:57] #388 closed, assigned to nobody

[2016-05-23 12:59] lukejagodzinski commented on #395
Can you show your code for the class where you have a default value for a field?

[2016-05-23 13:00] lukejagodzinski commented on #375
I still don't understand your problem. It's has nothing to do with Astronomy.

[2016-05-23 13:01] #369 closed, assigned to nobody

[2016-05-23 13:02] jagi commented on #387
I'm closing it for now, and waiting for the reproduction. Then I will reopen it.

[2016-05-23 13:41] laurentpayot commented on #395
Sure.
Source in _CoffeeScript_ (with comments):

[code]

In _coffee-generated_ JavaScript:

[code]

Let me know if you need more details...

[2016-05-23 13:50] lukejagodzinski commented on #395
Can you confirm by `console.log()` that `User.findOne()` is not an empty object?
However, I've introduce one bug with the last commit and I'm trying to fix it now.

[2016-05-23 14:02] laurentpayot commented on #395
Since Meteor 1.3 modules I can't directly use `User.findOne()` in the console, but here are the results:

[code]

[code]

I just found out that **when I'm logged-in there is no error message**.

[2016-05-23 14:09] laurentpayot commented on #395
I should take more time to read what you need. Here is the result of a `console.log()` inside the defaut code for the `username` field:

[code]

[2016-05-23 15:28] marbemac commented on #391
Understood - it's not worth the breaking change I guess. In one of the situations, you will have to set _isNew (either to true or false), so I guess it's a choice about which is more common:
1. Using a pre-existing (fetched from the DB, whatever), plain object, and using that object to create an astronomy object (passing it into the constructor).
2. Creating a new plain object outside of astronomy

[2016-05-23 16:11] marbemac commented on #391
Whoops, this is basically what @talha-asad said - I didn't see his comment above.

[2016-05-23 21:24] ffxsam commented on #387
@jagi Here you go: https://github.com/ffxsam/astro-v2-nested

Totally reproducible. In the console, you can see the updated dates on participants, but `c.save()` returns a 0.

Steps to reproduce: (in browser console):
1. `Accounts.createUser({email: 'test@test.net', password: 'test'})`
2. `c = new Models.Conversation()`
3. `c.save()`
4. Wait a couple minutes
5. `c.markAllAsRead(); c.save()`

The p

[2016-05-23 22:32] lukejagodzinski commented on #395
Ok try downloading the newest version from GH

[2016-05-23 22:39] laurentpayot commented on #395
No more errors with the newest version. Thank you @jagi , that was fast! :+1:

[2016-05-23 22:39] #395 closed, assigned to nobody

[2016-05-23 22:44] lukejagodzinski commented on #387
Hmmm I think that I might solve your problem with the last fix which is on GitHub in the `v2` branch. Please, try cloning Astronomy repository into your project's `packages` directory. I think it should work. Let me know.

[2016-05-23 22:45] lukejagodzinski commented on #387
I've tested your code with that fix and it worked for me.

[2016-05-23 22:48] lukejagodzinski commented on #395
Ok great :)

[2016-05-23 23:21] ffxsam commented on #387
Awesome! I'll check this out in just a bit here, and let you know.

[2016-05-24 00:26] ffxsam commented on #387
Works great!! 👍

[2016-05-24 05:35] lukejagodzinski commented on #387
Ok great! I will publish a new version this week. So stay tuned. Closing this issue for now

[2016-05-24 05:35] #387 closed, assigned to nobody

[2016-05-24 10:47] s7dhansh opened #396 "optional: true with Validators"
Currently, if I have optional and validators both fields set, it ignores the optional setting and tries to validate the given field. Can we have a setting where optional is given a higher priority during validation, i.e. not validate the field if it is null?

Also, I think optional is not honored properly in the nested classes. If the main field is optional, but a nested field is not, it still giv

[2016-05-24 14:43] jagi commented on #396
From what I remember I've implemented it in the way where optional works
only with `undefined` values. But I have to check it out.
On May 24, 2016 12:47 PM, "Sudhanshu" <notifications@github.com> wrote:

[2016-05-24 14:57] lukejagodzinski commented on #396
From what I remember I've implemented it in the way where optional works
only with `undefined` values. But I have to check it out.

[2016-05-24 17:22] ayalpani opened #397 "v2: Values lost when doing: findOne() => set() => save()"
Hi Łukasz,

I started to migrate to v2 today. Here is something that seems to work different or is broken?

I use `findOne` to query an item from my items collection, with a restricted list of fields like so:

[code]

Then, I `set` a single field and `save`:

[code]

All the other fields on the document that weren't listed in the field selector for `findOne` are now reset to the default values I s

[2016-05-24 17:53] danpilat commented on #94
Hi Jagi,

I know this is closed, but was wondering if you've made any progress on adding an autoincrement behaviour to v2. I can't find much about it. If not, what would be the suggested approach - the one you posted 8 months ago - would it still be valid?

Thanks!
Dan.

[2016-05-24 19:39] jcheroske commented on #368
Possibly related issue/question: Can nested classes also make use of inheritance? Can I do this:

[code]

And will the `pets` array contain the correct subclasses?

[2016-05-24 20:08] tylershuster opened #398 "Date Does not Save"
I have a document with field of type `Date`. When I try to save a Date object to it, it throws a validation error. If I change the field type to `Object` it stores a blank Object, and not a Date. I can provide more samples if you'd like but it's a pretty standard arrangement. I'm running 2.0.1 and even used the latest code from this repo in my packages folder.

[2016-05-24 20:30] lukejagodzinski commented on #368
@jcheroske no it won't work as inheritance only works for classes with assigned collection.

[2016-05-24 20:38] lukejagodzinski commented on #94
@danpilat the best way of adding an autoincrement feature would be using this approach https://github.com/usefulio/meteor-mongo-counter/. You can also try incrementing value in the callback function and saving document one more time if there is an unique index on a field.

[code]

or on the server

[code]

In theory it should work but I haven't tested it. Anyway I think that the first solution is

[2016-05-24 20:43] lukejagodzinski commented on #397
It's not so easy as it seems to be. When you limit a list of fields in a query then it will be undefined and Astronomy will try to use default values. In v2.1 on which I'm currently working there is a way of not filling these fields with defaults.

[code]

And it could work the way you want. If you want to try it out, you can clone the newest version from GitHub to your `packages` project's direct

[2016-05-24 20:56] lukejagodzinski commented on #398
It's rather not possible that it does not work because I'm using date types on daily basis. Show your code.

[2016-05-24 21:56] lukejagodzinski commented on #396
I've checked it and it works properly for both `null` and `undefined` values. So, the problem may be on your side. Show your code.

[2016-05-24 21:56] jcheroske commented on #368
Then my next question is, why is that the case? Isn't just having a type
field enough to do the polymorphism?

On Tuesday, May 24, 2016, jagi notifications@github.com wrote:

[2016-05-25 05:41] lukejagodzinski commented on #368
@jcheroske The type field is a requirement to have the polymorphism however I also need to know the inheritance tree. If you want you can implement your own inheritance/polymorphism.

[2016-05-25 13:52] frco9 opened #399 "TypeError when reusing same Class"
Hello,

I get a `TypeError: ["Foo" class]["fields" property]["offers" field] Type does not exist` if I define a `offers` attribute with type `Offer` and that inside the `Offer` class I have an attribute which type is `Foo`.

To be more explicit, I've reproduced my issue here :
https://github.com/frco9/astroBug

I think there's some kind of circular dependency causing it.

Thanks !

[2016-05-25 14:50] peXed commented on #348
Hello! Your fix works like a charm!

Thank you very much.

[2016-05-25 14:50] #348 closed, assigned to nobody

[2016-05-25 14:50] peXed commented on #390
That was exactly what I wanted to do. Thank you very much.

[2016-05-25 14:50] #390 closed, assigned to nobody

[2016-05-25 15:54] lukejagodzinski commented on #399
Yes it's the problem with circular dependencies. However it's quite strange structure you've designed. I know that it's only a reproduction but by using such schemas you would have never ending nesting. Foo has Offer and Offer has Foo. You probably have to redesign your schemas.

[2016-05-25 16:22] frco9 commented on #399
Well the idea was to get some kind of Has-many Belongs-To relation.
In the `Foo` class I would have had a `offer_ids` array, and a `offers` attribute that would have resolved offers using `offer_ids` in order to get its "children". And I would have used the same idea in the `Offer` class to get its "parent".

Have you some ideas on a better way to achieve that ?

[2016-05-25 19:03] lukejagodzinski commented on #399
You can't just use class type for such relation. If you want to store ids of the counter part in both classes you just have to store array of ids.

[code]

That could be one of the solutions if I understood you correctly.

[2016-05-25 20:51] jcheroske commented on #368
I think it would be an awesome feature to be able to have polymorphic nested classes with just the `typeField` property specified on the parent class, and the parent class specified as the nested class.

[2016-05-25 21:03] jcheroske opened #400 "Soft remove behaviour events?"
Just curious if there are custom events fired when the `softRemove()` method is called? This would make implementing cascading soft removes a breeze. If not, then how would you recommend detecting a soft remove using the events subsystem?

[2016-05-25 21:12] jcheroske commented on #400
Nevermind. Just searched the closed issues and found the answer: `'beforesoftremove'` and `'aftersoftremove'`

[2016-05-25 21:12] #400 closed, assigned to nobody

[2016-05-26 10:15] ayalpani commented on #397
Dear Łukasz, thanks! I will wait until 2.1 is released. For now, I'll just not restrict by fields selector.

[2016-05-26 10:18] ayalpani commented on #397
Or, wait: did you mean v2.0.1 or v2.1?

[2016-05-26 12:35] satyavh opened #401 "TypeError: Cannot call a class as a function"
[code]

gives me this error

[code]

[2016-05-26 12:36] satyavh commented on #401
Perhaps because I'm using Coffeescript... but `Class` is kind of reserved in javascript

[2016-05-26 12:38] lukejagodzinski commented on #401
`Class.create` instead `Astro.Class`

[code]

[2016-05-26 12:38] #401 closed, assigned to nobody

[2016-05-26 12:40] lukejagodzinski commented on #397
I mean 2.1.0 which will be release soon.

[2016-05-26 12:54] lukejagodzinski commented on #401
As I said `Class.create` instead `Class`. The `Class` keyword is not reserved, the `class` keyword is.

[2016-05-26 14:14] satyavh commented on #401
I got this working as `Astro.Class.create` - works. However, I do notice that Astro class is not attached in this scenario:

[code]

when I log this out (on server), it's not an Astro class attached, just the data.
And as a result, the `afterFind` event is not being triggered.

Could this be caused by using `Astro.Class.create` ?

[2016-05-26 14:17] satyavh commented on #401
Strangely, the `beforeSave` event does trigger

[2016-05-26 15:34] satyavh commented on #401
Nevermind, I figured it out.
Still need to get used to V2, I was on <v2 for a long time and the changes are very subtle!

[2016-05-26 16:56] gantu opened #402 "V2 | Object [object Object] has no method 'save'"
Hi,
In below situation I am getting `TypeError: Object [object Object] has no method 'save'.`
On server side methods:

[code]

vendors.js is as below :100:

[code]

What can be the issue?

Thank you!

[2016-05-26 17:00] gantu commented on #402
Vendor class is parent class and I have several other classes inherited from Vendor.

[2016-05-26 18:42] lukejagodzinski commented on #402
[code]

returns Mongo cursor. You should use the `findOne` method

[code]

[2016-05-26 18:42] #402 closed, assigned to nobody

[2016-05-27 12:09] frco9 commented on #399
Hum, ok I think I'll use Class method, for now, to get its parent based on the `barId` saved.
Thanks

[2016-05-27 12:09] #399 closed, assigned to nobody

[2016-05-28 02:05] ffxsam commented on #370
@jagi You might consider updating the documentation.

[2016-05-28 02:10] ffxsam opened #403 "Discussion on security"
I'm curious about something: if we properly publish limited content to a certain client, and don't secure any of the Astro classes, is there any harm in this?
1. Since Meteor 1.3 and using imports, things are no longer global, so people can't use the browser console to hack things.
2. Even if someone could access the Astronomy classes somehow, and none are secured, all they could do is ruin their

[2016-05-28 07:38] lukejagodzinski commented on #403
In Astronomy 2.1 I will introduce compatibility breaking change that will secure all classes by default.
1. It's still possible to access Astronomy classes using `Astro.Class.get('className')` so you can perform some dangerous operations.
2. In theory yes, but if they know ID of some document that does not belongs to them they can modify such data. Moreover even changing their own data (they are s

[2016-05-28 07:39] lukejagodzinski commented on #370
@ffxsam I will update with 2.1 publication

[2016-05-28 15:54] ffxsam commented on #403
Ahh right, since Astronomy is a Meteor package, its namespace is still global. I didn't think of that. Ok, all makes sense. Thanks for clarifying!

[2016-05-28 15:54] #403 closed, assigned to nobody

[2016-05-30 07:43] talha-asad commented on #388
I forgot to use `{children: true}` on the client side, my bad. Perhaps this could be added to the documentation as a note.

[2016-05-31 04:55] ffxsam opened #404 "Is .save() synchronous or asynchronous? And where? (client/server)"
I noticed in Astro v2, you can have a callback function for `.save()`. But as far as I can see, the documentation doesn't explain whether a callback is necessary, and when. Is `.save()` synchronous on the server, but not on the client (callback required)? What if I need an ID to proceed with an operation, e.g.:

(code is shared between client & server)

[code]

Is this correct, or do I need to be

[2016-05-31 05:24] lukejagodzinski commented on #404
On the server the save operation is synchronous however you can still pass callback function. The `save` and `remove` methods work in the same way as `Collection.insert/update/upsert/remove`. So you can just read Meteor documentation:

The only difference is that, when you don't provide callback function on the client it will throw validation errors instead logging to the console if no callback fu

[2016-05-31 05:27] ffxsam commented on #404
Excellent - thanks for the clarification!

[2016-05-31 05:27] #404 closed, assigned to nobody

[2016-05-31 05:44] smooJitter opened #405 "Regarding Documentation."
Is it possible to provide examples of working with sub documents. The Astronomy Documentation does a good job highlighting features but I'd like to see examples of how apply the features. Specifically,
1. What is the best way to  work with sub-documents i.e., adding, updating, and removing objects from array fields.
2. What's the recommended way of working with sub-document Classes that are not bo

[2016-05-31 06:47] lukejagodzinski commented on #405
Here is an example app https://github.com/jagi/meteor-astronomy-examples/tree/v2

[2016-05-31 12:32] smooJitter commented on #405
Thanks for everything!

[2016-05-31 12:59] lukejagodzinski commented on #405
No problem :)

[2016-05-31 12:59] #405 closed, assigned to nobody

[2016-05-31 20:44] ffxsam opened #406 "[timestamp] Bug: createdAt not set for collectionless models"
Minimal repro here: https://github.com/ffxsam/astro-v2-timestamp-bug

`createdAt` field in a new comment is left as null, whereas `updatedAt` is set to the current date (when saved in an entry). To reproduce:
1. `npm i && meteor && meteor shell`
2. `e = new Models.Entry({ name: 'Test Entry' })`
3. `e.save()`
4. `c = new Models.Comment({ content: 'Hello', author: 'Me' })`
5. `e.comments.push(c)`
6.

[2016-05-31 21:07] lukejagodzinski commented on #406
It's not a bug, it's how the timestamp behavior works. It's not intended to work with collectionless classes. If you want such behavior, you have to implement it by yourself. To understand why it's not working with collectionless classes you have to understand when creation date is set. It's set in the `beforeInsert` event which is only triggered on creation of a new `Models.Entry` instance. It's

[2016-05-31 21:07] #406 closed, assigned to nobody

[2016-05-31 21:09] ffxsam commented on #406
But `createdAt` is always undefined.. at no point during the steps above is it ever populated. Once I save the entry, though, `updatedAt` is populated with a date. Why can't `createdAt` be populated with a date as well?

[2016-05-31 22:44] ffxsam opened #407 "afterInit fires for every item in an array when one item is added"
Another issue, could just be with models without a collection:

[code]

When I push comments into an attachment and save it, I can see the `afterInit` is firing for items that were already initialized and saved.

[2016-05-31 23:21] ffxsam commented on #407
Hmm.. never mind! I think I have a misunderstanding of `afterInit`. It's probably invoked every time an Astronomy model is populated, even if it's existing data.

[2016-05-31 23:21] #407 closed, assigned to nobody

[2016-06-01 05:44] lukejagodzinski commented on #406
Because `beforeInsert` event was already triggered. In this situation it will be populated and only in this situation.

[code]

[2016-06-01 08:04] jhuenges opened #408 "Handling relationship and error"
Lets assume I have these classes

[code]

[code]

And now I want to save a Person as Child of two other Persons.
1. Create Child and save it
2. Add Child to both Parents (Persons)

If something happens in the second step (the `parent1.save()` - call throws an error) I would have to revert the changes done to the child (i.e. its creation). So i would call `child.remove()`. But what if something hap

[2016-06-01 08:32] lukejagodzinski commented on #408
The thing you're talking about is not especially related with Astronomy but rather with MongoDB. The same situation could happen if there is some MongoError (like unique index error) on the second insert. Then you would have to revert also the first insert. There is lack of transactions in MongoDB. There are some ways of overcoming this but they are kinda ugly IMHO. I think I've read somewhere tha

[2016-06-01 08:53] jhuenges commented on #408
Thank you :) So at the moment I either have to hope everything works or I have to write a lot of nested code...

[2016-06-01 09:41] lukejagodzinski commented on #408
What do you mean by writing "a lot of nested code"? MongoDB has "transaction" like behavior on the document level. So it locks a document when you're changing it, so you can nested some data inside it. It's not perfect to have big documents that has a lot of nesting but it's just one way of solving this problem. And the second thing is just responding to the error in the callback function (so it's

[2016-06-01 09:44] jhuenges commented on #408
Yeah, I meant nested callback code. So if on save fails, I have to undo the changes etc.

[2016-06-01 09:52] lukejagodzinski commented on #408
Yes for now I think it's the best solution. You should always put such code in a Meteor method.

[2016-06-01 10:22] jhuenges commented on #408
Does is make sense to write a function for the rollback? Then it would be possible to re-run this function until the rollback was successfull

[2016-06-01 13:19] lukejagodzinski commented on #408
You know, in most cases I don't care about that. It's very unlikely to happen. It's good to check validity of all documents that you're going to save before actually saving them. You can use `doc.validate()` to make sure that both documents being saved are valid and after that just perform save operation on both documents.

I don't want to implement any transactions feature for now in Astronomy as

[2016-06-01 20:07] purplecones commented on #386
@jagi I still get this error:

[code]

when trying to insert a decimal even though I declared

[code]

The value that is being inserted is `0.02`

I am using the following version:

[code]

[2016-06-02 10:32] lukejagodzinski commented on #386
So what's wrong with the number `0.02` being inserted? If you put `0.02` in the `current_return` field, then it will be exactly what's gonna be inserted. What's your expected outcome?

[2016-06-02 14:00] purplecones commented on #386
@jagi I want the value `0.02` to be inserted but it is not allowing me to and throws the error above. I am generating dummy data at first launch. When the document gets inserted with `0.02` value for `current_return` it throws the error. However, if I insert the value `5` for example, it does not throw error.

[2016-06-02 16:44] lukejagodzinski commented on #386
Are you sure that it's a number and not string? If value comes from the form it may be a string. In such situation you may need to use `parseFloat(value)` before setting the `current_return` field's value

[2016-06-02 17:34] tylershuster commented on #398
A more simple use case fixes it. The case where it's not working I've circumvented by removing the document and re-saving. I don't think it's a significant issue.

[2016-06-02 17:34] #398 closed, assigned to nobody

[2016-06-02 21:45] purplecones commented on #386
right on @jagi, faker was returning a string: https://github.com/practicalmeteor/meteor-faker/blob/meteor/lib/finance.js#L51

[2016-06-03 00:43] ffxsam commented on #387
Did this ever get published?

[2016-06-03 06:14] lukejagodzinski commented on #386
Ok good

[2016-06-03 06:23] lukejagodzinski commented on #387
Sorry, not yet. I had some work to do, and haven't time to publish it. But I will certainly publish it in the following week.

[2016-06-03 06:29] ffxsam commented on #387
No prob at all! I'll keep an eye out on Atmosphere for it. Thanks! 👍

[2016-06-04 15:34] lukejagodzinski commented on #379
Feature implemented and will appear in 2.1.0. However I have a question about omitting typeField in child class. Would you like to have typeField in the parent class and inherit this class in the child but without typeField?

[2016-06-04 15:34] #379 closed, assigned to nobody

[2016-06-04 15:42] Ben305 commented on #379
Cool, thanks. For different collections, I would like to omit the type field.

[2016-06-04 15:57] lukejagodzinski commented on #379
By saying "omit" you mean that there should be not typeField or it should just inherited?

[2016-06-04 15:58] Ben305 commented on #379
There should be no type field. It is not needed since different collections are used.

[2016-06-04 16:04] lukejagodzinski commented on #379
So isn't just enough to omit type field in both classes? Just don't use the `fieldType` property in classes definitions.

[2016-06-04 16:15] PolGuixe opened #410 "Latency Compensation"
How does latency compensation works with Astronomy?

When I do `doc.save()`. Is the `insert / update` method also executed in the client? So miniMongo gets updated.

If I want the miniMongo to be updated I normally have to define a method stub like in [here](https://github.com/mantrajs/mantra-sample-blog-app/blob/master/client/modules/core/configs/method_stubs/posts.js).

Also I am wondering if th

[2016-06-04 16:24] Ben305 commented on #379
If it is possible to have different collection for a child class without needing specifying type fields in parent and child classes, this is perfect :-)

[2016-06-04 17:36] mytc opened #411 "Exception when update document with set()"
This is my method to update a document:
actions.js

[code]

But when I run this method, I get this exception:
`Exception while invoking method 'UpdateSpot' { stack: 'TypeError: Cannot read property \'upsert\' of undefined\n    at MongoConnection.mongoConnectionProto.(anonymous function) [as update] (packages/meteorhacks_kadira/lib/hijack/db.js:73:1)\n    at OptimizedApply (packages/meteorhacks_kad

[2016-06-04 17:50] lukejagodzinski commented on #410
It works the same way as in MiniMongo, so it will perform simulation in the client first but also execute code in the server.

[2016-06-04 17:51] lukejagodzinski commented on #379
Ok so it works that way :)

[2016-06-04 17:54] lukejagodzinski commented on #411
It's probably not something related with Astronomy but you have to create reproduction because it's hard to tell. Version 3 of what? There is no version 3 of Astronomy.

[2016-06-04 18:00] mytc commented on #411
My bad, it's version 2.
I was having this problem in other collections as well.
Also I am using Kadira ssr, maybe that is the problem.

[2016-06-04 18:03] lukejagodzinski commented on #411
Just create reproduction repository with only Astronomy added to the project. If problem persists that means the problem is on Astronomy side.

[2016-06-05 15:50] PolGuixe commented on #410
@jagi, is there a way to add a certain delay in the server or a way to simulate the latency?

[2016-06-05 16:11] lukejagodzinski commented on #410
You may try the same trick as in this test https://github.com/mantrajs/mantra-sample-blog-app/blob/master/server/methods/posts.js#L29 you've posted

[2016-06-05 17:39] PolGuixe commented on #410
I don't have a method defined in server as I only perform the `doc.save()` in the client. Should I add the delay in a before save event?
But in that case, will the delay also happen in the client?

[2016-06-05 18:32] PolGuixe opened #412 "Question: Securing application using methods"
I have few questions about securing applications using methods as it is described in the [documentation](http://jagi.github.io/meteor-astronomy/#secured-property).
Somehow this means just performing the `doc.save()` in the server. Hence, I have the following questions:
1. Will the simulation (latency compensation) happen in the client?
2. Is it possible to send an `_id` generated in the client, an

[2016-06-05 19:00] laurentpayot opened #413 "undefined args.doc.type in resolveParam(args) of validators"
After commit 469cf99db04b792b534dd26f8ade4f509edad4dc `args.doc.type` in `resolveParam(args)` for `maxLength` validator (and maybe other validators) is **undefined**.

_(in coffeescript)_

[code]

So when creating a new Foo I get:

[code]

[2016-06-05 19:06] lukejagodzinski commented on #410
If you add delay in the `beforeSave` event then it should work but you have to check it out. You can do something like:

[code]

[2016-06-05 19:08] lukejagodzinski commented on #413
I don't think that it may have anything to do with this commit. Can you create reproduction?

[2016-06-05 19:10] lukejagodzinski commented on #412
1. Yes it will
2. Yes it's possible

[2016-06-05 19:14] laurentpayot commented on #413
Well I'm using inheritance and `type` field disappeared from my objects after that commit. After going back to previous commit with `git reset --hard 50424909148f65e7992607b25e36677f0fa1469b` everything is fine.
Still want me to create reproduction ?

[2016-06-05 21:10] lukejagodzinski commented on #413
Oh I see. It will be back in the next commit. I was just playing with different type of inheritance however it doesn't work well. I have a different solution which requires the type field to be in a doc.

[2016-06-06 07:30] talha-asad opened #414 "[v2] Astronomy Document Reactivity (Client-Side)"
I followed a bit on one of your previous discussions, however I don't know how it stands as of today and there is no mention about this in the documentation either. What's the best way to go about client side reactivity for an Astro document object? Do we have to use ReactiveMap or something of that sort?

[2016-06-07 06:35] lukejagodzinski commented on #414
If you want document level reactivity you can just store it in the `ReactiveVar` it's what is done in an example app and it works well. It's able to detect new elements in array so it's updates form accordingly.

[2016-06-12 09:55] talha-asad opened #416 "[v2] {children: true} for updates doesn't work"
`{children: true}` works well for retrieval, but it doesn't work for updates, my guess is it probably doesn't work for deletes either. It works if you use native base meteor collection because it doesn't understand inheritance anyway.

[2016-06-12 09:56] talha-asad commented on #414
Thanks!

[2016-06-12 09:56] #414 closed, assigned to nobody

[2016-06-13 13:58] joetidee opened #417 "If validation not working in v1.2.10"
I have this validator in my model:

[code]

The console log is printing out "Here", so I know that `false` is being returned from the condition. However, the overall document is being validated as `true`. Why is this?

[2016-06-13 14:22] frco9 commented on #251
Could you confirm that this kind of complex validation is not yet implemented into the v2 ?

[code]

[2016-06-14 08:09] peterchoo opened #418 "Cannot set object to null in v1"
In my model, I have a nested object, which is optional.  This nested object can be added or removed from the model at any time.  I have tried to do `model.set('obj', null)` - but this gives no change in the object before or after saving.

I've made a demo repo here: https://github.com/peterchoo/astronomy-v1-set-object-null

Is there a way of removing a nested object?  Thanks!

[2016-06-14 08:10] laucheukhim commented on #380
@jagi Do you have a timeline for the next release? We have been waiting for this bug fix for quite a while.

[2016-06-14 09:00] Ben305 commented on #380
Just use the current HEAD as local package.

[2016-06-14 10:20] lukejagodzinski commented on #416
Oh yes it's definitely not working. I forgot to take that use case into account. I will prepare a fix.

[2016-06-14 10:23] lukejagodzinski commented on #380
Sorry I have a lot of work lately and I don't have a lot of free time. I'm trying to do my best to release it as soon as possible. As @Ben305 said, try using Astronomy locally. Just clone it to you project's `packages` directory.

[2016-06-14 10:24] lukejagodzinski commented on #251
There is no `if` validator and there won't be. You have to implement such validators yourself.

[2016-06-14 11:55] lukejagodzinski commented on #418
Bug fixed in 1.2.11, however I would strongly recommend switching to version 2.0

[2016-06-14 11:55] #418 closed, assigned to nobody

[2016-06-14 12:06] peterchoo commented on #418
Thank you, I'll upgrade to 1.2.11 now.  We are intending to upgrade to 2.0 ASAP, we just have some blocks right now, it will be upgraded within a few weeks.

[2016-06-14 12:22] peterchoo commented on #417
You are returning false from your condition function.  This is telling the Validator to run the `false` validators, which you have not specified.

In pseudo code, you have `If the float representation of the id of the first element of the array is greater than one, validate the field value is there, it's an array and it has at least 1 element`.

You need to provide some `false` validators.

[2016-06-14 12:48] joetidee commented on #417
If I wanted to in-validate the question_type if the condition returns false, how would I do this?

[2016-06-14 13:01] lukejagodzinski commented on #418
Ok good

[2016-06-14 13:03] lukejagodzinski commented on #417
You have to create reproduction repository.

[2016-06-14 13:12] joetidee commented on #417
ok, solved it just but putting false: `Validators.equal('somerandomtext')` under the true block.

[2016-06-14 13:12] #417 closed, assigned to nobody

[2016-06-14 23:27] talha-asad commented on #416
Two more considerations:

`SomeAstroClass.find({}, {fields: {}, {children: true})` will this work?, since we aren't selecting the type field. I am going to test this out but my suggestion is this should automatically add the type field to the fields object.

`SomeAstroClass.find({})` should return all types by default and cast them to the base "SomeAstroClass", this isn't the case right now, which

[2016-06-15 07:27] jhuenges commented on #416
Nothing on the bug, but what does `{children: true}` do? I couldn't find it in the docs

[2016-06-15 08:21] talha-asad commented on #416
@jhuenges It's an undocumented and unreleased feature at the moment, read up on #368

[2016-06-15 16:08] Mokto opened #419 "Generate _id locally"
Hi,

Thank you for your package. I just switched with SimpleSchema and it feels nice ;)

Is _id only generated when saving a data on the server ?
In SimpleSchema we could do things like :

`const id = Users.insert({...});`

the _id was generated locally (it feels like it is the good way of doing this). Now I have to wait for a callback...

Thanks !

[2016-06-15 16:34] lukejagodzinski commented on #419
Hi, Astronomy returns ID:

[code]

However, as I remember there is a bug that it does not return ID on the server and that bug was already fixed in 2.1 which wasn't published yet. But you can clone `v2` branch to your local packages directory.

[2016-06-15 16:52] Mokto commented on #419
Thanks !!

Great job again.

[2016-06-15 16:52] #419 closed, assigned to nobody

[2016-06-15 21:32] lukejagodzinski commented on #416
I've fixed it and it will be published in 2.1

[2016-06-15 21:32] #416 closed, assigned to nobody

[2016-06-17 06:43] talha-asad commented on #416
@jagi can you let me know your thoughts on the 2 other considerations I posted.

[2016-06-17 10:23] lukejagodzinski commented on #416
Can you tell me exactly which one?

[2016-06-17 10:31] talha-asad commented on #416
Two more considerations:

SomeAstroClass.find({}, {fields: {}, {children: true}) will this work?, since we aren't selecting the type field. I am going to test this out but my suggestion is this should automatically add the type field to the fields object.

SomeAstroClass.find({}) should return all types by default and cast them to the base "SomeAstroClass", this isn't the case right now, which see

[2016-06-17 11:27] lukejagodzinski commented on #416
1. Oh yes good idea to add the type field automatically. I will add that feature.
2. I'm not quite sure about that one. I can agree that it might return all children automatically, so default would be `children: true`. However, I would still cast all children to their appropriate classes. I don't want to cast it to parent class.

[2016-06-17 14:37] laurentpayot commented on #416
+1 for `children: true` by default, and another +1 to keep children their appropriate classes intead of their parent class.

[2016-06-17 14:52] talha-asad commented on #416
The problem I face is that if you need count of all inherited objects you have to fetch and count on individual Astro Classes, which can get tedious, Maybe if a workaround for this is added.

[2016-06-17 14:55] lukejagodzinski commented on #416
[code]

and of course the `children` flag will be set to `true` by default

[2016-06-17 15:41] talha-asad commented on #416
If that works, we are all set. I think the decision to make `children` flag true by default is a good one. Should I submit another issue to keep track on these changes or should we just do it here?

[2016-06-18 09:43] lukejagodzinski commented on #416
The only one thing to implement is default value of the `children` option. Everything else is already on the `v2` branch. So I don't think that there is a need for creating another thread for that.

[2016-06-18 09:45] talha-asad commented on #416
Awesome ;)

[2016-06-19 22:46] Tbutnyakov opened #420 "Strange situation with "this" context on the client"
Hey, Jagi!

I found a very strange behaviour of the Astronomy class on the client.

I have "User" class, and it have method "getAvatar".
i have "Post" class,and it have relaion with user called "author".
So, on the client,  in template helpers i call:

`avatar:function(){
           return this.author().getAvatar();
}`

In chrome everything works fine, but in yandex browser (sometimes), or IE (alw

[2016-06-20 12:08] lukejagodzinski commented on #420
If it works in Chrome and not in Yandex then it means that it's a problem with Yandex browser. I haven't been testing it in that browser. There is probably lack of some feature in JS but I can't tell what as I'm not supporting this browser.

[2016-06-20 15:21] Tbutnyakov commented on #420
Hello! I tried to check out a few more times , got the details.
When I load the page in chrome for the first time , I get the same problem as in Yandex . In any browser . I tried and Vivaldi . Same. Now it seems to me that the problem is not in the browser . I use the first version of Astronomy

[2016-06-20 16:03] lukejagodzinski commented on #420
Are you sure that `this.author()` is a function and it returns object? Have you published authors?

[2016-06-20 16:22] Tbutnyakov commented on #420
Yes, it is declared in relations block of Post class like in example of documentation
http://jagi.github.io/meteor-astronomy/v1#relations

relations:{
        author: {
            type: 'one',
            class: 'User',
            local: 'userId',
            foreign: '_id'
        }
    }

For now i still not delete autopublish package.  Cause it still under dev.
So, this is a not a reason, i s

[2016-06-20 16:23] lukejagodzinski commented on #420
So the problem is probably publication. Remove the `autopublish` package and create publication that returns all necessary data.

[2016-06-20 16:30] Tbutnyakov commented on #420
Ohh...ok:)
Very strange.
I think, i need migrate to Astronomy 2.  Jagi, are you planing to create a relation-package for Astronomy 2, or i can create relations-logic for my own?:)

Thank you so much!

[2016-06-20 19:46] lukejagodzinski commented on #420
It's better to create relations logic by yourself. I had the `relations` package for v2 in plans but I don't know how it will go as things change very fast in JS world and with GraphQL things will change too. So probably there gonna be some changes in the future in how Astronomy works. We will see, time will show.

[2016-06-21 05:32] Tbutnyakov commented on #420
Ok.
Thank you and good luck!)

[2016-06-21 05:32] #420 closed, assigned to nobody

[2016-06-22 15:41] PolGuixe opened #423 "Using Class as a pattern for meteor check"
If I define a `doc Class`, could I use an Astronomy Class as a pattern in [`Match.test()`](https://docs.meteor.com/api/check.html#Match-test) to check and object ?

[2016-06-22 18:24] lukejagodzinski commented on #423
Yes you can use it

[code]

[2016-06-22 18:24] #423 closed, assigned to nobody

[2016-06-23 10:50] mikecentiq opened #424 "Parent.update doesn't update children when typeField is in use"
There is an issue when calling "update" on parent classes, when a child class was used to create a document and typeField is in use:

[code]

When performing that update, `_type: 'Parent'` is added to the search parameters, which means anything with a `_type` of "Child" is excluded.

I think that when `Parent.inherit` is called, it should track children (recursively) such that when it comes time t

[2016-06-23 11:14] lukejagodzinski commented on #424
Oh right my bad. I forgot to include all child classes. I will fix it.

[2016-06-23 16:43] talha-asad commented on #416
@jagi can you please get this on v2 branch so i can clone it for local usage

[2016-06-23 17:12] lukejagodzinski commented on #416
@talha-asad it is on the `v2` branch

[2016-06-23 17:25] talha-asad commented on #416
I meant the other part of having it default to `children: true`. I am using the latest clone and it doesn't have it.

[2016-06-23 18:01] talha-asad opened #426 "[v2] Not permitted"
Provided that my Class is not secured and i have implemented logic for checking in events like `beforeRemove`, i can't remove dependant documents in other collections because i am not using an ID selector and the remove was triggered from client. Why does this limitation exist?

Shouldn't be the programmer be responsible for security?

[2016-06-23 21:28] lukejagodzinski commented on #416
Oh maybe I forgot to push it

[2016-06-24 07:03] lukejagodzinski commented on #416
Ok pushed

[2016-06-24 07:04] lukejagodzinski commented on #424
I forgot to push default `children: true`. It should work now.

[2016-06-24 07:04] #424 closed, assigned to nobody

[2016-06-24 07:06] lukejagodzinski commented on #426
It's how it works in Meteor and I've just duplicated this behavior. They probably had good reason to do so. I've tried to think of the situation when it can be not save to allow deletions with non id selectors and I don't think it's so big deal. However, they decided to do this and I don't want to mess with this philosophy to not introduce any confusion for developers.

[2016-06-24 16:57] purplecones commented on #367
What version has this? I'm running

[code]

and still get this error

[code]

[2016-06-25 05:05] lukejagodzinski commented on #367
It's the version that is not released yet. You can clone the newest version directly from github to you local packages directory.

[2016-06-25 16:55] aaroniscode commented on #426
I've got a similar issue, I think.

My Class "Watchlist" is secured and I've removed the meteor package insecure.

I'm using Meteors ValidatedMethod to create a method to remove an item. The code in my Meteor Method is:

[code]

I'm not using just the ID because I'm confirming the user owns the Watchlist he/she is trying to remove

I'd like to simulate the result on the client, but I'm getting a N

[2016-06-25 17:01] talha-asad commented on #426
Consider the following:
A user owns a campaign and each campaign has a lot of line items and the user triggers a remove for the campaign from the client side. We can't remove all the line items using the campaign id selector. I think this is a reasonable use case.

@gitamiller case also seems reasonable.

My suggestion would be to not limit, in this way as long as the class is not secured, because

[2016-06-28 11:18] peterchoo opened #427 "Union type"
Hi @jagi,

In updating from v1 to v2, I have found that I now have to specify a type for a field, where as before I did not.

I have a schema for a constraint, which in v1 looks like this:

[code]

As the comment suggests, type can be either a String or a Number, however in v2 I have converted the class to this:

[code]

It is now giving me the following error:

`TypeError: ["Stanza" class]["field

[2016-06-28 18:42] dnish opened #428 "React Native: Client can insert invalid fields"
Hi,
I'm having some trouble with Astronomy and React Native. In a RN app, I can execute the following code:

[code]

This is my schema:

[code]

Why can the client add the field <code>someFieldIDontWant</code> to the doc? It isn't defined within the schema, but I can add it?

[2016-06-28 19:08] dnish commented on #428
I don't know if this is the best solution, but my current fix would be a allow method on the server side, denying direct access and instead creating an Astronomy object:

[code]

Is this the recommended way when we try to access our Meteor backend over RN?

[2016-06-28 23:04] marbemac opened #429 "Avoid mutating the arguments to class constructors and .set"
[code]

The set operation seems to mutate the passed in argument, which can lead to subtle and difficult to trace bugs (which we just ran in to). In particular, the one we ran into has to do with the typing of nested classes. If myPlainObject has a plain property that is defined as a nested class in model, that property will be mutated, and turned into an instance of that class (which is what we w

[2016-06-29 06:40] lukejagodzinski commented on #429
Oh I see. But I don't think that it's always expected behavior. Maybe you will have a case where having field of the `Object` type, you assign a reference to it. Why? Because you may later need to compare (`===`) this value with other reference.

[2016-06-29 06:42] lukejagodzinski commented on #428
You didn't read documentation carefully. You are inserting from the level of Collection not Class:

[code]

The second one will not allow you inserting extra fields.

[2016-06-29 06:42] #428 closed, assigned to nobody

[2016-06-29 09:24] dnish commented on #428
@jagi Yeah, I've just read it in the section "Differences between v1 and v2". I'm just wondering why you chose this approach? It's against MDG's way for opening Meteor. Astronomy isn't available as NPM package and it depends fully on the Meteor structure. So if we connect our none Meteor apps to a Meteor backend, we have to work with the collections over DDP and not with the Astronomy models - bec

[2016-06-29 12:32] lukejagodzinski commented on #426
I'm not going to change it. It's how it's implemented in Meteor so I will stick to it, to make it concise. So far users are creating big applications using Meteor and that wasn't a big deal. I know it may be a constraint but it's not a problem without a workaround. If MDG will change it in the future I will change it too.

[2016-06-29 12:33] lukejagodzinski commented on #426
I would be glad if you could look for some MDG response to this problem. Why they implemented it that way.

[2016-06-29 21:32] lukejagodzinski commented on #428
Astronomy was never designed to work with React Native. My approach is not against MDG's way. Only recently they stated that they will move all packages to NPM. Probably Astronomy 3.0 will work with GraphQL and will be published as NPM package. But it's too early to tell how future of Meteor will look like.

[2016-06-29 21:56] lukejagodzinski commented on #427
Right now it's not possible to provide two or more types for a field. You may try using `Object` type which should store numbers as the `Number` instance and strings as the `String` instance. I haven't tested it but in theory it should work. In Astronomy 2.2 I will try to introduce type similar to [GraphQL union](http://graphql.org/docs/api-reference-type-system/#graphqluniontype), where you can c

[2016-06-29 23:24] marbemac commented on #429
I guess. IMHO the types of bugs this can produce are pretty bad since they are very hard to trace, and manifest themselves subtly (as most mutation related bugs are). The use case you're describing seems like an edge case.

Right now we're going through and adding cloneDeep's everywhere we pass plain objects into astronomy constructors, to avoid the unintended side-effects we've been running into.

[2016-06-30 06:36] lukejagodzinski commented on #429
I was thinking about that and in deed objects passed to constructor or to set method should be cloned. Developer will still be able to assign reference by direct assignment:

[code]

[2016-06-30 06:57] lukejagodzinski commented on #429
I'm just a little bit worried about performance when cloning documents. The best way to clone document is using `EJSON.clone` which is a little bit slow. The only situation when argument passed to constructor should be cloned is when developer is instantiating a document instance by him/herself.

[code]

It shouldn't happen when document is being fetched from the collection because in such situati

[2016-06-30 07:20] illmat opened #430 "missing colon in docs example"
Hey Jagi,

keep up the good work.

There's a missing colon at the regexp example in the validators list:
http://jagi.github.io/meteor-astronomy/v2#validators-list
`param: /^[a-zA-Z0-9]+$/`

[2016-06-30 08:35] lukejagodzinski commented on #430
Thanks! Fixed

[2016-06-30 08:35] #430 closed, assigned to nobody

[2016-06-30 10:55] tzapu commented on #381
i would be very interested in something like this as well, validate an object based on an astronomy schema.
it would come in very handy for validating users with Accounts.validateNewUser so you can reuse the astronomy schema.
this is of course unless i m missing something very obvious and you can use Account.createUser with astronomy already.

Cheers

[2016-06-30 13:42] s7dhansh opened #431 "Q: Do behaviors get inherited by the inheriting class?"

[2016-06-30 14:35] lukejagodzinski commented on #431
Just check, I think they should

[2016-06-30 14:57] marbemac commented on #429
Totally get the performance concern! Here we are mainly talking about the manual instantiation issue, where the user is passing in an object they are likely managing somewhere else (in a local cache like redux for example), and would not expect that object to be mutated (and thus, their local cache to be mutated). Would it be possible to clone on manual instantiation and .set? This seems like the

[2016-06-30 16:55] lukejagodzinski commented on #429
Yes it's possible. In 2.1 I've prepared the mechanism that will allow that. I will make that fix in 2.1.1

[2016-06-30 16:55] marbemac commented on #429
Thank you :)

[2016-06-30 17:15] s7dhansh commented on #431
Yes they do. Please close it.

[2016-06-30 17:42] #431 closed, assigned to nobody

[2016-06-30 20:06] alondahari commented on #157
I'm getting the same issue, in Astronomy 1.2.10
I have a triple nested class, like so (schemas are simplified):

[code]

when pushing a discount to the item discounts, I get EJSON$type and EJSON$value in the database.
Thanks!

[2016-06-30 21:01] dnish opened #432 "Field not updating"
Hey,
maybe it's too late, but I can't find the reason why my field "updatedAt" isn't updated. This is my schema:

[code]

On the server, I'm doing something like this:

[code]

The console output is showing me the correct id with the correct updatedAt value:

[code]

The problem: The value isn't saved on the database server. It is still showing the first date that was saved within updatedAt. The v

[2016-07-01 08:56] peterchoo commented on #427
Thank you for the suggestion, but unfortunately it does not:

[code]

This throws an error for every model with the message `"type" has to be an object [validation-error]`.  I'm looking forward to being able to use multiple types for a field.

[2016-07-01 09:12] lukejagodzinski commented on #427
Ok so I have to implement unions to allow that

[2016-07-01 09:23] lukejagodzinski commented on #432
You're probably doing something wrong. I've tested it and it works. You have to make sure that `chat` object you are working with is in the most recent state, however it depends on the use case.

[2016-07-01 09:45] dnish commented on #432
We changing the value in <code>server/security.js</code>:

[code]

The message is inserted from a React Native client. Inserting of the message works fine, updating the chat object not. We don't change it anywhere on the inserting process, so it should be the recent object.

Doing a direct update without Astronomy is also working fine:

[code]

// Edit:

It seems only to happen on Date fields (upd

[2016-07-01 10:23] dnish commented on #432
Works fine after upgrading from 2.0.1 to 2.1.0

[2016-07-01 10:23] #432 closed, assigned to nobody

[2016-07-01 12:02] lukejagodzinski commented on #432
There were some changes in 2.1 that was related with detecting modifications, so maybe that's why it didn't work for you. It's always good to upgrade. Remember to read release note: https://github.com/jagi/meteor-astronomy/releases/tag/2.1.0

[2016-07-03 07:11] arggh opened #433 "Weird behaviour using .getModified()"
I'm delaying my transition to Astronomy 2.x and still trying to use the 1.x branch.

I tried this pattern, where:
1. on the client I have an incomplete document, since I have only published and subscribed to some fields.
2. I update **one** field using `document.set`  and call `Document.methods.update.call({doc: document});`
3. On the server, I have the method defined like this:

[code]

Now, if I

[2016-07-03 07:16] arggh opened #434 "Sort-behaviour coming to Astronomy v2.x?"
I noticed Sort is still missing on the docs of v2.x. Is Sort-behavior coming to v2.x any time?

[2016-07-03 07:22] arggh commented on #433
Oh, forgot to add:

If I subscribe to all these missing values that are marked as modified by Astronomy, then suddenly the only field marked as modified is **the one I actually modified**.

[2016-07-03 11:31] lukejagodzinski commented on #433
I totally don't understand your problem. Your description is very chaotic. However, what I can say is that you should always be subscribed to all fields in a model or at least get a document on the server and update it with values that were modified. However, I don't understand your code and your problem so it's just a guess

[2016-07-03 11:32] lukejagodzinski commented on #434
Maybe, I don't know. Updating a package should be fairly easy however, it may not work properly in big applications as there is no transactions in MongoDB, so using such databases with sort behavior may not make any sense.

[2016-07-03 11:48] arggh commented on #433
Sorry for the bad description, I'll try and explain it with code samples:

**client/client.js** _(update a field in document, call an update method in server)_

[code]

**server/methods.js** _(check what fields are modified and save only those)_

[code]

So, what I'm trying to achieve is:
1. Client updates a field on a document that doesn't have all the values
2. Client calls a method on the serve

[2016-07-03 15:40] lukejagodzinski commented on #433
I think better way of doing it would be sending document id and modified fields only instead of entire document. Fetching document with the given ID on the server and setting all modified values in a document one more time.

[2016-07-03 15:45] arggh commented on #433
That's how I used to do it, but then I ended up writing lots of methods on the server side:

[code]

I was trying this new approach to have just one method, that would know which fields have been updated   and act accordingly. Maybe something like you have in v2.0.

[2016-07-05 01:02] jsamr opened #435 "Comply with the SemVer conventions"
First of all, thanks a lot for this awesome package!

But I saw some breaking changes in version **2.1.0**, which does not comply with the _SemVer_ conventions.

Quoting [from the official Meteor guide](https://guide.meteor.com/writing-atmosphere-packages.html#version-constraints) :

The [_SemVer_ specs](http://semver.org/) states that :

So any breaking changes must be postponed to a MAJOR releas

[2016-07-05 03:09] moberegger opened #436 "Consistent ID generation with Astronomy"
I was trying to implement the validated-method pattern of consistent id generation as described [here](https://atmospherejs.com/mdg/validated-method#id-generation-and-returnstubvalue), but ran into some problems.

Basically, what this pattern tries to accomplish:
- Run the method on both the client (ie. simulation) and server
- Have the same ID generated on both the client and server
- The generat

[2016-07-05 03:27] moberegger commented on #436
Ok, so I did a bit of digging around in the source code and I think I have an idea what is causing this.

In modules/storage/utils/document_insert.js, on line 68 (sorry... I have no idea how to link to source code in github...) you have the following:

[code]

I got here by following the logic through the save() function to where an insert is done. So, what I suspect the root cause is that the con

[2016-07-05 11:47] lukejagodzinski commented on #435
I know SemVer convention. I had to make compatibility breaking change because of bad assumptions in 2.0. It was first and the last compatibility breaking change.

[2016-07-05 11:47] #435 closed, assigned to nobody

[2016-07-05 11:59] lukejagodzinski commented on #436
If I would call `Collection.insert` on the client it would perform the insert operation also on the server and I don't want it. I want to control the process on the server, because I have to perform validation. I can't just assume that client validation is safe. It's strange that it produces different ID on the client and server as I'm using the same mechanism as MDG. However I will take a look at

[2016-07-05 12:00] lukejagodzinski commented on #436
Can you create minimal reproduction repository?

[2016-07-05 14:36] moberegger commented on #436
Yup, no problem. I will do it tonight. Sorry about that.

I started making one last night and just got too tired to finish. Was hoping I could get away without doing it! :)

[2016-07-05 15:57] jsamr commented on #435
Ok, thanks for the clarification!

[2016-07-05 22:45] Deadly0 opened #438 "Class security using events"
I'm try to check permissions inside events as described in docs:

[code]

But when i call `myModel.save()` on server side (where it's no need to check permissions) it raises an error:

[code]

How to check permissions in this case?

[2016-07-06 04:39] moberegger commented on #436
I put up a reproduction here: [https://github.com/MichaelOber/astro-consistent-id-repo](https://github.com/MichaelOber/astro-consistent-id-repo)

Let me know if there are any issues running it. I hacked it up pretty quickly.

[2016-07-06 08:39] frco9 opened #439 "Using Meteor.user() inside default() callback"
Let's say we have that class :

[code]

If I use Meteor.user() inside the `deault()` attribute of `participants` field I got the following exception : `[Error: Meteor code must always run within a Fiber. Try wrapping callbacks that you pass to non-Meteor libraries with Meteor.bindEnvironment.]`

[2016-07-06 11:12] realioseb commented on #236
Sorry I don't really understand how to use soft restore:
I softly removed a document.
Later i want to restore it, but even on the server I can't select that document so i can't restore it.

Any suggestions?

[2016-07-07 08:39] lukejagodzinski commented on #439
It depends on calling context. In some situation it may throw and not throw that error. However, you can always wrap your `default` function with the `Meteor.bindEnvironment`.

[code]

[2016-07-07 08:42] lukejagodzinski commented on #438
Don't use coffee script for sample codes and there is to little context that you're providing. How/where do you call it on the server? What is `Roles.userIsInRole`?

[2016-07-07 08:56] Deadly0 commented on #438
[code]

`Roles.userIsInRole` from the popular Meteor package https://atmospherejs.com/alanning/roles , but it doesn't matter. I call `model.save()` from server background task, where Meteor.user() not available.

[2016-07-07 08:57] lukejagodzinski commented on #236
@realioseb it's wrong place to ask this question. The only thing you need to restore a document is its ID, so if you lost a document reference or you can't get it in easy way, the best way to restore it is in the following way.

[code]

I probably have to remove constraint in which the `_isNew` flag has to be set to `false`.

[2016-07-07 09:12] lukejagodzinski commented on #436
Ok I know what is the problem. I'm generating ID in wrong place. It's easy fix. I will inform about update.

[2016-07-07 11:17] lukejagodzinski commented on #438
So it's not a thing related with Astronomy. Your are just calling function which is not available. If it's a background task that it's called on schedule then you certainly can't access user id as there is no user.

[2016-07-07 16:46] ArthurGerbelot commented on #302
Humm... I got the same error, and i found my problem.
On the Database I saved Astronomy object like :

[code]

Instead of

[code]

Now it's work fine

[2016-07-07 21:07] lukejagodzinski commented on #302
@ArthurGerbelot You've probably missed type definition when saving in the first place.

[2016-07-09 12:40] lukejagodzinski commented on #426
I'm working on one bug in Astronomy and I've noticed that in some cases it's possible in Meteor to remove or update documents by ID. The requirement is calling `doc.remove()` from within a meteor method call. There is a check in Meteor if we're already in simulation. If so, then we don't check id restrictions. I will update my code to reflect that after I'm done solving the current one problem.

[2016-07-09 13:05] aaroniscode commented on #426
Great!  That addresses exactly my issue. I'll be able to remove in simulation without the "id" restriction. Looking forward to the fix.

Thanks for reopening.

[2016-07-09 16:39] lukejagodzinski commented on #436
Ok I've fixed it. If you want to use it right away you can clone current version from GitHub. Otherwise it will be available with the next bug fix version. I only have to fix one more bug and I will be releasing. Closing for now.

[2016-07-09 16:39] #436 closed, assigned to nobody

[2016-07-09 16:41] lukejagodzinski commented on #426
Ok I've fixed it. If you want to use it right away you can clone current version from GitHub. Otherwise it will be available with the next bug fix version. I only have to fix one more bug and I will be releasing. Closing for now.

[2016-07-09 16:41] #426 closed, assigned to nobody

[2016-07-09 16:42] #410 closed, assigned to nobody

[2016-07-09 16:43] #408 closed, assigned to nobody

[2016-07-09 19:36] moberegger commented on #436
Amazing! Thank you so much!

[2016-07-11 04:05] jsamr opened #440 "New package for declarative methods access control : Serrurier"
[![](https://cdn.rawgit.com/sveinburne/serrurier/master/img/serrurier-raw.svg)](https://github.com/sveinburne/serrurier#head)

Hi!
I made a package for my personal usage that I wanted to share : [Serrurier](https://github.com/sveinburne/serrurier#head).

The core philosphy is to promote **declarative expressions** over **imperative conditional code** to define the context in which a method can be

[2016-07-11 06:50] talha-asad opened #441 "History.md for v2"
I notice this package is improving in long strides and the feature enhancements have been wonderful, however it's difficult to keep track of them for people who aren't very active on Github, and I would suggest we start keeping a good versioned history for v2, currently History.md has details for v1.

[2016-07-11 06:55] talha-asad commented on #441
On second note, I just realized you have notes under each release. Should i create a pull request with them nicely sorted in History.md?

[2016-07-11 07:05] talha-asad commented on #365
I would like to help implement working out indexes from child or used classes.
Please point me in the right direction.

[2016-07-11 09:20] lukejagodzinski commented on #441
Yes I've moved to descriptions in releases but in deed it would be good to have them also in history.md so if you want to help with that just create PR :)

[2016-07-12 19:15] lukejagodzinski commented on #440
Nice, I didn't know that decorators are going to appear in future ES versions. I will add this package to the list of community packages.